Repository scaleway/terraform-provider-scaleway, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network

cleanup: remove commented helpers
  internal/services/domain/helpers.go
Owners: @scaleway/devtools-dms

bump sdk go
  go.mod
  go.sum
Owners: @remyleone

update resources to v1beta1
  internal/provider/provider.go
  internal/services/edgeservices/backend_stage.go
  internal/services/edgeservices/backend_stage_test.go
  internal/services/edgeservices/cache_stage.go
  internal/services/edgeservices/cache_stage_test.go
  internal/services/edgeservices/dns_stage.go
  internal/services/edgeservices/dns_stage_test.go
  internal/services/edgeservices/head_stage.go
  internal/services/edgeservices/helpers.go
  internal/services/edgeservices/pipeline.go
  internal/services/edgeservices/plan.go
  internal/services/edgeservices/plan_test.go
  internal/services/edgeservices/testdata/edge-services-backend-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-cache-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-dns-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-plan-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-tls-basic.cassette.yaml
  internal/services/edgeservices/testfuncs/checks.go
  internal/services/edgeservices/testfuncs/sweep.go
  internal/services/edgeservices/tls_stage.go
  internal/services/edgeservices/tls_stage_test.go
  internal/services/edgeservices/types.go
  internal/services/edgeservices/waiters.go
Owners: @remyleone

update doc
  docs/resources/edge_services_backend_stage.md
  docs/resources/edge_services_cache_stage.md
  docs/resources/edge_services_dns_stage.md
  docs/resources/edge_services_head_stage.md
  docs/resources/edge_services_pipeline.md
  docs/resources/edge_services_plan.md
  docs/resources/edge_services_tls_stage.md
Owners: @remyleone

gofumpt
  docs/resources/edge_services_backend_stage.md
  internal/services/edgeservices/head_stage.go
  internal/services/edgeservices/helpers.go
Owners: @remyleone

chore: bump sdk go
  go.mod
  go.sum
Owners: @remyleone

update secret cassettes
  internal/services/secret/testdata/data-source-secret-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
Owners: @scaleway/devtools-core

lint
  docs/resources/edge_services_backend_stage.md
Owners: @remyleone

chore: bump sdk go (#2964)
  go.mod
  go.sum
  internal/services/secret/testdata/data-source-secret-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
Owners: @remyleone, @scaleway/devtools-core

ci: add support for actionlint
  .github/workflows/actionlint.yml
  .github/workflows/announce.yaml
Owners: @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/internal/services/account/ @scaleway/devtools-core
/internal/services/applesilicon/ @scaleway/devtools-compute-foundation
/internal/services/baremetal/ @scaleway/devtools-compute-foundation
/internal/services/billing/ @scaleway/devtools-core
/internal/services/block/ @scaleway/devtools-storage
/internal/services/cockpit/ @scaleway/devtools-dms
/internal/services/container/ @scaleway/devtools-compute
/internal/services/documentdb/ @scaleway/devtools-dms
/internal/services/domain/ @scaleway/devtools-dms
/internal/services/flexibleip/ @scaleway/devtools-network
/internal/services/function/ @scaleway/devtools-compute
/internal/services/iam/ @scaleway/devtools-core
/internal/services/instance/ @scaleway/devtools-compute
/internal/services/iot/ @scaleway/devtools-dms
/internal/services/ipam/ @scaleway/devtools-network
/internal/services/jobs/ @scaleway/devtools-compute
/internal/services/k8s/ @scaleway/devtools-compute
/internal/services/lb/ @scaleway/devtools-network
/internal/services/marketplace/ @scaleway/devtools-compute
/internal/services/mnq/ @scaleway/devtools-dms
/internal/services/object/ @scaleway/devtools-storage
/internal/services/rdb/ @scaleway/devtools-dms
/internal/services/redis/ @scaleway/devtools-dms
/internal/services/registry/ @scaleway/devtools-compute
/internal/services/sdb/ @scaleway/devtools-dms
/internal/services/secret/ @scaleway/devtools-core
/internal/services/tem/ @scaleway/devtools-dms
/internal/services/vpc/ @scaleway/devtools-network
/internal/services/vpcgw/ @scaleway/devtools-network
/internal/services/webhosting/ @scaleway/devtools-dms
