Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**

feat(vpcgw): read gateway network's private IPs
  docs/resources/vpc_gateway_network.md
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/vpc/testdata/data-source-routes-basic.cassette.yaml
  internal/services/vpcgw/helpers.go
  internal/services/vpcgw/network.go
  internal/services/vpcgw/network_test.go
  internal/services/vpcgw/testdata/data-source-vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
Labels: k8s, rdb, vpc, vpcgw

feat(rdb): read instance's private IPs (#3075)
  docs/resources/rdb_instance.md
  internal/services/ipam/testdata/data-source-ipamiprdb.cassette.yaml
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/testdata/instance-endpoints.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-with-instance-also-in-private-network.cassette.yaml
Labels: rdb

feat(redis): read cluster's private IPs (#3076)
  docs/resources/redis_cluster.md
  internal/services/ipam/testdata/data-source-ipam-ips-redis-cluster.cassette.yaml
  internal/services/redis/cluster.go
  internal/services/redis/cluster_test.go
  internal/services/redis/testdata/cluster-endpoints-cluster-mode.cassette.yaml
  internal/services/redis/testdata/cluster-migrate-cluster-size-with-ipam-endpoint.cassette.yaml
Labels: redis

feat(vpcgw): read gateway network's private IPs (#3077)
  docs/resources/vpc_gateway_network.md
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/vpc/testdata/data-source-routes-basic.cassette.yaml
  internal/services/vpcgw/helpers.go
  internal/services/vpcgw/network.go
  internal/services/vpcgw/network_test.go
  internal/services/vpcgw/testdata/data-source-vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
Labels: k8s, rdb, vpc, vpcgw

docs(baremetal): update partitionSchema to correct format
  docs/resources/baremetal_server.md
Labels: none

feat(instance): read private IPs
  docs/resources/instance_private_nic.md
  docs/resources/instance_server.md
  internal/services/instance/data_source_instance_private_nic.go
  internal/services/instance/private_nic.go
  internal/services/instance/private_nic_test.go
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/testdata/data-source-private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-tags.cassette.yaml
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
  internal/services/instance/testdata/server-private-network-missing-pnic.cassette.yaml
  internal/services/instance/testdata/server-private-network.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance.cassette.yaml
  internal/services/vpc/testdata/vpc-route-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
Labels: instance, vpc, vpcgw

feat(instance): read private IPs (#3074)
  docs/resources/instance_private_nic.md
  docs/resources/instance_server.md
  internal/services/instance/data_source_instance_private_nic.go
  internal/services/instance/private_nic.go
  internal/services/instance/private_nic_test.go
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/testdata/data-source-private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-tags.cassette.yaml
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
  internal/services/instance/testdata/server-private-network-missing-pnic.cassette.yaml
  internal/services/instance/testdata/server-private-network.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance.cassette.yaml
  internal/services/vpc/testdata/vpc-route-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
Labels: instance, vpc, vpcgw

fix label name partition on the second disk
  docs/resources/baremetal_server.md
Labels: none

docs(baremetal): update partitionSchema to correct format (#3083)
  docs/resources/baremetal_server.md
Labels: none

feat(inference): migration deployment to v1
  internal/services/inference/custom_model_data_source.go
  internal/services/inference/deployment.go
  internal/services/inference/deployment_test.go
  internal/services/inference/helpers_inference.go
  internal/services/inference/testdata/deployment-basic.cassette.yaml
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/waiter.go
Labels: none

feat(inference): BYOM support
  internal/provider/provider.go
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_data_source.go
  internal/services/inference/custom_model_test.go
  internal/services/inference/helpers_inference.go
  internal/services/inference/testdata/custom-model-basic.cassette.yaml
  internal/services/inference/testdata/custom-model-not-compatible.cassette.yaml
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/types.go
  internal/services/inference/waiter.go
Labels: none

fix documentation lint
  docs/resources/inference_custom_model.md
Labels: none

last cassette
  internal/services/inference/testdata/custom-model-deploy-model-on-server.cassette.yaml
Labels: none

remove error_message
  docs/resources/inference_custom_model.md
  internal/services/inference/custom_model.go
Labels: none

change model_id format
  docs/resources/inference_custom_model.md
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
Labels: none

fix linter
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
  internal/services/inference/testfuncs/sweep.go
  internal/services/inference/types.go
Labels: none

manage id from regional or not
  docs/resources/inference_custom_model.md
  docs/resources/inference_deployment.md
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
  internal/services/inference/deployment.go
  internal/services/inference/endpoint.go
  internal/services/inference/testdata/custom-model-basic.cassette.yaml
  internal/services/inference/testdata/custom-model-not-compatible.cassette.yaml
  internal/services/inference/testdata/deployment-basic.cassette.yaml
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
Labels: none

fix documentation
  docs/resources/inference_custom_model.md
  internal/services/inference/deployment.go
  internal/services/inference/helpers_inference.go
  internal/services/inference/testfuncs/sweep.go
  internal/services/inference/types.go
Labels: none

Update docs/resources/inference_custom_model.md
  docs/resources/inference_custom_model.md
Labels: none

remove comment
  docs/resources/inference_custom_model.md
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
  internal/services/inference/deployment.go
  internal/services/inference/testdata/custom-model-deploy-model-on-server-update.cassette.yaml
  internal/services/inference/testdata/custom-model-not-compatible.cassette.yaml
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/waiter.go
Labels: none

add sweeper
  internal/services/inference/testdata/custom-model-basic.cassette.yaml
  internal/services/inference/testfuncs/sweep.go
Labels: none

use of dsf.locality
  internal/services/inference/custom_model.go
  internal/services/inference/deployment.go
  internal/services/inference/testdata/custom-model-basic.cassette.yaml
  internal/services/inference/testdata/custom-model-deploy-model-on-server.cassette.yaml
  internal/services/inference/testdata/deployment-basic.cassette.yaml
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
Labels: none

activate tests
  internal/services/inference/custom_model_test.go
Labels: none

skip tests until further notice
  internal/services/inference/custom_model_test.go
Labels: none

Update docs/resources/inference_custom_model.md
  docs/resources/inference_custom_model.md
Labels: none

fix(doc): deployment required attribute
  docs/resources/inference_deployment.md
Labels: none

fix(inference): use of existing function cast
  internal/services/inference/custom_model.go
  internal/services/inference/deployment.go
Labels: none

fix(doc): add import part and fix typo
  docs/resources/inference_custom_model.md
Labels: none

ResourceCustomModelDelete return right err and testAccCheckCustomModelExists return err
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
Labels: none

fix(inference): rename resource from custom_model to model
  docs/resources/inference_model.md
  internal/provider/provider.go
  internal/services/inference/helpers_inference.go
  internal/services/inference/model.go
  internal/services/inference/model_test.go
  internal/services/inference/testdata/model-basic.cassette.yaml
  internal/services/inference/testdata/model-deploy-model-on-server.cassette.yaml
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/testfuncs/sweep.go
  internal/services/inference/waiter.go
Labels: none

update sdk-go
  internal/services/inference/model_test.go
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/waiter.go
Labels: none

fix linter
  docs/data-sources/inference_model.md
  internal/services/inference/deployment_test.go
  internal/services/inference/model_data_source.go
  internal/services/inference/model_data_source_test.go
  internal/services/inference/testdata/deployment-basic.cassette.yaml
Labels: none

update doc and tests
  docs/data-sources/inference_model.md
  docs/resources/inference_deployment.md
  docs/resources/inference_model.md
  internal/services/inference/model_data_source_test.go
  internal/services/inference/testdata/custom-model-basic.cassette.yaml
  internal/services/inference/testdata/custom-model-deploy-model-on-server-update.cassette.yaml
  internal/services/inference/testdata/custom-model-deploy-model-on-server.cassette.yaml
  internal/services/inference/testdata/data-source-model-custom.cassette.yaml
Labels: none

fix(doc): put real URL and more context
  docs/resources/inference_model.md
  internal/services/inference/model.go
Labels: none

remove custom reference
  docs/resources/inference_model.md
Labels: none

add test
  internal/services/inference/model_data_source.go
  internal/services/inference/model_data_source_test.go
  internal/services/inference/testdata/data-source-model-basic.cassette.yaml
Labels: none

remove unecessary file
  internal/services/inference/endpoint.go
Labels: none

testing
  internal/services/inference/model_data_source.go
  internal/services/inference/model_data_source_test.go
Labels: none

update cassette
  docs/resources/inference_model.md
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
Labels: none

add support model data-source
  internal/provider/provider.go
  internal/services/inference/deployment.go
  internal/services/inference/model_data_source.go
  internal/services/inference/model_data_source_test.go
Labels: none
