Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

feat(inference): migration v1 and support BYOM (#3048)
  docs/data-sources/inference_model.md
  docs/resources/inference_deployment.md
  docs/resources/inference_model.md
  internal/provider/provider.go
  internal/services/inference/deployment.go
  internal/services/inference/deployment_test.go
  internal/services/inference/helpers_inference.go
  internal/services/inference/model.go
  internal/services/inference/model_data_source.go
  internal/services/inference/model_data_source_test.go
  internal/services/inference/model_test.go
  internal/services/inference/testdata/data-source-model-basic.cassette.yaml
  internal/services/inference/testdata/data-source-model-custom.cassette.yaml
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
  internal/services/inference/testdata/model-basic.cassette.yaml
  internal/services/inference/testdata/model-deploy-model-on-server.cassette.yaml
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/testfuncs/sweep.go
  internal/services/inference/types.go
  internal/services/inference/waiter.go
Labels: none

tests(ipam): replace deprecated rdb volume type (#3079)
  internal/services/ipam/ip_data_source_test.go
  internal/services/ipam/testdata/data-source-ipamiprdb.cassette.yaml
Labels: none

chore: go mod tidy (#3088)
  go.mod
Labels: none

docs(baremetal): update partitionSchema to correct format (#3083)
  docs/resources/baremetal_server.md
Labels: none

feat(lb) add support for path-begin route matching (#3082)
  docs/data-sources/lb_routes.md
  docs/resources/lb_route.md
  go.mod
  go.sum
  internal/services/lb/route.go
  internal/services/lb/route_test.go
  internal/services/lb/testdata/route-with-path-begin.cassette.yaml
Labels: load-balancer

feat(redis): read cluster's private IPs (#3076)
  docs/resources/redis_cluster.md
  internal/services/ipam/testdata/data-source-ipam-ips-redis-cluster.cassette.yaml
  internal/services/redis/cluster.go
  internal/services/redis/cluster_test.go
  internal/services/redis/testdata/cluster-endpoints-cluster-mode.cassette.yaml
  internal/services/redis/testdata/cluster-migrate-cluster-size-with-ipam-endpoint.cassette.yaml
Labels: redis

feat(baremetal): read private ips (#3071)
  docs/resources/baremetal_server.md
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/server-add-another-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-add-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-create-server-with-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-with-ipam-private-network.cassette.yaml
  internal/services/ipam/helpers.go
Labels: baremetal

feat(project): add the projects datasource (#3084)
  docs/data-sources/account_projects.md
  internal/provider/provider.go
  internal/services/account/project_data_source.go
  internal/services/account/project_data_source_test.go
  internal/services/account/testdata/data-source-project-list.cassette.yaml
Labels: account

doc(container): fix healthcheck example (#3086)
  docs/resources/container.md
Labels: none

tests(edge-services): include PipelineID in all stage ListRequests (#3066)
  internal/services/edgeservices/testfuncs/sweep.go
Labels: none

feat(lb): read private ips (#3073)
  docs/resources/lb.md
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/lb/lb.go
  internal/services/lb/lb_test.go
  internal/services/lb/testdata/lb-with-private-networks-ipam-ids.cassette.yaml
  internal/services/lb/testdata/lb-without-pn-config.cassette.yaml
Labels: load-balancer

fix(instance): EoS warning only displays the 5 most relevant types (#3059)
  internal/services/instance/server.go
Labels: instance

chore: add support for testing that go.mod is tidy (#3089)
  .github/workflows/unit-tests.yaml
Labels: none

feat(k8s): read pool's private ips (#3072)
  docs/resources/k8s_pool.md
  internal/services/ipam/helpers.go
  internal/services/k8s/helpers_k8s.go
  internal/services/k8s/pool.go
  internal/services/k8s/pool_test.go
  internal/services/k8s/testdata/cluster-multicloud.cassette.yaml
  internal/services/k8s/testdata/data-source-cluster-basic.cassette.yaml
  internal/services/k8s/testdata/data-source-pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-kubelet-args.cassette.yaml
  internal/services/k8s/testdata/pool-placement-group.cassette.yaml
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/k8s/testdata/pool-size.cassette.yaml
  internal/services/k8s/testdata/pool-upgrade-policy.cassette.yaml
  internal/services/k8s/testdata/pool-wait.cassette.yaml
  internal/services/k8s/testdata/pool-zone.cassette.yaml
Labels: k8s

feat(cockpit): delete cockpit plan data source
  docs/data-sources/cockpit_plan.md
  internal/services/cockpit/plan_data_source.go
  internal/services/cockpit/plan_data_source_test.go
Labels: none

delete cassette
  internal/services/cockpit/testdata/data-source-cockpit-plan-basic.cassette.yaml
Labels: none

fix build
  internal/provider/provider.go
Labels: none

feat(cockpit): delete cockpit plan data source (breaking) (#3092)
  docs/data-sources/cockpit_plan.md
  internal/provider/provider.go
  internal/services/cockpit/plan_data_source.go
  internal/services/cockpit/plan_data_source_test.go
  internal/services/cockpit/testdata/data-source-cockpit-plan-basic.cassette.yaml
Labels: none

wip
  internal/services/baremetal/server.go
  internal/services/cockpit/token.go
  internal/services/domain/zone.go
  internal/services/flexibleip/ip.go
  internal/services/instance/server.go
  internal/services/iot/data_source_iot_hub.go
  internal/services/ipam/ip.go
  internal/services/mongodb/instance.go
  internal/services/rdb/instance.go
  internal/services/vpc/vpc_data_source.go
Labels: baremetal, domain, flexible-ip, instance, iot, rdb, vpc

wip
  internal/services/cockpit/cockpit.go
  internal/services/cockpit/helpers_cockpit.go
  internal/services/container/container_data_source.go
  internal/services/container/namespace_data_source.go
  internal/services/inference/model_data_source.go
  internal/services/instance/placement_group_data_source.go
  internal/services/registry/image_data_source.go
  internal/services/secret/helpers.go
  internal/services/secret/version_data_source.go
  internal/services/vpc/vpcs_data_source.go
Labels: container, instance, registry, secret, vpc

wip
  internal/services/cockpit/alert_manager.go
  internal/services/iam/ssh_key.go
  internal/services/instance/ip.go
  internal/services/instance/placement_group.go
  internal/services/instance/security_group_data_source.go
  internal/services/instance/server_data_source.go
  internal/services/instance/servers_data_source.go
  internal/services/instance/snapshot_data_source.go
  internal/services/instance/volume.go
  internal/services/instance/volume_data_source.go
  internal/services/lb/lb.go
Labels: iam, instance, load-balancer

wip
  internal/services/block/volume.go
  internal/services/iam/ssh_key_data_source.go
  internal/services/instance/image.go
  internal/services/instance/image_data_source.go
  internal/services/instance/security_group.go
  internal/services/instance/snapshot.go
  internal/services/registry/namespace_data_source.go
  internal/services/vpc/vpc.go
  internal/services/vpcgw/public_gateway_data_source.go
Labels: iam, instance, registry, vpc, vpcgw

Distinguish between Member users and Guest users in user creation
  internal/services/iam/user.go
Labels: iam

Add all API parameters to resource schema
  internal/services/iam/user.go
Labels: iam

Complete implementation of user creation
  internal/services/iam/user.go
Labels: iam

Add fields to user read function
  internal/services/iam/user.go
Labels: iam

Fix schema of some parameters
  internal/services/iam/user.go
Labels: iam

Reimplement acceptance tests to test creation for both user types
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user_test.go
Labels: iam

Complete acceptance tests
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user.go
  internal/services/iam/user_test.go
Labels: iam

Add comments
  internal/services/iam/user.go
Labels: iam

Final test runs: no errors
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
Labels: iam

Update docs
  docs/resources/iam_user.md
Labels: none

Update CRUD operations for the User resource to reflect changes in the API
  internal/services/iam/user.go
Labels: iam

Fix typo in docs
  docs/resources/iam_user.md
Labels: none

Update acceptance tests
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user.go
  internal/services/iam/user_test.go
Labels: iam

Remove ForceNew from Email field definition
  internal/services/iam/user.go
Labels: iam

Add support for username update
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user.go
  internal/services/iam/user_test.go
Labels: iam

Update and run acceptance tests
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user_test.go
Labels: iam

Update docs
  docs/resources/iam_user.md
Labels: none

private_ips as optional attribute, only set it when no error occurred
  internal/services/baremetal/server.go
  internal/services/baremetal/testdata/server-create-server-with-private-network.cassette.yaml
  internal/services/instance/helpers_instance.go
  internal/services/instance/private_nic.go
  internal/services/instance/server.go
  internal/services/instance/testdata/data-source-private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-tags.cassette.yaml
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
  internal/services/instance/testdata/server-private-network-missing-pnic.cassette.yaml
  internal/services/instance/testdata/server-private-network.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance.cassette.yaml
  internal/services/k8s/pool.go
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/rdb/instance.go
  internal/services/rdb/testdata/instance-endpoints.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/redis/cluster.go
  internal/services/redis/testdata/cluster-migrate-cluster-size-with-ipam-endpoint.cassette.yaml
  internal/services/vpc/testdata/data-source-routes-basic.cassette.yaml
  internal/services/vpc/testdata/vpc-route-basic.cassette.yaml
  internal/services/vpcgw/helpers.go
  internal/services/vpcgw/network.go
  internal/services/vpcgw/testdata/data-source-vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
Labels: baremetal, instance, k8s, rdb, redis, vpc, vpcgw

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**
