Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**

feat(mongodb): read instance private ips (#3109)
  docs/resources/mongodb_instance.md
  internal/services/mongodb/instance.go
  internal/services/mongodb/instance_test.go
  internal/services/mongodb/testdata/mongo-db-instance-update-private-network.cassette.yaml
  internal/services/mongodb/testdata/mongo-db-instance-with-private-network.cassette.yaml
Labels: none

fix(vpcgw): fix gatewayNetwork read nil pointer
  internal/services/vpcgw/network.go
Labels: vpcgw

fix(vpcgw): fix gatewayNetwork read nil pointer (#3111)
  internal/services/vpcgw/network.go
Labels: vpcgw

fix secret
  internal/services/secret/secret_test.go
  internal/services/secret/testdata/data-source-secret-version-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
  internal/services/secret/testdata/secret-path.cassette.yaml
  internal/services/secret/version_test.go
Labels: secret

chore(instance): add warning in doc + read func for deprecated type b_ssd in snapshot/volume
  docs/resources/instance_snapshot.md
  docs/resources/instance_volume.md
  internal/services/instance/snapshot.go
  internal/services/instance/volume.go
Labels: instance

lint
  internal/services/instance/snapshot.go
  internal/services/instance/volume.go
Labels: instance

update possible values
  docs/resources/instance_snapshot.md
Labels: none

chore(instance): volume/snapshot: add warning for deprecated bssd type (#3112)
  docs/resources/instance_snapshot.md
  docs/resources/instance_volume.md
  internal/services/instance/snapshot.go
  internal/services/instance/volume.go
Labels: instance

Fix iam
  internal/services/iam/group_data_source_test.go
  internal/services/iam/testdata/data-source-api-key-basic.cassette.yaml
  internal/services/iam/testdata/data-source-group-basic.cassette.yaml
  internal/services/iam/testdata/data-source-group-users-and-applications.cassette.yaml
Labels: iam

feat(apple-silicon): read instance private ips
  docs/resources/apple_silicon_server.md
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
Labels: apple-silicon

feat(apple-silicon): read instance private ips (#3113)
  docs/resources/apple_silicon_server.md
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
Labels: apple-silicon

fix k8s
  internal/services/k8s/k8s_version_data_source_test.go
  internal/services/k8s/testdata/data-source-version-basic.cassette.yaml
Labels: k8s

instance: skip tests with bssd volumes/snapshots + remove cassettes
  internal/services/instance/image_test.go
  internal/services/instance/server_test.go
  internal/services/instance/snapshot_data_source_test.go
  internal/services/instance/snapshot_test.go
  internal/services/instance/testdata/data-source-snapshot-basic.cassette.yaml
  internal/services/instance/testdata/image-block-volume.cassette.yaml
  internal/services/instance/testdata/image-server-with-block-volume.cassette.yaml
  internal/services/instance/testdata/image-server.cassette.yaml
  internal/services/instance/testdata/server-additional-volumes-detach.cassette.yaml
  internal/services/instance/testdata/server-additional-volumes.cassette.yaml
  internal/services/instance/testdata/server-block-external.cassette.yaml
  internal/services/instance/testdata/server-root-volume-id.cassette.yaml
  internal/services/instance/testdata/server-server-with-block-non-default-zone.cassette.yaml
  internal/services/instance/testdata/server-with-default-root-volume-and-additional-volume.cassette.yaml
  internal/services/instance/testdata/snapshot-block-volume.cassette.yaml
  internal/services/instance/testdata/snapshot-from-object.cassette.yaml
  internal/services/instance/testdata/snapshot-rename-snapshot.cassette.yaml
  internal/services/instance/testdata/snapshot-server-with-block-volume.cassette.yaml
  internal/services/instance/testdata/volume-cannot-resize-block-down.cassette.yaml
  internal/services/instance/testdata/volume-resize-block.cassette.yaml
  internal/services/instance/volume_test.go
Labels: instance

nit block: align testfixture with other resources
  internal/services/block/snapshot_test.go
  internal/services/block/testfixture/small_image.qcow2
Labels: none

fix(compute): fix nightly tests (#3105)
  internal/services/block/snapshot_test.go
  internal/services/block/testfixture/small_image.qcow2
  internal/services/instance/image_test.go
  internal/services/instance/server_test.go
  internal/services/instance/snapshot_data_source_test.go
  internal/services/instance/snapshot_test.go
  internal/services/instance/testdata/data-source-snapshot-basic.cassette.yaml
  internal/services/instance/testdata/image-block-volume.cassette.yaml
  internal/services/instance/testdata/image-server-with-block-volume.cassette.yaml
  internal/services/instance/testdata/image-server.cassette.yaml
  internal/services/instance/testdata/server-additional-volumes-detach.cassette.yaml
  internal/services/instance/testdata/server-additional-volumes.cassette.yaml
  internal/services/instance/testdata/server-block-external.cassette.yaml
  internal/services/instance/testdata/server-root-volume-id.cassette.yaml
  internal/services/instance/testdata/server-server-with-block-non-default-zone.cassette.yaml
  internal/services/instance/testdata/server-with-default-root-volume-and-additional-volume.cassette.yaml
  internal/services/instance/testdata/snapshot-block-volume.cassette.yaml
  internal/services/instance/testdata/snapshot-from-object.cassette.yaml
  internal/services/instance/testdata/snapshot-rename-snapshot.cassette.yaml
  internal/services/instance/testdata/snapshot-server-with-block-volume.cassette.yaml
  internal/services/instance/testdata/volume-cannot-resize-block-down.cassette.yaml
  internal/services/instance/testdata/volume-resize-block.cassette.yaml
  internal/services/instance/volume_test.go
  internal/services/k8s/k8s_version_data_source_test.go
  internal/services/k8s/testdata/data-source-version-basic.cassette.yaml
Labels: instance, k8s

feat(inference): read deployment private ip
  docs/resources/inference_deployment.md
  internal/services/inference/deployment.go
  internal/services/inference/deployment_test.go
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
Labels: none

fix
  internal/services/inference/deployment.go
Labels: none

feat(inference): read deployment private ip (#3114)
  docs/resources/inference_deployment.md
  internal/services/inference/deployment.go
  internal/services/inference/deployment_test.go
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
Labels: none

doc(instance): update server's possible volume types + read more marketplace image info
  docs/resources/instance_server.md
  internal/services/marketplace/image_data_source.go
Labels: none

feat(serverless): add tags to container and function resources
  docs/resources/container.md
  docs/resources/container_namespace.md
  docs/resources/function.md
  docs/resources/function_namespace.md
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-basic.cassette.yaml
  internal/services/function/function.go
  internal/services/function/function_test.go
  internal/services/function/testdata/function-basic.cassette.yaml
Labels: container, function

fix(baremetal): remove non-idempotent condition to ensure repeatable execution
  internal/services/baremetal/offer_data_source_test.go
  internal/services/baremetal/testdata/data-source-offer-subscription-period-monthly.cassette.yaml
Labels: baremetal

doc: format examples
  docs/data-sources/availability_zones.md
  docs/data-sources/container.md
  docs/data-sources/lb_certificate.md
  docs/data-sources/rdb_database_backup.md
  docs/data-sources/vpc_gateway_network.md
  docs/data-sources/vpc_routes.md
  docs/resources/apple_silicon_server.md
  docs/resources/container.md
  docs/resources/container_cron.md
  docs/resources/container_domain.md
  docs/resources/container_token.md
  docs/resources/container_trigger.md
  docs/resources/function.md
  docs/resources/function_cron.md
  docs/resources/function_domain.md
  docs/resources/function_token.md
  docs/resources/function_trigger.md
  docs/resources/instance_server.md
  docs/resources/instance_user_data.md
  docs/resources/job_definition.md
  docs/resources/lb_frontend.md
  docs/resources/mnq_sns.md
  docs/resources/mnq_sns_credentials.md
  docs/resources/mnq_sns_topic.md
  docs/resources/mnq_sns_topic_subscription.md
  docs/resources/mnq_sqs.md
  docs/resources/mnq_sqs_credentials.md
  docs/resources/mnq_sqs_queue.md
  docs/resources/mongodb_instance.md
  docs/resources/object_bucket_policy.md
  docs/resources/vpc_gateway_network.md
  docs/resources/vpc_public_gateway_dhcp_reservation.md
  docs/resources/vpc_public_gateway_ip.md
Labels: none

docs: relocate inference model datasource
  docs/data-sources/inference_model.md
Labels: none

doc: format examples and relocate inference model datasource (#3121)
  docs/data-sources/availability_zones.md
  docs/data-sources/container.md
  docs/data-sources/inference_model.md
  docs/data-sources/lb_certificate.md
  docs/data-sources/rdb_database_backup.md
  docs/data-sources/vpc_gateway_network.md
  docs/data-sources/vpc_routes.md
  docs/resources/apple_silicon_server.md
  docs/resources/container.md
  docs/resources/container_cron.md
  docs/resources/container_domain.md
  docs/resources/container_token.md
  docs/resources/container_trigger.md
  docs/resources/function.md
  docs/resources/function_cron.md
  docs/resources/function_domain.md
  docs/resources/function_token.md
  docs/resources/function_trigger.md
  docs/resources/instance_server.md
  docs/resources/instance_user_data.md
  docs/resources/job_definition.md
  docs/resources/lb_frontend.md
  docs/resources/mnq_sns.md
  docs/resources/mnq_sns_credentials.md
  docs/resources/mnq_sns_topic.md
  docs/resources/mnq_sns_topic_subscription.md
  docs/resources/mnq_sqs.md
  docs/resources/mnq_sqs_credentials.md
  docs/resources/mnq_sqs_queue.md
  docs/resources/mongodb_instance.md
  docs/resources/object_bucket_policy.md
  docs/resources/vpc_gateway_network.md
  docs/resources/vpc_public_gateway_dhcp_reservation.md
  docs/resources/vpc_public_gateway_ip.md
Labels: none

docs(flexible-ip): fix ip id field name
  docs/data-sources/flexible_ip.md
Labels: none

docs(flexible-ip): fix ip id field name (#3123)
  docs/data-sources/flexible_ip.md
Labels: none

fix(iam): support setting multiple users and groups with appropriate endpoint
  internal/services/iam/group_membership.go
  internal/services/iam/group_membership_test.go
  internal/services/iam/testdata/group-membership-basic.cassette.yaml
Labels: iam

docs(flexible-ip): update docs
  docs/data-sources/flexible_ip.md
  docs/resources/flexible_ip.md
Labels: none

wip
  internal/services/iam/group_membership.go
  internal/services/iam/group_membership_test.go
  internal/services/iam/testdata/group-membership-basic.cassette.yaml
  internal/services/iam/testdata/group-membership-multiple-entities.cassette.yaml
  internal/services/iam/testdata/group-membership-user.cassette.yaml
Labels: iam

feat(serverless): add tags to container and function resources (#3117)
  docs/resources/container.md
  docs/resources/container_namespace.md
  docs/resources/function.md
  docs/resources/function_namespace.md
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-basic.cassette.yaml
  internal/services/function/function.go
  internal/services/function/function_test.go
  internal/services/function/testdata/function-basic.cassette.yaml
Labels: container, function

docs(flexible-ip): update docs (#3125)
  docs/data-sources/flexible_ip.md
  docs/resources/flexible_ip.md
Labels: none

fix
  go.mod
  go.sum
Labels: none

fix(baremetal): remove non-idempotent condition to ensure repeatable execution (#3120)
  internal/services/baremetal/offer_data_source_test.go
  internal/services/baremetal/testdata/data-source-offer-subscription-period-monthly.cassette.yaml
Labels: baremetal

feat(iam): support scaleway_iam_group_membership batch update
  internal/services/iam/group_membership.go
  internal/services/iam/group_membership_test.go
  internal/services/iam/testdata/group-membership-basic.cassette.yaml
  internal/services/iam/testdata/group-membership-multiple-entities.cassette.yaml
  internal/services/iam/testdata/group-membership-user.cassette.yaml
Labels: iam

wip
  internal/services/iam/group_membership_test.go
Labels: iam

chore(doc): update iam_group_membership with new specs
  docs/resources/iam_group_membership.md
Labels: none

chore: add support for vcr compression and trim k8s cassettes
  cmd/vcr-compressor/main.go
  cmd/vcr-viewer/main.go
  internal/acctest/compress_cassettes_test.go
  internal/services/k8s/testdata/cluster-multicloud.cassette.yaml
  internal/services/k8s/testdata/cluster-pool-private-network.cassette.yaml
  internal/services/k8s/testdata/cluster-type-change.cassette.yaml
  internal/services/k8s/testdata/data-source-cluster-basic.cassette.yaml
  internal/services/k8s/testdata/data-source-pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-kubelet-args.cassette.yaml
  internal/services/k8s/testdata/pool-placement-group.cassette.yaml
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/k8s/testdata/pool-size.cassette.yaml
  internal/services/k8s/testdata/pool-upgrade-policy.cassette.yaml
  internal/services/k8s/testdata/pool-wait.cassette.yaml
  internal/services/k8s/testdata/pool-zone.cassette.yaml
Labels: k8s

Fix
  internal/acctest/compress_cassettes_test.go
Labels: none

Fix linter
  cmd/vcr-compressor/main.go
  cmd/vcr-viewer/main.go
Labels: none

Fix i18n for error message
  cmd/vcr-compressor/main.go
  cmd/vcr-viewer/main.go
Labels: none
