Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

Apply review suggestions
  cmd/vcr-compressor/main.go
  cmd/vcr-viewer/main.go
Labels: none

Apply review suggestions
  cmd/vcr-compressor/main.go
Labels: none

Fix lint
  cmd/vcr-compressor/main.go
Labels: none

chore: compress cassettes for lb
  cmd/vcr-compressor/main.go
  internal/services/lb/testdata/lb-with-private-networks-on-dhcp-config.cassette.yaml
  internal/services/lb/testdata/route-basic.cassette.yaml
Labels: load-balancer

chore: compress rdb cassettes
  cmd/vcr-compressor/main.go
  internal/services/rdb/testdata/acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-database-backup-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-database-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-instance-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-privilege-basic.cassette.yaml
  internal/services/rdb/testdata/database-backup-basic.cassette.yaml
  internal/services/rdb/testdata/database-basic.cassette.yaml
  internal/services/rdb/testdata/database-manual-delete.cassette.yaml
  internal/services/rdb/testdata/instance-backup-schedule.cassette.yaml
  internal/services/rdb/testdata/instance-basic.cassette.yaml
  internal/services/rdb/testdata/instance-capitalize.cassette.yaml
  internal/services/rdb/testdata/instance-change-node-type.cassette.yaml
  internal/services/rdb/testdata/instance-change-volume-type.cassette.yaml
  internal/services/rdb/testdata/instance-complete-workflow.cassette.yaml
  internal/services/rdb/testdata/instance-encryption-at-rest-false.cassette.yaml
  internal/services/rdb/testdata/instance-encryption-at-rest.cassette.yaml
  internal/services/rdb/testdata/instance-endpoints.cassette.yaml
  internal/services/rdb/testdata/instance-init-settings.cassette.yaml
  internal/services/rdb/testdata/instance-logs-policy.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/rdb/testdata/instance-sbs-volume.cassette.yaml
  internal/services/rdb/testdata/instance-settings.cassette.yaml
  internal/services/rdb/testdata/instance-update-encryption-at-rest.cassette.yaml
  internal/services/rdb/testdata/instance-volume.cassette.yaml
  internal/services/rdb/testdata/instance-with-cluster.cassette.yaml
  internal/services/rdb/testdata/privilege-basic.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-basic.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-basic.cassette.yaml
  internal/services/rdb/testdata/read-replica-different-zone.cassette.yaml
  internal/services/rdb/testdata/read-replica-multiple-endpoints.cassette.yaml
  internal/services/rdb/testdata/read-replica-private-network.cassette.yaml
  internal/services/rdb/testdata/read-replica-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-with-instance-also-in-private-network.cassette.yaml
  internal/services/rdb/testdata/user-basic.cassette.yaml
Labels: rdb

Fix
  cmd/vcr-compressor/main.go
Labels: none

fix(object): add content_type attribut
  internal/services/object/object.go
  internal/services/object/object_test.go
  internal/services/object/testdata/object-content-type.cassette.yaml
  internal/services/object/testfixture/index.html
Labels: object

add documentation
  TESTING.md
Labels: none

Fix useless continue
  cmd/vcr-compressor/main.go
Labels: none

chore: add support for vcr compression and trim k8s cassettes (#3136)
  TESTING.md
  cmd/vcr-compressor/main.go
  cmd/vcr-viewer/main.go
  internal/services/k8s/testdata/cluster-multicloud.cassette.yaml
  internal/services/k8s/testdata/cluster-pool-private-network.cassette.yaml
  internal/services/k8s/testdata/cluster-type-change.cassette.yaml
  internal/services/k8s/testdata/data-source-cluster-basic.cassette.yaml
  internal/services/k8s/testdata/data-source-pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-kubelet-args.cassette.yaml
  internal/services/k8s/testdata/pool-placement-group.cassette.yaml
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/k8s/testdata/pool-size.cassette.yaml
  internal/services/k8s/testdata/pool-upgrade-policy.cassette.yaml
  internal/services/k8s/testdata/pool-wait.cassette.yaml
  internal/services/k8s/testdata/pool-zone.cassette.yaml
Labels: k8s

add and correct documentation
  docs/resources/object.md
  docs/resources/object_bucket_website_configuration.md
  internal/services/object/object.go
Labels: object

Fix
  internal/services/inference/testfuncs/checks.go
Labels: none

Fix vpcgw
  internal/services/vpcgw/testdata/data-source-vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-ip-basic.cassette.yaml
  internal/services/vpcgw/testfuncs/checks.go
Labels: vpcgw

Fix vpc
  internal/services/vpc/testdata/data-source-vpc-basic.cassette.yaml
  internal/services/vpc/testdata/data-source-vpc-private-network-basic.cassette.yaml
  internal/services/vpc/testdata/data-source-vpc-private-network-vpc-id.cassette.yaml
Labels: vpc

Fix
  internal/services/cockpit/testdata/cockpit-source-data-source-by-id.cassette.yaml
  internal/services/iot/testdata/data-source-hub-basic.cassette.yaml
  internal/services/registry/testdata/data-source-image-tag-basic.cassette.yaml
  internal/services/registry/testdata/data-source-namespace-basic.cassette.yaml
Labels: iot, registry

Fix registry
  internal/services/registry/testdata/data-source-image-tag-basic.cassette.yaml
  internal/services/registry/testdata/data-source-namespace-basic.cassette.yaml
Labels: registry

Fix
  internal/services/webhosting/testdata/data-source-webhosting-basic.cassette.yaml
  internal/services/webhosting/webhosting_test.go
Labels: webhosting

Fix iot
  internal/services/iot/hub_test.go
  internal/services/iot/testdata/data-source-hub-basic.cassette.yaml
Labels: iot

Fix flexibleip
  internal/services/flexibleip/testdata/data-source-flexible-ip-basic.cassette.yaml
  internal/services/flexibleip/testdata/data-source-flexible-ip-multiple.cassette.yaml
Labels: flexible-ip

Fix iam
  internal/services/iam/testdata/api-key-expires.cassette.yaml
  internal/services/iam/testdata/data-source-application-basic.cassette.yaml
  internal/services/iam/testdata/data-source-group-basic.cassette.yaml
  internal/services/iam/testdata/data-source-group-users-and-applications.cassette.yaml
  internal/services/iam/testdata/data-source-ssh-key-basic.cassette.yaml
  internal/services/iam/testdata/group-membership-basic.cassette.yaml
Labels: iam

Fix redis
  internal/services/redis/cluster_test.go
  internal/services/redis/testdata/data-source-cluster-basic.cassette.yaml
Labels: redis

Fix ipam
  internal/services/ipam/testdata/data-source-ipamipid.cassette.yaml
Labels: none

Fix mongodb
  internal/services/mongodb/testdata/data-source-mongo-db-instance-by-id.cassette.yaml
  internal/services/mongodb/testdata/data-source-mongo-db-instance-by-name.cassette.yaml
Labels: none

Fix secret
  internal/services/secret/testdata/data-source-secret-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
  internal/services/secret/testdata/secret-path.cassette.yaml
Labels: secret

fix rdb
  internal/services/rdb/database_backup_test.go
  internal/services/rdb/testdata/data-source-acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-database-backup-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-instance-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-privilege-basic.cassette.yaml
  internal/services/rdb/testdata/privilege-basic.cassette.yaml
  internal/services/rdb/testdata/user-basic.cassette.yaml
  internal/services/rdb/testfuncs/checks.go
Labels: rdb

fix baremetal
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/data-source-server-basic.cassette.yaml
  internal/services/baremetal/testdata/server-with-ipam-private-network.cassette.yaml
  internal/services/baremetal/testfuncs/checks.go
Labels: baremetal

Fix lb
  internal/services/lb/testdata/data-source-ip-basic.cassette.yaml
Labels: load-balancer

fix instance
  internal/services/instance/testdata/data-source-placement-group-basic.cassette.yaml
  internal/services/instance/testdata/data-source-private-nic-basic.cassette.yaml
  internal/services/instance/testdata/data-source-security-group-basic.cassette.yaml
  internal/services/instance/testdata/data-source-server-basic.cassette.yaml
  internal/services/instance/testdata/data-source-volume-basic.cassette.yaml
  internal/services/instance/testdata/server-block-external-root-volume.cassette.yaml
  internal/services/instance/testdata/server-custom-diff-image.cassette.yaml
  internal/services/instance/testdata/server-migrate.cassette.yaml
  internal/services/instance/testdata/server-root-volume1.cassette.yaml
  internal/services/instance/testfuncs/checks.go
Labels: instance

Fix account
  internal/services/account/testdata/data-source-project-basic.cassette.yaml
Labels: account

fix instance
  internal/services/instance/testdata/server-migrate-invalid-local-volume-size.cassette.yaml
Labels: instance

Fix inference
  internal/services/inference/testdata/data-source-model-custom.cassette.yaml
Labels: none

Fix iam
  internal/services/iam/group_data_source_test.go
  internal/services/iam/testdata/data-source-api-key-basic.cassette.yaml
  internal/services/iam/testdata/data-source-group-basic.cassette.yaml
  internal/services/iam/testdata/data-source-group-users-and-applications.cassette.yaml
Labels: iam

fix secret
  internal/services/secret/secret_test.go
  internal/services/secret/testdata/data-source-secret-version-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
  internal/services/secret/testdata/secret-path.cassette.yaml
  internal/services/secret/version_test.go
Labels: secret

Fix
  go.mod
  go.sum
Labels: none

add computed to content_type
  internal/services/block/testdata/snapshot-from-s3.cassette.yaml
  internal/services/object/object.go
Labels: object

remove unnecessary cassette
  internal/services/baremetal/offer_data_source_test.go
  internal/services/baremetal/testdata/data-source-offer-basic.cassette.yaml
  internal/services/baremetal/testdata/data-source-offer-subscription-period-hourly.cassette.yaml
Labels: baremetal

remove unnecessary cassette (#3140)
  internal/services/baremetal/offer_data_source_test.go
  internal/services/baremetal/testdata/data-source-offer-basic.cassette.yaml
  internal/services/baremetal/testdata/data-source-offer-subscription-period-hourly.cassette.yaml
Labels: baremetal

doc(instance): update server's possible volume types + read more marketplace image info (#3116)
  docs/resources/instance_server.md
  internal/services/marketplace/image_data_source.go
Labels: none

fix(acctest): compare in depth request body with cassette body
  internal/acctest/acctest.go
  internal/acctest/acctest_test.go
  internal/acctest/compare.go
  internal/acctest/vcr.go
Labels: none

undo removed line
  internal/services/object/object_test.go
Labels: object

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**
