Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**

Fix
  internal/services/account/project.go
Labels: account

Fix provider name
  internal/acctest/acctest.go
Labels: none

Fix name
  internal/acctest/acctest.go
Labels: none

fix(domain): make project_id optional in DataSourceZone (#3103)
  internal/services/domain/testdata/data-source-domain-zone-basic.cassette.yaml
  internal/services/domain/zone_data_source.go
  internal/services/domain/zone_data_source_test.go
Labels: domain

Fix k8s (in progress)
  internal/services/k8s/testdata/data-source-pool-basic.cassette.yaml
Labels: k8s

fix baremetal
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/data-source-server-basic.cassette.yaml
  internal/services/baremetal/testdata/server-with-ipam-private-network.cassette.yaml
  internal/services/baremetal/testfuncs/checks.go
Labels: baremetal

Fix lb
  internal/services/lb/testdata/data-source-ip-basic.cassette.yaml
Labels: load-balancer

feat(mongodb): read instance private ips
  docs/resources/mongodb_instance.md
  internal/services/mongodb/instance.go
  internal/services/mongodb/instance_test.go
  internal/services/mongodb/testdata/mongo-db-instance-update-private-network.cassette.yaml
  internal/services/mongodb/testdata/mongo-db-instance-with-private-network.cassette.yaml
Labels: none

fix
  docs/resources/mongodb_instance.md
  internal/services/mongodb/instance.go
Labels: none

update cassettes
  internal/services/baremetal/testdata/easy-partitioning-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-with-alternate-offer.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-extra-part.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-swap-and-extra-part.cassette.yaml
Labels: baremetal

fix(baremetal): refacto logic and debug raid
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/easy_partitioning_source_test.go
  internal/services/baremetal/testdata/easy-partitioning-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-extra-part.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-swap-and-extra-part.cassette.yaml
Labels: baremetal

fix golangci-lin
  internal/services/baremetal/partition_schema_data_source.go
Labels: baremetal

rename datasource and update cassette
  internal/provider/provider.go
  internal/services/baremetal/partition_schema_data_source.go
  internal/services/baremetal/partition_schema_source_test.go
  internal/services/baremetal/testdata/partition-schema-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-incompatible-offer.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-incompatible-os.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-with-alternate-offer.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-without-extra-part.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-without-swap-and-extra-part.cassette.yaml
Labels: baremetal

refactor for loop updateRootSize and use const
  internal/services/baremetal/easy_partitioning_data_source.go
Labels: baremetal

fix index issue removeSwap and manage RAID
  internal/services/baremetal/easy_partitioning_data_source.go
Labels: baremetal

correct provider
  internal/provider/provider.go
  internal/services/baremetal/partition_schema_source_test.go
  internal/services/baremetal/testdata/partition-schema-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-incompatible-offer.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-incompatible-os.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-with-alternate-offer.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-without-extra-part.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-without-swap-and-extra-part.cassette.yaml
Labels: baremetal

update documentation
  docs/data-sources/baremetal_partition_schema.md
Labels: none

fix golangci-lint
  internal/services/baremetal/easy_partitioning_data_source.go
Labels: baremetal

fix(baremetal): refacto logic and debug raid (#3098)
  docs/data-sources/baremetal_partition_schema.md
  internal/provider/provider.go
  internal/services/baremetal/partition_schema_data_source.go
  internal/services/baremetal/partition_schema_source_test.go
  internal/services/baremetal/testdata/easy-partitioning-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-with-alternate-offer.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-extra-part.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-swap-and-extra-part.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-incompatible-offer.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-incompatible-os.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-with-alternate-offer.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-without-extra-part.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-without-swap-and-extra-part.cassette.yaml
Labels: baremetal

Fix registry
  internal/services/registry/testdata/data-source-image-tag-basic.cassette.yaml
  internal/services/registry/testdata/data-source-namespace-basic.cassette.yaml
Labels: registry

Fix iot
  internal/services/iot/hub_test.go
  internal/services/iot/testdata/data-source-hub-basic.cassette.yaml
Labels: iot

Fix
  internal/services/webhosting/testdata/data-source-webhosting-basic.cassette.yaml
  internal/services/webhosting/webhosting_test.go
Labels: webhosting

Fix vpcgw
  internal/services/vpcgw/testdata/data-source-vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-ip-basic.cassette.yaml
  internal/services/vpcgw/testfuncs/checks.go
Labels: vpcgw

Fix k8s (in progress)
  internal/services/k8s/testdata/data-source-pool-basic.cassette.yaml
Labels: k8s

Fix redis
  internal/services/redis/cluster_test.go
  internal/services/redis/testdata/data-source-cluster-basic.cassette.yaml
Labels: redis

Fix mongodb
  internal/services/mongodb/testdata/data-source-mongo-db-instance-by-id.cassette.yaml
  internal/services/mongodb/testdata/data-source-mongo-db-instance-by-name.cassette.yaml
Labels: none

Fix flexibleip
  internal/services/flexibleip/testdata/data-source-flexible-ip-basic.cassette.yaml
  internal/services/flexibleip/testdata/data-source-flexible-ip-multiple.cassette.yaml
Labels: flexible-ip

fix baremetal
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/data-source-server-basic.cassette.yaml
  internal/services/baremetal/testdata/server-with-ipam-private-network.cassette.yaml
  internal/services/baremetal/testfuncs/checks.go
Labels: baremetal

Fix iam
  internal/services/iam/testdata/api-key-expires.cassette.yaml
  internal/services/iam/testdata/data-source-application-basic.cassette.yaml
  internal/services/iam/testdata/data-source-group-basic.cassette.yaml
  internal/services/iam/testdata/data-source-group-users-and-applications.cassette.yaml
  internal/services/iam/testdata/data-source-ssh-key-basic.cassette.yaml
  internal/services/iam/testdata/group-membership-basic.cassette.yaml
Labels: iam

Fix vpc
  internal/services/vpc/testdata/data-source-vpc-basic.cassette.yaml
  internal/services/vpc/testdata/data-source-vpc-private-network-basic.cassette.yaml
  internal/services/vpc/testdata/data-source-vpc-private-network-vpc-id.cassette.yaml
Labels: vpc

Fix secret
  internal/services/secret/testdata/data-source-secret-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
  internal/services/secret/testdata/secret-path.cassette.yaml
Labels: secret

Fix
  internal/services/cockpit/testdata/cockpit-source-data-source-by-id.cassette.yaml
  internal/services/iot/testdata/data-source-hub-basic.cassette.yaml
  internal/services/registry/testdata/data-source-image-tag-basic.cassette.yaml
  internal/services/registry/testdata/data-source-namespace-basic.cassette.yaml
Labels: iot, registry

Fix ipam
  internal/services/ipam/testdata/data-source-ipamipid.cassette.yaml
Labels: none

Fix
  internal/services/inference/testfuncs/checks.go
Labels: none

fix rdb
  internal/services/rdb/database_backup_test.go
  internal/services/rdb/testdata/data-source-acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-database-backup-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-instance-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-privilege-basic.cassette.yaml
  internal/services/rdb/testdata/privilege-basic.cassette.yaml
  internal/services/rdb/testdata/user-basic.cassette.yaml
  internal/services/rdb/testfuncs/checks.go
Labels: rdb

Fix lb
  internal/services/lb/testdata/data-source-ip-basic.cassette.yaml
Labels: load-balancer

fix instance
  internal/services/instance/testdata/data-source-placement-group-basic.cassette.yaml
  internal/services/instance/testdata/data-source-private-nic-basic.cassette.yaml
  internal/services/instance/testdata/data-source-security-group-basic.cassette.yaml
  internal/services/instance/testdata/data-source-server-basic.cassette.yaml
  internal/services/instance/testdata/data-source-snapshot-basic.cassette.yaml
  internal/services/instance/testdata/data-source-volume-basic.cassette.yaml
  internal/services/instance/testdata/server-block-external-root-volume.cassette.yaml
  internal/services/instance/testdata/server-custom-diff-image.cassette.yaml
  internal/services/instance/testdata/server-migrate.cassette.yaml
  internal/services/instance/testdata/server-root-volume1.cassette.yaml
  internal/services/instance/testfuncs/checks.go
Labels: instance

Fix account
  internal/services/account/testdata/data-source-project-basic.cassette.yaml
Labels: account

fix instance
  internal/services/instance/testdata/server-migrate-invalid-local-volume-size.cassette.yaml
Labels: instance

Fix inference
  internal/services/inference/testdata/data-source-model-custom.cassette.yaml
Labels: none
