Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

update docs
  docs/data-sources/vpc_gateway_network.md
  docs/data-sources/vpc_public_gateway_dhcp.md
  docs/data-sources/vpc_public_gateway_dhcp_reservation.md
  docs/resources/vpc_gateway_network.md
  docs/resources/vpc_public_gateway_dhcp.md
  docs/resources/vpc_public_gateway_dhcp_reservation.md
Labels: none

markdown lint
  docs/data-sources/vpc_public_gateway_dhcp.md
  docs/data-sources/vpc_public_gateway_dhcp_reservation.md
  docs/resources/vpc_gateway_network.md
  docs/resources/vpc_public_gateway_dhcp.md
  docs/resources/vpc_public_gateway_dhcp_reservation.md
Labels: none

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

add cli command
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

fix test
  internal/services/tem/domain.go
  internal/services/tem/testdata/domain-basic.cassette.yaml
Labels: tem

fix test iam
  internal/services/iam/testdata/data-source-api-key-basic.cassette.yaml
Labels: iam

bump sdk go
  go.mod
  go.sum
  internal/services/tem/domain.go
Labels: tem

add vpc acls
  internal/provider/provider.go
  internal/services/vpc/acl.go
  internal/services/vpc/acl_test.go
  internal/services/vpc/testdata/acl-basic.cassette.yaml
  internal/services/vpc/types.go
Labels: vpc

add docs
  docs/resources/vpc_acl.md
Labels: none

lint
  docs/resources/vpc_acl.md
Labels: none

chore: bump sdk go
  go.mod
  go.sum
  internal/services/tem/domain.go
Labels: tem

update iam user datasource test
  internal/services/iam/testdata/data-source-user-basic.cassette.yaml
  internal/services/iam/user_data_source_test.go
Labels: iam

chore: bump sdk go (#2996)
  go.mod
  go.sum
  internal/services/iam/testdata/data-source-user-basic.cassette.yaml
  internal/services/iam/user_data_source_test.go
  internal/services/tem/domain.go
Labels: iam, tem

docs(vpcgw): add v2 migration guide (#2991)
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

Delete internal/services/vpc/route_datasource.go
  internal/services/vpc/route_datasource.go
Labels: vpc

add guide link and logs
  docs/data-sources/vpc_public_gateway_dhcp.md
  docs/data-sources/vpc_public_gateway_dhcp_reservation.md
  docs/resources/vpc_gateway_network.md
  docs/resources/vpc_public_gateway.md
  docs/resources/vpc_public_gateway_dhcp.md
  docs/resources/vpc_public_gateway_dhcp_reservation.md
  internal/services/vpcgw/dhcp.go
  internal/services/vpcgw/dhcp_reservation.go
  internal/services/vpcgw/network.go
  internal/services/vpcgw/public_gateway.go
Labels: vpcgw

lint
  internal/services/vpcgw/network.go
  internal/services/vpcgw/public_gateway.go
  internal/services/vpcgw/testdata/vpc-public-gateway-upgrade.cassette.yaml
Labels: vpcgw

docs(tem): specify fr-par region requirement
  docs/resources/tem_domain.md
Labels: none

fix(tem): properly fail scaleway_tem_domain_validation on timeout
  internal/services/tem/domain_validation.go
  internal/services/tem/domain_validation_test.go
  internal/services/tem/testdata/domain-validation-timeout-error.cassette.yaml
Labels: tem

fix test
  internal/services/tem/domain_validation.go
  internal/services/tem/domain_validation_test.go
  internal/services/tem/testdata/domain-validation-validation.cassette.yaml
Labels: tem

fix test webhook
  internal/services/tem/domain_validation.go
  internal/services/tem/testdata/webhook-basic-and-update.cassette.yaml
Labels: tem

docs(tem): specify fr-par region requirement (#2997)
  docs/resources/tem_domain.md
Labels: none

feat(vpc): add ACLs (#2995)
  docs/resources/vpc_acl.md
  internal/provider/provider.go
  internal/services/vpc/acl.go
  internal/services/vpc/acl_test.go
  internal/services/vpc/testdata/acl-basic.cassette.yaml
  internal/services/vpc/types.go
Labels: vpc

fix(tem): properly fail scaleway_tem_domain_validation on timeout (#2998)
  internal/services/tem/domain_validation.go
  internal/services/tem/domain_validation_test.go
  internal/services/tem/testdata/domain-validation-timeout-error.cassette.yaml
  internal/services/tem/testdata/domain-validation-validation.cassette.yaml
  internal/services/tem/testdata/webhook-basic-and-update.cassette.yaml
Labels: tem

add waf and route stages
  internal/provider/provider.go
  internal/services/edgeservices/route_stage.go
  internal/services/edgeservices/route_stage_test.go
  internal/services/edgeservices/testdata/edge-services-route-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-waf-basic.cassette.yaml
  internal/services/edgeservices/testfuncs/checks.go
  internal/services/edgeservices/testfuncs/sweep.go
  internal/services/edgeservices/types.go
  internal/services/edgeservices/waf_stage.go
  internal/services/edgeservices/waf_stage_test.go
Labels: none

add docs
  docs/resources/edge_services_route_stage.md
  docs/resources/edge_services_waf_stage.md
Labels: none

add ExpandUint64Ptr
  internal/types/number.go
Labels: none

lint
  internal/services/edgeservices/types.go
Labels: none

feat(tem): add support for blockedlist
  internal/provider/provider.go
  internal/services/tem/blockedlist.go
  internal/services/tem/blockedlist_test.go
  internal/services/tem/testdata/blocked-list-basic.cassette.yaml
Labels: tem

add test
  internal/services/tem/blockedlist.go
  internal/services/tem/blockedlist_test.go
  internal/services/tem/testdata/blocked-list-basic.cassette.yaml
Labels: tem

fix test
  internal/services/tem/testdata/domain-autoconfig-update.cassette.yaml
  internal/services/tem/testdata/domain-autoconfig.cassette.yaml
Labels: tem

fix test blockedlist
  internal/services/tem/testdata/blocked-list-basic.cassette.yaml
Labels: tem

remove position fields
  docs/resources/edge_services_route_stage.md
  internal/services/edgeservices/route_stage.go
  internal/services/edgeservices/route_stage_test.go
  internal/services/edgeservices/testdata/edge-services-route-basic.cassette.yaml
Labels: none

feat(tem): add support for blockedlist (#2983)
  internal/provider/provider.go
  internal/services/tem/blockedlist.go
  internal/services/tem/blockedlist_test.go
  internal/services/tem/testdata/blocked-list-basic.cassette.yaml
  internal/services/tem/testdata/domain-autoconfig-update.cassette.yaml
  internal/services/tem/testdata/domain-autoconfig.cassette.yaml
Labels: tem

docs(tem): add blocked_list doc
  docs/resources/tem_blocked_list.md
Labels: none

docs(tem): add blocked_list doc (#3000)
  docs/resources/tem_blocked_list.md
Labels: none

fix test
  internal/services/tem/testdata/data-source-domain-basic.cassette.yaml
Labels: tem

feat(tem): add data_source for offer subscription
  internal/provider/provider.go
  internal/services/tem/offer_subscription_data_source.go
  internal/services/tem/offer_subscription_data_source_test.go
Labels: tem

add test
  internal/services/tem/offer_subscription_data_source.go
  internal/services/tem/testdata/data-source-offer-subscription-basic.cassette.yaml
Labels: tem

feat(tem): add data source for offer subscription
  docs/data-sources/tem_offer_subscription.md
  internal/services/tem/offer_subscription_data_source.go
  internal/services/tem/offer_subscription_data_source_test.go
  internal/services/tem/testdata/data-source-offer-subscription-basic.cassette.yaml
Labels: tem

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**
