Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

fix linter
  internal/services/inference/model_data_source.go
Labels: none

update cassette deployment with datasource
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
Labels: none

feat(k8s): read pool's private ips
  docs/resources/k8s_pool.md
  internal/services/ipam/helpers.go
  internal/services/k8s/helpers_k8s.go
  internal/services/k8s/pool.go
  internal/services/k8s/pool_test.go
  internal/services/k8s/testdata/cluster-multicloud.cassette.yaml
  internal/services/k8s/testdata/data-source-cluster-basic.cassette.yaml
  internal/services/k8s/testdata/data-source-pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-kubelet-args.cassette.yaml
  internal/services/k8s/testdata/pool-placement-group.cassette.yaml
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/k8s/testdata/pool-size.cassette.yaml
  internal/services/k8s/testdata/pool-upgrade-policy.cassette.yaml
  internal/services/k8s/testdata/pool-wait.cassette.yaml
  internal/services/k8s/testdata/pool-zone.cassette.yaml
Labels: k8s

Distinguish between Member users and Guest users in user creation
  internal/services/iam/user.go
Labels: iam

Add all API parameters to resource schema
  internal/services/iam/user.go
Labels: iam

Complete implementation of user creation
  internal/services/iam/user.go
Labels: iam

Fix schema of some parameters
  internal/services/iam/user.go
Labels: iam

Add fields to user read function
  internal/services/iam/user.go
Labels: iam

Reimplement acceptance tests to test creation for both user types
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user_test.go
Labels: iam

Complete acceptance tests
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user.go
  internal/services/iam/user_test.go
Labels: iam

Add comments
  internal/services/iam/user.go
Labels: iam

Final test runs: no errors
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
Labels: iam

Update docs
  docs/resources/iam_user.md
Labels: none

Fix typo in docs
  docs/resources/iam_user.md
Labels: none

Update CRUD operations for the User resource to reflect changes in the API
  internal/services/iam/user.go
Labels: iam

Update acceptance tests
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user.go
  internal/services/iam/user_test.go
Labels: iam

Add support for username update
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user.go
  internal/services/iam/user_test.go
Labels: iam

feat(k8s): read pool's private ips (#3072)
  docs/resources/k8s_pool.md
  internal/services/ipam/helpers.go
  internal/services/k8s/helpers_k8s.go
  internal/services/k8s/pool.go
  internal/services/k8s/pool_test.go
  internal/services/k8s/testdata/cluster-multicloud.cassette.yaml
  internal/services/k8s/testdata/data-source-cluster-basic.cassette.yaml
  internal/services/k8s/testdata/data-source-pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-kubelet-args.cassette.yaml
  internal/services/k8s/testdata/pool-placement-group.cassette.yaml
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/k8s/testdata/pool-size.cassette.yaml
  internal/services/k8s/testdata/pool-upgrade-policy.cassette.yaml
  internal/services/k8s/testdata/pool-wait.cassette.yaml
  internal/services/k8s/testdata/pool-zone.cassette.yaml
Labels: k8s

feat(inference): migration v1 and support BYOM (#3048)
  docs/data-sources/inference_model.md
  docs/resources/inference_deployment.md
  docs/resources/inference_model.md
  internal/provider/provider.go
  internal/services/inference/deployment.go
  internal/services/inference/deployment_test.go
  internal/services/inference/helpers_inference.go
  internal/services/inference/model.go
  internal/services/inference/model_data_source.go
  internal/services/inference/model_data_source_test.go
  internal/services/inference/model_test.go
  internal/services/inference/testdata/data-source-model-basic.cassette.yaml
  internal/services/inference/testdata/data-source-model-custom.cassette.yaml
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
  internal/services/inference/testdata/model-basic.cassette.yaml
  internal/services/inference/testdata/model-deploy-model-on-server.cassette.yaml
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/testfuncs/sweep.go
  internal/services/inference/types.go
  internal/services/inference/waiter.go
Labels: none

feat(project): add the projects datasource
  docs/data-sources/account_projects.md
  internal/provider/provider.go
  internal/services/account/project_data_source.go
  internal/services/account/project_data_source_test.go
  internal/services/account/testdata/data-source-project-list.cassette.yaml
Labels: account

wip
  docs/data-sources/account_projects.md
Labels: none

doc(container): fix healthcheck example
  docs/resources/container.md
Labels: none

wip
  internal/services/account/project_data_source_test.go
Labels: account

ci: add go mod tidy verification step to release workflow
  .github/workflows/release.yml
Labels: none

upgrade to latest genproto version
  go.mod
  go.sum
Labels: none

ci: add go mod tidy verification step to release workflow (#3087)
  .github/workflows/release.yml
  go.mod
  go.sum
Labels: none

doc(container): fix healthcheck example (#3086)
  docs/resources/container.md
Labels: none

feat(project): add the projects datasource (#3084)
  docs/data-sources/account_projects.md
  internal/provider/provider.go
  internal/services/account/project_data_source.go
  internal/services/account/project_data_source_test.go
  internal/services/account/testdata/data-source-project-list.cassette.yaml
Labels: account

chore: go mod tidy
  go.mod
Labels: none

chore: add support for testing that go.mod is tidy
  .github/workflows/unit-tests.yaml
Labels: none

chore: go mod tidy (#3088)
  go.mod
Labels: none

chore: add support for testing that go.mod is tidy (#3089)
  .github/workflows/unit-tests.yaml
Labels: none

fix(provider): use the provider project_id when available
  internal/services/applesilicon/server.go
  internal/services/block/snapshot.go
  internal/services/block/volume.go
  internal/services/container/namespace.go
  internal/services/domain/record.go
  internal/services/domain/registration.go
  internal/services/domain/zone.go
  internal/services/edgeservices/pipeline.go
  internal/services/edgeservices/plan.go
  internal/services/function/namespace.go
  internal/services/inference/deployment.go
  internal/services/inference/model.go
  internal/services/jobs/jobs.go
  internal/services/mnq/nats_account.go
  internal/services/mnq/sns.go
  internal/services/mnq/sns_credentials.go
  internal/services/mnq/sqs.go
  internal/services/mnq/sqs_credentials.go
  internal/services/registry/namespace.go
  internal/services/sdb/database.go
  internal/services/webhosting/webhosting.go
Labels: apple-silicon, container, domain, function, mnq, registry, sdb, webhosting

fix(baremetal): compute mapping_id in private_network server (#3056)
  docs/data-sources/baremetal_server.md
  docs/resources/baremetal_server.md
  docs/resources/vpc_route.md
  internal/services/baremetal/server.go
  internal/services/baremetal/types.go
Labels: baremetal

docs(cockpit): deprecated message for cockpit plan (#3057)
  docs/resources/cockpit.md
Labels: none

docs(mnq): remove permission restriction note (#3058)
  docs/resources/mnq_sns_credentials.md
  docs/resources/mnq_sqs_credentials.md
Labels: none

feat(instance): read private IPs (#3074)
  docs/resources/instance_private_nic.md
  docs/resources/instance_server.md
  internal/services/instance/data_source_instance_private_nic.go
  internal/services/instance/private_nic.go
  internal/services/instance/private_nic_test.go
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/testdata/data-source-private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-tags.cassette.yaml
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
  internal/services/instance/testdata/server-private-network-missing-pnic.cassette.yaml
  internal/services/instance/testdata/server-private-network.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance.cassette.yaml
  internal/services/vpc/testdata/vpc-route-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
Labels: instance, vpc, vpcgw

ci: add go mod tidy verification step to release workflow (#3087)
  .github/workflows/release.yml
  go.mod
  go.sum
Labels: none

feat(vpcgw): read gateway network's private IPs (#3077)
  docs/resources/vpc_gateway_network.md
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/vpc/testdata/data-source-routes-basic.cassette.yaml
  internal/services/vpcgw/helpers.go
  internal/services/vpcgw/network.go
  internal/services/vpcgw/network_test.go
  internal/services/vpcgw/testdata/data-source-vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
Labels: k8s, rdb, vpc, vpcgw

feat(rdb): read instance's private IPs (#3075)
  docs/resources/rdb_instance.md
  internal/services/ipam/testdata/data-source-ipamiprdb.cassette.yaml
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/testdata/instance-endpoints.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-with-instance-also-in-private-network.cassette.yaml
Labels: rdb

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**
