Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**

feat(container): add support for local_storage_limit
  docs/resources/container.md
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-basic.cassette.yaml
Labels: container

feat(container): add support for local_storage_limit (#2969)
  docs/resources/container.md
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-basic.cassette.yaml
Labels: container

fix(container): add support for putting region in the state after import
  internal/services/container/cron.go
  internal/services/container/cron_test.go
Labels: container

check non-nil HeadStage
  internal/services/edgeservices/head_stage.go
Labels: none

feat(apple-silicon): commitment
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
Labels: apple-silicon

fix(container): add support for putting region in the state after import (#2970)
  internal/services/container/cron.go
  internal/services/container/cron_test.go
Labels: container

fix(apple-silicon): add username and password
  internal/services/applesilicon/server.go
Labels: apple-silicon

fix(apple-silicon): add username and password (#2971)
  internal/services/applesilicon/server.go
Labels: apple-silicon

fix(domain): ensure scaleway_domain_record updates on apply
  internal/services/domain/record.go
Labels: domain

update descriptions
  internal/services/edgeservices/cache_stage.go
Labels: none

feat(edge_services): add resources (#2637)
  .github/workflows/nightly.yml
  docs/resources/edge_services_backend_stage.md
  docs/resources/edge_services_cache_stage.md
  docs/resources/edge_services_dns_stage.md
  docs/resources/edge_services_head_stage.md
  docs/resources/edge_services_pipeline.md
  docs/resources/edge_services_plan.md
  docs/resources/edge_services_tls_stage.md
  internal/provider/provider.go
  internal/services/edgeservices/backend_stage.go
  internal/services/edgeservices/backend_stage_test.go
  internal/services/edgeservices/cache_stage.go
  internal/services/edgeservices/cache_stage_test.go
  internal/services/edgeservices/dns_stage.go
  internal/services/edgeservices/dns_stage_test.go
  internal/services/edgeservices/head_stage.go
  internal/services/edgeservices/helpers.go
  internal/services/edgeservices/pipeline.go
  internal/services/edgeservices/pipeline_test.go
  internal/services/edgeservices/plan.go
  internal/services/edgeservices/plan_test.go
  internal/services/edgeservices/sweep_test.go
  internal/services/edgeservices/testdata/edge-services-backend-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-cache-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-dns-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-pipeline-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-plan-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-tls-basic.cassette.yaml
  internal/services/edgeservices/testfuncs/checks.go
  internal/services/edgeservices/testfuncs/sweep.go
  internal/services/edgeservices/tls_stage.go
  internal/services/edgeservices/tls_stage_test.go
  internal/services/edgeservices/types.go
  internal/services/edgeservices/waiters.go
Labels: none

fix(domain): ensure scaleway_domain_record updates on apply
  internal/services/domain/record.go
  internal/services/domain/record_test.go
  internal/services/domain/testdata/data-source-domain-record-basic.cassette.yaml
  internal/services/domain/testdata/data-source-domain-zone-basic.cassette.yaml
  internal/services/domain/testdata/domain-record-arobase.cassette.yaml
  internal/services/domain/testdata/domain-record-basic.cassette.yaml
  internal/services/domain/testdata/domain-record-basic2.cassette.yaml
  internal/services/domain/testdata/domain-record-cname.cassette.yaml
  internal/services/domain/testdata/domain-record-geo-ip.cassette.yaml
  internal/services/domain/testdata/domain-record-http-service.cassette.yaml
  internal/services/domain/testdata/domain-record-srv-zone.cassette.yaml
  internal/services/domain/testdata/domain-record-view.cassette.yaml
  internal/services/domain/testdata/domain-record-weighted.cassette.yaml
  internal/services/domain/testdata/domain-zone-basic.cassette.yaml
Labels: domain

tests
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-commitment.cassette.yaml
Labels: apple-silicon

fix(domain): ensure scaleway_domain_record updates on apply (#2972)
  internal/services/domain/record.go
  internal/services/domain/record_test.go
  internal/services/domain/testdata/data-source-domain-record-basic.cassette.yaml
  internal/services/domain/testdata/data-source-domain-zone-basic.cassette.yaml
  internal/services/domain/testdata/domain-record-arobase.cassette.yaml
  internal/services/domain/testdata/domain-record-basic.cassette.yaml
  internal/services/domain/testdata/domain-record-basic2.cassette.yaml
  internal/services/domain/testdata/domain-record-cname.cassette.yaml
  internal/services/domain/testdata/domain-record-geo-ip.cassette.yaml
  internal/services/domain/testdata/domain-record-http-service.cassette.yaml
  internal/services/domain/testdata/domain-record-srv-zone.cassette.yaml
  internal/services/domain/testdata/domain-record-view.cassette.yaml
  internal/services/domain/testdata/domain-record-weighted.cassette.yaml
  internal/services/domain/testdata/domain-zone-basic.cassette.yaml
Labels: domain

remove test file
  internal/services/applesilicon/testdata/server-commitment.cassette.yaml
Labels: apple-silicon

fix skipped test
  docs/resources/domain_domains_registration.md
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
  internal/services/domain/testdata/domain-registration-single-domain-with-update.cassette.yaml
Labels: domain

fix(domain): remove ds records option
  docs/resources/domain_registration.md
  internal/provider/provider.go
  internal/services/domain/helpers.go
  internal/services/domain/registration.go
  internal/services/domain/registration_test.go
  internal/services/domain/testdata/domain-registration-multiple-domains-update.cassette.yaml
  internal/services/domain/testdata/domain-registration-single-domain-with-update.cassette.yaml
Labels: domain

fix(apple-silicon): add username and password (#2971)
  internal/services/applesilicon/server.go
Labels: apple-silicon

feat(container): add support for local_storage_limit (#2969)
  docs/resources/container.md
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-basic.cassette.yaml
Labels: container

purge(cockpit): remove plan from cockpit (#2968)
  internal/services/cockpit/cockpit.go
  internal/services/cockpit/cockpit_data_source.go
  internal/services/cockpit/cockpit_data_source_test.go
  internal/services/cockpit/cockpit_test.go
  internal/services/cockpit/testdata/cockpit-simple.cassette.yaml
  internal/services/cockpit/testdata/data-source-cockpit-basic.cassette.yaml
Labels: none

feat(mongodb): vpc support (#2967)
  docs/resources/mongodb_instance.md
  internal/services/mongodb/instance.go
  internal/services/mongodb/instance_test.go
  internal/services/mongodb/testdata/mongo-db-instance-update-private-network.cassette.yaml
  internal/services/mongodb/testdata/mongo-db-instance-with-private-network.cassette.yaml
  internal/services/mongodb/types.go
Labels: none

fix(container): add support for putting region in the state after import (#2970)
  internal/services/container/cron.go
  internal/services/container/cron_test.go
Labels: container

fix linter
  internal/services/applesilicon/server_test.go
Labels: apple-silicon

add doc
  docs/resources/apple_silicon_server.md
Labels: none

feat(edge_services): add resources (#2637)
  .github/workflows/nightly.yml
  docs/resources/edge_services_backend_stage.md
  docs/resources/edge_services_cache_stage.md
  docs/resources/edge_services_dns_stage.md
  docs/resources/edge_services_head_stage.md
  docs/resources/edge_services_pipeline.md
  docs/resources/edge_services_plan.md
  docs/resources/edge_services_tls_stage.md
  internal/provider/provider.go
  internal/services/domain/registration_test.go
  internal/services/edgeservices/backend_stage.go
  internal/services/edgeservices/backend_stage_test.go
  internal/services/edgeservices/cache_stage.go
  internal/services/edgeservices/cache_stage_test.go
  internal/services/edgeservices/dns_stage.go
  internal/services/edgeservices/dns_stage_test.go
  internal/services/edgeservices/head_stage.go
  internal/services/edgeservices/helpers.go
  internal/services/edgeservices/pipeline.go
  internal/services/edgeservices/pipeline_test.go
  internal/services/edgeservices/plan.go
  internal/services/edgeservices/plan_test.go
  internal/services/edgeservices/sweep_test.go
  internal/services/edgeservices/testdata/edge-services-backend-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-cache-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-dns-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-pipeline-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-plan-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-tls-basic.cassette.yaml
  internal/services/edgeservices/testfuncs/checks.go
  internal/services/edgeservices/testfuncs/sweep.go
  internal/services/edgeservices/tls_stage.go
  internal/services/edgeservices/tls_stage_test.go
  internal/services/edgeservices/types.go
  internal/services/edgeservices/waiters.go
Labels: domain

feat(domain): add support for buying and registar domains (#2799)
  docs/resources/domain_registration.md
  internal/provider/provider.go
  internal/services/domain/helpers.go
  internal/services/domain/helpers_test.go
  internal/services/domain/registration.go
  internal/services/domain/registration_test.go
  internal/services/domain/testdata/domain-registration-multiple-domains-no-update.cassette.yaml
  internal/services/domain/testdata/domain-registration-multiple-domains-update.cassette.yaml
  internal/services/domain/testdata/domain-registration-single-domain-with-update.cassette.yaml
  internal/services/domain/testdata/order-domain-basic.cassette.yaml
  internal/services/domain/waiters.go
Labels: domain

feat(secret_manager): add list of secret versions in secret datasource
  internal/services/secret/secret.go
Labels: secret

fix test data source secret path
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
Labels: secret

fix record cassettes
  internal/services/secret/testdata/data-source-secret-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
  internal/services/secret/testdata/secret-basic.cassette.yaml
  internal/services/secret/testdata/secret-ephemeral-policy.cassette.yaml
  internal/services/secret/testdata/secret-path.cassette.yaml
  internal/services/secret/testdata/secret-protected.cassette.yaml
Labels: secret

docs: set TF_LOG=DEBUG in deployment debugging
  docs/index.md
Labels: none

docs: set TF_LOG=DEBUG in deployment debugging (#2981)
  docs/index.md
Labels: none

fix tests versions
  internal/services/secret/secret.go
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
  internal/services/secret/testdata/secret-basic.cassette.yaml
  internal/services/secret/testdata/secret-ephemeral-policy.cassette.yaml
  internal/services/secret/testdata/secret-path.cassette.yaml
  internal/services/secret/testdata/secret-protected.cassette.yaml
  internal/services/secret/testdata/secret-version-basic.cassette.yaml
  internal/services/secret/testdata/secret-version-type.cassette.yaml
Labels: secret

feat(tem): add support for blockedlist
  internal/provider/provider.go
  internal/services/tem/blockedlist.go
  internal/services/tem/blockedlist_test.go
  internal/services/tem/testdata/blocked-list-basic.cassette.yaml
Labels: tem

feat(apple-silicon): support monthly commitment (#2977)
  docs/resources/apple_silicon_server.md
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
Labels: apple-silicon

fix 412 error
  internal/services/secret/testdata/data-source-secret-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
  internal/services/secret/testdata/secret-basic.cassette.yaml
  internal/services/secret/testdata/secret-protected.cassette.yaml
Labels: secret

feat(secret_manager): add list of secret versions in secret datasource (#2979)
  internal/services/secret/secret.go
  internal/services/secret/testdata/data-source-secret-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
  internal/services/secret/testdata/secret-basic.cassette.yaml
  internal/services/secret/testdata/secret-ephemeral-policy.cassette.yaml
  internal/services/secret/testdata/secret-path.cassette.yaml
  internal/services/secret/testdata/secret-protected.cassette.yaml
  internal/services/secret/testdata/secret-version-basic.cassette.yaml
  internal/services/secret/testdata/secret-version-type.cassette.yaml
Labels: secret

docs(lb): clarify health check URI description
  docs/data-sources/lb_backends.md
  docs/resources/lb_backend.md
Labels: none

docs(lb): clarify health check URI description (#2985)
  docs/data-sources/lb_backends.md
  docs/resources/lb_backend.md
Labels: none

feat(lb): add match_subdomains & connection_rate_limit
  internal/services/lb/frontend.go
  internal/services/lb/frontend_test.go
  internal/services/lb/route.go
  internal/services/lb/route_test.go
  internal/services/lb/routes_data_source.go
  internal/services/lb/testdata/frontend-basic.cassette.yaml
  internal/services/lb/testdata/route-with-sni.cassette.yaml
Labels: load-balancer

add doc
  docs/data-sources/lb_routes.md
  docs/resources/lb_frontend.md
  docs/resources/lb_route.md
Labels: none
