Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

Fix
  GNUmakefile
  go.mod
  go.sum
  internal/tools/tools.go
Labels: none

Update docs/guides/migrate-instance-volume-to-sbs.md
  docs/guides/migrate-instance-volume-to-sbs.md
Labels: none

Fix
  internal/services/cockpit/plan_data_source.go
  internal/services/container/container.go
  internal/services/container/helpers_container.go
  internal/services/instance/servers_data_source.go
  internal/services/instance/types.go
Labels: container, instance

feat(marketplace_image): add image_type filter
  docs/data-sources/marketplace_image.md
  internal/services/marketplace/image_data_source.go
  internal/services/marketplace/image_data_source_test.go
  internal/services/marketplace/testdata/data-source-marketplace-image-basic.cassette.yaml
  internal/services/marketplace/testdata/data-source-marketplace-image-sbs.cassette.yaml
Labels: none

docs: remove mention of b_ssd and instance_volume when not recommended (#2942)
  docs/index.md
  docs/resources/instance_server.md
Labels: none

bump sdk go
  docs/data-sources/webhosting_offer.md
  docs/resources/webhosting.md
  go.mod
  go.sum
  internal/services/webhosting/testdata/data-source-offer-basic.cassette.yaml
  internal/services/webhosting/testdata/data-source-webhosting-basic.cassette.yaml
  internal/services/webhosting/testdata/webhosting-basic.cassette.yaml
  internal/services/webhosting/webhosting_test.go
Labels: webhosting

fix doc
  docs/data-sources/webhosting_offer.md
Labels: none

chore: migrate to go1.24 (#2941)
  .github/workflows/acceptance-tests.yaml
  .github/workflows/documentation.yml
  .github/workflows/nightly.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
  .github/workflows/tfproviderlint.yml
  .github/workflows/unit-tests.yaml
  GNUmakefile
  go.mod
  go.sum
  internal/acctest/acctest.go
  internal/provider/provider_test.go
  internal/services/iam/policy_test.go
  internal/services/lb/lb_test.go
  internal/services/mnq/sns_topic_subscription_test.go
  internal/services/mnq/sns_topic_test.go
  internal/services/mnq/sqs_queue_test.go
  internal/services/object/bucket_test.go
  internal/services/object/data_source_object_bucket_test.go
  internal/services/rdb/helpers_test.go
  internal/services/scwconfig/scw_config_data_source_test.go
  internal/services/secret/secret_data_source_test.go
  internal/tools/tools.go
Labels: iam, load-balancer, mnq, object, rdb, secret

fix lint
  internal/services/webhosting/offer_data_source.go
  internal/services/webhosting/types.go
  internal/services/webhosting/webhosting.go
Labels: webhosting

fix doc
  docs/data-sources/webhosting_offer.md
Labels: none

fix lint
  docs/data-sources/webhosting_offer.md
  internal/services/webhosting/offer_data_source.go
  internal/services/webhosting/webhosting.go
Labels: webhosting

docs: add instance to sbs migration guide (#2932)
  docs/guides/migrate-instance-volume-to-sbs.md
Labels: none

docs(baremetal): use UUID for offer instead of label name (#2937)
  docs/resources/baremetal_server.md
Labels: none

chore: migrate webhosting to v1 (#2939)
  docs/data-sources/webhosting_offer.md
  docs/resources/webhosting.md
  go.mod
  go.sum
  internal/services/webhosting/helpers.go
  internal/services/webhosting/offer_data_source.go
  internal/services/webhosting/offer_data_source_test.go
  internal/services/webhosting/testdata/data-source-offer-basic.cassette.yaml
  internal/services/webhosting/testdata/data-source-webhosting-basic.cassette.yaml
  internal/services/webhosting/testdata/webhosting-basic.cassette.yaml
  internal/services/webhosting/testfuncs/sweep.go
  internal/services/webhosting/types.go
  internal/services/webhosting/webhosting.go
  internal/services/webhosting/webhosting_data_source.go
  internal/services/webhosting/webhosting_data_source_test.go
  internal/services/webhosting/webhosting_test.go
Labels: webhosting

add local image type validation
  internal/services/marketplace/image_data_source.go
Labels: none

feat(marketplace_image): add image_type filter (#2943)
  docs/data-sources/marketplace_image.md
  internal/services/marketplace/image_data_source.go
  internal/services/marketplace/image_data_source_test.go
  internal/services/marketplace/testdata/data-source-marketplace-image-basic.cassette.yaml
  internal/services/marketplace/testdata/data-source-marketplace-image-sbs.cassette.yaml
Labels: none

docs(iam_policy): move condition to rule block
  docs/resources/iam_policy.md
Labels: none

docs(iam_policy): move condition to rule block (#2945)
  docs/resources/iam_policy.md
Labels: none

test: add cassettes
  internal/services/domain/testdata/domain-registration-multiple-domains-no-update.cassette.yaml
  internal/services/domain/testdata/domain-registration-single-domain-with-update.cassette.yaml
Labels: domain

test: add multiple test
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/testdata/domain-registration-multiple-domains-no-update.cassette.yaml
  internal/services/domain/testdata/domain-registration-multiple-domains-update.cassette.yaml
  internal/services/domain/waiters.go
Labels: domain

add doc
  docs/resources/domain_domains_registration.md
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
Labels: domain

chore: add test
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
Labels: domain

add print for debug
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
Labels: domain

remove comments
  internal/services/domain/domains_registration.go
Labels: domain

feat(domain): add support for buying and registar domains
  internal/services/domain/domain.go
  internal/services/domain/helpers.go
Labels: domain

change datastructure
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
Labels: domain

add data_source for domains_registration
  internal/services/domain/domain_data_source.go
Labels: domain

feat(domain): add chore of new resource order domain
  internal/services/domain/helpers.go
  internal/services/domain/order_domain.go
  internal/services/domain/order_domain_test.go
Labels: domain

add data source for domain
  internal/services/domain/domain_data_source.go
  internal/services/domain/domains_registration.go
Labels: domain

feat(domain): add test for create and read
  internal/provider/provider.go
  internal/services/domain/domain.go
  internal/services/domain/helpers.go
  internal/services/domain/order_domain.go
  internal/services/domain/order_domain_test.go
  internal/services/domain/testdata/order-domain-basic.cassette.yaml
Labels: domain

feat(domain): add chore of new resource order domain
  go.mod
  internal/services/domain/helpers.go
  internal/services/domain/order_domain.go
  internal/services/domain/order_domain_test.go
Labels: domain

feat: resource can order a list of domains
  internal/provider/provider.go
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
  internal/services/domain/order_domain_test.go
  internal/services/domain/waiters.go
Labels: domain

feat(domain): add helpers for expand contact
  internal/services/domain/domain.go
  internal/services/domain/helpers.go
  internal/services/domain/helpers_test.go
Labels: domain

bump sdk go
  go.mod
Labels: none

bump sdk go
  internal/services/domain/domains_registration.go
  internal/services/domain/helpers.go
Labels: domain

fix lint
  internal/services/domain/domain_data_source.go
  internal/services/domain/domains_registration.go
  internal/services/domain/helpers.go
Labels: domain

fix lint
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
  internal/services/domain/testdata/domain-registration-single-domain-with-update.cassette.yaml
Labels: domain

fix tf lint
  internal/services/domain/domains_registration.go
Labels: domain

fix lint
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
  internal/services/domain/waiters.go
Labels: domain

fix error
  internal/services/domain/helpers.go
Labels: domain

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**
