Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**

fix golangci-lint
  internal/services/baremetal/easy_partitioning_source_test.go
Labels: baremetal

fix linter
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-swap-and-extra-part.cassette.yaml
Labels: baremetal

feat(baremetal): support easy partitioning (#3010)
  docs/data-sources/baremetal_easy_partitioning.md
  internal/provider/provider.go
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/easy_partitioning_source_test.go
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/data-source-easy-paritioning-basic.cassette.yaml
  internal/services/baremetal/testdata/data-source-easy-paritioning-not-compatible-os.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-incompatible-offer.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-incompatible-os.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-with-alternate-offer.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-extra-part.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-swap-and-extra-part.cassette.yaml
  internal/services/baremetal/testdata/server-basic-simple.cassette.yaml
Labels: baremetal

fix(containers): handle secret_environment_variable lifecycle
  go.mod
  go.sum
  internal/dsf/strings.go
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-env.cassette.yaml
Labels: container

fix(containers): handle secret_environment_variable lifecycle (#3039)
  go.mod
  go.sum
  internal/dsf/strings.go
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-env.cassette.yaml
Labels: container

feat(k8s): add ACL feature
  docs/resources/k8s_acl.md
  internal/provider/provider.go
  internal/services/k8s/acl.go
  internal/services/k8s/acl_test.go
  internal/services/k8s/testdata/acl-basic.cassette.yaml
Labels: k8s

Apply suggestions from code review
  docs/resources/k8s_acl.md
  internal/services/k8s/acl.go
Labels: k8s

fix(baremetal): add function tests IPAM
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/server-with-ipam-private-network.cassette.yaml
Labels: baremetal

fix: golangci-run
  internal/services/baremetal/server_test.go
Labels: baremetal

fix(baremetal): add function tests IPAM (#3043)
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/server-with-ipam-private-network.cassette.yaml
Labels: baremetal

docs(rdb_snapshot): remove unsupported snapshot_id argument
  docs/resources/rdb_instance.md
  docs/resources/rdb_snapshot.md
Labels: none

docs(rdb_snapshot): remove unsupported snapshot_id argument (#3045)
  docs/resources/rdb_instance.md
  docs/resources/rdb_snapshot.md
Labels: none

feat(k8s): add cluster ACLs (#3033)
  docs/resources/k8s_acl.md
  internal/provider/provider.go
  internal/services/k8s/acl.go
  internal/services/k8s/acl_test.go
  internal/services/k8s/testdata/acl-basic.cassette.yaml
Labels: k8s

fix(rdb): drop bssd references from documentation and tests
  docs/resources/rdb_instance.md
  docs/resources/rdb_snapshot.md
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/snapshots_test.go
  internal/services/rdb/testdata/instance-change-node-type.cassette.yaml
  internal/services/rdb/testdata/instance-change-volume-type.cassette.yaml
  internal/services/rdb/testdata/instance-complete-workflow.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-dhcp.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/rdb/testdata/instance-volume.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-basic.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-end-to-end.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-update.cassette.yaml
Labels: rdb

fix(rdb): drop bssd references from documentation and tests (#3047)
  docs/resources/rdb_instance.md
  docs/resources/rdb_snapshot.md
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/snapshots_test.go
  internal/services/rdb/testdata/instance-change-node-type.cassette.yaml
  internal/services/rdb/testdata/instance-change-volume-type.cassette.yaml
  internal/services/rdb/testdata/instance-complete-workflow.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-dhcp.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/rdb/testdata/instance-volume.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-basic.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-end-to-end.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-update.cassette.yaml
Labels: rdb

fix(containerNamespace): support secret_environment_variable state
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/helpers_container_internal_test.go
  internal/services/container/namespace.go
  internal/services/container/namespace_test.go
  internal/services/container/testdata/data-source-namespace-basic.cassette.yaml
  internal/services/container/testdata/namespace-basic.cassette.yaml
  internal/services/container/testdata/namespace-destroy-registry.cassette.yaml
  internal/services/container/testdata/namespace-secret-management.cassette.yaml
Labels: container

fix(function): support secret_environment_variable state
  internal/services/function/function.go
  internal/services/function/function_test.go
  internal/services/function/helpers_function.go
  internal/services/function/helpers_function_test.go
  internal/services/function/testdata/function-environment-variables.cassette.yaml
  internal/services/function/testdata/function-namespace-environment-variables.cassette.yaml
Labels: function

fix(functionNamespace): support secret_environment_variable state
  internal/services/function/helpers_function_internal_test.go
  internal/services/function/namespace.go
  internal/services/function/namespace_test.go
  internal/services/function/testdata/data-source-function-namespace-basic.cassette.yaml
  internal/services/function/testdata/function-namespace-basic.cassette.yaml
  internal/services/function/testdata/function-namespace-environment-variables.cassette.yaml
  internal/services/function/testdata/function-namespace-no-name.cassette.yaml
Labels: function

fix(container/function): improve `secret_environment_variables` states management (#3050)
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/helpers_container_internal_test.go
  internal/services/container/namespace.go
  internal/services/container/namespace_test.go
  internal/services/container/testdata/data-source-namespace-basic.cassette.yaml
  internal/services/container/testdata/namespace-basic.cassette.yaml
  internal/services/container/testdata/namespace-destroy-registry.cassette.yaml
  internal/services/container/testdata/namespace-secret-management.cassette.yaml
  internal/services/function/function.go
  internal/services/function/function_test.go
  internal/services/function/helpers_function.go
  internal/services/function/helpers_function_internal_test.go
  internal/services/function/namespace.go
  internal/services/function/namespace_test.go
  internal/services/function/testdata/data-source-function-namespace-basic.cassette.yaml
  internal/services/function/testdata/function-environment-variables.cassette.yaml
  internal/services/function/testdata/function-namespace-basic.cassette.yaml
  internal/services/function/testdata/function-namespace-environment-variables.cassette.yaml
  internal/services/function/testdata/function-namespace-no-name.cassette.yaml
Labels: container, function

chore(instance): remove redundant error check
  internal/services/instance/server.go
Labels: instance

chore(instance): remove redundant error check (#3051)
  internal/services/instance/server.go
Labels: instance

feat(instance): add warning for deprecated instance types
  go.mod
  go.sum
  internal/services/instance/server.go
Labels: instance

exclude vpcgw files from staticcheck linter to allow sdk bump
  .golangci.yml
Labels: none

fix golangci-lint: add nolintlint on mnq
  internal/services/mnq/helpers_mnq_queue.go
Labels: mnq

feat(instance): add warning for deprecated instance types (#3049)
  .golangci.yml
  go.mod
  go.sum
  internal/services/instance/server.go
  internal/services/mnq/helpers_mnq_queue.go
Labels: instance, mnq

fix(edgeservices): sweepers instantiate a new edge API
  internal/services/edgeservices/testfuncs/sweep.go
Labels: none

tests(edge-services): avoid panic in sweeper by using direct NewAPI constructor
  internal/services/edgeservices/testfuncs/sweep.go
Labels: none

fix(edgeservices): sweepers instantiate a new edge API (#3052)
  internal/services/edgeservices/testfuncs/sweep.go
Labels: none

use of dsf.locality
  go.sum
  internal/services/inference/custom_model.go
  internal/services/inference/deployment.go
  internal/services/inference/testdata/custom-model-basic.cassette.yaml
  internal/services/inference/testdata/custom-model-deploy-model-on-server.cassette.yaml
  internal/services/inference/testdata/deployment-basic.cassette.yaml
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
Labels: none

feat(inference): migration deployment to v1
  internal/services/inference/custom_model_data_source.go
  internal/services/inference/deployment.go
  internal/services/inference/deployment_test.go
  internal/services/inference/helpers_inference.go
  internal/services/inference/testdata/deployment-basic.cassette.yaml
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/waiter.go
Labels: none

feat(inference): BYOM support
  go.mod
  go.sum
  internal/provider/provider.go
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_data_source.go
  internal/services/inference/custom_model_test.go
  internal/services/inference/helpers_inference.go
  internal/services/inference/testdata/custom-model-basic.cassette.yaml
  internal/services/inference/testdata/custom-model-not-compatible.cassette.yaml
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/types.go
  internal/services/inference/waiter.go
Labels: none

ResourceCustomModelDelete return right err and testAccCheckCustomModelExists return err
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
Labels: none

Update docs/resources/inference_custom_model.md
  docs/resources/inference_custom_model.md
Labels: none

remove error_message
  docs/resources/inference_custom_model.md
  internal/services/inference/custom_model.go
Labels: none

chore: bump sdk-go
  go.mod
  go.sum
Labels: none

remove comment
  docs/resources/inference_custom_model.md
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
  internal/services/inference/deployment.go
  internal/services/inference/testdata/custom-model-deploy-model-on-server-update.cassette.yaml
  internal/services/inference/testdata/custom-model-not-compatible.cassette.yaml
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/waiter.go
Labels: none

add sweeper
  internal/services/inference/testdata/custom-model-basic.cassette.yaml
  internal/services/inference/testfuncs/sweep.go
Labels: none

fix(doc): add import part and fix typo
  docs/resources/inference_custom_model.md
Labels: none

last cassette
  internal/services/inference/testdata/custom-model-deploy-model-on-server.cassette.yaml
Labels: none

fix documentation
  docs/resources/inference_custom_model.md
  internal/services/inference/deployment.go
  internal/services/inference/helpers_inference.go
  internal/services/inference/testfuncs/sweep.go
  internal/services/inference/types.go
Labels: none
