Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

fix project id
  internal/services/tem/testdata/data-source-offer-subscription-basic.cassette.yaml
Labels: tem

fix test
  internal/services/tem/testdata/data-source-domain-basic.cassette.yaml
Labels: tem

fix test
  internal/services/tem/testdata/data-source-offer-subscription-basic.cassette.yaml
Labels: tem

add default project_id
  internal/services/tem/helpers.go
  internal/services/tem/offer_subscription_data_source.go
  internal/services/tem/offer_subscription_data_source_test.go
  internal/services/tem/testdata/data-source-offer-subscription-basic.cassette.yaml
Labels: tem

chore: migrate to golangci-lint v2
  .github/workflows/golangci-lint.yml
  .golangci.yml
  internal/datasource/search.go
  internal/services/container/testfuncs/checks.go
  internal/services/domain/registration.go
  internal/services/function/helpers.go
  internal/services/instance/instancehelpers/block.go
  internal/services/instance/testfuncs/sweep.go
  internal/services/iot/helpers_iot.go
  internal/services/k8s/cluster.go
  internal/services/registry/testfuncs/checks.go
  internal/services/vpc/types.go
  internal/transport/retry.go
Labels: container, domain, function, instance, iot, k8s, registry, vpc

feat(tem): add data_source for offer subscription (#2984)
  docs/data-sources/tem_offer_subscription.md
  internal/provider/provider.go
  internal/services/tem/helpers.go
  internal/services/tem/offer_subscription_data_source.go
  internal/services/tem/offer_subscription_data_source_test.go
  internal/services/tem/testdata/data-source-domain-basic.cassette.yaml
  internal/services/tem/testdata/data-source-offer-subscription-basic.cassette.yaml
Labels: tem

feat(edge_services): add waf and route stages (#2999)
  docs/resources/edge_services_route_stage.md
  docs/resources/edge_services_waf_stage.md
  internal/provider/provider.go
  internal/services/edgeservices/route_stage.go
  internal/services/edgeservices/route_stage_test.go
  internal/services/edgeservices/testdata/edge-services-route-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-waf-basic.cassette.yaml
  internal/services/edgeservices/testfuncs/checks.go
  internal/services/edgeservices/testfuncs/sweep.go
  internal/services/edgeservices/types.go
  internal/services/edgeservices/waf_stage.go
  internal/services/edgeservices/waf_stage_test.go
  internal/types/number.go
Labels: none

Fix wait_for_pool_ready default value in documentation
  docs/resources/k8s_pool.md
Labels: none

chore: migrate to golangci-lint v2 (#3001)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  internal/datasource/search.go
  internal/services/container/testfuncs/checks.go
  internal/services/domain/registration.go
  internal/services/function/helpers.go
  internal/services/instance/instancehelpers/block.go
  internal/services/instance/testfuncs/sweep.go
  internal/services/iot/helpers_iot.go
  internal/services/k8s/cluster.go
  internal/services/registry/testfuncs/checks.go
  internal/services/vpc/types.go
  internal/transport/retry.go
Labels: container, domain, function, instance, iot, k8s, registry, vpc

fix(baremetal): add warning offer
  internal/services/baremetal/server.go
  internal/verify/uuid.go
Labels: baremetal

fix linter
  internal/verify/uuid.go
Labels: none

fix(baremetal): add warning offer (#3002)
  internal/services/baremetal/server.go
  internal/verify/uuid.go
Labels: baremetal

Fix wait_for_pool_ready default value in documentation (#3003)
  docs/resources/k8s_pool.md
Labels: none

server remove DiffSuppressFunc offer
  internal/services/baremetal/server.go
Labels: baremetal

add test and logic helper monthly migration
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server_test.go
Labels: baremetal

fix test offer essential
  internal/services/tem/offer_subscription_data_source_test.go
  internal/services/tem/testdata/data-source-offer-subscription-basic.cassette.yaml
Labels: tem

fix(cockpit): deprecated data source plan
  internal/services/cockpit/plan_data_source.go
  internal/services/cockpit/plan_data_source_test.go
  internal/services/cockpit/testdata/data-source-cockpit-basic.cassette.yaml
  internal/services/cockpit/testdata/data-source-cockpit-plan-basic.cassette.yaml
Labels: none

fix test offer essential (#3005)
  internal/services/tem/offer_subscription_data_source_test.go
  internal/services/tem/testdata/data-source-offer-subscription-basic.cassette.yaml
Labels: tem

fix(cockpit): deprecated data source plan (#3007)
  internal/services/cockpit/plan_data_source.go
  internal/services/cockpit/plan_data_source_test.go
  internal/services/cockpit/testdata/data-source-cockpit-basic.cassette.yaml
  internal/services/cockpit/testdata/data-source-cockpit-plan-basic.cassette.yaml
Labels: none

feat(baremetal): migration to monthly
  internal/services/baremetal/offer_data_source_test.go
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/server-update-subscription-period.cassette.yaml
Labels: baremetal

fix(baremetal): clean tests
  internal/services/baremetal/offer_data_source_test.go
  internal/services/baremetal/server_data_source_test.go
  internal/services/baremetal/server_test.go
Labels: baremetal

fix(baremetal): clean tests (#3009)
  internal/services/baremetal/offer_data_source_test.go
  internal/services/baremetal/server_data_source_test.go
  internal/services/baremetal/server_test.go
Labels: baremetal

fix(mongodb): fix test snapshot
  internal/services/mongodb/instance_test.go
  internal/services/mongodb/testdata/mongo-db-instance-from-snapshot.cassette.yaml
Labels: none

feat(baremetal): migration to monthly
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/server-update-subscription-period.cassette.yaml
Labels: baremetal

fix(mongodb): fix test snapshot (#3006)
  internal/services/mongodb/instance_test.go
  internal/services/mongodb/testdata/mongo-db-instance-from-snapshot.cassette.yaml
Labels: none

fix stash
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
Labels: baremetal

fix linter
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server_test.go
Labels: baremetal

fix(functions): update function when runtime has changed and redeploy
  internal/services/function/function.go
Labels: function

shouldDeploy => deploy when zip has changed
  internal/services/function/function.go
Labels: function

fix(functions): update function when runtime has changed and redeploy (#3011)
  internal/services/function/function.go
Labels: function

Update scaleway_iam_api_key read function to add secret_key
  internal/services/iam/api_key.go
Labels: iam

Do not remove from schema secret_key
  internal/services/iam/api_key_data_source.go
Labels: iam

fix(wbh): fix link to api documentation
  docs/resources/webhosting.md
Labels: none

fix(wbh): fix link to api documentation (#3023)
  docs/resources/webhosting.md
Labels: none

feat(baremetal): migration to monthly
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/server-update-subscription-period.cassette.yaml
Labels: baremetal

fix linter
  internal/services/baremetal/helpers.go
Labels: baremetal

fix linter
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server_test.go
Labels: baremetal

roll back diffSuppressFunc
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server.go
Labels: baremetal

fix linter
  internal/services/baremetal/helpers.go
Labels: baremetal

update cassette
  internal/services/baremetal/testdata/server-create-server-with-custom-install-config.cassette.yaml
Labels: baremetal

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**
