Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**

fix(container): explicitly require project_id at the resource level
  internal/acctest/acctest.go
  internal/acctest/vcr.go
  internal/services/account/project_data_source_test.go
  internal/services/billing/consumption_data_source_test.go
  internal/services/container/container_data_source.go
  internal/services/container/container_data_source_test.go
  internal/services/container/container_test.go
  internal/services/container/namespace.go
  internal/services/container/namespace_data_source.go
  internal/services/container/namespace_data_source_test.go
  internal/services/container/testdata/container-with-img.cassette.yaml
  internal/services/container/trigger_test.go
Labels: account, billing, container

fix linting issues
  internal/services/iam/user.go
Labels: iam

feat(iam): creation of user as Member (#3029)
  docs/resources/iam_user.md
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user.go
  internal/services/iam/user_test.go
Labels: iam

fix index issue removeSwap and manage RAID
  internal/services/baremetal/easy_partitioning_data_source.go
Labels: baremetal

update cassettes
  internal/services/baremetal/testdata/easy-partitioning-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-with-alternate-offer.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-extra-part.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-swap-and-extra-part.cassette.yaml
Labels: baremetal

fix(baremetal): refacto logic and debug raid
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/easy_partitioning_source_test.go
  internal/services/baremetal/testdata/easy-partitioning-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-extra-part.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-swap-and-extra-part.cassette.yaml
Labels: baremetal

fix golangci-lint
  internal/services/baremetal/easy_partitioning_data_source.go
Labels: baremetal

refactor for loop updateRootSize and use const
  internal/services/baremetal/easy_partitioning_data_source.go
Labels: baremetal

feat(block): import snapshot from s3
  internal/services/block/snapshot.go
  internal/services/block/snapshot_test.go
  internal/services/block/testdata/snapshot-from-s3.cassette.yaml
  internal/services/block/testfixtures/small_image.qcow2
Labels: none

feat(block): import snapshot from s3 (#3097)
  internal/services/block/snapshot.go
  internal/services/block/snapshot_test.go
  internal/services/block/testdata/snapshot-from-s3.cassette.yaml
  internal/services/block/testfixtures/small_image.qcow2
Labels: none

fix(mongodb): enable simultaneous public & private endpoints and update doc
  docs/resources/mongodb_instance.md
  internal/services/mongodb/instance.go
  internal/services/mongodb/instance_test.go
  internal/services/mongodb/testdata/mongo-db-instance-with-public-network.cassette.yaml
Labels: none

add doc
  docs/resources/mongodb_instance.md
Labels: none

private_ips as optional attribute, only set it when no error occurred (#3094)
  internal/services/baremetal/server.go
  internal/services/baremetal/testdata/server-create-server-with-private-network.cassette.yaml
  internal/services/instance/helpers_instance.go
  internal/services/instance/private_nic.go
  internal/services/instance/server.go
  internal/services/instance/testdata/data-source-private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-tags.cassette.yaml
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
  internal/services/instance/testdata/server-private-network-missing-pnic.cassette.yaml
  internal/services/instance/testdata/server-private-network.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance.cassette.yaml
  internal/services/k8s/pool.go
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/rdb/instance.go
  internal/services/rdb/testdata/instance-endpoints.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/redis/cluster.go
  internal/services/redis/testdata/cluster-migrate-cluster-size-with-ipam-endpoint.cassette.yaml
  internal/services/vpc/testdata/data-source-routes-basic.cassette.yaml
  internal/services/vpc/testdata/vpc-route-basic.cassette.yaml
  internal/services/vpcgw/helpers.go
  internal/services/vpcgw/network.go
  internal/services/vpcgw/testdata/data-source-vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
Labels: baremetal, instance, k8s, rdb, redis, vpc, vpcgw

check private network
  internal/services/mongodb/instance_test.go
Labels: none

fix(mongodb): enable public & private endpoints definition (#3100)
  docs/resources/mongodb_instance.md
  internal/services/mongodb/instance.go
  internal/services/mongodb/instance_test.go
  internal/services/mongodb/testdata/mongo-db-instance-with-public-network.cassette.yaml
Labels: none

fix(domain): make project_id optional in DataSourceZone
  internal/services/domain/testdata/data-source-domain-zone-basic.cassette.yaml
  internal/services/domain/zone_data_source.go
  internal/services/domain/zone_data_source_test.go
Labels: domain

Fix iot
  internal/services/iot/hub_test.go
  internal/services/iot/testdata/data-source-hub-basic.cassette.yaml
Labels: iot

Fix
  internal/services/inference/testfuncs/checks.go
Labels: none

Fix registry
  internal/services/registry/testdata/data-source-image-tag-basic.cassette.yaml
  internal/services/registry/testdata/data-source-namespace-basic.cassette.yaml
Labels: registry

Fix
  internal/services/cockpit/testdata/cockpit-source-data-source-by-id.cassette.yaml
  internal/services/iot/testdata/data-source-hub-basic.cassette.yaml
  internal/services/registry/testdata/data-source-image-tag-basic.cassette.yaml
  internal/services/registry/testdata/data-source-namespace-basic.cassette.yaml
Labels: iot, registry

Fix
  internal/services/webhosting/testdata/data-source-webhosting-basic.cassette.yaml
  internal/services/webhosting/webhosting_test.go
Labels: webhosting

Fix flexibleip
  internal/services/flexibleip/testdata/data-source-flexible-ip-basic.cassette.yaml
  internal/services/flexibleip/testdata/data-source-flexible-ip-multiple.cassette.yaml
Labels: flexible-ip

Fix vpc
  internal/services/vpc/testdata/data-source-vpc-basic.cassette.yaml
  internal/services/vpc/testdata/data-source-vpc-private-network-basic.cassette.yaml
  internal/services/vpc/testdata/data-source-vpc-private-network-vpc-id.cassette.yaml
Labels: vpc

Fix vpcgw
  internal/services/vpcgw/testdata/data-source-vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-ip-basic.cassette.yaml
  internal/services/vpcgw/testfuncs/checks.go
Labels: vpcgw

rename datasource and update cassette
  internal/provider/provider.go
  internal/services/baremetal/partition_schema_data_source.go
  internal/services/baremetal/partition_schema_source_test.go
  internal/services/baremetal/testdata/partition-schema-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-incompatible-offer.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-incompatible-os.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-with-alternate-offer.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-without-extra-part.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-without-swap-and-extra-part.cassette.yaml
Labels: baremetal

Fix iam
  internal/services/iam/testdata/api-key-expires.cassette.yaml
  internal/services/iam/testdata/data-source-application-basic.cassette.yaml
  internal/services/iam/testdata/data-source-group-basic.cassette.yaml
  internal/services/iam/testdata/data-source-group-users-and-applications.cassette.yaml
  internal/services/iam/testdata/data-source-ssh-key-basic.cassette.yaml
  internal/services/iam/testdata/group-membership-basic.cassette.yaml
Labels: iam

Fix ipam
  internal/services/ipam/testdata/data-source-ipamipid.cassette.yaml
Labels: none

Fix secret
  internal/services/secret/testdata/data-source-secret-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
  internal/services/secret/testdata/secret-path.cassette.yaml
Labels: secret

Fix redis
  internal/services/redis/cluster_test.go
  internal/services/redis/testdata/data-source-cluster-basic.cassette.yaml
Labels: redis

fix golangci-lin
  internal/services/baremetal/partition_schema_data_source.go
Labels: baremetal

fix registry
  internal/services/registry/namespace_data_source_test.go
  internal/services/registry/testdata/data-source-namespace-basic.cassette.yaml
Labels: registry

fix k8s
  internal/services/k8s/k8s_version_data_source_test.go
  internal/services/k8s/testdata/data-source-version-basic.cassette.yaml
Labels: k8s

nit block: align testfixture with other resources
  internal/services/block/snapshot_test.go
  internal/services/block/testfixture/small_image.qcow2
Labels: none

instance: skip tests with bssd volumes/snapshots + remove cassettes
  internal/services/instance/image_test.go
  internal/services/instance/server_test.go
  internal/services/instance/snapshot_data_source_test.go
  internal/services/instance/snapshot_test.go
  internal/services/instance/testdata/data-source-snapshot-basic.cassette.yaml
  internal/services/instance/testdata/image-block-volume.cassette.yaml
  internal/services/instance/testdata/image-server-with-block-volume.cassette.yaml
  internal/services/instance/testdata/server-additional-volumes-detach.cassette.yaml
  internal/services/instance/testdata/server-additional-volumes.cassette.yaml
  internal/services/instance/testdata/server-root-volume-id.cassette.yaml
  internal/services/instance/testdata/server-server-with-block-non-default-zone.cassette.yaml
  internal/services/instance/testdata/server-with-default-root-volume-and-additional-volume.cassette.yaml
  internal/services/instance/testdata/snapshot-block-volume.cassette.yaml
  internal/services/instance/testdata/snapshot-from-object.cassette.yaml
  internal/services/instance/testdata/snapshot-rename-snapshot.cassette.yaml
  internal/services/instance/testdata/snapshot-server-with-block-volume.cassette.yaml
  internal/services/instance/testdata/volume-cannot-resize-block-down.cassette.yaml
  internal/services/instance/testdata/volume-resize-block.cassette.yaml
  internal/services/instance/volume_test.go
Labels: instance

instance missgin cassette
  internal/services/instance/testdata/server-block-external.cassette.yaml
Labels: instance

registry 2
  internal/services/registry/namespace_data_source_test.go
  internal/services/registry/testdata/data-source-namespace-basic.cassette.yaml
Labels: registry

instance missing cassette
  internal/services/instance/testdata/image-server.cassette.yaml
Labels: instance

fix rdb
  internal/services/rdb/database_backup_test.go
  internal/services/rdb/testdata/data-source-acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-database-backup-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-instance-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-privilege-basic.cassette.yaml
  internal/services/rdb/testdata/privilege-basic.cassette.yaml
  internal/services/rdb/testdata/user-basic.cassette.yaml
  internal/services/rdb/testfuncs/checks.go
Labels: rdb

correct provider
  internal/provider/provider.go
  internal/services/baremetal/partition_schema_source_test.go
  internal/services/baremetal/testdata/partition-schema-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-incompatible-offer.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-incompatible-os.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-with-alternate-offer.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-without-extra-part.cassette.yaml
  internal/services/baremetal/testdata/partition-schema-data-source-without-swap-and-extra-part.cassette.yaml
Labels: baremetal

Fix mongodb
  internal/services/mongodb/testdata/data-source-mongo-db-instance-by-id.cassette.yaml
  internal/services/mongodb/testdata/data-source-mongo-db-instance-by-name.cassette.yaml
Labels: none
