Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**

feat(jobs): support secret manager references in serverless jobs definitions
  cmd/tftemplate/main.go
  internal/services/jobs/definition.go
  internal/services/jobs/definition_test.go
  internal/services/jobs/helpers.go
  internal/services/jobs/testdata/create-job-definition-secret-reference.cassette.yaml
  internal/services/jobs/testdata/create-job-definition-wrong-secret-reference.cassette.yaml
  internal/services/jobs/testdata/job-definition-cron.cassette.yaml
  internal/services/jobs/testdata/job-definition-secret-reference.cassette.yaml
  internal/services/jobs/testdata/job-definition-wrong-secret-reference.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-with-empty-secret.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-with-secret-reference.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-with-secrets.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-without-secrets.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-wrong-secret-reference.cassette.yaml
Labels: none

implement logic
  internal/services/baremetal/easy_partitioning_data_source.go
Labels: baremetal

docs(cockpit): add deprecated in docs
  docs/resources/cockpit.md
Labels: none

ACL test passed
  internal/services/k8s/acl.go
  internal/services/k8s/acl_test.go
  internal/services/k8s/testdata/acl-basic.cassette.yaml
Labels: k8s

linter
  internal/services/k8s/acl.go
  internal/services/k8s/acl_test.go
Labels: k8s

fix(jobs): support secret regional and uuid, fix diff detection and update
  internal/services/jobs/helpers.go
  internal/services/jobs/jobs.go
  internal/services/jobs/jobs_test.go
  internal/services/jobs/testdata/job-definition-secret-reference.cassette.yaml
  internal/services/jobs/testdata/job-definition-wrong-secret-reference.cassette.yaml
Labels: none

chore(jobs): update documentation with secret_reference
  docs/resources/job_definition.md
Labels: none

issue with partition
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/easy_partitioning_source_test.go
  internal/services/baremetal/testdata/data-source-easy-paritioning-basic.cassette.yaml
Labels: baremetal

fix(mongodb): fix test
  internal/services/mongodb/instance_test.go
  internal/services/mongodb/testdata/mongo-db-instance-update-private-network.cassette.yaml
  internal/services/mongodb/testdata/mongo-db-instance-with-private-network.cassette.yaml
Labels: none

feat(edge-services): support route and waf references on cache and tls stages
  docs/resources/edge_services_cache_stage.md
  docs/resources/edge_services_pipeline.md
  docs/resources/edge_services_tls_stage.md
  internal/services/edgeservices/cache_stage.go
  internal/services/edgeservices/tls_stage.go
Labels: none

fix lint
  internal/services/container/container_test.go
  internal/services/container/namespace_test.go
Labels: container

lint
  internal/services/container/container_test.go
  internal/services/container/namespace_test.go
Labels: container

docs(cockpit): add deprecated in docs (#3031)
  docs/resources/cockpit.md
Labels: none

add ConflictWith on stages
  docs/resources/edge_services_cache_stage.md
  docs/resources/edge_services_dns_stage.md
  docs/resources/edge_services_tls_stage.md
  internal/services/edgeservices/cache_stage.go
  internal/services/edgeservices/dns_stage.go
  internal/services/edgeservices/tls_stage.go
Labels: none

test(mongodb): skip flaky restore snapshot test from mongodb test suite
  internal/services/mongodb/instance_test.go
Labels: none

use const
  internal/services/container/container_test.go
Labels: container

feat(edge-services): support route and waf references on cache & tls stages (#3035)
  docs/resources/edge_services_cache_stage.md
  docs/resources/edge_services_dns_stage.md
  docs/resources/edge_services_pipeline.md
  docs/resources/edge_services_tls_stage.md
  internal/services/container/container_test.go
  internal/services/container/namespace_test.go
  internal/services/edgeservices/cache_stage.go
  internal/services/edgeservices/dns_stage.go
  internal/services/edgeservices/tls_stage.go
Labels: container

lint
  internal/services/mongodb/instance_test.go
Labels: none

test(mongodb): skip flaky restore snapshot test from mongodb test suite (#3036)
  internal/services/mongodb/instance_test.go
Labels: none

feat(jobs): support secret manager references in serverless jobs definitions
  cmd/tftemplate/main.go
  internal/services/jobs/definition.go
  internal/services/jobs/definition_test.go
  internal/services/jobs/helpers.go
  internal/services/jobs/testdata/create-job-definition-secret-reference.cassette.yaml
  internal/services/jobs/testdata/create-job-definition-wrong-secret-reference.cassette.yaml
  internal/services/jobs/testdata/job-definition-cron.cassette.yaml
  internal/services/jobs/testdata/job-definition-secret-reference.cassette.yaml
  internal/services/jobs/testdata/job-definition-wrong-secret-reference.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-with-empty-secret.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-with-secret-reference.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-with-secrets.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-without-secrets.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-wrong-secret-reference.cassette.yaml
Labels: none

fix(jobs): support secret regional and uuid, fix diff detection and update
  internal/services/jobs/helpers.go
  internal/services/jobs/jobs.go
  internal/services/jobs/jobs_test.go
  internal/services/jobs/testdata/job-definition-secret-reference.cassette.yaml
  internal/services/jobs/testdata/job-definition-wrong-secret-reference.cassette.yaml
Labels: none

chore(jobs): update documentation with secret_reference
  docs/resources/job_definition.md
Labels: none

feat(jobs): support secret manager references in serverless jobs defi… (#3030)
  cmd/tftemplate/main.go
  docs/resources/job_definition.md
  internal/services/jobs/definition_test.go
  internal/services/jobs/helpers.go
  internal/services/jobs/jobs.go
  internal/services/jobs/jobs_test.go
  internal/services/jobs/testdata/create-job-definition-secret-reference.cassette.yaml
  internal/services/jobs/testdata/create-job-definition-wrong-secret-reference.cassette.yaml
  internal/services/jobs/testdata/job-definition-cron.cassette.yaml
  internal/services/jobs/testdata/job-definition-secret-reference.cassette.yaml
  internal/services/jobs/testdata/job-definition-timeout.cassette.yaml
  internal/services/jobs/testdata/job-definition-wrong-secret-reference.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-with-empty-secret.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-with-secret-reference.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-with-secrets.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-without-secrets.cassette.yaml
  internal/services/jobs/testdata/test-create-job-definition-wrong-secret-reference.cassette.yaml
Labels: none

detach pn in delete resource
  internal/services/mongodb/instance.go
  internal/services/mongodb/instance_test.go
  internal/services/mongodb/testdata/mongo-db-instance-update-private-network.cassette.yaml
  internal/services/mongodb/testdata/mongo-db-instance-with-private-network.cassette.yaml
Labels: none

Update internal/services/container/container_test.go
  internal/services/container/container_test.go
Labels: container

Update internal/services/container/container_test.go
  internal/services/container/container_test.go
Labels: container

feat(baremetal): support easy partitioning
  internal/services/baremetal/partitioning_data_source.go
Labels: baremetal

rename datasource
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/partitioning_data_source.go
Labels: baremetal

feat(baremetal): add check compatible
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/helpers.go
Labels: baremetal

move test to the right package and add data source to provier
  internal/provider/provider.go
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/easy_partitioning_source_test.go
Labels: baremetal

add tests
  internal/services/baremetal/easy_partitioning_source_test.go
  internal/services/baremetal/helpers.go
Labels: baremetal

register tests easy-partitioning
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/testdata/data-source-easy-paritioning-basic.cassette.yaml
  internal/services/baremetal/testdata/server-basic-simple.cassette.yaml
Labels: baremetal

implement logic
  internal/services/baremetal/easy_partitioning_data_source.go
Labels: baremetal

issue with partition
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/easy_partitioning_source_test.go
  internal/services/baremetal/testdata/data-source-easy-paritioning-basic.cassette.yaml
Labels: baremetal

tests and golangci
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/easy_partitioning_source_test.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/easy-partitioning-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-incompatible-offer.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-incompatible-os.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-with-alternate-offer.cassette.yaml
Labels: baremetal

fix tests and add more
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/easy_partitioning_source_test.go
  internal/services/baremetal/testdata/data-source-easy-paritioning-basic.cassette.yaml
  internal/services/baremetal/testdata/data-source-easy-paritioning-not-compatible-os.cassette.yaml
Labels: baremetal

add documentation and checkdestroy
  docs/data-sources/baremetal_easy_partitioning.md
  internal/services/baremetal/easy_partitioning_source_test.go
  internal/services/baremetal/testdata/easy-partitioning-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-incompatible-offer.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-incompatible-os.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-with-alternate-offer.cassette.yaml
Labels: baremetal

fix review
  docs/data-sources/baremetal_easy_partitioning.md
  internal/services/baremetal/easy_partitioning_data_source.go
Labels: baremetal

fix and refacto after review
  internal/services/baremetal/easy_partitioning_data_source.go
Labels: baremetal

add tests and fix edge case
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/easy_partitioning_source_test.go
  internal/services/baremetal/testdata/easy-partitioning-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-incompatible-offer.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-incompatible-os.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-with-alternate-offer.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-extra-part.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-swap-and-extra-part.cassette.yaml
Labels: baremetal
