Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**

feat(lb): add match_subdomains & connection_rate_limit (#2986)
  docs/data-sources/lb_routes.md
  docs/resources/lb_frontend.md
  docs/resources/lb_route.md
  internal/services/lb/frontend.go
  internal/services/lb/frontend_test.go
  internal/services/lb/route.go
  internal/services/lb/route_test.go
  internal/services/lb/routes_data_source.go
  internal/services/lb/testdata/frontend-basic.cassette.yaml
  internal/services/lb/testdata/route-with-sni.cassette.yaml
Labels: load-balancer

docs(flexible_ip): clarify compatibility with Elastic Metal and add zone to attributes
  docs/resources/flexible_ip.md
Labels: none

docs(flexible_ip): clarify compatibility with Elastic Metal and add zone to attributes (#2987)
  docs/resources/flexible_ip.md
Labels: none

docs(flexible_ip): clarify compatibility with Elastic Metal and add zone to attributes
  docs/resources/flexible_ip.md
Labels: none

feat(tem): add data_source for offer subscription
  go.mod
  go.sum
  internal/provider/provider.go
  internal/services/tem/offer_subscription_data_source.go
  internal/services/tem/offer_subscription_data_source_test.go
Labels: tem

feat(tem): add data source for offer subscription
  docs/data-sources/tem_offer_subscription.md
  internal/services/tem/offer_subscription_data_source.go
  internal/services/tem/offer_subscription_data_source_test.go
  internal/services/tem/testdata/data-source-offer-subscription-basic.cassette.yaml
Labels: tem

fix go.sum
  go.sum
Labels: none

fix(tem): deprecated field accept tos
  go.mod
  go.sum
  internal/services/tem/domain.go
  internal/services/tem/domain_test.go
  internal/services/tem/testdata/data-source-domain-basic.cassette.yaml
  internal/services/tem/testdata/data-source-domain-reputation.cassette.yaml
  internal/services/tem/testdata/data-source-offer-subscription-with-project-id.cassette.yaml
  internal/services/tem/testdata/domain-autoconfig-update.cassette.yaml
  internal/services/tem/testdata/domain-autoconfig.cassette.yaml
  internal/services/tem/testdata/domain-basic.cassette.yaml
  internal/services/tem/testdata/domain-validation-no-validation.cassette.yaml
  internal/services/tem/testdata/domain-validation-validation.cassette.yaml
  internal/services/tem/testdata/webhook-basic-and-update.cassette.yaml
Labels: tem

bump sdk go
  go.mod
  go.sum
Labels: none

feat(vpcgw): migrate to v2
  internal/services/vpcgw/helpers.go
  internal/services/vpcgw/ip.go
  internal/services/vpcgw/ip_reverse.go
  internal/services/vpcgw/network.go
  internal/services/vpcgw/network_data_source.go
  internal/services/vpcgw/pat_rule.go
  internal/services/vpcgw/pat_rule_data_source.go
  internal/services/vpcgw/public_gateway.go
  internal/services/vpcgw/public_gateway_data_source.go
  internal/services/vpcgw/testfuncs/checks.go
  internal/services/vpcgw/testfuncs/sweep.go
  internal/services/vpcgw/waiters.go
Labels: vpcgw

docs(vpcgw): add v2 migration guide
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

fix lint
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

fix lint
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

tabs
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

add title
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

fix(container): fix secret management container
  internal/services/container/helpers_container.go
  internal/services/container/namespace.go
  internal/services/container/namespace_test.go
  internal/services/container/testdata/namespace-secret-management.cassette.yaml
Labels: container

fix test
  docs/resources/tem_domain.md
  internal/services/tem/domain.go
  internal/services/tem/testdata/data-source-offer-subscription-with-project-id.cassette.yaml
Labels: tem

fix test basic
  internal/services/container/namespace.go
  internal/services/container/testdata/namespace-basic.cassette.yaml
Labels: container

fix accept tos test
  internal/services/tem/domain.go
Labels: tem

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

fixes
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

lint
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

fix(container): fix secret management container (#2992)
  internal/services/container/helpers_container.go
  internal/services/container/namespace.go
  internal/services/container/namespace_test.go
  internal/services/container/testdata/namespace-basic.cassette.yaml
  internal/services/container/testdata/namespace-secret-management.cassette.yaml
Labels: container

bump sdk go
  go.mod
  go.sum
  internal/services/tem/domain.go
Labels: tem

update tests
  internal/services/vpcgw/helpers.go
  internal/services/vpcgw/ip_reverse_test.go
  internal/services/vpcgw/ip_test.go
  internal/services/vpcgw/network_data_source_test.go
  internal/services/vpcgw/network_test.go
  internal/services/vpcgw/pat_rule_test.go
  internal/services/vpcgw/public_gateway.go
  internal/services/vpcgw/public_gateway_test.go
  internal/services/vpcgw/testdata/data-source-vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-ip-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-attach-to-ip.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-bastion.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-ip-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-ip-reverse-dns-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-ip-with-tags.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-ip-with-zone.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-with-instance.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-upgrade.cassette.yaml
Labels: vpcgw

lint and update tests
  internal/services/k8s/pool_test.go
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/lb/lb_test.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/vpc/route_datasource.go
  internal/services/vpc/testdata/data-source-routes-basic.cassette.yaml
  internal/services/vpcgw/dhcp.go
  internal/services/vpcgw/dhcp_data_source_test.go
  internal/services/vpcgw/dhcp_reservation.go
  internal/services/vpcgw/dhcp_reservation_data_source_test.go
  internal/services/vpcgw/dhcp_reservation_test.go
  internal/services/vpcgw/dhcp_test.go
  internal/services/vpcgw/helpers.go
  internal/services/vpcgw/network.go
  internal/services/vpcgw/pat_rule.go
  internal/services/vpcgw/public_gateway.go
  internal/services/vpcgw/testfuncs/sweep.go
Labels: k8s, load-balancer, rdb, vpc, vpcgw

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

Update docs/guides/migration_guide_vpcgw_v2.md
  docs/guides/migration_guide_vpcgw_v2.md
Labels: none

fix int type and update pat rule datasource test
  internal/services/vpcgw/helpers.go
  internal/services/vpcgw/pat_rule_data_source_test.go
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
Labels: vpcgw
