Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**

fix(doc): deployment required attribute
  docs/resources/inference_deployment.md
Labels: none

update sdk-go
  go.mod
  go.sum
  internal/services/inference/model_test.go
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/waiter.go
Labels: none

remove unecessary file
  internal/services/inference/endpoint.go
Labels: none

fix(doc): put real URL and more context
  docs/resources/inference_model.md
  internal/services/inference/model.go
Labels: none

Reimplement acceptance tests to test creation for both user types
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user_test.go
Labels: iam

Add comments
  internal/services/iam/user.go
Labels: iam

Complete implementation of user creation
  internal/services/iam/user.go
Labels: iam

Final test runs: no errors
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
Labels: iam

Fix schema of some parameters
  internal/services/iam/user.go
Labels: iam

Distinguish between Member users and Guest users in user creation
  internal/services/iam/user.go
Labels: iam

Add all API parameters to resource schema
  internal/services/iam/user.go
Labels: iam

Update docs
  docs/resources/iam_user.md
Labels: none

Complete acceptance tests
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user.go
  internal/services/iam/user_test.go
Labels: iam

Add fields to user read function
  internal/services/iam/user.go
Labels: iam

tests(edge-services): include PipelineID in all stage ListRequests
  internal/services/edgeservices/testfuncs/sweep.go
Labels: none

fix
  internal/services/edgeservices/testfuncs/sweep.go
Labels: none

fix
  internal/services/edgeservices/testfuncs/sweep.go
Labels: none

tests(edge-services): include PipelineID in all stage ListRequests (#3066)
  internal/services/edgeservices/testfuncs/sweep.go
Labels: none

fix(instance): EoS warning only displays the 5 most relevant types (#3059)
  internal/services/instance/server.go
Labels: instance

feat(k8s): read pool's private ips
  docs/resources/k8s_pool.md
  internal/services/ipam/helpers.go
  internal/services/k8s/helpers_k8s.go
  internal/services/k8s/pool.go
  internal/services/k8s/pool_test.go
  internal/services/k8s/testdata/cluster-multicloud.cassette.yaml
  internal/services/k8s/testdata/data-source-cluster-basic.cassette.yaml
  internal/services/k8s/testdata/data-source-pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-kubelet-args.cassette.yaml
  internal/services/k8s/testdata/pool-placement-group.cassette.yaml
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/k8s/testdata/pool-size.cassette.yaml
  internal/services/k8s/testdata/pool-upgrade-policy.cassette.yaml
  internal/services/k8s/testdata/pool-wait.cassette.yaml
  internal/services/k8s/testdata/pool-zone.cassette.yaml
Labels: k8s

feat(lb): read private IPs
  docs/resources/lb.md
  internal/services/ipam/helpers.go
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/lb/lb.go
  internal/services/lb/lb_test.go
  internal/services/lb/testdata/lb-with-private-networks-ipam-ids.cassette.yaml
  internal/services/lb/testdata/lb-without-pn-config.cassette.yaml
Labels: load-balancer

feat(vpcgw): read gateway network's private IPs
  docs/resources/vpc_gateway_network.md
  internal/services/ipam/helpers.go
Labels: none

test + cassettes + linter
  internal/services/ipam/helpers.go
  internal/services/vpcgw/helpers.go
  internal/services/vpcgw/network.go
  internal/services/vpcgw/network_test.go
  internal/services/vpcgw/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
Labels: vpcgw

feat(instance): read private IPs
  docs/resources/instance_private_nic.md
  docs/resources/instance_server.md
  internal/services/instance/private_nic.go
  internal/services/instance/private_nic_test.go
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/testdata/data-source-private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-tags.cassette.yaml
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
  internal/services/instance/testdata/server-private-network-missing-pnic.cassette.yaml
  internal/services/instance/testdata/server-private-network.cassette.yaml
  internal/services/ipam/helpers.go
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance.cassette.yaml
  internal/services/vpc/testdata/vpc-route-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
Labels: instance, vpc, vpcgw

feat(rdb): read instance's private IPs
  docs/resources/rdb_instance.md
  internal/services/ipam/helpers.go
  internal/services/ipam/ip_data_source_test.go
  internal/services/ipam/testdata/data-source-ipamiprdb.cassette.yaml
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/testdata/instance-endpoints.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-with-instance-also-in-private-network.cassette.yaml
Labels: rdb

feat(redis): read cluster's private IPs
  docs/resources/redis_cluster.md
  internal/services/ipam/helpers.go
  internal/services/ipam/testdata/data-source-ipam-ips-redis-cluster.cassette.yaml
  internal/services/redis/cluster.go
  internal/services/redis/cluster_test.go
  internal/services/redis/testdata/cluster-endpoints-cluster-mode.cassette.yaml
  internal/services/redis/testdata/cluster-migrate-cluster-size-with-ipam-endpoint.cassette.yaml
Labels: redis

fix wording in desc + doc
  docs/resources/lb.md
  internal/services/lb/lb.go
Labels: load-balancer

tests(ipam): replace deprecated rdb volume type
  internal/services/ipam/ip_data_source_test.go
  internal/services/ipam/testdata/data-source-ipamiprdb.cassette.yaml
Labels: none

feat(baremetal): read private ips
  docs/resources/baremetal_server.md
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/server-add-another-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-add-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-create-server-with-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-with-ipam-private-network.cassette.yaml
  internal/services/ipam/helpers.go
Labels: baremetal

updated wording + handle 403 on ipam
  docs/resources/rdb_instance.md
  internal/services/ipam/helpers.go
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
Labels: rdb

prevent nil pointer dereference
  internal/services/rdb/instance.go
Labels: rdb

tests(ipam): replace deprecated rdb volume type (#3079)
  internal/services/ipam/ip_data_source_test.go
  internal/services/ipam/testdata/data-source-ipamiprdb.cassette.yaml
Labels: none

bump sdk go
  go.mod
  go.sum
Labels: none

feat(lb) add support for path-begin route matching
  docs/data-sources/lb_routes.md
  docs/resources/lb_route.md
  internal/services/lb/route.go
  internal/services/lb/route_test.go
  internal/services/lb/testdata/route-with-path-begin.cassette.yaml
Labels: load-balancer

fix
  docs/resources/lb_route.md
Labels: none

feat(lb) add support for path-begin route matching (#3082)
  docs/data-sources/lb_routes.md
  docs/resources/lb_route.md
  go.mod
  go.sum
  internal/services/lb/route.go
  internal/services/lb/route_test.go
  internal/services/lb/testdata/route-with-path-begin.cassette.yaml
Labels: load-balancer

feat(baremetal): read private ips (#3071)
  docs/resources/baremetal_server.md
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/server-add-another-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-add-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-create-server-with-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-with-ipam-private-network.cassette.yaml
  internal/services/ipam/helpers.go
Labels: baremetal

feat(lb): read private ips (#3073)
  docs/resources/lb.md
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/lb/lb.go
  internal/services/lb/lb_test.go
  internal/services/lb/testdata/lb-with-private-networks-ipam-ids.cassette.yaml
  internal/services/lb/testdata/lb-without-pn-config.cassette.yaml
Labels: load-balancer

feat(redis): read cluster's private IPs
  docs/resources/redis_cluster.md
  internal/services/ipam/testdata/data-source-ipam-ips-redis-cluster.cassette.yaml
  internal/services/redis/cluster.go
  internal/services/redis/cluster_test.go
  internal/services/redis/testdata/cluster-endpoints-cluster-mode.cassette.yaml
  internal/services/redis/testdata/cluster-migrate-cluster-size-with-ipam-endpoint.cassette.yaml
Labels: redis

feat(rdb): read instance's private IPs
  docs/resources/rdb_instance.md
  internal/services/ipam/testdata/data-source-ipamiprdb.cassette.yaml
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/testdata/instance-endpoints.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-with-instance-also-in-private-network.cassette.yaml
Labels: rdb
