Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

add data_source for domains_registration
  internal/services/domain/domain_data_source.go
Labels: domain

add print for debug
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
Labels: domain

add data source for domain
  internal/services/domain/domain_data_source.go
  internal/services/domain/domains_registration.go
Labels: domain

bump sdk go
  go.mod
  go.sum
Labels: none

Fix lint
  internal/services/container/container.go
  internal/services/container/helpers_container.go
Labels: container

Fix linter
  docs/resources/container.md
Labels: none

feat(container): add health_check block (#2878)
  docs/data-sources/container.md
  docs/resources/container.md
  internal/services/container/container.go
  internal/services/container/container_data_source_test.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-health-check.cassette.yaml
  internal/services/container/testdata/data-source-container-health-check.cassette.yaml
Labels: container

feat(container/serverless): add scaling_option block
  docs/data-sources/container.md
  docs/resources/container.md
  internal/services/container/container.go
  internal/services/container/container_data_source_test.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-scaling-option.cassette.yaml
  internal/services/container/testdata/data-source-container-scaling-option.cassette.yaml
Labels: container

Fix trailing space
  docs/resources/container.md
Labels: none

Fix linter
  internal/services/container/container.go
  internal/services/container/helpers_container.go
Labels: container

Fix rebase issue. Sorry -_-'
  docs/data-sources/container.md
  docs/resources/container.md
  internal/services/container/container.go
  internal/services/container/container_data_source_test.go
  internal/services/container/container_test.go
Labels: container

Fix
  internal/services/container/container_data_source_test.go
Labels: container

feat(containers): add scaling_option block (#2876)
  docs/data-sources/container.md
  docs/resources/container.md
  internal/services/container/container.go
  internal/services/container/container_data_source_test.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-scaling-option.cassette.yaml
  internal/services/container/testdata/data-source-container-scaling-option.cassette.yaml
Labels: container

Fix
  internal/meta/meta.go
Labels: none

add more checks to test
  internal/services/block/volume_test.go
Labels: none

update cassette
  internal/services/block/testdata/volume-from-instance.cassette.yaml
Labels: none

lint
  internal/services/block/volume.go
  internal/services/instance/instancehelpers/block.go
  internal/services/instance/instancehelpers/waiters_test.go
  internal/services/instance/snapshot_data_source_test.go
  internal/services/instance/volume_data_source_test.go
  internal/services/instance/volume_test.go
Labels: instance

feat(block_volume): support migration from instance volume (#2922)
  internal/services/block/helpers_block.go
  internal/services/block/testdata/volume-from-instance.cassette.yaml
  internal/services/block/volume.go
  internal/services/block/volume_test.go
  internal/services/instance/helpers_instance.go
  internal/services/instance/helpers_instance_block.go
  internal/services/instance/image.go
  internal/services/instance/image_test.go
  internal/services/instance/instancehelpers/block.go
  internal/services/instance/instancehelpers/waiters.go
  internal/services/instance/instancehelpers/waiters_test.go
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/snapshot_data_source_test.go
  internal/services/instance/snapshot_test.go
  internal/services/instance/testfuncs/checks.go
  internal/services/instance/volume.go
  internal/services/instance/volume_data_source_test.go
  internal/services/instance/volume_test.go
  internal/services/instance/waiters.go
Labels: instance

chore(goreleaser): migrate deprecated field archive.format
  .goreleaser.yml
Labels: none

chore(goreleaser): migrate deprecated field archive.format (#2924)
  .goreleaser.yml
Labels: none

docs: importing a secret is not correct
  docs/resources/secret.md
Labels: none

docs: fix display of callouts
  docs/resources/k8s_pool.md
Labels: none

fix(baremetal): remove ForceNew offer
  internal/services/baremetal/server.go
Labels: baremetal

docs: fix display of callouts (#2929)
  docs/resources/k8s_pool.md
Labels: none

fix(block_volume): wait for status available before deletion
  internal/services/block/volume.go
  internal/services/block/waiters.go
Labels: none

fix(block_volume): wait for status available before deletion (#2931)
  internal/services/block/volume.go
  internal/services/block/waiters.go
Labels: none

docs: add instance to sbs migration guide
  docs/guides/migrate-instance-volume-to-sbs.md
Labels: none

fix(apple-silicon): fix return code delete
  internal/services/applesilicon/server.go
Labels: apple-silicon

Apply suggestions from code review
  docs/guides/migrate-instance-volume-to-sbs.md
Labels: none

ci: add support for manual purge
  .github/workflows/purge.yml
Labels: none

ci: add support for manual purge (#2936)
  .github/workflows/purge.yml
Labels: none

fix(apple-silicon): fix return code delete (#2933)
  internal/services/applesilicon/server.go
Labels: apple-silicon

chore: migrate webhosting to v1
  internal/services/webhosting/helpers.go
  internal/services/webhosting/offer_data_source.go
  internal/services/webhosting/testdata/webhosting-basic.cassette.yaml
  internal/services/webhosting/testfuncs/sweep.go
  internal/services/webhosting/types.go
  internal/services/webhosting/webhosting.go
  internal/services/webhosting/webhosting_data_source.go
  internal/services/webhosting/webhosting_test.go
Labels: webhosting

change hardcoded offer_id by datasource
  docs/resources/baremetal_server.md
Labels: none

docs(baremetal): clean doc
  docs/resources/baremetal_server.md
Labels: none

bump sdk go
  go.mod
  go.sum
Labels: none

chore: migrate to go1.24
  .github/workflows/acceptance-tests.yaml
  .github/workflows/documentation.yml
  .github/workflows/nightly.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
  .github/workflows/tfproviderlint.yml
  .github/workflows/unit-tests.yaml
  go.mod
  internal/acctest/acctest.go
  internal/provider/provider_test.go
  internal/services/cockpit/plan_data_source.go
  internal/services/container/container.go
  internal/services/container/helpers_container.go
  internal/services/iam/policy_test.go
  internal/services/instance/servers_data_source.go
  internal/services/instance/types.go
  internal/services/lb/lb_test.go
  internal/services/mnq/sns_topic_subscription_test.go
  internal/services/mnq/sns_topic_test.go
  internal/services/mnq/sqs_queue_test.go
  internal/services/object/bucket_test.go
  internal/services/object/data_source_object_bucket_test.go
  internal/services/rdb/helpers_test.go
  internal/services/scwconfig/scw_config_data_source_test.go
  internal/services/secret/secret_data_source_test.go
Labels: container, iam, instance, load-balancer, mnq, object, rdb, secret

chore: migrate to go1.24
  .github/workflows/acceptance-tests.yaml
  .github/workflows/documentation.yml
  .github/workflows/nightly.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
  .github/workflows/tfproviderlint.yml
  .github/workflows/unit-tests.yaml
  go.mod
  internal/acctest/acctest.go
  internal/provider/provider_test.go
  internal/services/cockpit/plan_data_source.go
  internal/services/container/container.go
  internal/services/container/helpers_container.go
  internal/services/iam/policy_test.go
  internal/services/instance/servers_data_source.go
  internal/services/instance/types.go
  internal/services/lb/lb_test.go
  internal/services/mnq/sns_topic_subscription_test.go
  internal/services/mnq/sns_topic_test.go
  internal/services/mnq/sqs_queue_test.go
  internal/services/object/bucket_test.go
  internal/services/object/data_source_object_bucket_test.go
  internal/services/rdb/helpers_test.go
  internal/services/scwconfig/scw_config_data_source_test.go
  internal/services/secret/secret_data_source_test.go
Labels: container, iam, instance, load-balancer, mnq, object, rdb, secret

update test
  internal/services/webhosting/offer_data_source.go
  internal/services/webhosting/offer_data_source_test.go
  internal/services/webhosting/testdata/data-source-offer-basic.cassette.yaml
  internal/services/webhosting/testdata/data-source-webhosting-basic.cassette.yaml
  internal/services/webhosting/testdata/webhosting-basic.cassette.yaml
  internal/services/webhosting/webhosting_data_source_test.go
Labels: webhosting

docs: remove mention of b_ssd and instance_volume when not recommended
  docs/index.md
  docs/resources/instance_server.md
Labels: none

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**
