Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**

fix documentation lint
  docs/resources/inference_custom_model.md
Labels: none

change model_id format
  docs/resources/inference_custom_model.md
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
Labels: none

fix linter
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
  internal/services/inference/testfuncs/sweep.go
  internal/services/inference/types.go
Labels: none

fix(doc): deployment required attribute
  docs/resources/inference_deployment.md
Labels: none

manage id from regional or not
  docs/resources/inference_custom_model.md
  docs/resources/inference_deployment.md
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
  internal/services/inference/deployment.go
  internal/services/inference/endpoint.go
  internal/services/inference/testdata/custom-model-basic.cassette.yaml
  internal/services/inference/testdata/custom-model-not-compatible.cassette.yaml
  internal/services/inference/testdata/deployment-basic.cassette.yaml
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
Labels: none

fix(inference): use of existing function cast
  internal/services/inference/custom_model.go
  internal/services/inference/deployment.go
Labels: none

fix(inference): temporary disabled tests
  internal/services/inference/custom_model_test.go
  internal/services/inference/deployment_test.go
Labels: none

fix linter error
  internal/services/inference/custom_model_test.go
  internal/services/inference/deployment_test.go
Labels: none

docs(cockpit): deprecated message for cockpit plan
  docs/data-sources/cockpit_plan.md
  docs/resources/cockpit.md
Labels: none

fix(baremetal): compute mapping id in private network
  internal/services/baremetal/server.go
  internal/services/baremetal/types.go
Labels: baremetal

fix(doc): add example in vpc_route and add information about mapping_id in baremetal
  docs/resources/baremetal_server.md
  docs/resources/vpc_route.md
Labels: none

docs(mnq): remove permission restriction note
  docs/resources/mnq_sns_credentials.md
  docs/resources/mnq_sqs_credentials.md
Labels: none

fix(doc): update baremetal_server datasource
  docs/data-sources/baremetal_server.md
Labels: none

feat(cockpit): delete cockpit plan data source
  docs/data-sources/cockpit_plan.md
  internal/services/cockpit/plan_data_source.go
  internal/services/cockpit/plan_data_source_test.go
Labels: none

fix(baremetal): compute mapping_id in private_network server (#3056)
  docs/data-sources/baremetal_server.md
  docs/resources/baremetal_server.md
  docs/resources/vpc_route.md
  internal/services/baremetal/server.go
  internal/services/baremetal/types.go
Labels: baremetal

docs(cockpit): deprecated message for cockpit plan (#3057)
  docs/data-sources/cockpit_plan.md
  docs/resources/cockpit.md
Labels: none

docs(mnq): remove permission restriction note (#3058)
  docs/resources/mnq_sns_credentials.md
  docs/resources/mnq_sqs_credentials.md
Labels: none

fix build
  internal/provider/provider.go
Labels: none

fix(instance): EoS warning only displays the 5 most relevant types
  internal/services/instance/server.go
Labels: instance

add sweeper
  internal/services/inference/testdata/custom-model-basic.cassette.yaml
  internal/services/inference/testfuncs/sweep.go
Labels: none

Update docs/resources/inference_custom_model.md
  docs/resources/inference_custom_model.md
Labels: none

fix documentation
  docs/resources/inference_custom_model.md
  internal/services/inference/deployment.go
  internal/services/inference/helpers_inference.go
  internal/services/inference/testfuncs/sweep.go
  internal/services/inference/types.go
Labels: none

remove error_message
  docs/resources/inference_custom_model.md
  internal/services/inference/custom_model.go
Labels: none

manage id from regional or not
  docs/resources/inference_custom_model.md
  docs/resources/inference_deployment.md
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
  internal/services/inference/deployment.go
  internal/services/inference/endpoint.go
  internal/services/inference/testdata/custom-model-basic.cassette.yaml
  internal/services/inference/testdata/custom-model-not-compatible.cassette.yaml
  internal/services/inference/testdata/deployment-basic.cassette.yaml
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
Labels: none

last cassette
  internal/services/inference/testdata/custom-model-deploy-model-on-server.cassette.yaml
Labels: none

ResourceCustomModelDelete return right err and testAccCheckCustomModelExists return err
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
Labels: none

chore: bump sdk-go
  go.mod
  go.sum
Labels: none

fix documentation lint
  docs/resources/inference_custom_model.md
Labels: none

feat(inference): BYOM support
  go.mod
  go.sum
  internal/provider/provider.go
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_data_source.go
  internal/services/inference/custom_model_test.go
  internal/services/inference/helpers_inference.go
  internal/services/inference/testdata/custom-model-basic.cassette.yaml
  internal/services/inference/testdata/custom-model-not-compatible.cassette.yaml
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/types.go
  internal/services/inference/waiter.go
Labels: none

use of dsf.locality
  go.sum
  internal/services/inference/custom_model.go
  internal/services/inference/deployment.go
  internal/services/inference/testdata/custom-model-basic.cassette.yaml
  internal/services/inference/testdata/custom-model-deploy-model-on-server.cassette.yaml
  internal/services/inference/testdata/deployment-basic.cassette.yaml
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
Labels: none

fix linter
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
  internal/services/inference/testfuncs/sweep.go
  internal/services/inference/types.go
Labels: none

feat(inference): migration deployment to v1
  internal/services/inference/custom_model_data_source.go
  internal/services/inference/deployment.go
  internal/services/inference/deployment_test.go
  internal/services/inference/helpers_inference.go
  internal/services/inference/testdata/deployment-basic.cassette.yaml
  internal/services/inference/testdata/deployment-endpoint.cassette.yaml
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/waiter.go
Labels: none

remove comment
  docs/resources/inference_custom_model.md
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
  internal/services/inference/deployment.go
  internal/services/inference/testdata/custom-model-deploy-model-on-server-update.cassette.yaml
  internal/services/inference/testdata/custom-model-not-compatible.cassette.yaml
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/waiter.go
Labels: none

change model_id format
  docs/resources/inference_custom_model.md
  internal/services/inference/custom_model.go
  internal/services/inference/custom_model_test.go
Labels: none

skip tests until further notice
  internal/services/inference/custom_model_test.go
Labels: none

activate tests
  internal/services/inference/custom_model_test.go
Labels: none

fix(inference): rename resource from custom_model to model
  docs/resources/inference_model.md
  internal/provider/provider.go
  internal/services/inference/helpers_inference.go
  internal/services/inference/model.go
  internal/services/inference/model_test.go
  internal/services/inference/testdata/model-basic.cassette.yaml
  internal/services/inference/testdata/model-deploy-model-on-server.cassette.yaml
  internal/services/inference/testfuncs/checks.go
  internal/services/inference/testfuncs/sweep.go
  internal/services/inference/waiter.go
Labels: none

fix(doc): add import part and fix typo
  docs/resources/inference_custom_model.md
Labels: none

fix(inference): use of existing function cast
  internal/services/inference/custom_model.go
  internal/services/inference/deployment.go
Labels: none

Update docs/resources/inference_custom_model.md
  docs/resources/inference_custom_model.md
Labels: none
