Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

fix test enable-disable
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-enable-disabled-vpc.cassette.yaml
Labels: apple-silicon

manage updating vpc enable update
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-enable-disabled-vpc.cassette.yaml
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
Labels: apple-silicon

tests
  internal/services/applesilicon/clients.go
  internal/services/applesilicon/helpers.go
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
  internal/services/applesilicon/waiters.go
Labels: apple-silicon

commit after rebase
  internal/services/applesilicon/server.go
Labels: apple-silicon

fix tests enabled vpc with update
  go.mod
  go.sum
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-enable-disabled-vpc.cassette.yaml
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
  internal/services/applesilicon/waiters.go
Labels: apple-silicon

feat(apple-silicon): add support vpc
  internal/services/applesilicon/server.go
  internal/services/applesilicon/types.go
  internal/services/applesilicon/waiters.go
Labels: apple-silicon

chore: bump sdk go (#2880)
  go.sum
Labels: none

add documentation
  docs/resources/apple_silicon.md
Labels: none

fix tests
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-basic.cassette.yaml
Labels: apple-silicon

feat(apple-silicon): add support vpc
  internal/services/applesilicon/server.go
Labels: apple-silicon

fix golangci-lint
  internal/services/applesilicon/clients.go
  internal/services/applesilicon/helpers.go
  internal/services/applesilicon/server.go
  internal/services/applesilicon/types.go
  internal/services/applesilicon/waiters.go
Labels: apple-silicon

update test
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
Labels: apple-silicon

update cassettes
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-basic.cassette.yaml
  internal/services/applesilicon/testdata/server-enable-disabled-vpc.cassette.yaml
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
Labels: apple-silicon

remove ireturn linter
  internal/services/mnq/helpers_mnq_queue.go
Labels: mnq

feat(instance_server): always default to sbs volume root volume (#2920)
  internal/services/block/snapshot_data_source_test.go
  internal/services/block/snapshot_test.go
  internal/services/block/testfuncs/checks.go
  internal/services/block/volume_data_source_test.go
  internal/services/block/volume_test.go
  internal/services/instance/helpers_instance.go
  internal/services/instance/image_test.go
  internal/services/instance/server_test.go
  internal/services/instance/snapshot_test.go
  internal/services/instance/testdata/data-source-private-nic-basic.cassette.yaml
  internal/services/instance/testdata/data-source-server-basic.cassette.yaml
  internal/services/instance/testdata/data-source-servers-basic.cassette.yaml
  internal/services/instance/testdata/image-server-with-local-volume.cassette.yaml
  internal/services/instance/testdata/image-server-with-sbs-volume.cassette.yaml
  internal/services/instance/testdata/image-server.cassette.yaml
  internal/services/instance/testdata/ip-reverse-dns-basic.cassette.yaml
  internal/services/instance/testdata/placement-group-rename.cassette.yaml
  internal/services/instance/testdata/private-nic-basic.cassette.yaml
  internal/services/instance/testdata/server-additional-volumes-detach.cassette.yaml
  internal/services/instance/testdata/server-additional-volumes.cassette.yaml
  internal/services/instance/testdata/server-alter-tags.cassette.yaml
  internal/services/instance/testdata/server-custom-diff-image.cassette.yaml
  internal/services/instance/testdata/server-minimal1.cassette.yaml
  internal/services/instance/testdata/server-minimal2.cassette.yaml
  internal/services/instance/testdata/server-private-network-missing-pnic.cassette.yaml
  internal/services/instance/testdata/server-private-network.cassette.yaml
  internal/services/instance/testdata/server-root-volume-boot.cassette.yaml
  internal/services/instance/testdata/server-server-with-block-non-default-zone.cassette.yaml
  internal/services/instance/testdata/server-user-data-basic.cassette.yaml
  internal/services/instance/testdata/server-user-data-with-cloud-init-at-start.cassette.yaml
  internal/services/instance/testdata/server-user-data-without-cloud-init-at-start.cassette.yaml
  internal/services/instance/testdata/server-with-default-root-volume-and-additional-volume.cassette.yaml
  internal/services/instance/testdata/server-with-reserved-ip.cassette.yaml
  internal/services/instance/testdata/snapshot-server-with-block-volume.cassette.yaml
  internal/services/instance/testdata/snapshot-server.cassette.yaml
  internal/services/lb/testdata/lb-with-private-networks-on-dhcp-config.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-dhcp-reservation-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-dhcp-reservation-static.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-dhcp-entry-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-with-instance.cassette.yaml
Labels: instance, load-balancer, vpcgw

rollback change mnq
  internal/services/mnq/helpers_mnq_queue.go
Labels: mnq

fix(object): change user-agent
  internal/services/object/testdata/data-source-object-bucket-basic.cassette.yaml
  internal/services/object/testdata/data-source-object-bucket-policy-basic.cassette.yaml
  internal/services/object/testdata/data-source-object-bucket-project-id-allowed.cassette.yaml
  internal/services/object/testdata/data-source-object-bucket-project-id-forbidden.cassette.yaml
  internal/services/object/testdata/object-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-grantee-with-owner.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-grantee.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-remove.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-cors-delete.cassette.yaml
  internal/services/object/testdata/object-bucket-cors-empty-origin.cassette.yaml
  internal/services/object/testdata/object-bucket-cors-update.cassette.yaml
  internal/services/object/testdata/object-bucket-destroy-force.cassette.yaml
  internal/services/object/testdata/object-bucket-lifecycle.cassette.yaml
  internal/services/object/testdata/object-bucket-lock-configuration-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-lock-configuration-update.cassette.yaml
  internal/services/object/testdata/object-bucket-lock-configuration-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-object-lock.cassette.yaml
  internal/services/object/testdata/object-bucket-policy-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-policy-other-region-with-bucket-id.cassette.yaml
  internal/services/object/testdata/object-bucket-policy-other-region-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-website-configuration-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-website-configuration-update.cassette.yaml
  internal/services/object/testdata/object-bucket-website-configuration-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-website-configuration-with-policy.cassette.yaml
  internal/services/object/testdata/object-by-content-base64.cassette.yaml
  internal/services/object/testdata/object-by-content.cassette.yaml
  internal/services/object/testdata/object-encryption.cassette.yaml
  internal/services/object/testdata/object-hash.cassette.yaml
  internal/services/object/testdata/object-metadata.cassette.yaml
  internal/services/object/testdata/object-move.cassette.yaml
  internal/services/object/testdata/object-state.cassette.yaml
  internal/services/object/testdata/object-storage-class.cassette.yaml
  internal/services/object/testdata/object-tags.cassette.yaml
  internal/services/object/testdata/object-visibility.cassette.yaml
  internal/services/object/testdata/object-with-bucket-name.cassette.yaml
Labels: object

fix golangci-lint
  internal/services/object/helpers_object.go
Labels: object

fix user agent
  internal/services/object/testdata/data-source-object-bucket-basic.cassette.yaml
  internal/services/object/testdata/data-source-object-bucket-policy-basic.cassette.yaml
  internal/services/object/testdata/data-source-object-bucket-project-id-allowed.cassette.yaml
  internal/services/object/testdata/data-source-object-bucket-project-id-forbidden.cassette.yaml
  internal/services/object/testdata/object-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-grantee-with-owner.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-grantee.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-remove.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-cors-delete.cassette.yaml
  internal/services/object/testdata/object-bucket-cors-empty-origin.cassette.yaml
  internal/services/object/testdata/object-bucket-cors-update.cassette.yaml
  internal/services/object/testdata/object-bucket-destroy-force.cassette.yaml
  internal/services/object/testdata/object-bucket-lifecycle.cassette.yaml
  internal/services/object/testdata/object-bucket-lock-configuration-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-lock-configuration-update.cassette.yaml
  internal/services/object/testdata/object-bucket-lock-configuration-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-object-lock.cassette.yaml
  internal/services/object/testdata/object-bucket-policy-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-policy-other-region-with-bucket-id.cassette.yaml
  internal/services/object/testdata/object-bucket-policy-other-region-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-website-configuration-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-website-configuration-update.cassette.yaml
  internal/services/object/testdata/object-bucket-website-configuration-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-website-configuration-with-policy.cassette.yaml
  internal/services/object/testdata/object-by-content-base64.cassette.yaml
  internal/services/object/testdata/object-by-content.cassette.yaml
  internal/services/object/testdata/object-encryption.cassette.yaml
  internal/services/object/testdata/object-hash.cassette.yaml
  internal/services/object/testdata/object-metadata.cassette.yaml
  internal/services/object/testdata/object-move.cassette.yaml
  internal/services/object/testdata/object-state.cassette.yaml
  internal/services/object/testdata/object-storage-class.cassette.yaml
  internal/services/object/testdata/object-tags.cassette.yaml
  internal/services/object/testdata/object-visibility.cassette.yaml
  internal/services/object/testdata/object-with-bucket-name.cassette.yaml
Labels: object

golanci-lint
  internal/services/object/helpers_object.go
Labels: object

fix user agent with last version
  internal/services/object/helpers_object.go
  internal/services/object/testdata/data-source-object-bucket-basic.cassette.yaml
  internal/services/object/testdata/data-source-object-bucket-policy-basic.cassette.yaml
  internal/services/object/testdata/data-source-object-bucket-project-id-allowed.cassette.yaml
  internal/services/object/testdata/data-source-object-bucket-project-id-forbidden.cassette.yaml
  internal/services/object/testdata/object-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-grantee-with-owner.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-grantee.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-remove.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-cors-delete.cassette.yaml
  internal/services/object/testdata/object-bucket-cors-empty-origin.cassette.yaml
  internal/services/object/testdata/object-bucket-cors-update.cassette.yaml
  internal/services/object/testdata/object-bucket-destroy-force.cassette.yaml
  internal/services/object/testdata/object-bucket-lifecycle.cassette.yaml
  internal/services/object/testdata/object-bucket-lock-configuration-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-lock-configuration-update.cassette.yaml
  internal/services/object/testdata/object-bucket-lock-configuration-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-object-lock.cassette.yaml
  internal/services/object/testdata/object-bucket-policy-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-policy-other-region-with-bucket-id.cassette.yaml
  internal/services/object/testdata/object-bucket-policy-other-region-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-website-configuration-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-website-configuration-update.cassette.yaml
  internal/services/object/testdata/object-bucket-website-configuration-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-website-configuration-with-policy.cassette.yaml
  internal/services/object/testdata/object-by-content-base64.cassette.yaml
  internal/services/object/testdata/object-by-content.cassette.yaml
  internal/services/object/testdata/object-encryption.cassette.yaml
  internal/services/object/testdata/object-hash.cassette.yaml
  internal/services/object/testdata/object-metadata.cassette.yaml
  internal/services/object/testdata/object-move.cassette.yaml
  internal/services/object/testdata/object-state.cassette.yaml
  internal/services/object/testdata/object-storage-class.cassette.yaml
  internal/services/object/testdata/object-tags.cassette.yaml
  internal/services/object/testdata/object-visibility.cassette.yaml
  internal/services/object/testdata/object-with-bucket-name.cassette.yaml
Labels: object

golanci-lint
  internal/services/object/helpers_object.go
Labels: object

golanci-lint
  internal/services/object/helpers_object.go
Labels: object

golanci-lint
  internal/services/object/helpers_object.go
Labels: object

feat(apple-silicon): add support vpc (#2875)
  docs/resources/apple_silicon.md
  go.mod
  go.sum
  internal/services/applesilicon/clients.go
  internal/services/applesilicon/helpers.go
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-basic.cassette.yaml
  internal/services/applesilicon/testdata/server-enable-disabled-vpc.cassette.yaml
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
  internal/services/applesilicon/types.go
  internal/services/applesilicon/waiters.go
Labels: apple-silicon

refactor(instance): extract block helpers to a package
  internal/services/instance/helpers_instance.go
  internal/services/instance/helpers_instance_block.go
  internal/services/instance/image.go
  internal/services/instance/image_test.go
  internal/services/instance/instancehelpers/block.go
  internal/services/instance/instancehelpers/waiters.go
  internal/services/instance/instancehelpers/waiters_test.go
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/snapshot_data_source_test.go
  internal/services/instance/snapshot_test.go
  internal/services/instance/testfuncs/checks.go
  internal/services/instance/volume.go
  internal/services/instance/volume_data_source_test.go
  internal/services/instance/volume_test.go
  internal/services/instance/waiters.go
Labels: instance

feat(block_volume): support migration from instance volume
  internal/services/block/helpers_block.go
  internal/services/block/testdata/volume-from-instance.cassette.yaml
  internal/services/block/volume.go
  internal/services/block/volume_test.go
Labels: none

feat(instance_volume): support migration
  internal/services/instance/volume.go
Labels: instance

feat(domain): add helpers for expand contact
  internal/services/domain/domain.go
  internal/services/domain/helpers.go
  internal/services/domain/helpers_test.go
Labels: domain

feat(domain): add chore of new resource order domain
  internal/services/domain/helpers.go
  internal/services/domain/order_domain.go
  internal/services/domain/order_domain_test.go
Labels: domain

feat(domain): add support for buying and registar domains
  internal/services/domain/domain.go
  internal/services/domain/helpers.go
Labels: domain

feat(domain): add test for create and read
  internal/provider/provider.go
  internal/services/domain/domain.go
  internal/services/domain/helpers.go
  internal/services/domain/order_domain.go
  internal/services/domain/order_domain_test.go
  internal/services/domain/testdata/order-domain-basic.cassette.yaml
Labels: domain

feat(domain): add chore of new resource order domain
  go.mod
  internal/services/domain/helpers.go
  internal/services/domain/order_domain.go
  internal/services/domain/order_domain_test.go
Labels: domain

remove comments
  internal/services/domain/domains_registration.go
Labels: domain

change datastructure
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
Labels: domain

feat: resource can order a list of domains
  internal/provider/provider.go
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
  internal/services/domain/order_domain_test.go
  internal/services/domain/waiters.go
Labels: domain

test: add multiple test
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/testdata/domain-registration-multiple-domains-no-update.cassette.yaml
  internal/services/domain/testdata/domain-registration-multiple-domains-update.cassette.yaml
  internal/services/domain/waiters.go
Labels: domain

add doc
  docs/resources/domain_domains_registration.md
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
Labels: domain

test: add cassettes
  internal/services/domain/testdata/domain-registration-multiple-domains-no-update.cassette.yaml
  internal/services/domain/testdata/domain-registration-single-domain-with-update.cassette.yaml
Labels: domain

chore: add test
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
Labels: domain

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**
