Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**

remove duplicate
  cmd/vcr-compressor/main.go
Labels: none

fix(iam): handle http 409 transient error
  internal/services/iam/group_membership.go
Labels: iam

feat(acctest): compare slice of map[string]interface{}
  internal/acctest/acctest_test.go
  internal/acctest/compare.go
  internal/acctest/vcr.go
Labels: none

chore: compress rdb cassettes (#3137)
  cmd/vcr-compressor/main.go
  internal/services/rdb/testdata/acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-database-backup-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-database-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-instance-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-privilege-basic.cassette.yaml
  internal/services/rdb/testdata/database-backup-basic.cassette.yaml
  internal/services/rdb/testdata/database-basic.cassette.yaml
  internal/services/rdb/testdata/database-manual-delete.cassette.yaml
  internal/services/rdb/testdata/instance-backup-schedule.cassette.yaml
  internal/services/rdb/testdata/instance-basic.cassette.yaml
  internal/services/rdb/testdata/instance-capitalize.cassette.yaml
  internal/services/rdb/testdata/instance-change-node-type.cassette.yaml
  internal/services/rdb/testdata/instance-change-volume-type.cassette.yaml
  internal/services/rdb/testdata/instance-complete-workflow.cassette.yaml
  internal/services/rdb/testdata/instance-encryption-at-rest-false.cassette.yaml
  internal/services/rdb/testdata/instance-encryption-at-rest.cassette.yaml
  internal/services/rdb/testdata/instance-endpoints.cassette.yaml
  internal/services/rdb/testdata/instance-init-settings.cassette.yaml
  internal/services/rdb/testdata/instance-logs-policy.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/rdb/testdata/instance-sbs-volume.cassette.yaml
  internal/services/rdb/testdata/instance-settings.cassette.yaml
  internal/services/rdb/testdata/instance-update-encryption-at-rest.cassette.yaml
  internal/services/rdb/testdata/instance-volume.cassette.yaml
  internal/services/rdb/testdata/instance-with-cluster.cassette.yaml
  internal/services/rdb/testdata/privilege-basic.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-basic.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-basic.cassette.yaml
  internal/services/rdb/testdata/read-replica-different-zone.cassette.yaml
  internal/services/rdb/testdata/read-replica-multiple-endpoints.cassette.yaml
  internal/services/rdb/testdata/read-replica-private-network.cassette.yaml
  internal/services/rdb/testdata/read-replica-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-with-instance-also-in-private-network.cassette.yaml
  internal/services/rdb/testdata/user-basic.cassette.yaml
Labels: rdb

Delete Methode
  internal/services/file/file.go
Labels: none

Create, Read and Update function
  go.mod
  go.sum
  internal/services/file/file.go
  internal/services/file/helpers_file.go
  internal/services/file/waiter.go
Labels: none

feat(file): add support v1beta1
  internal/services/file/file.go
  internal/services/file/helpers_file.go
Labels: none

add tests
  internal/provider/provider.go
  internal/services/file/filesystem.go
  internal/services/file/filesystem_test.go
  internal/services/file/testfuncs/checks.go
Labels: none

doc: create and update documentation
  docs/resources/file_filesystem.md
Labels: none

fix date issue and register cassettes
  internal/services/file/filesystem.go
  internal/services/file/filesystem_test.go
  internal/services/file/testdata/file-system-basic.cassette.yaml
  internal/services/file/testdata/file-system-size-too-small-fails.cassette.yaml
  internal/services/file/testdata/file-system-wrong-size.cassette.yaml
Labels: none

chore: tidy Go modules and update go.sum
  go.sum
Labels: none

doc: error checking file contents fix
  docs/resources/file_filesystem.md
Labels: none

doc: create and update documentation
  docs/resources/file_filesystem.md
Labels: none

test: fix filesystem size assertion by using strconv.FormatInt
  internal/services/file/filesystem_test.go
  internal/services/file/testdata/file-system-basic.cassette.yaml
Labels: none

test: add validation for filesystem size granularity
  internal/services/file/filesystem_test.go
  internal/services/file/testdata/file-system-invalid-size-granularity-fails.cassette.yaml
Labels: none

feat(vpc): add support for ResourceIdentity
  internal/services/vpc/acl.go
  internal/services/vpc/private_network.go
  internal/services/vpc/route.go
  internal/services/vpc/vpc.go
Labels: vpc

lint
  internal/services/vpc/acl.go
  internal/services/vpc/private_network.go
  internal/services/vpc/route.go
  internal/services/vpc/vpc.go
Labels: vpc

fix: convertion
  internal/services/file/filesystem.go
  internal/services/file/filesystem_test.go
  internal/services/file/testdata/file-system-basic.cassette.yaml
  internal/services/file/testdata/file-system-invalid-size-granularity-fails.cassette.yaml
  internal/services/file/testdata/file-system-size-too-small-fails.cassette.yaml
  internal/services/file/testdata/file-system-wrong-size.cassette.yaml
Labels: none
