Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

fix getOfferInformation
  internal/services/baremetal/helpers.go
Labels: baremetal

fix test and customDiff logic
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
Labels: baremetal

fix stash
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
Labels: baremetal

fix helper
  internal/services/baremetal/helpers.go
Labels: baremetal

fix logic
  internal/services/baremetal/helpers.go
Labels: baremetal

fix linter
  internal/services/baremetal/helpers.go
Labels: baremetal

fix logic helper
  internal/services/baremetal/helpers.go
Labels: baremetal

add documentation migration
  docs/resources/baremetal_server.md
Labels: none

update cassettes
  internal/services/baremetal/testdata/server-basic.cassette.yaml
Labels: baremetal

feat(baremetal): support easy partitioning
  internal/services/baremetal/partitioning_data_source.go
Labels: baremetal

rename datasource
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/partitioning_data_source.go
Labels: baremetal

chore(instance): remove routed_ip_enabled references
  docs/data-sources/instance_server.md
  docs/data-sources/instance_servers.md
  docs/resources/instance_server.md
  internal/services/instance/server.go
  internal/services/instance/servers_data_source.go
Labels: instance

feat(baremetal): add check compatible
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/helpers.go
Labels: baremetal

move test to the right package and add data source to provier
  internal/provider/provider.go
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/easy_partitioning_source_test.go
Labels: baremetal

fix(announce): update output syntax in slack announcement workflow
  .github/workflows/announce.yaml
Labels: none

feat: add support for the protected parameter for instances
  internal/services/instance/server.go
Labels: instance

fix(announce): update output syntax in slack announcement workflow (#3025)
  .github/workflows/announce.yaml
Labels: none

chore(instance): remove routed_ip_enabled references (#3024)
  docs/data-sources/instance_server.md
  docs/data-sources/instance_servers.md
  docs/resources/instance_server.md
  internal/services/instance/server.go
  internal/services/instance/servers_data_source.go
Labels: instance

add tests
  internal/services/baremetal/easy_partitioning_source_test.go
  internal/services/baremetal/helpers.go
Labels: baremetal

variable name
  internal/services/baremetal/server_test.go
Labels: baremetal

fix: indentation
  internal/services/instance/server.go
Labels: instance

Distinguish between Member users and Guest users in user creation
  internal/services/iam/user.go
Labels: iam

Add all API parameters to resource schema
  internal/services/iam/user.go
Labels: iam

Complete implementation of user creation
  internal/services/iam/user.go
Labels: iam

Add fields to user read function
  internal/services/iam/user.go
Labels: iam

chore: enable govet fieldalignment
  .golangci.yml
  internal/datasource/search.go
  internal/meta/meta.go
  internal/services/baremetal/server.go
  internal/services/domain/helpers_test.go
  internal/services/instance/instancehelpers/block.go
  internal/services/instance/instancehelpers/waiters_test.go
  internal/services/lb/helpers_lb_test.go
  internal/transport/retry_aws.go
Labels: baremetal, domain, instance, load-balancer

Fix schema of some parameters
  internal/services/iam/user.go
Labels: iam

Reimplement acceptance tests to test creation for both user types
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user_test.go
Labels: iam

Complete acceptance tests
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user.go
  internal/services/iam/user_test.go
Labels: iam

Add comments
  internal/services/iam/user.go
Labels: iam

Final test runs: no errors
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
Labels: iam

Update docs
  docs/resources/iam_user.md
Labels: none

feat(baremetal): migration to monthly (#3008)
  docs/resources/baremetal_server.md
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/server-basic.cassette.yaml
  internal/services/baremetal/testdata/server-create-server-with-custom-install-config.cassette.yaml
Labels: baremetal

Fix
  go.mod
  go.sum
  internal/services/instance/server.go
Labels: instance

update lb cassettes
  internal/services/lb/testdata/lb-with-private-networks-ipam-ids.cassette.yaml
  internal/services/lb/testdata/lb-without-pn-config.cassette.yaml
Labels: load-balancer

add doc
  docs/resources/instance_server.md
  internal/services/instance/server.go
Labels: instance

feat(instance): add support for the protected parameter for instances enhancement instance (#3026)
  docs/resources/instance_server.md
  go.mod
  go.sum
  internal/services/instance/server.go
  internal/services/lb/testdata/lb-with-private-networks-ipam-ids.cassette.yaml
  internal/services/lb/testdata/lb-without-pn-config.cassette.yaml
Labels: instance, load-balancer

chore: enable govet fieldalignment (#3027)
  .golangci.yml
  internal/datasource/search.go
  internal/meta/meta.go
  internal/services/baremetal/server.go
  internal/services/domain/helpers_test.go
  internal/services/instance/instancehelpers/block.go
  internal/services/instance/instancehelpers/waiters_test.go
  internal/services/lb/helpers_lb_test.go
  internal/transport/retry_aws.go
Labels: baremetal, domain, instance, load-balancer

register tests easy-partitioning
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/testdata/data-source-easy-paritioning-basic.cassette.yaml
  internal/services/baremetal/testdata/server-basic-simple.cassette.yaml
Labels: baremetal

feat(k8s): ACL CRUD + add scaleway_k8s_acl resource to provider
  internal/provider/provider.go
  internal/services/k8s/acl.go
Labels: k8s

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**
