Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**

fix lint
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
Labels: domain

fix doc
  docs/resources/domain_domains_registration.md
Labels: none

fix lint
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
Labels: domain

fix lint
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
Labels: domain

docs(function): add http_option field
  docs/resources/function.md
Labels: none

feat(container/function): secret env variables customdiff
  go.mod
  go.sum
  internal/services/container/helpers_container.go
  internal/services/container/namespace.go
  internal/services/container/namespace_test.go
  scaleway/helpers_container.go
Labels: container

docs(function): add http_option field (#2946)
  docs/resources/function.md
Labels: none

chore: add support for tfplugindocs validate
  .github/workflows/documentation.yml
  docs/data-sources/billing_consumptions.md
  docs/data-sources/block_snapshot.md
  docs/data-sources/config.md
  docs/resources/apple_silicon_server.md
  go.mod
  go.sum
Labels: none

Fix
  docs/resources/apple_silicon_server.md
Labels: none

fix lint
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
Labels: domain

chore: add support for tfplugindocs validate (#2947)
  .github/workflows/documentation.yml
  docs/data-sources/billing_consumptions.md
  docs/data-sources/block_snapshot.md
  docs/data-sources/config.md
  docs/resources/apple_silicon_server.md
  go.mod
  go.sum
Labels: none

remove extra file
  scaleway/helpers_container.go
Labels: none

store non-hashedvalue in diffsuppress if it match with stored hash
  internal/services/container/namespace.go
Labels: container

read secret variables in Read but keep non-hashed value in state
  internal/services/container/helpers_container.go
  internal/services/container/namespace.go
Labels: container

rename test
  internal/services/container/namespace_test.go
Labels: container

record cassette
  internal/services/container/testdata/namespace-import-with-secrets.cassette.yaml
Labels: container

feat(instance): prevent explicit b_ssd usage for instance_server root_volume
  internal/services/instance/server.go
Labels: instance

feat(instance): prevent explicit b_ssd usage for instance_server root_volume (#2951)
  internal/services/instance/server.go
Labels: instance

feat(k8s): remove warnings for missing pn
  internal/services/k8s/cluster.go
Labels: k8s

lint
  internal/services/k8s/cluster.go
Labels: k8s

add customDiff function to check
  internal/services/baremetal/helpers.go
Labels: baremetal

fix(k8s): remove warnings for missing pn (#2952)
  internal/services/k8s/cluster.go
Labels: k8s

customDiff function with forceNew on name
  internal/services/baremetal/helpers.go
Labels: baremetal

chore: migrate to devtools sub-teams
  .github/CODEOWNERS
Labels: none

Fix
  .github/CODEOWNERS
Labels: none

chore: migrate to devtools sub-teams (#2959)
  .github/CODEOWNERS
Labels: none

fix customDiff
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
Labels: baremetal

fix(tem): protect read dmarc
  internal/services/tem/domain.go
Labels: tem

fix lint
  internal/services/tem/domain.go
Labels: tem

bump sdk-go
  go.mod
  go.sum
  internal/services/baremetal/server_test.go
Labels: baremetal

fix(tem): protect read dmarc (#2960)
  internal/services/tem/domain.go
Labels: tem

docs(serverless): document unit and default value of timeout
  docs/resources/container.md
Labels: none

feat(webhosting): add dns records and name servers
  internal/services/webhosting/helpers.go
  internal/services/webhosting/testdata/webhosting-basic.cassette.yaml
  internal/services/webhosting/webhosting.go
  internal/services/webhosting/webhosting_test.go
Labels: webhosting

feat(webhosting): fix lint
  internal/services/webhosting/helpers.go
  internal/services/webhosting/webhosting.go
Labels: webhosting

docs(serverless): how to handle deprecation of max_concurrency
  docs/resources/container.md
Labels: none

docs(serverless): fix typo
  docs/data-sources/container.md
  docs/resources/container.md
Labels: none

docs(container): add more information about some arguments of container (#2961)
  docs/data-sources/container.md
  docs/resources/container.md
Labels: none

feat(webhosting): fix lint
  internal/services/webhosting/helpers.go
  internal/services/webhosting/testdata/data-source-offer-basic.cassette.yaml
  internal/services/webhosting/testdata/data-source-webhosting-basic.cassette.yaml
  internal/services/webhosting/testdata/webhosting-basic.cassette.yaml
  internal/services/webhosting/webhosting.go
Labels: webhosting

feat(webhosting): add dns records and name servers (#2962)
  internal/services/webhosting/helpers.go
  internal/services/webhosting/testdata/data-source-offer-basic.cassette.yaml
  internal/services/webhosting/testdata/data-source-webhosting-basic.cassette.yaml
  internal/services/webhosting/testdata/webhosting-basic.cassette.yaml
  internal/services/webhosting/webhosting.go
  internal/services/webhosting/webhosting_test.go
Labels: webhosting

cleanup: remove commented helpers
  internal/services/domain/helpers.go
Labels: domain
