Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

feat(rdb): add resource for snapshot
  internal/services/rdb/snapshots.go
Labels: rdb

feat: add test
  docs/resources/rdb_snapshot.md
  internal/provider/provider.go
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/snapshots.go
  internal/services/rdb/snapshots_test.go
  internal/services/rdb/testdata/instance-case-sensitive-engine.cassette.yaml
  internal/services/rdb/testdata/rdb-instance-complete-workflow.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-basic.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-complete-workflow.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-end-to-end.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-update.cassette.yaml
  internal/services/rdb/waiters.go
  log
Labels: rdb

fix lint doc
  docs/resources/rdb_snapshot.md
  log
Labels: none

fix: lint doc
  docs/resources/rdb_snapshot.md
  internal/services/rdb/instance_test.go
Labels: rdb

fix: lint doc
  docs/resources/rdb_snapshot.md
Labels: none

fix: lint doc
  docs/resources/rdb_snapshot.md
Labels: none

fix: lint doc
  docs/resources/rdb_snapshot.md
Labels: none

fix: lint doc
  internal/services/rdb/testdata/instance-case-sensitive-engine.cassette.yaml
Labels: rdb

feat: add test
  internal/services/rdb/instance_test.go
  internal/services/rdb/testdata/instance-case-sensitive-engine.cassette.yaml
  log
Labels: rdb

fix: name test
  internal/services/rdb/instance_test.go
Labels: rdb

fix: lint
  internal/services/rdb/instance.go
Labels: rdb

updated cassette
  internal/services/rdb/testdata/acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-database-backup-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-database-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-instance-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-privilege-basic.cassette.yaml
  internal/services/rdb/testdata/database-basic.cassette.yaml
  internal/services/rdb/testdata/database-manual-delete.cassette.yaml
  internal/services/rdb/testdata/instance-backup-schedule.cassette.yaml
  internal/services/rdb/testdata/instance-basic.cassette.yaml
  internal/services/rdb/testdata/instance-capitalize.cassette.yaml
  internal/services/rdb/testdata/instance-change-node-type.cassette.yaml
  internal/services/rdb/testdata/instance-change-volume-type.cassette.yaml
  internal/services/rdb/testdata/instance-complete-workflow.cassette.yaml
  internal/services/rdb/testdata/instance-encryption-at-rest-false.cassette.yaml
  internal/services/rdb/testdata/instance-encryption-at-rest.cassette.yaml
  internal/services/rdb/testdata/instance-endpoints.cassette.yaml
  internal/services/rdb/testdata/instance-init-settings.cassette.yaml
  internal/services/rdb/testdata/instance-logs-policy.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-dhcp.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/rdb/testdata/instance-sbs-volume.cassette.yaml
  internal/services/rdb/testdata/instance-settings.cassette.yaml
  internal/services/rdb/testdata/instance-update-encryption-at-rest.cassette.yaml
  internal/services/rdb/testdata/instance-volume.cassette.yaml
  internal/services/rdb/testdata/instance-with-cluster.cassette.yaml
  internal/services/rdb/testdata/privilege-basic.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-basic.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-basic.cassette.yaml
  internal/services/rdb/testdata/read-replica-different-zone.cassette.yaml
  internal/services/rdb/testdata/read-replica-multiple-endpoints.cassette.yaml
  internal/services/rdb/testdata/read-replica-private-network.cassette.yaml
  internal/services/rdb/testdata/read-replica-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-with-instance-also-in-private-network.cassette.yaml
  internal/services/rdb/testdata/user-basic.cassette.yaml
Labels: rdb

fix error 400
  internal/services/rdb/testdata/instance-complete-workflow.cassette.yaml
Labels: rdb

fix: update node_type description
  internal/services/rdb/snapshots.go
Labels: rdb

delete old cassette
  internal/services/rdb/testdata/instance-case-sensitive-engine.cassette.yaml
  internal/services/rdb/testdata/rdb-instance-complete-workflow.cassette.yaml
Labels: rdb

fix delete log
  log
Labels: none

doc updated
  docs/resources/rdb_snapshot.md
Labels: none

delete unused cassette
  internal/services/rdb/testdata/rdb-snapshot-complete-workflow.cassette.yaml
Labels: rdb

test: fix linting errors
  .golangci.yml
  internal/services/scwconfig/scw_config_data_source_test.go
Labels: none

Fix
  internal/services/scwconfig/scw_config_data_source_test.go
Labels: none

Fix a lint
  internal/services/rdb/instance.go
Labels: rdb

test: fix linting errors (#2921)
  .golangci.yml
  internal/services/scwconfig/scw_config_data_source_test.go
Labels: none

feat(instance_server): default to sbs volume root volume, even if l_ssd is available
  internal/services/instance/helpers_instance.go
Labels: instance

update lb cassette
  internal/services/lb/testdata/lb-with-private-networks-on-dhcp-config.cassette.yaml
Labels: load-balancer

add image test with sbs
  internal/services/instance/image_test.go
Labels: instance

refactor(block): extract test checks helpers
  internal/services/block/snapshot_data_source_test.go
  internal/services/block/snapshot_test.go
  internal/services/block/testfuncs/checks.go
  internal/services/block/volume_data_source_test.go
  internal/services/block/volume_test.go
Labels: none

update vpcgw cassettes
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-dhcp-reservation-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-dhcp-reservation-static.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-dhcp-entry-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-with-instance.cassette.yaml
Labels: vpcgw

update cassettes
  internal/services/instance/testdata/data-source-private-nic-basic.cassette.yaml
  internal/services/instance/testdata/data-source-server-basic.cassette.yaml
  internal/services/instance/testdata/data-source-servers-basic.cassette.yaml
  internal/services/instance/testdata/image-server-with-local-volume.cassette.yaml
  internal/services/instance/testdata/image-server-with-sbs-volume.cassette.yaml
  internal/services/instance/testdata/image-server.cassette.yaml
  internal/services/instance/testdata/ip-reverse-dns-basic.cassette.yaml
  internal/services/instance/testdata/placement-group-rename.cassette.yaml
  internal/services/instance/testdata/private-nic-basic.cassette.yaml
  internal/services/instance/testdata/server-additional-volumes-detach.cassette.yaml
  internal/services/instance/testdata/server-additional-volumes.cassette.yaml
  internal/services/instance/testdata/server-alter-tags.cassette.yaml
  internal/services/instance/testdata/server-custom-diff-image.cassette.yaml
  internal/services/instance/testdata/server-minimal1.cassette.yaml
  internal/services/instance/testdata/server-minimal2.cassette.yaml
  internal/services/instance/testdata/server-private-network-missing-pnic.cassette.yaml
  internal/services/instance/testdata/server-private-network.cassette.yaml
  internal/services/instance/testdata/server-root-volume-boot.cassette.yaml
  internal/services/instance/testdata/server-server-with-block-non-default-zone.cassette.yaml
  internal/services/instance/testdata/server-user-data-basic.cassette.yaml
  internal/services/instance/testdata/server-user-data-with-cloud-init-at-start.cassette.yaml
  internal/services/instance/testdata/server-user-data-without-cloud-init-at-start.cassette.yaml
  internal/services/instance/testdata/server-with-default-root-volume-and-additional-volume.cassette.yaml
  internal/services/instance/testdata/server-with-reserved-ip.cassette.yaml
  internal/services/instance/testdata/snapshot-server-with-block-volume.cassette.yaml
  internal/services/instance/testdata/snapshot-server.cassette.yaml
Labels: instance

lint
  internal/services/block/snapshot_data_source_test.go
  internal/services/block/snapshot_test.go
  internal/services/block/volume_data_source_test.go
  internal/services/block/volume_test.go
Labels: none

update tests
  internal/services/instance/image_test.go
  internal/services/instance/server_test.go
  internal/services/instance/snapshot_test.go
Labels: instance

update invalid cassettes
  internal/services/instance/testdata/ip-reverse-dns-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-dhcp-reservation-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-with-instance.cassette.yaml
Labels: instance, vpcgw

add waiter terminal state vpc_enable
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/waiters.go
Labels: apple-silicon

manage updating vpc enable update
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
Labels: apple-silicon

update test disable vpc_option
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
Labels: apple-silicon

fix tests
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-basic.cassette.yaml
Labels: apple-silicon

add tests
  internal/services/applesilicon/server_test.go
Labels: apple-silicon

tests
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
Labels: apple-silicon

add test vpc
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
Labels: apple-silicon

fix part of tests
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-basic.cassette.yaml
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
Labels: apple-silicon

go mod tidy
  go.sum
Labels: none

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**
