Repository scaleway/terraform-provider-scaleway, changes with the labels that .github/labeler.yml gives for each.
All labels: account, apple-silicon, baremetal, billing, container, domain, flexible-ip, function, iam, instance, iot, k8s, load-balancer, mnq, object, rdb, redis, registry, sdb, secret, tem, vpc, vpcgw, webhosting

bump sdk go
  go.mod
  go.sum
Labels: none

update resources to v1beta1
  internal/provider/provider.go
  internal/services/edgeservices/backend_stage.go
  internal/services/edgeservices/backend_stage_test.go
  internal/services/edgeservices/cache_stage.go
  internal/services/edgeservices/cache_stage_test.go
  internal/services/edgeservices/dns_stage.go
  internal/services/edgeservices/dns_stage_test.go
  internal/services/edgeservices/head_stage.go
  internal/services/edgeservices/helpers.go
  internal/services/edgeservices/pipeline.go
  internal/services/edgeservices/plan.go
  internal/services/edgeservices/plan_test.go
  internal/services/edgeservices/testdata/edge-services-backend-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-cache-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-dns-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-plan-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-tls-basic.cassette.yaml
  internal/services/edgeservices/testfuncs/checks.go
  internal/services/edgeservices/testfuncs/sweep.go
  internal/services/edgeservices/tls_stage.go
  internal/services/edgeservices/tls_stage_test.go
  internal/services/edgeservices/types.go
  internal/services/edgeservices/waiters.go
Labels: none

update doc
  docs/resources/edge_services_backend_stage.md
  docs/resources/edge_services_cache_stage.md
  docs/resources/edge_services_dns_stage.md
  docs/resources/edge_services_head_stage.md
  docs/resources/edge_services_pipeline.md
  docs/resources/edge_services_plan.md
  docs/resources/edge_services_tls_stage.md
Labels: none

gofumpt
  docs/resources/edge_services_backend_stage.md
  internal/services/edgeservices/head_stage.go
  internal/services/edgeservices/helpers.go
Labels: none

chore: bump sdk go
  go.mod
  go.sum
Labels: none

update secret cassettes
  internal/services/secret/testdata/data-source-secret-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
Labels: secret

lint
  docs/resources/edge_services_backend_stage.md
Labels: none

chore: bump sdk go (#2964)
  go.mod
  go.sum
  internal/services/secret/testdata/data-source-secret-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
Labels: secret

ci: add support for actionlint
  .github/workflows/actionlint.yml
  .github/workflows/announce.yaml
Labels: none

lint
  .github/workflows/nightly.yml
  docs/resources/edge_services_head_stage.md
  internal/services/edgeservices/head_stage.go
  internal/services/edgeservices/helpers.go
Labels: none

ci: add support for actionlint (#2966)
  .github/workflows/actionlint.yml
  .github/workflows/announce.yaml
Labels: none

fix tfproviderdocs lint
  docs/resources/edge_services_head_stage.md
  docs/resources/edge_services_plan.md
Labels: none

feat(mongodb): vpc support
  internal/services/mongodb/instance.go
  internal/services/mongodb/instance_test.go
  internal/services/mongodb/testdata/mongo-db-instance-update-private-network.cassette.yaml
  internal/services/mongodb/testdata/mongo-db-instance-with-private-network.cassette.yaml
  internal/services/mongodb/types.go
Labels: none

feat(mongodb): add doc
  docs/resources/mongodb_instance.md
  internal/services/mongodb/instance.go
Labels: none

fix lb origin
  docs/resources/edge_services_backend_stage.md
  internal/services/edgeservices/backend_stage.go
  internal/services/edgeservices/types.go
Labels: none

bump sdk-go
  go.mod
  go.sum
Labels: none

fix(cockpit): purge plan
  internal/services/cockpit/cockpit.go
  internal/services/cockpit/cockpit_data_source.go
  internal/services/cockpit/cockpit_data_source_test.go
  internal/services/cockpit/cockpit_test.go
  internal/services/cockpit/testdata/cockpit-simple.cassette.yaml
  internal/services/cockpit/testdata/data-source-cockpit-basic.cassette.yaml
Labels: none

fix(cockpit): fix lint
  internal/services/cockpit/cockpit.go
  internal/services/cockpit/cockpit_data_source.go
Labels: none

feat(domain): add helpers for expand contact
  internal/services/domain/domain.go
  internal/services/domain/helpers.go
  internal/services/domain/helpers_test.go
Labels: domain

add data source for domain
  internal/services/domain/domain_data_source.go
  internal/services/domain/domains_registration.go
Labels: domain

add print for debug
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
Labels: domain

add doc
  docs/resources/domain_domains_registration.md
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
Labels: domain

feat(domain): add chore of new resource order domain
  go.mod
  internal/services/domain/helpers.go
  internal/services/domain/order_domain.go
  internal/services/domain/order_domain_test.go
Labels: domain

feat(domain): add support for buying and registar domains
  internal/services/domain/domain.go
  internal/services/domain/helpers.go
Labels: domain

feat(domain): add test for create and read
  internal/provider/provider.go
  internal/services/domain/domain.go
  internal/services/domain/helpers.go
  internal/services/domain/order_domain.go
  internal/services/domain/order_domain_test.go
  internal/services/domain/testdata/order-domain-basic.cassette.yaml
Labels: domain

change datastructure
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
Labels: domain

remove comments
  internal/services/domain/domains_registration.go
Labels: domain

feat: resource can order a list of domains
  internal/provider/provider.go
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
  internal/services/domain/order_domain_test.go
  internal/services/domain/waiters.go
Labels: domain

chore: add test
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
Labels: domain

feat(domain): add chore of new resource order domain
  internal/services/domain/helpers.go
  internal/services/domain/order_domain.go
  internal/services/domain/order_domain_test.go
Labels: domain

test: add cassettes
  internal/services/domain/testdata/domain-registration-multiple-domains-no-update.cassette.yaml
  internal/services/domain/testdata/domain-registration-single-domain-with-update.cassette.yaml
Labels: domain

fix lint
  internal/services/domain/domain_data_source.go
  internal/services/domain/domains_registration.go
  internal/services/domain/helpers.go
Labels: domain

test: add multiple test
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/testdata/domain-registration-multiple-domains-no-update.cassette.yaml
  internal/services/domain/testdata/domain-registration-multiple-domains-update.cassette.yaml
  internal/services/domain/waiters.go
Labels: domain

fix lint
  internal/services/domain/domains_registration.go
  internal/services/domain/domains_registration_test.go
  internal/services/domain/helpers.go
  internal/services/domain/waiters.go
Labels: domain

fix error
  internal/services/domain/helpers.go
Labels: domain

bump sdk go
  go.mod
Labels: none

add data_source for domains_registration
  internal/services/domain/domain_data_source.go
Labels: domain

bump sdk go
  internal/services/domain/domains_registration.go
  internal/services/domain/helpers.go
Labels: domain

purge(cockpit): remove plan from cockpit (#2968)
  internal/services/cockpit/cockpit.go
  internal/services/cockpit/cockpit_data_source.go
  internal/services/cockpit/cockpit_data_source_test.go
  internal/services/cockpit/cockpit_test.go
  internal/services/cockpit/testdata/cockpit-simple.cassette.yaml
  internal/services/cockpit/testdata/data-source-cockpit-basic.cassette.yaml
Labels: none

feat(mongodb): vpc support (#2967)
  docs/resources/mongodb_instance.md
  internal/services/mongodb/instance.go
  internal/services/mongodb/instance_test.go
  internal/services/mongodb/testdata/mongo-db-instance-update-private-network.cassette.yaml
  internal/services/mongodb/testdata/mongo-db-instance-with-private-network.cassette.yaml
  internal/services/mongodb/types.go
Labels: none

.github/labeler.yml:

account:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/account/**

apple-silicon:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/applesilicon/**

baremetal:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/baremetal/**

billing:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/billing/**

container:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/container/**

domain:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/domain/**

flexible-ip:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/flexibleip/**

function:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/function/**

iam:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iam/**

instance:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/instance/**

iot:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/iot/**

k8s:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/k8s/**

load-balancer:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/lb/**

mnq:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/mnq/**

object:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/object/**

rdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/rdb/**

redis:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/redis/**

registry:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/registry/**

sdb:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/sdb/**

secret:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/secret/**

tem:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/tem/**

vpc:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpc/**

vpcgw:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/vpcgw/**

webhosting:
  - changed-files:
      - any-glob-to-any-file:
          - internal/services/webhosting/**
