Repository scaleway/terraform-provider-scaleway, pull requests merged in 2018-07, with the labels that each got.

#75 Clarify the credentials used for the provider
  website/docs/index.html.markdown
Labels: documentation

#74 fix race-condition between server & volume_attachment
  CHANGELOG.md
  scaleway/helpers.go
  scaleway/resource_ip_test.go
  scaleway/resource_server.go
  scaleway/resource_server_test.go
  scaleway/resource_user_data_test.go
  scaleway/resource_volume_attachment.go
  scaleway/resource_volume_attachment_test.go
Labels: bug

#76 Documentation edits
  website/docs/d/bootscript.html.markdown
  website/docs/d/image.html.markdown
  website/docs/r/ip.html.markdown
  website/docs/r/security_group.html.markdown
  website/docs/r/security_group_rule.html.markdown
  website/docs/r/server.html.markdown
  website/docs/r/ssh_key.html.markdown
  website/docs/r/token.html.markdown
  website/docs/r/user_data.html.markdown
  website/docs/r/volume.html.markdown
  website/docs/r/volume_attachment.html.markdown
Labels: documentation

#77 New Data Source: `scaleway_volume`
  scaleway/data_source_volume.go
  scaleway/data_source_volume_test.go
  scaleway/provider.go
  vendor/github.com/hashicorp/terraform/helper/acctest/acctest.go
  vendor/github.com/hashicorp/terraform/helper/acctest/random.go
  vendor/github.com/hashicorp/terraform/helper/acctest/remotetests.go
  vendor/vendor.json
  website/docs/d/volume.html.markdown
  website/docs/r/volume.html.markdown
  website/scaleway.erb
Labels: new-data-source

#79 Docs: fixing the sidebar highlight
  website/docs/r/security_group.html.markdown
  website/docs/r/security_group_rule.html.markdown
  website/docs/r/user_data.html.markdown
  website/docs/r/volume.html.markdown
  website/docs/r/volume_attachment.html.markdown
  website/scaleway.erb
Labels: documentation

#78 New Data Source: `scaleway_security_group`
  scaleway/data_source_security_group.go
  scaleway/data_source_security_group_test.go
  scaleway/provider.go
  scaleway/resource_security_group_test.go
  website/docs/d/security_group.html.markdown
  website/scaleway.erb
Labels: new-data-source
