Repository scaleway/terraform-provider-scaleway, pull requests merged in 2018-06, with the labels that each got.

#68 Update image.html.markdown
  website/docs/d/image.html.markdown
Labels: documentation

#70 Add documentation about volumes usage
  website/docs/index.html.markdown
Labels: documentation

#69 r/server: validate instance type availability
  scaleway/resource_server.go
  vendor/github.com/nicolai86/scaleway-sdk/availability.go
  vendor/vendor.json
Labels: enhancement

#71 update scaleway sdk
  vendor/github.com/nicolai86/scaleway-sdk/api.go
  vendor/github.com/nicolai86/scaleway-sdk/server.go
  vendor/vendor.json
Labels: dependencies, enhancement

#72 support concurrent server creation
  scaleway/resource_server.go
Labels: enhancement
