Repository scaleway/terraform-provider-scaleway, pull requests merged in 2018-03, with the labels that each got.

#46 update scaleway-sdk
  vendor/github.com/nicolai86/scaleway-sdk/user.go
  vendor/vendor.json
Labels: dependencies

#47 add support for managing ssh keys
  scaleway/provider.go
  scaleway/resource_ssh_key.go
  scaleway/resource_ssh_key_test.go
  vendor/golang.org/x/crypto/curve25519/const_amd64.h
  vendor/golang.org/x/crypto/curve25519/const_amd64.s
  vendor/golang.org/x/crypto/curve25519/cswap_amd64.s
  vendor/golang.org/x/crypto/curve25519/curve25519.go
  vendor/golang.org/x/crypto/curve25519/doc.go
  vendor/golang.org/x/crypto/curve25519/freeze_amd64.s
  vendor/golang.org/x/crypto/curve25519/ladderstep_amd64.s
  vendor/golang.org/x/crypto/curve25519/mont25519_amd64.go
  vendor/golang.org/x/crypto/curve25519/mul_amd64.s
  vendor/golang.org/x/crypto/curve25519/square_amd64.s
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/const.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/edwards25519.go
  vendor/golang.org/x/crypto/internal/chacha20/chacha_generic.go
  vendor/golang.org/x/crypto/poly1305/poly1305.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/poly1305/sum_arm.go
  vendor/golang.org/x/crypto/poly1305/sum_arm.s
  vendor/golang.org/x/crypto/poly1305/sum_ref.go
  vendor/golang.org/x/crypto/ssh/buffer.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/connection.go
  vendor/golang.org/x/crypto/ssh/doc.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/mac.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/crypto/ssh/streamlocal.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/vendor.json
  website/docs/r/ssh_key.html.markdown
Labels: enhancement

#48 add support for managing ip reverse attribute
  scaleway/resource_ip.go
  scaleway/resource_ip_test.go
  vendor/github.com/nicolai86/scaleway-sdk/ip.go
  vendor/vendor.json
  website/docs/r/ip.html.markdown
Labels: enhancement

#49 guard against crashes due to missing responses
  scaleway/config.go
Labels: crash

#51 Fix example list
  website/docs/index.html.markdown
Labels: documentation

#52 Fix disk size
  website/docs/index.html.markdown
Labels: documentation

#53 update sdk dependency
  scaleway/helpers.go
  scaleway/resource_server.go
  scaleway/resource_volume.go
  scaleway/resource_volume_attachment.go
  vendor/github.com/nicolai86/scaleway-sdk/server.go
  vendor/github.com/nicolai86/scaleway-sdk/tasks.go
  vendor/github.com/nicolai86/scaleway-sdk/volume.go
  vendor/vendor.json
Labels: dependencies

#54 update the dependecy for scaleway sdk
  scaleway/resource_ip.go
  scaleway/resource_ip_test.go
  scaleway/resource_security_group.go
  scaleway/resource_security_group_rule.go
  scaleway/resource_security_group_rule_test.go
  scaleway/resource_security_group_test.go
  scaleway/resource_server.go
  scaleway/resource_server_test.go
  scaleway/resource_volume.go
  vendor/github.com/nicolai86/scaleway-sdk/container.go
  vendor/github.com/nicolai86/scaleway-sdk/image.go
  vendor/github.com/nicolai86/scaleway-sdk/ip.go
  vendor/github.com/nicolai86/scaleway-sdk/organization.go
  vendor/github.com/nicolai86/scaleway-sdk/permissions.go
  vendor/github.com/nicolai86/scaleway-sdk/quota.go
  vendor/github.com/nicolai86/scaleway-sdk/security_group.go
  vendor/github.com/nicolai86/scaleway-sdk/security_group_rule.go
  vendor/github.com/nicolai86/scaleway-sdk/server.go
  vendor/github.com/nicolai86/scaleway-sdk/snapshot.go
  vendor/github.com/nicolai86/scaleway-sdk/tasks.go
  vendor/github.com/nicolai86/scaleway-sdk/user.go
  vendor/github.com/nicolai86/scaleway-sdk/volume.go
  vendor/vendor.json
Labels: dependencies
