Repository scaleway/terraform-provider-scaleway, pull requests merged in 2019-08, with the labels that each got.

#230 doc: misc improvements
  website/docs/guides/migration_guide.html.markdown
  website/docs/r/storage_object_bucket.html.markdown
Labels: documentation, size/XS

#229 fix: update sdk config
  go.mod
  go.sum
  scaleway/provider.go
  scaleway/provider_test.go
  scaleway/resource_compute_instance_security_group.go
  scaleway/resource_compute_instance_security_group_test.go
  scaleway/resource_compute_instance_server.go
  scaleway/resource_compute_instance_volume.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/volume_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/auth/token.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/errors/error.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/marshaler/duration.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/README.md
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client_option.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config_legacy.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/convert.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/custom_types.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/env.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/load_config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/path.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/request.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/request_option.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#232 fix: avoid panic when running without config file
  scaleway/provider.go
Labels: size/XS

#231 feat: rename resources
  scaleway/provider.go
  scaleway/resource_bucket.go
  scaleway/resource_compute_instance_placement_group_test.go
  scaleway/resource_compute_instance_security_group_test.go
  scaleway/resource_compute_instance_server_test.go
  scaleway/resource_instance_ip.go
  scaleway/resource_instance_ip_test.go
  scaleway/resource_instance_placement_group.go
  scaleway/resource_instance_placement_group_test.go
  scaleway/resource_instance_security_group.go
  scaleway/resource_instance_security_group_test.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  scaleway/resource_instance_volume.go
  scaleway/resource_instance_volume_test.go
  scaleway/resource_ip.go
  scaleway/resource_ip_reverse_dns.go
  scaleway/resource_object_bucket.go
  scaleway/resource_object_bucket_test.go
  scaleway/resource_security_group.go
  scaleway/resource_security_group_rule.go
  scaleway/resource_server.go
  scaleway/resource_user_data.go
  scaleway/resource_volume.go
  scaleway/resource_volume_attachment.go
  website/docs/guides/migration_guide.html.markdown
  website/docs/index.html.markdown
  website/docs/r/bucket.html.markdown
  website/docs/r/instance_ip.html.markdown
  website/docs/r/instance_placement_group.html.markdown
  website/docs/r/instance_security_group.html.markdown
  website/docs/r/instance_server.html.markdown
  website/docs/r/instance_volume.html.markdown
  website/docs/r/ip.html.markdown
  website/docs/r/ip_reverse_dns.html.markdown
  website/docs/r/object_bucket.html.markdown
  website/docs/r/security_group.html.markdown
  website/docs/r/security_group_rule.html.markdown
  website/docs/r/server.html.markdown
  website/docs/r/user_data.html.markdown
  website/docs/r/volume.html.markdown
  website/docs/r/volume_attachment.html.markdown
  website/scaleway.erb
Labels: documentation, size/XXL
