Repository scaleway/terraform-provider-scaleway, pull requests merged in 2019-03, with the labels that each got.

#111 feat/provider: read .scwrc
  scaleway/provider.go
  scaleway/provider_test.go
  website/docs/index.html.markdown
Labels: documentation, enhancement, size/M

#113 Return the env org value instead of the key
  scaleway/provider.go
Labels: size/XS

#114 provider: Source SCALEWAY_ORGANIZATION variable correctly
  scaleway/provider.go
Labels: bug, size/XS

#115 provider: Enable request/response logging
  go.mod
  scaleway/config.go
  vendor/modules.txt
Labels: dependencies, enhancement, size/S

#116 fix/scaleway_server: ignore state_detail in import
  scaleway/import_server_test.go
Labels: bug, size/XS

#118 sort images in a descending way
  scaleway/data_source_image.go
Labels: size/XS

#119 fix data src tests to more recent ubuntu
  scaleway/data_source_image_test.go
Labels: size/XS
