Repository scaleway/terraform-provider-scaleway, pull requests merged in 2019-10, with the labels that each got.

#257 vendor: update scaleway sdk
  go.mod
  go.sum
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/errors.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/version.go
  vendor/modules.txt
Labels: dependencies, size/L

#259 doc: fix API zones names
  website/docs/guides/regions_and_zones.html.markdown
Labels: documentation, size/XS

#260 fix: errors code check
  scaleway/helpers.go
Labels: size/XS

#262 feat: add ssh key data source
  scaleway/data_source_account_ssh.go
  scaleway/data_source_account_ssh_test.go
  scaleway/provider.go
Labels: size/M

#264 fix: make baremetal ssh keys required
  scaleway/helpers_baremetal.go
  scaleway/resource_baremetal_server_beta.go
  scaleway/resource_baremetal_server_beta_test.go
Labels: size/M

#263 feat: update scaleway-sdk-go
  go.mod
  go.sum
  vendor/github.com/apparentlymart/go-textseg/textseg/make_tables.go
  vendor/github.com/apparentlymart/go-textseg/textseg/make_test_tables.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/expression_vars_gen.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/convert.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/custom_types.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/version.go
  vendor/github.com/ulikunitz/xz/example.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#258 feat: k8s resource
  scaleway/helpers_k8s.go
  scaleway/provider.go
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_cluster_beta_test.go
  scaleway/resource_k8s_pool_beta.go
  scaleway/resource_k8s_pool_beta_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta3/k8s_helpers.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta3/k8s_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta3/kubeconfig.go
Labels: dependencies, size/XXL

#266 feat(k8s): add autohealing to pools
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_cluster_beta_test.go
  scaleway/resource_k8s_pool_beta.go
  scaleway/resource_k8s_pool_beta_test.go
Labels: size/S

#268 fix(k8s): add missing placement group ID
  scaleway/resource_k8s_cluster_beta.go
Labels: size/XS

#265 fix(k8s): do not update autoscaled pool size
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_pool_beta.go
Labels: size/XS

#267 feat(k8s): add documentation
  website/docs/r/k8s_cluster_beta.html.markdown
  website/docs/r/k8s_pool_beta.html.markdown
  website/scaleway.erb
Labels: documentation, size/L

#269 feat: test build arm go arch
  .travis.yml
  go.mod
  go.sum
  vendor/github.com/apparentlymart/go-textseg/textseg/make_tables.go
  vendor/github.com/apparentlymart/go-textseg/textseg/make_test_tables.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/expression_vars_gen.go
  vendor/github.com/ulikunitz/xz/example.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/golang.org/x/xerrors/adaptor.go
  vendor/golang.org/x/xerrors/adaptor_go1_13.go
  vendor/golang.org/x/xerrors/format.go
  vendor/golang.org/x/xerrors/format_go1_13.go
  vendor/golang.org/x/xerrors/frame.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#271 fix: more details on invalid zone errors
  scaleway/helpers.go
  scaleway/validation.go
Labels: size/XS

#274 doc: fix typos in index.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/XS

#273 doc: add sg example with for_each
  website/docs/r/instance_security_group.html.markdown
Labels: documentation, size/XS

#277 fix(baremetal): remplace project_id by organization_id in read
  scaleway/resource_baremetal_server_beta.go
Labels: size/XS

#279 Fix typo in example
  website/docs/r/instance_security_group.html.markdown
Labels: documentation, size/XS

#281 vendor: update scaleway sdk
  go.mod
  go.sum
  vendor/github.com/apparentlymart/go-textseg/textseg/make_tables.go
  vendor/github.com/apparentlymart/go-textseg/textseg/make_test_tables.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/expression_vars_gen.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/account/v2alpha1/account_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta3/k8s_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta3/kubeconfig.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v1/marketplace_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v1/marketplace_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client_option.go
  vendor/github.com/ulikunitz/xz/example.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#282 chore: update go version
  .go-version
  README.md
Labels: size/XS

#280 Update and rename account_ssk_key.html.markdown to account_ssh_key.html
  website/docs/r/account_ssh_key.html.markdown
  website/scaleway.erb
Labels: documentation, size/XS

#283 doc: add doc for account_ssh_key data source
  scaleway/data_source_account_ssh_key.go
  scaleway/data_source_account_ssh_key_test.go
  scaleway/provider.go
  website/docs/d/account_ssh_key.html.markdown
  website/docs/r/account_ssh_key.html.markdown
  website/docs/r/baremetal_server_beta.html.markdown
  website/docs/r/instance_ip.html.markdown
  website/docs/r/instance_placement_group.html.markdown
  website/docs/r/instance_security_group.html.markdown
  website/docs/r/instance_server.html.markdown
  website/docs/r/instance_volume.html.markdown
  website/docs/r/k8s_cluster_beta.html.markdown
  website/docs/r/k8s_pool_beta.html.markdown
  website/docs/r/object_bucket.html.markdown
  website/scaleway.erb
Labels: documentation, size/M

#278 feat(lb): add lb beta resource
  scaleway/helpers_lb.go
  scaleway/helpers_test.go
  scaleway/provider.go
  scaleway/resource_lb_beta.go
  scaleway/resource_lb_beta_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_utils.go
  vendor/modules.txt
  website/docs/r/lb_beta.html.markdown
  website/scaleway.erb
Labels: dependencies, documentation, size/XXL

#285 Replace image_id by image as it is not a parameter
  website/docs/r/instance_server.html.markdown
Labels: documentation, size/XS

#290 doc(account): add scaleway_ssh_key renaming
  website/docs/guides/migration_guide_v2.html.markdown
Labels: documentation, size/XS

#291 doc: rework global documentation
  website/docs/r/baremetal_server_beta.html.markdown
  website/docs/r/instance_security_group.html.markdown
  website/docs/r/instance_server.html.markdown
  website/docs/r/object_bucket.html.markdown
  website/scaleway.erb
Labels: documentation, size/S

#289 doc(instance): rename image_id attribute to image
  website/docs/guides/migration_guide_v2.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/XS

#288 fix(baremetal): read OS.ID in os_id attribute
  scaleway/resource_baremetal_server_beta.go
Labels: size/XS

#293 break: rename disable_public_ip to disable_dynamic_ip
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  website/docs/r/instance_server.html.markdown
Labels: documentation, size/XS

#296 fix: typos in k8s doc
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: documentation, size/XS

#298 test: fix test for new acceptance scaleway account
  scaleway/resource_ip_test.go
  scaleway/resource_server_test.go
  scaleway/resource_user_data_test.go
Labels: size/S

#297 fix(security_group): add ANY protocol
  go.mod
  go.sum
  scaleway/resource_instance_placement_group.go
  scaleway/resource_instance_placement_group_test.go
  scaleway/resource_instance_security_group.go
  scaleway/resource_instance_security_group_test.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/account/v2alpha1/account_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta3/k8s_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client_option.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/path.go
  vendor/modules.txt
  website/docs/r/instance_placement_group.html.markdown
  website/docs/r/instance_security_group.html.markdown
  website/docs/r/instance_server.html.markdown
  website/docs/r/k8s_cluster_beta.html.markdown
  website/docs/r/k8s_pool_beta.html.markdown
Labels: dependencies, documentation, size/XL

#300 fix(ip): handle 403 error as a 404 in read function
  scaleway/resource_ip.go
Labels: size/XS

#299 test: fix test for new acceptance scaleway account
  scaleway/resource_account_ssh_key.go
  scaleway/resource_server_test.go
Labels: size/XS

#301 feat(instance): add ipv6 info on server resource
  go.mod
  go.sum
  scaleway/helpers_test.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/modules.txt
  website/docs/r/instance_server.html.markdown
Labels: dependencies, documentation, size/M

#304 fix(ssh_key): Trim ssh key before sending it to the API
  scaleway/resource_account_ssh_key.go
  scaleway/resource_account_ssh_key_test.go
Labels: size/S

#305 feat(lb): add lb frontend beta resource
  scaleway/helpers.go
  scaleway/provider.go
  scaleway/resource_lb_backend_beta.go
  scaleway/resource_lb_beta.go
  scaleway/resource_lb_frontend_beta.go
  scaleway/resource_lb_frontend_beta_test.go
  website/docs/r/lb_frontend_beta.html.markdown
  website/scaleway.erb
Labels: documentation, size/XL

#306 test(baremetal): fix baremetal tests
  scaleway/resource_baremetal_server_beta_test.go
Labels: size/XS

#307 vendor: update scaleway sdk
  go.mod
  go.sum
  vendor/github.com/scaleway/scaleway-sdk-go/scw/version.go
  vendor/modules.txt
Labels: dependencies, size/XS
