Repository scaleway/terraform-provider-scaleway, pull requests merged in 2019-07, with the labels that each got.

#188 refactor: renamed instance helpers file
  scaleway/resource_compute_instance_helpers.go
Labels: size/XS

#162 feat: add getRegion helper
  scaleway/helpers.go
Labels: size/XS

#190 feat: update scaleway sdk
  go.mod
  go.sum
  vendor/github.com/dustin/go-humanize/.travis.yml
  vendor/github.com/dustin/go-humanize/LICENSE
  vendor/github.com/dustin/go-humanize/README.markdown
  vendor/github.com/dustin/go-humanize/big.go
  vendor/github.com/dustin/go-humanize/bigbytes.go
  vendor/github.com/dustin/go-humanize/bytes.go
  vendor/github.com/dustin/go-humanize/comma.go
  vendor/github.com/dustin/go-humanize/commaf.go
  vendor/github.com/dustin/go-humanize/ftoa.go
  vendor/github.com/dustin/go-humanize/humanize.go
  vendor/github.com/dustin/go-humanize/number.go
  vendor/github.com/dustin/go-humanize/ordinals.go
  vendor/github.com/dustin/go-humanize/si.go
  vendor/github.com/dustin/go-humanize/times.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/security_group_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/errors/error.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#191 test: add support for new config system in testAccPreCheck
  scaleway/provider_test.go
Labels: size/XS

#150 feat: added scaleway_storage_object_bucket resource
  go.mod
  go.sum
  scaleway/config.go
  scaleway/helper_storage_object.go
  scaleway/helpers.go
  scaleway/provider.go
  scaleway/resource_storage_object_bucket.go
  scaleway/resource_storage_object_bucket_test.go
  scaleway/sweeper_test.go
  vendor/github.com/mitchellh/go-homedir/homedir.go
  vendor/modules.txt
Labels: dependencies, size/XL

#186 feat: make volume and ip work with servers
  scaleway/config.go
  scaleway/helpers.go
  scaleway/helpers_compute_instance.go
  scaleway/resource_compute_instance_helpers.go
  scaleway/resource_compute_instance_ip.go
  scaleway/resource_compute_instance_ip_test.go
  scaleway/resource_compute_instance_server.go
  scaleway/resource_compute_instance_server_test.go
  scaleway/resource_compute_instance_volume.go
  scaleway/resource_compute_instance_volume_test.go
  scaleway/validation.go
Labels: size/XXL

#195 fix: removed unsupported canned ACL
  scaleway/resource_storage_object_bucket.go
Labels: size/XS

#197 fix: lint naming of `instanceAPI`
  scaleway/helpers_compute_instance.go
  scaleway/resource_compute_instance_ip.go
  scaleway/resource_compute_instance_ip_test.go
  scaleway/resource_compute_instance_server.go
  scaleway/resource_compute_instance_server_test.go
Labels: size/M

#178 doc: scaleway_compute_instance_ip
  scaleway/resource_compute_instance_ip.go
  website/docs/r/compute_instance_ip.html.markdown
  website/scaleway.erb
Labels: documentation, size/S

#196 fix: rename deprecated package of the sdk
  go.mod
  go.sum
  scaleway/config.go
  scaleway/helper_storage_object.go
  scaleway/helpers.go
  scaleway/helpers_compute_instance.go
  scaleway/helpers_test.go
  scaleway/provider.go
  scaleway/provider_test.go
  scaleway/resource_compute_instance_server.go
  scaleway/resource_compute_instance_volume.go
  scaleway/sweeper_test.go
  scaleway/validation.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/security_group_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/volume_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/README.md
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client_option.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/convert.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/custom_types.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/lister.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/load_config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/locality.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/path.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/request.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/settings.go
  vendor/github.com/scaleway/scaleway-sdk-go/scwconfig/migrate.go
  vendor/github.com/scaleway/scaleway-sdk-go/utils/file.go
  vendor/github.com/scaleway/scaleway-sdk-go/utils/service_info.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#200 doc: remove deprecated sidebar_current
  website/docs/d/bootscript.html.markdown
  website/docs/d/image.html.markdown
  website/docs/d/security_group.html.markdown
  website/docs/d/volume.html.markdown
  website/docs/index.html.markdown
  website/docs/r/bucket.html.markdown
  website/docs/r/compute_instance_ip.html.markdown
  website/docs/r/ip.html.markdown
  website/docs/r/ip_reverse_dns.html.markdown
  website/docs/r/security_group.html.markdown
  website/docs/r/security_group_rule.html.markdown
  website/docs/r/server.html.markdown
  website/docs/r/ssh_key.html.markdown
  website/docs/r/token.html.markdown
  website/docs/r/user_data.html.markdown
  website/docs/r/volume.html.markdown
  website/docs/r/volume_attachment.html.markdown
  website/scaleway.erb
Labels: documentation, size/S

#192 feat: placement group
  go.mod
  go.sum
  scaleway/helpers_compute_instance.go
  scaleway/provider.go
  scaleway/resource_compute_instance_ip.go
  scaleway/resource_compute_instance_placement_group.go
  scaleway/resource_compute_instance_placement_group_test.go
  scaleway/resource_compute_instance_server.go
  scaleway/resource_compute_instance_server_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/errors.go
  vendor/modules.txt
Labels: dependencies, size/XL

#202 doc: make deprecated resources discreet in the menu
  website/scaleway.erb
Labels: documentation, size/XS

#193 doc: scaleway_compute_instance_server
  website/docs/r/compute_instance_server.html.markdown
  website/scaleway.erb
Labels: documentation, size/L

#199 doc: scaleway_compute_instance_volume
  website/docs/r/compute_instance_volume.html.markdown
  website/scaleway.erb
Labels: documentation, size/S

#194 doc: scaleway_storage_object_bucket
  website/docs/r/storage_object_bucket.html.markdown
  website/scaleway.erb
Labels: documentation, size/S

#201 doc: regions and zones
  website/docs/regions_and_zones.html.markdown
  website/scaleway.erb
Labels: documentation, size/S

#205 vendor: upgrade scaleway sdk
  go.mod
  go.sum
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/security_group_utils.go
  vendor/modules.txt
Labels: dependencies, size/M

#204 doc: migration guide
  website/docs/migration_guide.html.markdown
  website/scaleway.erb
Labels: documentation, size/M

#206 doc: move guides in dedicated directory
  website/docs/migration_guide.html.markdown
  website/docs/regions_and_zones.html.markdown
  website/scaleway.erb
Labels: documentation, size/L

#207 doc: move guides in dedicated directory v2
  website/docs/guides/migration_guide.html.markdown
  website/docs/guides/regions_and_zones.html.markdown
Labels: documentation, size/L

#203 doc: rewrite home page
  website/docs/index.html.markdown
Labels: documentation, size/L

#208 test: upgrade server type to DEV1-S
  scaleway/resource_server_test.go
Labels: size/XS

#210 doc: fix zone and project_id attributes
  website/docs/r/compute_instance_ip.html.markdown
  website/docs/r/compute_instance_server.html.markdown
  website/docs/r/compute_instance_volume.html.markdown
Labels: documentation, size/XS

#209 doc: compute_instance_placement_group
  website/docs/r/compute_instance_placement_group.html.markdown
  website/scaleway.erb
Labels: documentation, size/S

#211 fix: disable dynamic_ip in compute_instance_server
  scaleway/resource_compute_instance_server.go
Labels: size/XS

#189 feat: add scaleway_compute_instance_security_group
  scaleway/helpers.go
  scaleway/provider.go
  scaleway/resource_compute_instance_security_group.go
  scaleway/resource_compute_instance_security_group_test.go
Labels: size/XL

#213 feat: security_group without port
  scaleway/resource_compute_instance_security_group.go
  scaleway/resource_compute_instance_security_group_test.go
Labels: size/S

#214 doc: improve visibility of the home page
  website/docs/index.html.markdown
Labels: documentation, size/XS

#212 doc: add doc for scaleway_compute_instance_security_group
  website/docs/index.html.markdown
  website/docs/r/compute_instance_security_group.html.markdown
  website/docs/r/compute_instance_server.html.markdown
  website/scaleway.erb
Labels: documentation, size/M

#217 Fix missing Sprintf in validation
  scaleway/validation.go
Labels: size/XS

#219 fix: reboot on placement group change
  scaleway/resource_compute_instance_server.go
Labels: size/XS

#222 doc: fix scaleway_ip title in migration guide
  website/docs/guides/migration_guide.html.markdown
Labels: documentation, size/XS

#221 doc: add placement_group to compute_instance_server
  website/docs/r/compute_instance_server.html.markdown
Labels: documentation, size/XS

#218 fix: scaleway_compute_instance_ip read server_id
  scaleway/resource_compute_instance_ip.go
Labels: size/XS

#216 fix: disable block storage
  scaleway/resource_compute_instance_server_test.go
  scaleway/resource_compute_instance_volume.go
  website/docs/r/compute_instance_volume.html.markdown
Labels: documentation, size/S

#215 Try to parse the value security_group_id as a zoned ID
  scaleway/resource_compute_instance_server.go
Labels: size/XS

#223 feat: upgrate sdk go
  GNUmakefile
  go.mod
  go.sum
  scaleway/resource_compute_instance_server.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/modules.txt
Labels: dependencies, size/XL

#220 fix: resource_compute_instance_server tests
  scaleway/resource_compute_instance_server.go
Labels: size/XS

#224 test: fix TestAccScalewayServer_BootType
  scaleway/resource_server_test.go
Labels: size/XS
