Repository scaleway/terraform-provider-scaleway, pull requests merged in 2019-06, with the labels that each got.

#134 fix: build command in the README
  README.md
Labels: bug, size/XS

#135 doc: update changelog for v1.10.0
  CHANGELOG.md
Labels: documentation, size/XS

#137 fix: update changelog for v1.10.0
  CHANGELOG.md
Labels: documentation, size/XS

#132 refactor: update internal meta struct
  scaleway/config.go
  scaleway/data_source_bootscript.go
  scaleway/data_source_bootscript_test.go
  scaleway/data_source_image.go
  scaleway/data_source_image_test.go
  scaleway/data_source_security_group.go
  scaleway/data_source_volume.go
  scaleway/provider.go
  scaleway/provider_test.go
  scaleway/resource_bucket.go
  scaleway/resource_bucket_test.go
  scaleway/resource_ip.go
  scaleway/resource_ip_reverse_dns.go
  scaleway/resource_ip_test.go
  scaleway/resource_security_group.go
  scaleway/resource_security_group_rule.go
  scaleway/resource_security_group_rule_test.go
  scaleway/resource_security_group_test.go
  scaleway/resource_server.go
  scaleway/resource_server_test.go
  scaleway/resource_ssh_key.go
  scaleway/resource_ssh_key_test.go
  scaleway/resource_token.go
  scaleway/resource_token_test.go
  scaleway/resource_user_data.go
  scaleway/resource_user_data_test.go
  scaleway/resource_volume.go
  scaleway/resource_volume_attachment.go
  scaleway/resource_volume_attachment_test.go
  scaleway/resource_volume_test.go
  scaleway/sweeper_test.go
Labels: size/L

#139 fix: update terraform SDK to 0.12.1
  go.mod
  go.sum
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/export_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_disable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_enable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/flags.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_legacy.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_recent.go
  vendor/github.com/google/go-cmp/cmp/internal/function/func.go
  vendor/github.com/google/go-cmp/cmp/internal/value/format.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/value/sort.go
  vendor/github.com/google/go-cmp/cmp/internal/value/zero.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/github.com/google/go-cmp/cmp/report_text.go
  vendor/github.com/google/go-cmp/cmp/report_value.go
  vendor/github.com/google/go-cmp/cmp/reporter.go
  vendor/github.com/hashicorp/terraform/configs/configload/loader_load.go
  vendor/github.com/hashicorp/terraform/helper/schema/schema.go
  vendor/github.com/hashicorp/terraform/lang/blocktoattr/schema.go
  vendor/github.com/hashicorp/terraform/lang/funcs/collection.go
  vendor/github.com/hashicorp/terraform/terraform/node_resource_abstract.go
  vendor/github.com/hashicorp/terraform/version/version.go
  vendor/modules.txt
Labels: dependencies, provider, size/XXL

#138 feat: introduce new Scaleway SDK
  go.mod
  go.sum
  scaleway/config.go
  scaleway/helpers.go
  scaleway/logger.go
  scaleway/provider.go
  scaleway/sweeper_test.go
  scaleway/version.go
  vendor/github.com/scaleway/scaleway-sdk-go/LICENSE
  vendor/github.com/scaleway/scaleway-sdk-go/internal/auth/auth.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/auth/no_auth.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/auth/token.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/errors/error.go
  vendor/github.com/scaleway/scaleway-sdk-go/logger/default_logger.go
  vendor/github.com/scaleway/scaleway-sdk-go/logger/logger.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client_option.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/errors.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/lister.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/request.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/request_option.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/settings.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/version.go
  vendor/github.com/scaleway/scaleway-sdk-go/scwconfig/README.md
  vendor/github.com/scaleway/scaleway-sdk-go/scwconfig/config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scwconfig/load.go
  vendor/github.com/scaleway/scaleway-sdk-go/scwconfig/migrate.go
  vendor/github.com/scaleway/scaleway-sdk-go/scwconfig/path.go
  vendor/github.com/scaleway/scaleway-sdk-go/utils/convert.go
  vendor/github.com/scaleway/scaleway-sdk-go/utils/file.go
  vendor/github.com/scaleway/scaleway-sdk-go/utils/locality.go
  vendor/github.com/scaleway/scaleway-sdk-go/utils/money.go
  vendor/github.com/scaleway/scaleway-sdk-go/utils/service_info.go
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/LICENSE
  vendor/gopkg.in/yaml.v2/LICENSE.libyaml
  vendor/gopkg.in/yaml.v2/NOTICE
  vendor/gopkg.in/yaml.v2/README.md
  vendor/gopkg.in/yaml.v2/apic.go
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/emitterc.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/go.mod
  vendor/gopkg.in/yaml.v2/parserc.go
  vendor/gopkg.in/yaml.v2/readerc.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/sorter.go
  vendor/gopkg.in/yaml.v2/writerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/gopkg.in/yaml.v2/yamlh.go
  vendor/gopkg.in/yaml.v2/yamlprivateh.go
  vendor/modules.txt
Labels: dependencies, refactor, size/XXL

#141 refactor: rename config field with new name convention
  go.sum
  scaleway/config.go
  scaleway/provider.go
  scaleway/sweeper_test.go
Labels: size/S

#142 refactor: provider schema
  scaleway/config.go
  scaleway/provider.go
Labels: size/M

#146 go mod vendor
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client_option.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/version.go
  vendor/modules.txt
Labels: dependencies, size/XS

#144 fix: makefile website rules
  GNUmakefile
Labels: size/XS

#145 doc: deprecate scaleway_token
  scaleway/resource_token.go
  website/docs/r/token.html.markdown
Labels: documentation, size/XS

#148 doc: deprecate scaleway_ssh_key
  scaleway/resource_ssh_key.go
  website/docs/r/ssh_key.html.markdown
Labels: documentation, size/XS

#149 fix: use project_id in provider
  scaleway/provider.go
Labels: bug, size/XS

#153 doc: deprecate scaleway_bucket
  scaleway/resource_bucket.go
  website/docs/r/bucket.html.markdown
Labels: documentation, size/XS

#152 feat: add sweep rule to makefile
  GNUmakefile
Labels: size/XS

#151 fix: shared deprecated client for region
  scaleway/sweeper_test.go
Labels: bug, size/XS

#157 fix: removed defaultfunc from 'organization' to supress useless warnings
  scaleway/provider.go
Labels: size/S

#156 fix: removed defaultfunc from 'token' to supress useless warnings
  scaleway/provider.go
Labels: size/S

#158 fix: omit double logging with new SDK
  scaleway/config.go
Labels: size/XS

#159 chore: add testify vendor
  go.mod
  go.sum
  scaleway/sweeper_test.go
  vendor/github.com/pmezard/go-difflib/LICENSE
  vendor/github.com/pmezard/go-difflib/difflib/difflib.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/stretchr/testify/LICENSE
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/errors.go
  vendor/github.com/stretchr/testify/assert/forward_assertions.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#160 feat: add helpers
  scaleway/helpers.go
  scaleway/helpers_test.go
  scaleway/sweeper_test.go
Labels: size/XL

#161 feat: add scaleway_compute_instance_ip resource
  go.sum
  scaleway/provider.go
  scaleway/provider_test.go
  scaleway/resource_compute_instance_ip.go
  scaleway/resource_compute_instance_ip_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/marshaler/duration.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/parameter/query.go
  vendor/modules.txt
  website/docs/r/compute_instance_ip.html.markdown
  website/scaleway.erb
Labels: dependencies, documentation, size/XXL

#165 doc: deprecate resource_server
  scaleway/resource_server.go
  website/docs/r/server.html.markdown
Labels: documentation, size/XS

#166 fix: update scw SDK version
  go.mod
  go.sum
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/async/wait.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/modules.txt
Labels: dependencies, size/L

#168 feat: getRandomName
  go.mod
  go.sum
  scaleway/helpers.go
  scaleway/helpers_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_metadata_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/namegenerator/name_generator.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#170 feat: validation and defaut func
  scaleway/helpers.go
  scaleway/provider.go
  scaleway/validation.go
Labels: size/M

#171 fix: http status check and validation message
  go.mod
  go.sum
  scaleway/helpers.go
  scaleway/validation.go
  vendor/golang.org/x/xerrors/LICENSE
  vendor/golang.org/x/xerrors/PATENTS
  vendor/golang.org/x/xerrors/README
  vendor/golang.org/x/xerrors/adaptor_go1_12.go
  vendor/golang.org/x/xerrors/adaptor_go1_13.go
  vendor/golang.org/x/xerrors/codereview.cfg
  vendor/golang.org/x/xerrors/doc.go
  vendor/golang.org/x/xerrors/errors.go
  vendor/golang.org/x/xerrors/fmt.go
  vendor/golang.org/x/xerrors/format_go1_12.go
  vendor/golang.org/x/xerrors/format_go1_13.go
  vendor/golang.org/x/xerrors/frame_go1_12.go
  vendor/golang.org/x/xerrors/go.mod
  vendor/golang.org/x/xerrors/internal/internal.go
  vendor/golang.org/x/xerrors/wrap.go
  vendor/modules.txt
Labels: dependencies, size/XL

#172 feat: use instance helpers
  scaleway/compute_instance_helpers.go
  scaleway/helpers.go
  scaleway/resource_compute_instance_ip.go
  scaleway/resource_compute_instance_ip_test.go
Labels: size/M

#173 test: run tests in parallel
  scaleway/data_source_bootscript_test.go
  scaleway/data_source_image_test.go
  scaleway/data_source_security_group_test.go
  scaleway/data_source_volume_test.go
  scaleway/helpers_test.go
  scaleway/import_ip_test.go
  scaleway/import_security_group_test.go
  scaleway/import_server_test.go
  scaleway/import_token_test.go
  scaleway/import_user_data_test.go
  scaleway/import_volume_test.go
  scaleway/resource_bucket_test.go
  scaleway/resource_compute_instance_ip_test.go
  scaleway/resource_ip_reverse_dns_test.go
  scaleway/resource_ip_test.go
  scaleway/resource_security_group_rule_test.go
  scaleway/resource_security_group_test.go
  scaleway/resource_server_test.go
  scaleway/resource_ssh_key_test.go
  scaleway/resource_token_test.go
  scaleway/resource_user_data_test.go
  scaleway/resource_volume_attachment_test.go
  scaleway/resource_volume_test.go
Labels: size/M

#175 test: added sweeper client with new SDK
  scaleway/sweeper_test.go
Labels: size/S

#164 feat: added resource scaleway_compute_instance_volume
  go.mod
  go.sum
  scaleway/helpers.go
  scaleway/provider.go
  scaleway/resource_compute_instance_volume.go
  scaleway/resource_compute_instance_volume_test.go
  scaleway/resource_volume.go
  vendor/github.com/dustin/go-humanize/.travis.yml
  vendor/github.com/dustin/go-humanize/LICENSE
  vendor/github.com/dustin/go-humanize/README.markdown
  vendor/github.com/dustin/go-humanize/big.go
  vendor/github.com/dustin/go-humanize/bigbytes.go
  vendor/github.com/dustin/go-humanize/bytes.go
  vendor/github.com/dustin/go-humanize/comma.go
  vendor/github.com/dustin/go-humanize/commaf.go
  vendor/github.com/dustin/go-humanize/ftoa.go
  vendor/github.com/dustin/go-humanize/humanize.go
  vendor/github.com/dustin/go-humanize/number.go
  vendor/github.com/dustin/go-humanize/ordinals.go
  vendor/github.com/dustin/go-humanize/si.go
  vendor/github.com/dustin/go-humanize/times.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_metadata_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/volume_utils.go
  vendor/modules.txt
Labels: dependencies, new-resource, size/XXL

#176 doc: deprecate scaleway_volume
  scaleway/resource_volume.go
  website/docs/d/volume.html.markdown
Labels: documentation, size/XS

#177 feat: prepare instance PR
  go.mod
  go.sum
  scaleway/config.go
  scaleway/validation.go
  scaleway/validation_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/request.go
  vendor/modules.txt
Labels: dependencies, size/XL

#174 feat: scaleway_compute_instance_server
  scaleway/compute_instance_helpers.go
  scaleway/helpers.go
  scaleway/provider.go
  scaleway/resource_compute_instance_server.go
  scaleway/resource_compute_instance_server_test.go
Labels: size/XL

#183 doc: fix deprecate scaleway_volume
  website/docs/d/volume.html.markdown
  website/docs/r/volume.html.markdown
Labels: documentation, size/XS

#184 doc: deprecate scaleway_user_data
  scaleway/resource_user_data.go
  website/docs/r/user_data.html.markdown
Labels: documentation, size/XS

#182 doc: deprecate scaleway_security_group_rule
  scaleway/resource_security_group_rule.go
  website/docs/r/security_group_rule.html.markdown
Labels: documentation, size/XS

#180 doc: deprecate scaleway_ip_reverse_dns
  scaleway/resource_ip_reverse_dns.go
  website/docs/r/ip_reverse_dns.html.markdown
Labels: documentation, size/XS

#181 doc: deprecate scaleway_security_group
  scaleway/resource_security_group.go
  website/docs/r/security_group.html.markdown
Labels: documentation, size/XS

#179 doc: deprecate scaleway_ip
  scaleway/resource_ip.go
  website/docs/r/ip.html.markdown
Labels: documentation, size/XS

#185 doc: deprecate scaleway_volume_attachment
  scaleway/resource_volume_attachment.go
  website/docs/r/volume_attachment.html.markdown
Labels: documentation, size/XS

#187 refactor: remove config struct
  scaleway/config.go
  scaleway/provider.go
  scaleway/sweeper_test.go
Labels: size/M
