Repository scaleway/terraform-provider-scaleway, pull requests merged in 2019-11, with the labels that each got.

#312 fix: ignore case on instance types
  scaleway/helpers.go
  scaleway/resource_instance_server.go
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_pool_beta.go
Labels: size/S

#313 fix(k8s): default pool error
  scaleway/resource_k8s_cluster_beta.go
Labels: size/XS

#315 feat(instance): create new resource instance_ip_reverse_dns
  scaleway/provider.go
  scaleway/resource_instance_ip.go
  scaleway/resource_instance_ip_reverse_dns.go
  scaleway/resource_instance_ip_reverse_dns_test.go
  website/docs/r/instance_ip.html.markdown
  website/docs/r/instance_ip_reverse_dns.html.markdown
Labels: documentation, size/L

#319 chore: remove deprecated call to terraform.VersionString()
  scaleway/config.go
  scaleway/helpers.go
  scaleway/provider.go
Labels: size/XS

#318 feat(lb): add tcp/http/https health check support on backend
  scaleway/helpers.go
  scaleway/helpers_lb.go
  scaleway/resource_lb_backend_beta.go
  scaleway/resource_lb_backend_beta_test.go
  scaleway/resource_lb_beta_test.go
  website/docs/r/lb_backend_beta.html.markdown
Labels: documentation, size/XL

#320 fix(k8s): handle regional IDs properly
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_pool_beta.go
Labels: size/XS

#322 test(k8s): add test for placement group
  scaleway/resource_k8s_cluster_beta_test.go
  scaleway/resource_k8s_pool_beta_test.go
Labels: size/M

#323 fix: integration tests
  scaleway/helpers_lb.go
  scaleway/resource_instance_ip_test.go
  scaleway/resource_instance_server.go
  scaleway/resource_lb_beta.go
  scaleway/resource_lb_frontend_beta_test.go
Labels: size/XS

#329 fix(intance): fix default value for placement group
  scaleway/resource_instance_placement_group.go
  scaleway/resource_instance_placement_group_test.go
  website/docs/r/instance_placement_group.html.markdown
Labels: documentation, size/XS

#326 test(k8s): fix placement group test
  scaleway/helpers.go
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_pool_beta.go
Labels: size/XS

#332 refactor: add name and tags helpers
  scaleway/helpers.go
  scaleway/resource_baremetal_server_beta.go
  scaleway/resource_instance_placement_group.go
  scaleway/resource_instance_security_group.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_volume.go
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_pool_beta.go
  scaleway/resource_lb_backend_beta.go
  scaleway/resource_lb_beta.go
  scaleway/resource_lb_beta_test.go
  scaleway/resource_lb_frontend_beta.go
Labels: size/M

#331 feat(rdb): instance resource
  go.mod
  go.sum
  scaleway/helpers_rdb.go
  scaleway/provider.go
  scaleway/resource_lb_beta.go
  scaleway/resource_rdb_instance_beta.go
  scaleway/resource_rdb_instance_beta_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/rdb/v1/rdb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/rdb/v1/rdb_utils.go
  vendor/modules.txt
  website/docs/r/lb_beta.html.markdown
  website/docs/r/rdb_instance_beta.html.markdown
  website/scaleway.erb
Labels: dependencies, documentation, size/XXL

#335 doc(lb): fix small typos
  website/docs/r/lb_backend_beta.html.markdown
  website/docs/r/lb_frontend_beta.html.markdown
Labels: documentation, size/XS

#333 doc(instance): use image name instead of static image id
  website/docs/index.html.markdown
Labels: documentation, size/XS

#334 feat(rdb): add computed attribute and upgrade node type
  scaleway/helpers.go
  scaleway/helpers_rdb.go
  scaleway/resource_rdb_instance_beta.go
  scaleway/resource_rdb_instance_beta_test.go
  website/docs/r/rdb_instance_beta.html.markdown
Labels: documentation, size/M

#337 fix(instance): read server image during import
  scaleway/resource_instance_server.go
Labels: size/XS

#339 fix(rdb): remove un-exported attribute
  website/docs/r/rdb_instance_beta.html.markdown
Labels: documentation, size/XS

#340 Refactor StringSliceFromState to expandStrings
  scaleway/helpers.go
  scaleway/resource_instance_server.go
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_lb_backend_beta.go
  scaleway/resource_lb_beta.go
  scaleway/resource_rdb_instance_beta.go
Labels: size/XS

#343 fix(object): import bucket by name
  scaleway/helper_storage_object.go
  scaleway/resource_object_bucket.go
  website/docs/r/object_bucket.html.markdown
Labels: documentation, size/S

#344 doc(baremetal): fix ssh_key_ids field
  website/docs/r/baremetal_server_beta.html.markdown
Labels: documentation, size/XS
