Repository scaleway/terraform-provider-scaleway, pull requests merged in 2019-09, with the labels that each got.

#233 feat(resource_instance_server): support label in image field
  go.mod
  go.sum
  scaleway/helpers.go
  scaleway/resource_instance_ip_test.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  scaleway/validation.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v1/marketplace_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v1/marketplace_utils.go
  vendor/modules.txt
  website/docs/r/instance_server.html.markdown
Labels: dependencies, documentation, size/XL

#234 feat: update scaleway-sdk-go
  go.mod
  go.sum
  scaleway/config.go
  scaleway/helpers.go
  scaleway/provider.go
  scaleway/resource_instance_ip.go
  scaleway/resource_instance_placement_group.go
  scaleway/resource_instance_security_group.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_volume.go
  scaleway/sweeper_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v1/marketplace_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/README.md
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client_option.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config_legacy.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/env.go
  vendor/modules.txt
  website/docs/guides/migration_guide.html.markdown
  website/docs/index.html.markdown
  website/docs/r/instance_ip.html.markdown
  website/docs/r/instance_placement_group.html.markdown
  website/docs/r/instance_security_group.html.markdown
  website/docs/r/instance_server.html.markdown
  website/docs/r/instance_volume.html.markdown
Labels: dependencies, documentation, size/L

#235 feat: enable bssd volumes
  scaleway/resource_instance_server_test.go
  scaleway/resource_instance_volume.go
  website/docs/r/instance_volume.html.markdown
Labels: documentation, size/S

#236 fix: set dynamic IP by default
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
Labels: size/S

#239 fix: server work again with C2S
  go.mod
  go.sum
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/modules.txt
Labels: dependencies, size/XS

#238 fix: add DiffSuppressFunc suppressLocality on server and ip
  scaleway/resource_instance_server.go
  scaleway/resource_ip.go
Labels: size/XS

#237 fix: server update tags
  scaleway/helpers.go
  scaleway/resource_instance_server.go
Labels: size/XS

#240 feat: add scaleway_account_ssh_key
  go.mod
  go.sum
  scaleway/helpers_account.go
  scaleway/provider.go
  scaleway/resource_account_ssh_key_test.go
  scaleway/resource_account_ssk_key.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/account/v2alpha1/account_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/uuid/uuid.go
  vendor/modules.txt
  website/docs/r/account_ssk_key.html.markdown
  website/docs/r/ssh_key.html.markdown
  website/scaleway.erb
Labels: dependencies, documentation, size/XL

#228 feat: add baremetal
  go.sum
  scaleway/helpers_baremetal.go
  scaleway/helpers_instance.go
  scaleway/provider.go
  scaleway/resource_baremetal_server_beta.go
  scaleway/resource_baremetal_server_beta_test.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  scaleway/resource_instance_volume.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/server_utils.go
  vendor/modules.txt
  website/docs/r/baremetal_server.html.markdown
Labels: dependencies, documentation, size/XXL

#241 fix: baremetal doc
  website/docs/r/baremetal_server_beta.html.markdown
  website/scaleway.erb
Labels: documentation, size/XS

#243 doc: add version to migration guide URL
  website/docs/guides/migration_guide_v2.html.markdown
  website/docs/index.html.markdown
  website/scaleway.erb
Labels: documentation, size/XS

#244 doc: improve migration guide
  website/docs/guides/migration_guide_v2.html.markdown
Labels: documentation, size/S

#246 fix: baremetal descriptions
  scaleway/resource_baremetal_server_beta.go
Labels: size/XS

#245 doc: update changelog for v1.11.0
  CHANGELOG.md
Labels: size/S

#247 fix: scaleway_instance_security_group update can now remove port
  go.mod
  go.sum
  scaleway/resource_baremetal_server_beta.go
  scaleway/resource_instance_security_group.go
  scaleway/resource_instance_security_group_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/security_group_utils.go
  vendor/modules.txt
Labels: dependencies, size/L

#248 fix(resource_baremetal_server_beta): panic when updating tags
  scaleway/resource_baremetal_server_beta.go
  scaleway/resource_baremetal_server_beta_test.go
Labels: size/S

#249 fix(resource_baremetal_server_beta): reinstall on os_id changes
  scaleway/resource_baremetal_server_beta.go
  scaleway/resource_baremetal_server_beta_test.go
  website/docs/r/baremetal_server_beta.html.markdown
Labels: documentation, size/M

#250 fix(resource_baremetal_server_beta): reinstall on ssh_key_ids changes
  scaleway/helpers.go
  scaleway/helpers_baremetal.go
  scaleway/resource_baremetal_server_beta.go
  scaleway/resource_baremetal_server_beta_test.go
  website/docs/r/baremetal_server_beta.html.markdown
Labels: documentation, size/M

#252 test(instance/server): reduce block size
  scaleway/resource_instance_server_test.go
Labels: size/XS

#253 test(object/bucket): temporary fix for ACCESS_KEY env variable
  scaleway/provider.go
Labels: size/XS

#254 doc: add API regions/zones names
  website/docs/guides/regions_and_zones.html.markdown
Labels: documentation, size/XS

#255 fix: concurency problem with volumes
  GNUmakefile
  scaleway/helpers.go
  scaleway/helpers_instance.go
  scaleway/resource_baremetal_server_beta_test.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  scaleway/resource_instance_volume.go
  scaleway/sync.go
Labels: size/XL

#256 vendor: update scaleway sdk
  go.mod
  go.sum
  vendor/github.com/scaleway/scaleway-sdk-go/api/account/v2alpha1/account_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v1/marketplace_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/errors.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/version.go
  vendor/modules.txt
Labels: dependencies, size/XL
