Repository scaleway/terraform-provider-scaleway, pull requests merged in 2019-12, with the labels that each got.

#345 feat(baremetal): support server offer name
  go.mod
  go.sum
  scaleway/helpers.go
  scaleway/helpers_baremetal.go
  scaleway/helpers_test.go
  scaleway/resource_baremetal_server_beta.go
  scaleway/resource_baremetal_server_beta_test.go
  scaleway/resource_instance_ip.go
  scaleway/resource_instance_ip_reverse_dns.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta3/k8s_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/rdb/v1/rdb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/README.md
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/locality.go
  vendor/modules.txt
  website/docs/r/baremetal_server_beta.html.markdown
Labels: dependencies, documentation, size/XL

#348 doc: fix index example
  website/docs/index.html.markdown
Labels: documentation, size/XS

#346 feat: data source security group
  scaleway/data_source_account_ssh_key.go
  scaleway/data_source_helpers.go
  scaleway/data_source_instance_security_group.go
  scaleway/data_source_instance_security_group_test.go
  scaleway/provider.go
  website/docs/d/account_ssh_key.html.markdown
  website/docs/d/instance_security_group.html.markdown
  website/docs/r/instance_security_group.html.markdown
  website/scaleway.erb
Labels: documentation, size/L

#351 feat(testacc): change user agent for tests
  scaleway/provider_test.go
  scaleway/version.go
Labels: size/XS

#355 doc: clean up documentation
  website/docs/d/image.html.markdown
  website/docs/d/volume.html.markdown
  website/docs/guides/migration_guide_v2.html.markdown
  website/docs/index.html.markdown
  website/docs/r/instance_server.html.markdown
  website/docs/r/ip_reverse_dns.html.markdown
  website/docs/r/k8s_pool_beta.html.markdown
  website/docs/r/security_group_rule.html.markdown
  website/docs/r/user_data.html.markdown
  website/docs/r/volume.html.markdown
  website/docs/r/volume_attachment.html.markdown
Labels: documentation, size/M

#357 fix(lb): add missing health_check_delay
  scaleway/resource_lb_backend_beta.go
  scaleway/resource_lb_backend_beta_test.go
Labels: size/XS

#350 feat(instance): add data source instance server
  scaleway/data_source_helpers.go
  scaleway/data_source_instance_security_group.go
  scaleway/data_source_instance_security_group_test.go
  scaleway/data_source_instance_server.go
  scaleway/data_source_instance_server_test.go
  scaleway/provider.go
  website/docs/d/instance_security_group.html.markdown
  website/docs/d/instance_server.html.markdown
  website/scaleway.erb
Labels: documentation, size/L

#354 fix(helpers): remove extra quotes on flatten
  scaleway/helpers.go
Labels: size/XS

#360 fix: enable rdb acceptance tests
  scaleway/resource_rdb_instance_beta_test.go
Labels: size/XS

#338 test(instance): add test on server import
  scaleway/resource_instance_server_test.go
Labels: size/XS

#359 feat(instance): data source image
  scaleway/data_source_instance_image.go
  scaleway/data_source_instance_image_test.go
  scaleway/data_source_instance_security_group.go
  scaleway/helpers.go
  scaleway/provider.go
  website/docs/d/image.html.markdown
  website/docs/d/instance_image.html.markdown
  website/docs/d/security_group.html.markdown
  website/scaleway.erb
Labels: documentation, size/XL

#356 wip: feat(instance): data source volume
  scaleway/data_source_instance_volume.go
  scaleway/data_source_instance_volume_test.go
  scaleway/data_source_volume.go
  scaleway/data_source_volume_test.go
  scaleway/provider.go
  scaleway/resource_volume_test.go
  website/docs/d/instance_volume.html.markdown
  website/scaleway.erb
Labels: documentation, size/L

#358 fix(instance): allow port-range in security groups
  scaleway/resource_instance_security_group.go
  scaleway/resource_instance_security_group_test.go
Labels: size/S

#361 feat(baremetal): add offer data source
  scaleway/data_source_baremetal_offer_beta.go
  scaleway/data_source_baremetal_offer_beta_test.go
  scaleway/helpers_baremetal.go
  scaleway/provider.go
  website/docs/d/baremetal_offer_beta.html.markdown
  website/scaleway.erb
Labels: dependencies, documentation, size/XL

#362 feat(marketplace): add image beta data source
  scaleway/data_source_marketplace_image_beta.go
  scaleway/data_source_marketplace_image_beta_test.go
  scaleway/provider.go
  website/docs/d/image.html.markdown
  website/docs/d/instance_image.html.markdown
  website/docs/d/instance_security_group.html.markdown
  website/docs/d/instance_server.html.markdown
  website/docs/d/instance_volume.html.markdown
  website/docs/d/marketplace_image_beta.html.markdown
  website/docs/r/instance_server.html.markdown
  website/scaleway.erb
Labels: documentation, size/M

#363 fix(lb): 60s duration acceptance test
  scaleway/resource_lb_backend_beta.go
  scaleway/resource_lb_backend_beta_test.go
Labels: size/XS

#352 feat(instance): move ip attachement to server
  scaleway/resource_instance_ip.go
  scaleway/resource_instance_ip_test.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  website/docs/r/instance_ip.html.markdown
  website/docs/r/instance_server.html.markdown
Labels: documentation, size/M

#366 vendor: update scaleway sdk
  go.mod
  go.sum
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v1/marketplace_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/errors.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/locality.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/version.go
  vendor/modules.txt
Labels: dependencies, size/M

#368 test(scaleway_instance_volume): fix tests
  scaleway/data_source_instance_volume_test.go
  scaleway/resource_instance_server_test.go
  scaleway/resource_instance_volume.go
  scaleway/resource_instance_volume_test.go
  scaleway/resource_volume_test.go
Labels: size/M

#367 doc(CHANGELOG): add 1.13.0
  CHANGELOG.md
Labels: size/S

#369 test(scaleway_instance_volume): fix tests
  scaleway/resource_instance_volume.go
Labels: size/XS

#365 refactor!: change the way an ip is attached to a server
  CHANGELOG.md
  scaleway/resource_instance_ip.go
  scaleway/resource_instance_ip_test.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  website/docs/d/instance_server.html.markdown
  website/docs/guides/migration_guide_v2.html.markdown
  website/docs/index.html.markdown
  website/docs/r/instance_ip.html.markdown
  website/docs/r/instance_server.html.markdown
Labels: documentation, size/XL

#371 test(scaleway_baremetal_server_beta): fix flacky test
  scaleway/resource_account_ssh_key_test.go
  scaleway/resource_baremetal_server_beta_test.go
Labels: size/L

#370 test(scaleway_volume): fix datasource tests
  scaleway/data_source_volume_test.go
Labels: size/XS

#372 fix(k8s): fix default ingress
  scaleway/resource_k8s_cluster_beta.go
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: documentation, size/XS

#375 fix(k8s): only recreate default pool on its update
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_cluster_beta_test.go
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: documentation, size/M

#378 style: `labal` -> `label`
  website/docs/d/marketplace_image_beta.html.markdown
Labels: documentation, size/XS

#380 fix(doc): additional volume with block type
  website/docs/r/instance_server.html.markdown
Labels: documentation, size/XS
