Repository scaleway/terraform-provider-scaleway, pull requests merged in 2020-06, with the labels that each got.

#490 doc(README): add link to provider docs
  README.md
Labels: size/XS

#492 fix(k8s): use resource region on versions calls
  scaleway/helpers_k8s.go
  scaleway/resource_k8s_cluster_beta.go
Labels: size/XS

#482 fix(instance): fix ipv6 security rule validation
  scaleway/resource_instance_security_group.go
  scaleway/resource_instance_security_group_rules_test.go
Labels: size/M

#494 fix creation of k8s pools for non-default regions
  scaleway/resource_k8s_pool_beta.go
Labels: size/XS

#496 doc(k8s): some fixes
  website/docs/r/k8s_cluster_beta.html.markdown
  website/docs/r/k8s_pool_beta.html.markdown
Labels: documentation, size/XS

#497 feat(instance): add stateful field to security group
  scaleway/resource_instance_security_group.go
  website/docs/r/instance_security_group.html.markdown
Labels: documentation, size/XS

#498 fix(k8s): pool size and autoscaling
  scaleway/resource_k8s_pool_beta.go
  website/docs/r/k8s_pool_beta.html.markdown
Labels: documentation, size/XS

#493 feat(lb): add LB IP data source
  scaleway/data_source_lb_ip_beta.go
  scaleway/data_source_lb_ip_beta_test.go
  scaleway/provider.go
  scaleway/resource_lb_ip_beta.go
  website/docs/d/lb_ip_beta.html.markdown
  website/scaleway.erb
Labels: documentation, size/L

#504 doc(k8s): specify usage with kubernetes provider
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: documentation, size/XS

#511 test: fix broken tests
  go.mod
  go.sum
  scaleway/data_source_marketplace_image_beta_test.go
  scaleway/resource_account_ssh_key.go
  scaleway/resource_instance_ip.go
  scaleway/resource_instance_server_test.go
  scaleway/resource_k8s_cluster_beta_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/account/v2alpha1/account_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client_option.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config_legacy.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/env.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/locality.go
  vendor/github.com/scaleway/scaleway-sdk-go/validation/is.go
  vendor/modules.txt
Labels: dependencies, size/L

#512 doc: fix k8s doc
  website/docs/r/k8s_cluster_beta.html.markdown
  website/scaleway.erb
Labels: documentation, size/S

#513 doc: improve scaleway_instance_security_group_rules doc
  website/docs/r/instance_security_group_rules.html.markdown
Labels: documentation, size/XS

#514 doc: fix scaleway_ip_reverse_dns v2 migration guide
  website/docs/guides/migration_guide_v2.html.markdown
Labels: documentation, size/XS

#515 fix(lb): type is now case insensitive to avoid force-recreate
  scaleway/resource_lb_beta.go
  scaleway/resource_lb_beta_test.go
Labels: size/XS

#516 doc: update changelog
  CHANGELOG.md
Labels: size/XS

#517 chore: prepare release
  scaleway/version.go
Labels: size/XS
