Repository scaleway/terraform-provider-scaleway, pull requests merged in 2020-03, with the labels that each got.

#413 Fix argument disable_dynamic_ip
  website/docs/r/instance_server.html.markdown
Labels: documentation, size/XS

#412 fix(instance): add a diffSuppressFunc on image server attr
  scaleway/helpers.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  scaleway/resource_ip.go
Labels: size/M

#416 docs(rdb): fix typos in scaleway_rdb_instance_beta
  website/docs/r/rdb_instance_beta.html.markdown
Labels: documentation, size/XS

#417 chore: linting error
  scaleway/resource_instance_security_group.go
  scaleway/resource_instance_security_group_rules.go
Labels: size/XS

#396 feat: added certificate to load-balancer
  scaleway/helpers_lb.go
  scaleway/provider.go
  scaleway/resource_lb_certificate_beta.go
  scaleway/resource_lb_certificate_beta_test.go
  website/docs/r/lb_certificate_beta.html.markdown
  website/scaleway.erb
Labels: documentation, new-resource, size/XL

#422 fix(k8s): wait for default pool on pool replacement
  scaleway/resource_k8s_cluster_beta.go
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: documentation, size/XS

#423 doc(k8s): fix third level list on nodes
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: documentation, size/XS

#408 feat(registry): add namespace data source
  scaleway/data_source_helpers.go
  scaleway/data_source_registry_namespace_beta.go
  scaleway/data_source_registry_namespace_beta_test.go
  scaleway/provider.go
  scaleway/resource_k8s_cluster_beta_test.go
  website/docs/d/registry_namespace_beta.html.markdown
  website/scaleway.erb
Labels: documentation, size/L

#409 feat(registry): add image data source
  scaleway/data_source_helpers.go
  scaleway/data_source_registry_image_beta.go
  scaleway/data_source_registry_image_beta_test.go
  scaleway/data_source_registry_namespace_beta.go
  scaleway/helpers_registry.go
  scaleway/provider.go
  scaleway/resource_registry_namespace_beta.go
  scaleway/resource_registry_namespace_beta_test.go
  website/docs/d/registry_image_beta.html.markdown
  website/docs/d/registry_namespace_beta.html.markdown
  website/scaleway.erb
Labels: documentation, size/L

#420 doc(lb): add ACL documentation
  scaleway/resource_lb_frontend_beta.go
  website/docs/r/lb_frontend_beta.html.markdown
Labels: documentation, size/M

#398 doc(instance): updated instance_security_group with port_range
  website/docs/r/instance_security_group.html.markdown
Labels: documentation, size/XS

#428 doc: fix issues in documentation
  website/docs/d/account_ssh_key.html.markdown
  website/docs/d/baremetal_offer_beta.html.markdown
  website/docs/d/instance_image.html.markdown
  website/docs/d/instance_security_group.html.markdown
  website/docs/d/instance_server.html.markdown
  website/docs/d/instance_volume.html.markdown
  website/docs/r/instance_volume.html.markdown
  website/docs/r/lb_backend_beta.html.markdown
Labels: documentation, size/S

#429 chore: deprecate data_source_bootscript
  scaleway/data_source_bootscript.go
  website/docs/d/bootscript.html.markdown
  website/scaleway.erb
Labels: documentation, size/XS

#431 feat(k8s): add tags to pools
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_cluster_beta_test.go
  scaleway/resource_k8s_pool_beta.go
  scaleway/resource_k8s_pool_beta_test.go
  website/docs/r/k8s_cluster_beta.html.markdown
  website/docs/r/k8s_pool_beta.html.markdown
Labels: documentation, size/S

#430 doc(provider): add v0.14.0 changelog
  CHANGELOG.md
Labels: size/S

#433 doc(provider): fix changelog
  CHANGELOG.md
Labels: size/XS

#432 chore: release v1.14.0
  scaleway/version.go
Labels: size/XS

#434 doc(k8s): fix typo in admission_plugins argument
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: documentation, size/XS

#439 fix(instance): fix error message on image get
  scaleway/resource_instance_server.go
Labels: size/XS
