Repository scaleway/terraform-provider-scaleway, pull requests merged in 2020-09, with the labels that each got.

#520 feat(rdb): add scaleway_rdb_user_resource_beta
  scaleway/provider.go
  scaleway/resource_rdb_instance_beta.go
  scaleway/resource_rdb_user_beta.go
  scaleway/resource_rdb_user_beta_test.go
  website/docs/r/rdb_instance_beta.html.markdown
  website/docs/r/rdb_user_beta.html.markdown
  website/scaleway.erb
Labels: documentation, size/XL

#450 doc: Add support documentation
  .github/SUPPORT.md
Labels: size/XS

#501 feat(object): add tags to buckets
  scaleway/helpers_object.go
  scaleway/resource_object_bucket.go
  scaleway/resource_object_bucket_test.go
  website/docs/r/object_bucket.html.markdown
Labels: documentation, size/M

#454 chore: delete old issue template
  .github/ISSUE_TEMPLATE.md
Labels: size/S
