Repository scaleway/terraform-provider-scaleway, pull requests merged in 2020-05, with the labels that each got.

#479 feat(ci): migrate to bionic
  .travis.yml
Labels: size/XS

#480 chore: migrate examples to use Ubuntu 20.04 Focal Fossa
  scaleway/data_source_instance_server_test.go
  scaleway/data_source_marketplace_image_beta_test.go
  scaleway/resource_instance_server_test.go
  website/docs/d/marketplace_image_beta.html.markdown
  website/docs/guides/migration_guide_v2.html.markdown
  website/docs/index.html.markdown
  website/docs/r/instance_server.html.markdown
Labels: documentation, size/S

#478 fix(k8s): fix doc formatting
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: documentation, size/XS

#485 doc: fix missing lbip in navbar and fix lb display
  website/docs/r/lb_beta.html.markdown
  website/scaleway.erb
Labels: documentation, size/XS
