Repository scaleway/terraform-provider-scaleway, pull requests merged in 2020-04, with the labels that each got.

#446 fix(instance): fix SG on external rules plan
  scaleway/resource_instance_security_group.go
Labels: size/XS

#449 chore: fix typo
  scaleway/data_source_instance_volume_test.go
  scaleway/resource_instance_volume_test.go
Labels: size/S

#442 feat(k8s): add v1 and deprecate beta
  .travis.yml
  go.mod
  go.sum
  scaleway/helpers_k8s.go
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_cluster_beta_test.go
  scaleway/resource_k8s_pool_beta.go
  scaleway/resource_k8s_pool_beta_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/account/v2alpha1/account_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1/k8s_helpers.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1/k8s_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1/kubeconfig.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v1/marketplace_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/rdb/v1/rdb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/registry/v1/registry_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/convert.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/env.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/errors.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/path.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/version.go
  vendor/modules.txt
  website/docs/r/k8s_cluster_beta.html.markdown
  website/docs/r/k8s_pool_beta.html.markdown
Labels: dependencies, documentation, size/XXL

#447 fix: dead-lock when too many http retry
  scaleway/config.go
  scaleway/logger.go
Labels: size/XS

#453 doc: Add new issues templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: size/M

#448 doc: Add Contributing documentation
  .github/CONTRIBUTING.md
  .github/contributing/acceptance_test.md
  .github/contributing/common_reviews_items.md
  .github/contributing/issues.md
  .github/contributing/pull_requests.md
Labels: size/XL

#456 feat(sweeper): add missing sweepers
  scaleway/resource_account_ssh_key_test.go
  scaleway/resource_baremetal_server_beta_test.go
  scaleway/resource_instance_ip_test.go
  scaleway/resource_instance_placement_group_test.go
  scaleway/resource_instance_security_group_test.go
  scaleway/resource_instance_server_test.go
  scaleway/resource_instance_volume_test.go
  scaleway/resource_k8s_cluster_beta_test.go
  scaleway/resource_lb_beta_test.go
  scaleway/resource_rdb_instance_beta_test.go
  scaleway/resource_registry_namespace_beta_test.go
  scaleway/sweeper_test.go
Labels: size/XL

#452 feat(lb): add IP resource
  scaleway/provider.go
  scaleway/resource_lb_beta.go
  scaleway/resource_lb_beta_test.go
  scaleway/resource_lb_ip_beta.go
  scaleway/resource_lb_ip_beta_test.go
  website/docs/r/lb_beta.html.markdown
  website/docs/r/lb_ip_beta.html.markdown
Labels: documentation, size/XL

#457 test: add access key in sweeper client
  scaleway/sweeper_test.go
Labels: size/XS

#455 feat(instance): use RegionalID for server
  scaleway/helpers.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
Labels: size/M

#458 fix(baremetal): fix missing ips from computed
  scaleway/helpers_baremetal.go
Labels: size/XS

#460 feat(baremetal): add ip version to ips output
  scaleway/helpers_baremetal.go
  scaleway/resource_baremetal_server_beta.go
  website/docs/r/baremetal_server_beta.html.markdown
Labels: documentation, size/XS

#461 feat(k8s): add unneeded time for autoscaler
  go.mod
  go.sum
  scaleway/helpers_k8s.go
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_cluster_beta_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/account/v2alpha1/account_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/image_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1/k8s_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v1/marketplace_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/rdb/v1/rdb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/registry/v1/registry_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/errors.go
  vendor/modules.txt
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: dependencies, documentation, size/L

#462 feat(k8s): use minor version on autoupgrades
  scaleway/helpers_k8s.go
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_cluster_beta_test.go
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: documentation, size/L

#465 test(sweeper): ignore errors
  scaleway/sweeper_test.go
Labels: size/XS

#464 doc: add instance_ip_reverse_dns in menu
  website/scaleway.erb
Labels: documentation, size/XS

#467 fix(lb): fix tests not passing
  scaleway/resource_lb_backend_beta_test.go
  scaleway/resource_lb_beta_test.go
  scaleway/resource_lb_certificate_beta_test.go
  scaleway/resource_lb_frontend_beta_test.go
Labels: size/M

#468 test(instance): fix test for scaleway_instance_security_group_rules
  scaleway/resource_instance_security_group_rules.go
  scaleway/resource_instance_security_group_rules_test.go
Labels: size/XL

#469 test(instance): skip C2S tests
  scaleway/resource_instance_server_test.go
  scaleway/resource_server_test.go
  scaleway/resource_volume_attachment_test.go
Labels: documentation, size/XS

#471 fix: remove resource scaleway_bucket
  scaleway/provider.go
  scaleway/resource_bucket.go
  scaleway/resource_bucket_test.go
  website/docs/r/bucket.html.markdown
  website/scaleway.erb
Labels: documentation, size/L

#472 test(k8s): get the latest versions for the tests from the API
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_cluster_beta_test.go
  scaleway/resource_k8s_pool_beta_test.go
Labels: size/L

#473 test(sweeper): remove token sweeper
  scaleway/resource_token_test.go
Labels: size/XS

#475 chore(vendor): update scaleway sdk
  go.mod
  go.sum
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1/k8s_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/registry/v1/registry_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config.go
  vendor/modules.txt
Labels: dependencies, size/M

#474 feat(baremetal) use v1 API
  scaleway/data_source_baremetal_offer.go
  scaleway/data_source_baremetal_offer_test.go
  scaleway/helpers.go
  scaleway/helpers_baremetal.go
  scaleway/helpers_test.go
  scaleway/resource_baremetal_server.go
  scaleway/resource_baremetal_server_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1/server_utils.go
  vendor/modules.txt
  website/docs/d/baremetal_offer.html.markdown
Labels: dependencies, documentation, size/XXL

#476 test: fix test pipeline
  scaleway/config.go
  scaleway/data_source_baremetal_offer_test.go
  scaleway/provider.go
  scaleway/resource_ip_test.go
  scaleway/resource_k8s_cluster_beta_test.go
  scaleway/resource_security_group_test.go
  scaleway/resource_server_test.go
  scaleway/resource_volume_test.go
Labels: size/L

#470 chore: prepare 1.15 release
  CHANGELOG.md
  scaleway/version.go
Labels: size/XS
