Repository scaleway/terraform-provider-scaleway, pull requests merged in 2020-01, with the labels that each got.

#376 feat(k8s): bump to v1beta4
  go.mod
  go.sum
  scaleway/helpers.go
  scaleway/helpers_k8s.go
  scaleway/resource_instance_ip.go
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_cluster_beta_test.go
  scaleway/resource_k8s_pool_beta.go
  scaleway/resource_k8s_pool_beta_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/account/v2alpha1/account_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta4/k8s_helpers.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta4/k8s_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta4/kubeconfig.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v1/marketplace_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/rdb/v1/rdb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/errors.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/request.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/request_option.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/version.go
  vendor/modules.txt
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: dependencies, documentation, size/XXL

#384 chore(core): bump sdk version
  go.mod
  go.sum
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/security_group_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta4/k8s_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/rdb/v1/rdb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/custom_types.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/errors.go
  vendor/modules.txt
Labels: dependencies, size/XL

#383 feat(k8s): change cluster name
  scaleway/resource_k8s_cluster_beta.go
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: dependencies, documentation, size/XS

#385 chore(vendor): bump sdk version
  go.mod
  go.sum
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta4/k8s_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/custom_types.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/errors.go
  vendor/modules.txt
Labels: dependencies, size/L

#386 feat(k8s): add feature gates and admission plugins
  scaleway/resource_k8s_cluster_beta.go
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: documentation, size/S

#387 chore: remove deprecated use of Attach/DetachIP
  go.sum
  scaleway/resource_instance_server.go
Labels: size/XS

#389 fix(k8s): version is required
  scaleway/resource_k8s_cluster_beta.go
  website/docs/r/k8s_cluster_beta.html.markdown
Labels: documentation, size/XS

#336 chore: remove unnecessary get prefixes from getters
  scaleway/config.go
  scaleway/data_source_account_ssh_key.go
  scaleway/data_source_baremetal_offer_beta.go
  scaleway/data_source_instance_image.go
  scaleway/data_source_instance_security_group.go
  scaleway/data_source_instance_server.go
  scaleway/data_source_instance_volume.go
  scaleway/data_source_instance_volume_test.go
  scaleway/data_source_marketplace_image_beta.go
  scaleway/helper_storage_object.go
  scaleway/helpers.go
  scaleway/helpers_account.go
  scaleway/helpers_baremetal.go
  scaleway/helpers_instance.go
  scaleway/helpers_k8s.go
  scaleway/helpers_lb.go
  scaleway/helpers_rdb.go
  scaleway/helpers_test.go
  scaleway/resource_account_ssh_key.go
  scaleway/resource_account_ssh_key_test.go
  scaleway/resource_baremetal_server_beta.go
  scaleway/resource_baremetal_server_beta_test.go
  scaleway/resource_instance_ip.go
  scaleway/resource_instance_ip_reverse_dns.go
  scaleway/resource_instance_ip_test.go
  scaleway/resource_instance_placement_group.go
  scaleway/resource_instance_placement_group_test.go
  scaleway/resource_instance_security_group.go
  scaleway/resource_instance_security_group_test.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  scaleway/resource_instance_volume.go
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_cluster_beta_test.go
  scaleway/resource_k8s_pool_beta.go
  scaleway/resource_k8s_pool_beta_test.go
  scaleway/resource_lb_backend_beta.go
  scaleway/resource_lb_backend_beta_test.go
  scaleway/resource_lb_beta.go
  scaleway/resource_lb_beta_test.go
  scaleway/resource_lb_frontend_beta.go
  scaleway/resource_lb_frontend_beta_test.go
  scaleway/resource_object_bucket.go
  scaleway/resource_rdb_instance_beta.go
  scaleway/resource_rdb_instance_beta_test.go
  scaleway/resource_ssh_key.go
  scaleway/resource_ssh_key_test.go
Labels: size/XL

#382 feat(lb): add support for frontend ACL
  scaleway/helpers.go
  scaleway/helpers_lb.go
  scaleway/resource_lb_frontend_beta.go
  scaleway/resource_lb_frontend_beta_test.go
Labels: size/XL
