Repository scaleway/terraform-provider-scaleway, pull requests merged in 2020-02, with the labels that each got.

#390 chore: linting with default set of golangci-lint rules
  go.mod
  scaleway/data_source_account_ssh_key.go
  scaleway/data_source_baremetal_offer_beta.go
  scaleway/data_source_bootscript.go
  scaleway/data_source_helpers.go
  scaleway/data_source_image.go
  scaleway/data_source_instance_image.go
  scaleway/data_source_instance_security_group.go
  scaleway/data_source_instance_server.go
  scaleway/data_source_marketplace_image_beta.go
  scaleway/data_source_security_group.go
  scaleway/data_source_volume.go
  scaleway/helpers.go
  scaleway/helpers_rdb.go
  scaleway/provider_test.go
  scaleway/resource_account_ssh_key.go
  scaleway/resource_baremetal_server_beta.go
  scaleway/resource_instance_ip.go
  scaleway/resource_instance_ip_reverse_dns.go
  scaleway/resource_instance_placement_group.go
  scaleway/resource_instance_security_group.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_volume.go
  scaleway/resource_ip.go
  scaleway/resource_ip_reverse_dns.go
  scaleway/resource_ip_test.go
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_pool_beta.go
  scaleway/resource_lb_backend_beta.go
  scaleway/resource_lb_beta.go
  scaleway/resource_object_bucket.go
  scaleway/resource_rdb_instance_beta.go
  scaleway/resource_security_group.go
  scaleway/resource_security_group_rule.go
  scaleway/resource_server.go
  scaleway/resource_ssh_key.go
  scaleway/resource_token.go
  scaleway/resource_user_data.go
  scaleway/resource_volume.go
  scaleway/resource_volume_attachment_test.go
  scaleway/validation.go
  scaleway/validation_test.go
Labels: size/XL

#330 feat(registry): add scaleway_registry_namespace_beta resource
  go.mod
  go.sum
  scaleway/helpers_registry.go
  scaleway/provider.go
  scaleway/resource_registry_namespace_beta.go
  scaleway/resource_registry_namespace_beta_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/baremetal_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/baremetal/v1alpha1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta4/k8s_helpers.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v1/marketplace_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/rdb/v1/rdb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/rdb/v1/rdb_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/registry/v1/registry_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/registry/v1/registry_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/async/wait.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/auth/no_auth.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/auth/token.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/parameter/query.go
  vendor/github.com/scaleway/scaleway-sdk-go/logger/default_logger.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config_legacy.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/custom_types.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/env.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/locality.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/path.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/request.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/request_option.go
  vendor/modules.txt
  website/docs/r/registry_namespace_beta.markdown
  website/scaleway.erb
Labels: dependencies, documentation, size/XXL

#394 docs(instance): typo in scaleway_instance_server resource
  website/docs/r/instance_server.html.markdown
Labels: documentation, size/XS

#391 feat: add scaleway_instance_security_group_rules resource
  scaleway/helpers.go
  scaleway/helpers_instance.go
  scaleway/helpers_test.go
  scaleway/provider.go
  scaleway/resource_instance_security_group.go
  scaleway/resource_instance_security_group_rules.go
  scaleway/resource_instance_security_group_rules_test.go
  website/docs/r/instance_security_group.html.markdown
  website/docs/r/instance_security_group_rules.html.markdown
  website/scaleway.erb
Labels: documentation, size/XL

#397 fix(k8s): fix requirements for auto upgrade
  scaleway/resource_k8s_cluster_beta.go
Labels: size/XS

#400 chore(core): bump sdk version
  go.mod
  go.sum
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta4/k8s_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/rdb/v1/rdb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/errors.go
  vendor/modules.txt
Labels: dependencies, size/M

#401 feat(instance): support deprecated instance types
  go.mod
  go.sum
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/modules.txt
  website/docs/r/instance_server.html.markdown
Labels: dependencies, documentation, size/M

#402 chore(core): bump sdk version
  go.mod
  go.sum
  scaleway/helpers_k8s.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta4/k8s_helpers.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta4/k8s_sdk.go
  vendor/modules.txt
Labels: dependencies, size/M

#403 chore(core): bump sdk version
  go.mod
  go.sum
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/k8s/v1beta4/k8s_helpers.go
  vendor/modules.txt
Labels: dependencies, size/M

#393 feat(k8s): wait for pool to be ready and add 'nodes' in its output
  scaleway/helpers_k8s.go
  scaleway/resource_k8s_cluster_beta.go
  scaleway/resource_k8s_cluster_beta_test.go
  scaleway/resource_k8s_pool_beta.go
  scaleway/resource_k8s_pool_beta_test.go
  website/docs/r/k8s_cluster_beta.html.markdown
  website/docs/r/k8s_pool_beta.html.markdown
Labels: documentation, size/XL

#404 doc: fix typo in marketplace example
  website/docs/d/marketplace_image_beta.html.markdown
Labels: documentation, size/XS

#406 feat(baremetal): export ips and domain
  scaleway/helpers_baremetal.go
  scaleway/resource_baremetal_server_beta.go
  website/docs/r/baremetal_server_beta.html.markdown
Labels: documentation, size/S

#407 fix(registry): add registry back to list of resources
  scaleway/provider.go
Labels: size/XS
