Repository scaleway/terraform-provider-scaleway, pull requests merged in 2022-04, with the labels that each got.

#1156 feat(dhcp-reservation): add resource dhcp reservation
  docs/resources/vpc_public_gateway_dhcp_reservation.md
  scaleway/provider.go
  scaleway/resource_vpc_public_gateway_dhcp_reservation.go
  scaleway/resource_vpc_public_gateway_dhcp_reservation_test.go
  scaleway/testdata/vpc-public-gateway-dhcp-entry-basic.cassette.yaml
Labels: new-resource

#1212 fix(baremetal): rename offer with new name
  scaleway/data_source_baremetal_offer_test.go
  scaleway/testdata/data-source-baremetal-offer-basic.cassette.yaml
Labels: baremetal

#1113 feat(domain): DNAME support and improve performance when using record ID
  docs/data-sources/domain_record.md
  docs/resources/domain_record.md
  scaleway/resource_domain_record.go
  scaleway/testdata/data-source-domain-record-basic.cassette.yaml
  scaleway/testdata/data-source-domain-zone-basic.cassette.yaml
  scaleway/testdata/domain-record-basic.cassette.yaml
  scaleway/testdata/domain-record-geo-ip.cassette.yaml
  scaleway/testdata/domain-record-http-service.cassette.yaml
  scaleway/testdata/domain-record-view.cassette.yaml
  scaleway/testdata/domain-record-weighted.cassette.yaml
  scaleway/testdata/domain-zone-basic.cassette.yaml
Labels: domain

#1235 Fix(domain-record): TXT record and helpers
  docs/data-sources/domain_record.md
  docs/resources/domain_record.md
  scaleway/helpers_domain.go
  scaleway/resource_domain_record.go
  scaleway/resource_domain_record_test.go
  scaleway/resource_instance_ip_reverse_dns_test.go
  scaleway/testdata/data-source-domain-record-basic.cassette.yaml
  scaleway/testdata/domain-record-basic.cassette.yaml
  scaleway/testdata/domain-record-basic2.cassette.yaml
  scaleway/testdata/domain-record-geo-ip.cassette.yaml
  scaleway/testdata/domain-record-http-service.cassette.yaml
  scaleway/testdata/domain-record-view.cassette.yaml
  scaleway/testdata/domain-record-weighted.cassette.yaml
  scaleway/testdata/instance-ip-reverse-dns-basic.cassette.yaml
Labels: domain
