Repository scaleway/terraform-provider-scaleway, pull requests merged in 2022-09, with the labels that each got.

#1436 docs: using scaleway vpc bastion ssh
  docs/guides/using-vpc-bastion-ssh.md
Labels: documentation, vpc

#1475 fix(container): set env variables to computed
  scaleway/resource_container.go
Labels: container

#1480 fix(domain_record): cname domain creation
  scaleway/helpers_domain.go
  scaleway/resource_domain_record.go
  scaleway/resource_domain_record_test.go
  scaleway/testdata/domain-record-cname.cassette.yaml
Labels: bug, domain

#1478 fix(function): timeout type
  docs/resources/function.md
  scaleway/resource_function.go
  scaleway/resource_function_test.go
  scaleway/testdata/function-timeout.cassette.yaml
Labels: function

#1481 feat(instance): resource user data
  docs/resources/instance_user_data.md
  scaleway/provider.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  scaleway/resource_instance_user_data.go
  scaleway/resource_instance_user_data_test.go
  scaleway/testdata/instance-server-basic.cassette.yaml
  scaleway/testdata/instance-server-basic2.cassette.yaml
  scaleway/testdata/instance-server-user-data-basic.cassette.yaml
Labels: new-resource, instance

#1491 fix(iam_api_key): set secret_key on create
  scaleway/resource_iam_api_key.go
  scaleway/resource_iam_api_key_test.go
  scaleway/testdata/iam-api-key-expires.cassette.yaml
  scaleway/testdata/iam-api-key-no-update.cassette.yaml
  scaleway/testdata/iam-api-key-with-application.cassette.yaml
  scaleway/testdata/iam-api-key-with-user.cassette.yaml
Labels: bug, iam
