Repository scaleway/terraform-provider-scaleway, pull requests merged in 2022-10, with the labels that each got.

#1489 feat(instance_snapshot): add snapshot import
  docs/resources/instance_snapshot.md
  scaleway/resource_instance_snapshot.go
Labels: enhancement, instance

#1505 tests(iam_policy): override orgID for cassette run only
  scaleway/resource_iam_policy_test.go
Labels: iam

#1507 tests: add custom cassette matcher
  scaleway/provider_test.go
Labels: tests

#1504 fix(iam_application): set datasource organization_id to optional
  scaleway/data_source_iam_application.go
  scaleway/data_source_iam_application_test.go
  scaleway/testdata/data-source-iam-application-basic.cassette.yaml
Labels: enhancement, iam

#1511 fix(iam_group): set datasource organization_id to optional
  scaleway/data_source_iam_group.go
Labels: iam

#1487 test(domain_record): change cname test dns zone
  scaleway/resource_domain_record_test.go
  scaleway/testdata/domain-record-cname.cassette.yaml
Labels: bug, tests

#1513 feat(account): add project datasource
  scaleway/data_source_account_project.go
  scaleway/data_source_account_project_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-account-project-basic.cassette.yaml
  scaleway/testdata/data-source-account-project-default.cassette.yaml
Labels: account

#1488 fix(k8s): region zone schema
  docs/resources/k8s_pool.md
  scaleway/helpers.go
  scaleway/resource_k8s_pool.go
  scaleway/resource_k8s_pool_test.go
  scaleway/testdata/k8s-cluster-pool-placement-group.cassette.yaml
Labels: bug, k8s

#1502 docs(iam): resource and data_source
  docs/data-sources/account_project.md
  docs/data-sources/iam_application.md
  docs/data-sources/iam_group.md
  docs/data-sources/iam_ssh_key.md
  docs/data-sources/iam_user.md
  docs/resources/account_project.md
  docs/resources/iam_api_key.md
  docs/resources/iam_application.md
  docs/resources/iam_group.md
  docs/resources/iam_policy.md
  docs/resources/iam_ssh_key.md
Labels: iam

#1521 fix(provider): handle http error on failed retries
  scaleway/retryable_transport.go
Labels: bug, provider

#1530 feat(container): add container_token resource
  docs/resources/container_token.md
  scaleway/helpers.go
  scaleway/provider.go
  scaleway/resource_container_token.go
  scaleway/resource_container_token_test.go
  scaleway/testdata/container-token-basic.cassette.yaml
Labels: enhancement, container

#1535 docs(rdb): fix example of instance with backup
  docs/resources/rdb_instance.md
Labels: documentation, rdb

#1537 fix(iam): set api key default project id
  scaleway/resource_iam_api_key.go
Labels: bug, iam

#1541 test: remove unused cassettes
  scaleway/testdata/instance-ip-simple.cassette.yaml
  scaleway/testdata/instance-server-user-data1.cassette.yaml
  scaleway/testdata/instance-server-user-data2.cassette.yaml
  scaleway/testdata/k8s-cluster-ingress-dashboard.cassette.yaml
  scaleway/testdata/object-bucket-versioning.cassette.yaml
  scaleway/testdata/vpc-public-network-basic.cassette.yaml
  scaleway/testdata/vpc-public-network-without-dhcp.cassette.yaml
Labels: tests

#1543 tests: update k8s cassettes with deprecated field
  scaleway/testdata/data-source-k8s-cluster-basic.cassette.yaml
  scaleway/testdata/data-source-k8s-pool-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-auto-upgrade.cassette.yaml
  scaleway/testdata/k8s-cluster-autoscaling.cassette.yaml
  scaleway/testdata/k8s-cluster-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-multicloud.cassette.yaml
  scaleway/testdata/k8s-cluster-oidc.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-kubelet-args.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-upgrade-policy.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-wait.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-zone.cassette.yaml
Labels: k8s, tests

#1546 docs: add lifecycle in lb_certificate example
  docs/resources/lb_frontend.md
Labels: documentation, load-balancer

#1540 test(cassettes): add custom body matcher
  scaleway/provider_test.go
  scaleway/retryable_transport.go
Labels: provider, tests

#1531 feat(function): add function_token resource
  docs/resources/function_token.md
  scaleway/provider.go
  scaleway/resource_function_token.go
  scaleway/resource_function_token_test.go
  scaleway/testdata/function-token-basic.cassette.yaml
Labels: enhancement, function

#1552 doc(function_cron): remove dead link
  docs/resources/function_cron.md
Labels: documentation, function

#1544 feat(container): add secret environment variables
  docs/resources/container.md
  docs/resources/container_namespace.md
  scaleway/helpers_container.go
  scaleway/resource_container.go
  scaleway/resource_container_namespace.go
  scaleway/resource_container_namespace_test.go
  scaleway/resource_container_test.go
  scaleway/testdata/container-basic.cassette.yaml
  scaleway/testdata/container-env.cassette.yaml
  scaleway/testdata/container-namespace-basic.cassette.yaml
  scaleway/testdata/data-source-container-basic.cassette.yaml
Labels: enhancement, container

#1554 fix(bucket): filter lifecycle without operator when using a single tag
  scaleway/resource_object_bucket.go
Labels: bug, object
