Repository scaleway/terraform-provider-scaleway, pull requests merged in 2022-11, with the labels that each got.

#1555 tests(object): enable tests and handle s3 with cassettes
  .github/workflows/coverage.yml
  scaleway/data_source_object_bucket_test.go
  scaleway/provider_test.go
  scaleway/resource_object_bucket_acl_test.go
  scaleway/resource_object_bucket_test.go
  scaleway/testdata/data-source-object-storage-basic.cassette.yaml
  scaleway/testdata/object-bucket-acl-basic.cassette.yaml
  scaleway/testdata/object-bucket-acl-grantee-with-owner.cassette.yaml
  scaleway/testdata/object-bucket-acl-grantee.cassette.yaml
  scaleway/testdata/object-bucket-basic.cassette.yaml
  scaleway/testdata/object-bucket-cors-delete.cassette.yaml
  scaleway/testdata/object-bucket-cors-empty-origin.cassette.yaml
  scaleway/validate_cassettes_test.go
Labels: object, tests

#1556 fix(baremetal): unexpected reinstall on ssh key ids changes
  docs/resources/baremetal_server.md
  scaleway/helpers_baremetal.go
  scaleway/resource_baremetal_server.go
Labels: bug, elastic-metal

#1580 fix(redis): add test with the last available version
  scaleway/data_source_redis_cluster_test.go
  scaleway/resource_redis_cluster_test.go
  scaleway/testdata/data-source-redis-cluster-basic.cassette.yaml
  scaleway/testdata/redis-cluster-acl.cassette.yaml
  scaleway/testdata/redis-cluster-basic.cassette.yaml
  scaleway/testdata/redis-cluster-certificate.cassette.yaml
  scaleway/testdata/redis-cluster-endpoints-cluster-mode.cassette.yaml
  scaleway/testdata/redis-cluster-endpoints-standalone.cassette.yaml
  scaleway/testdata/redis-cluster-migrate.cassette.yaml
  scaleway/testdata/redis-cluster-no-certificate.cassette.yaml
  scaleway/testdata/redis-cluster-settings.cassette.yaml
Labels: bug, redis

#1582 feat(baremetal): add user attributes to baremetal server
  docs/resources/baremetal_server.md
  scaleway/resource_baremetal_server.go
  scaleway/resource_baremetal_server_test.go
  scaleway/testdata/baremetal-server-required-install-config.cassette.yaml
  scaleway/testdata/data-source-baremetal-server-basic.cassette.yaml
  scaleway/testdata/flexible-ip-attach-and-detach-from-baremetal-server.cassette.yaml
  scaleway/testdata/flexible-ip-create-and-attach-to-baremetal-server.cassette.yaml
Labels: enhancement, elastic-metal

#1575 ci: add slack announce on release
  .github/workflows/announce.yaml
Labels: enhancement

#1584 fix(baremetal): export service_user to state
  scaleway/resource_baremetal_server.go
Labels: bug, elastic-metal

#1588 provider: fix cassette matcher crash on s3 urls
  scaleway/provider_test.go
Labels: bug, provider

#1591 fix(container_token): set token to state only on create
  scaleway/resource_container_token.go
Labels: bug, container

#1592 tests(container): enable with image test and change image
  .github/workflows/acceptance-tests.yaml
  .github/workflows/nightly.yml
  TESTING.md
  scaleway/resource_container_test.go
  scaleway/testdata/container-with-img.cassette.yaml
Labels: bug, container

#1589 fix(object_website): remove duplicate code and fix getbucketlocation
  scaleway/errors_object.go
  scaleway/helpers_object.go
  scaleway/resource_object_bucket_website_configuration.go
Labels: object

#1566 feat(object): add object lock configuration resource
  docs/data-sources/object_bucket.md
  docs/resources/object_bucket_object_lock_configuration.md
  scaleway/errors_object.go
  scaleway/provider.go
  scaleway/resource_object_bucket.go
  scaleway/resource_object_bucket_lock_configuration.go
  scaleway/resource_object_bucket_lock_configuration_test.go
  scaleway/testdata/data-source-object-storage-basic.cassette.yaml
  scaleway/testdata/object-basic.cassette.yaml
  scaleway/testdata/object-bucket-acl-basic.cassette.yaml
  scaleway/testdata/object-bucket-acl-grantee-with-owner.cassette.yaml
  scaleway/testdata/object-bucket-acl-grantee.cassette.yaml
  scaleway/testdata/object-bucket-basic.cassette.yaml
  scaleway/testdata/object-bucket-cors-delete.cassette.yaml
  scaleway/testdata/object-bucket-cors-empty-origin.cassette.yaml
  scaleway/testdata/object-bucket-cors-update.cassette.yaml
  scaleway/testdata/object-bucket-destroy-force.cassette.yaml
  scaleway/testdata/object-bucket-lock-configuration-basic.cassette.yaml
  scaleway/testdata/object-bucket-lock-configuration-update.cassette.yaml
  scaleway/testdata/object-hash.cassette.yaml
  scaleway/testdata/object-import.cassette.yaml
  scaleway/testdata/object-metadata.cassette.yaml
  scaleway/testdata/object-move.cassette.yaml
  scaleway/testdata/object-storage-class.cassette.yaml
  scaleway/testdata/object-tags.cassette.yaml
  scaleway/testdata/object-visibility.cassette.yaml
Labels: enhancement, object

#1596 test(object): enable website configuration cassettes
  scaleway/resource_object_bucket_website_configuration_test.go
  scaleway/testdata/test-acc-object-bucket-website-configuration-basic.cassette.yaml
  scaleway/testdata/test-acc-object-bucket-website-configuration-update.cassette.yaml
  scaleway/testdata/test-acc-object-bucket-website-configuration-with-policy.cassette.yaml
Labels: object, tests

#1594 test(object-policy): enable bucket policy cassettes
  scaleway/resource_object_bucket_policy_test.go
  scaleway/testdata/bucket-policy-basic.cassette.yaml
Labels: object, tests

#1603 feat(instance): add snapshot data source
  docs/data-sources/instance_snapshot.md
  scaleway/data_source_instance_snapshot.go
  scaleway/data_source_instance_snapshot_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-instance-snapshot-basic.cassette.yaml
Labels: enhancement, instance

#1595 fix(instance_nic): wait for instance before creating private_nic
  scaleway/resource_instance_private_nic.go
  scaleway/testdata/instance-private-nic-basic.cassette.yaml
Labels: bug, instance

#1598 fix(instance): set image and root_volume.volume_id to exactly one of
  scaleway/resource_instance_server.go
Labels: bug, instance

#1599 fix(instance): refactor root_volume creation
  scaleway/resource_instance_server.go
Labels: refactor, instance

#1611 feat(container): add domain
  docs/resources/container.md
  docs/resources/container_domain.md
  scaleway/helpers_container.go
  scaleway/provider.go
  scaleway/resource_container_domain.go
  scaleway/resource_container_domain_test.go
  scaleway/testdata/container-domain-basic.cassette.yaml
Labels: enhancement, container

#1606 feat(function): add secret environment variables
  docs/resources/function.md
  docs/resources/function_namespace.md
  scaleway/helpers_function.go
  scaleway/resource_function.go
  scaleway/resource_function_namespace.go
  scaleway/resource_function_namespace_test.go
  scaleway/resource_function_test.go
  scaleway/testdata/function-environment-variables.cassette.yaml
  scaleway/testdata/function-namespace-environment-variables.cassette.yaml
Labels: enhancement, function

#1614 feat(baremetal): add option datasource
  docs/data-sources/baremetal_option.md
  scaleway/data_source_baremetal_option.go
  scaleway/data_source_baremetal_option_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-baremetal-option-basic.cassette.yaml
Labels: enhancement, elastic-metal

#1609 fix(object): fix region retrieval for object bucket website endpoint
  scaleway/helpers_object.go
  scaleway/resource_object_bucket_website_configuration.go
Labels: bug, object

#1267 docs: add backend guide with DBaaS
  docs/guides/backend_guide.md
  docs/guides/migration_guide_v2.md
Labels: documentation, rdb

#1601 docs(instance): add examples to instance_server with root_volume usage
  docs/resources/instance_server.md
Labels: documentation, instance

#1619 Fix(vpcgw): add zone option to datasource vpcgw
  docs/data-sources/vpc_public_gateway.md
  scaleway/data_source_vpc_public_gateway.go
  scaleway/data_source_vpc_public_gateway_test.go
  scaleway/resource_vpc_public_gateway_test.go
  scaleway/testdata/data-source-vpc-public-gateway-basic.cassette.yaml
  scaleway/testdata/vpc-public-gateway-basic.cassette.yaml
Labels: vpc

#1621 feat(container_domain): add url exported attribute
  docs/resources/container_domain.md
  scaleway/resource_container_domain.go
Labels: container

#1622 fix(container_domain): resource documentation
  docs/resources/container_domain.md
Labels: container

#1623 fix(container): update timeout
  scaleway/helpers_container.go
Labels: container

#1583 feat(lb): add support for failoverhost
  .markdownlinkcheck.json
  docs/resources/lb_backend.md
  scaleway/resource_lb_backend.go
  scaleway/resource_lb_backend_test.go
  scaleway/testdata/lb-backend-with-failover-host.cassette.yaml
  scaleway/testfixture/index.html
Labels: enhancement, load-balancer

#1624 fix(container_domain): check 404 responses
  scaleway/resource_container_domain.go
Labels: bug, container

#1359 feat(function): add support for domain resource
  docs/resources/function_domain.md
  scaleway/helpers_function.go
  scaleway/provider.go
  scaleway/resource_function_domain.go
  scaleway/resource_function_domain_test.go
  scaleway/testdata/function-domain-basic.cassette.yaml
Labels: function

#1627 fix(function): secret env variables overriding env variables
  scaleway/resource_function_namespace.go
  scaleway/testdata/function-namespace-basic.cassette.yaml
Labels: bug, function

#1570 feat(validate_cassette): check for all http errors except a list
  scaleway/testdata/redis-cluster-endpoints-standalone.cassette.yaml
  scaleway/validate_cassettes_test.go
Labels: enhancement, provider, tests

#1633 fix(account_project): add missing option organization_id
  docs/data-sources/account_project.md
  docs/resources/account_project.md
  scaleway/resource_account_project.go
  scaleway/resource_account_project_test.go
Labels: account, iam
