Repository scaleway/terraform-provider-scaleway, pull requests merged in 2022-08, with the labels that each got.

#1403 feat(instance-private-nic): add wait for MAC address
  go.mod
  go.sum
  scaleway/helpers_instance.go
  scaleway/resource_instance_server.go
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-basic.cassette.yaml
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-static.cassette.yaml
  scaleway/testdata/instance-server-private-network.cassette.yaml
  scaleway/testdata/lblb-with-private-networks-on-dhcp-config.cassette.yaml
  scaleway/testdata/vpc-public-gateway-dhcp-entry-basic.cassette.yaml
  scaleway/testdata/vpc-public-gateway-pat-rule-with-instance.cassette.yaml
Labels: instance

#1114 feat(function): add support for cron
  docs/resources/function_cron.md
  scaleway/helpers_function.go
  scaleway/provider.go
  scaleway/resource_function_cron.go
  scaleway/resource_function_cron_test.go
  scaleway/testdata/function-cron-basic.cassette.yaml
  scaleway/testdata/function-cron-with-args.cassette.yaml
Labels: function

#1408 feat(object): bucket policy
  docs/resources/object_bucket_policy.md
  go.mod
  go.sum
  scaleway/errors_object.go
  scaleway/helpers.go
  scaleway/helpers_object.go
  scaleway/provider.go
  scaleway/resource_instance_security_group.go
  scaleway/resource_object_bucket_policy.go
  scaleway/resource_object_bucket_policy_test.go
Labels: object

#1423 doc(k8s): 'external' node-type for kapsule pool
  docs/resources/k8s_cluster.md
  docs/resources/k8s_pool.md
Labels: k8s

#1428 fix(LB): schema type and add migration type
  docs/data-sources/lb.md
  docs/resources/lb.md
  scaleway/resource_lb.go
  scaleway/resource_lb_test.go
  scaleway/testdata/lblb-migrate.cassette.yaml
Labels: load-balancer

#1435 fix(containers): remove helper and fix update
  scaleway/helpers.go
  scaleway/resource_container.go
  scaleway/resource_container_test.go
  scaleway/testdata/container-basic.cassette.yaml
Labels: container

#1441 fix(instance_server): set at least one of image or root_volume id
  scaleway/resource_instance_server.go
Labels: instance
