Repository scaleway/terraform-provider-scaleway, pull requests merged in 2022-12, with the labels that each got.

#1628 feat(baremetal): add options flag
  docs/resources/baremetal_server.md
  go.mod
  go.sum
  scaleway/data_source_baremetal_server_test.go
  scaleway/helpers_baremetal.go
  scaleway/resource_baremetal_server.go
  scaleway/resource_baremetal_server_test.go
  scaleway/testdata/baremetal-server-add-option.cassette.yaml
  scaleway/testdata/baremetal-server-add-two-options-then-delete-one.cassette.yaml
  scaleway/testdata/baremetal-server-create-server-with-option.cassette.yaml
Labels: enhancement, elastic-metal

#1635 ci: enable iam nightly tests
  .github/workflows/nightly.yml
Labels: iam

#1641 fix(iam) add missing attribute
  docs/resources/iam_api_key.md
Labels: iam

#1647 docs(iam): data source ssh_key documentation
  docs/data-sources/iam_ssh_key.md
Labels: iam

#1646 fix(docs): add organization ID to documentation
  docs/index.md
Labels: iam

#1644 fix(iam): remove beta flag and add missing attribute on documentation
  docs/resources/iam_application.md
  docs/resources/iam_group.md
  docs/resources/iam_policy.md
  docs/resources/iam_ssh_key.md
Labels: iam

#1645 fix(iam): organization_id as optional and computed on iam_application
  docs/resources/iam_group.md
  scaleway/data_source_iam_application.go
  scaleway/helpers.go
  scaleway/resource_iam_application.go
  scaleway/resource_iam_group.go
  scaleway/resource_iam_policy.go
Labels: iam

#1651 fix(iam): enhance documentation and format test
  docs/data-sources/iam_application.md
  docs/data-sources/iam_group.md
  docs/data-sources/iam_ssh_key.md
  docs/data-sources/iam_user.md
  scaleway/data_source_iam_application_test.go
  scaleway/data_source_iam_group.go
  scaleway/data_source_iam_group_test.go
Labels: iam

#1655 feat(provider): anonymize sensitive fields in cassettes
  scaleway/provider_test.go
Labels: provider, tests

#1569 fix(provider): pass error when request failed to execute in retryclient
  scaleway/retryable_transport.go
Labels: bug, provider

#1658 tests: remove wait on retry when using cassettes
  scaleway/provider_test.go
  scaleway/retryable_transport.go
Labels: tests

#1657 feat: add helper to retry on transient state error
  go.mod
  go.sum
  scaleway/helpers.go
  scaleway/resource_vpc_gateway_network.go
Labels: enhancement, provider

#1648 feat(baremetal): add private networks
  docs/resources/baremetal_server.md
  scaleway/helpers.go
  scaleway/helpers_baremetal.go
  scaleway/resource_baremetal_server.go
  scaleway/resource_baremetal_server_test.go
  scaleway/testdata/baremetal-server-add-another-private-network.cassette.yaml
  scaleway/testdata/baremetal-server-add-option.cassette.yaml
  scaleway/testdata/baremetal-server-add-private-network.cassette.yaml
  scaleway/testdata/baremetal-server-add-two-options-then-delete-one.cassette.yaml
  scaleway/testdata/baremetal-server-create-server-with-option.cassette.yaml
  scaleway/testdata/baremetal-server-create-server-with-private-network.cassette.yaml
  scaleway/testdata/data-source-baremetal-server-basic.cassette.yaml
  scaleway/testdata/flexible-ip-attach-and-detach-from-baremetal-server.cassette.yaml
  scaleway/testdata/flexible-ip-create-and-attach-to-baremetal-server.cassette.yaml
Labels: enhancement, elastic-metal

#1661 feat(lb): add support for ssl bridging
  docs/resources/lb_backend.md
  scaleway/resource_lb_backend.go
  scaleway/resource_lb_backend_test.go
  scaleway/testdata/lb-backend-basic.cassette.yaml
Labels: enhancement, load-balancer

#1663 feat(lb): add support for http3
  docs/resources/lb_frontend.md
  scaleway/resource_lb_frontend.go
  scaleway/resource_lb_frontend_test.go
  scaleway/testdata/lb-frontend-basic.cassette.yaml
Labels: enhancement, load-balancer
