Repository scaleway/terraform-provider-scaleway, pull requests merged in 2023-12, with the labels that each got.

#2262 tests(cockpit): set different grafana usernames
  scaleway/resource_cockpit_grafana_user_test.go
  scaleway/testdata/cockpit-grafana-user-basic.cassette.yaml
  scaleway/testdata/cockpit-grafana-user-non-existent-cockpit.cassette.yaml
  scaleway/testdata/cockpit-grafana-user-update.cassette.yaml
Labels: tests, observability

#2265 tests(billing): check if consumption is null
  scaleway/data_source_billing_consumption_test.go
Labels: tests, billing

#2270 chore: bump go version
  .github/workflows/acceptance-tests.yaml
  .github/workflows/coverage.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/tfproviderlint.yml
  .github/workflows/unit-tests.yaml
  .go-version
  cmd/tftemplate/go.mod
  go.mod
  go.sum
Labels: enhancement

#2276 docs(lb): update incorrect http option argument name
  docs/data-sources/lb_acls.md
  docs/resources/lb_acl.md
  docs/resources/lb_frontend.md
Labels: documentation, load-balancer

#2261 test(object): bucket ACL take on bucket's region
  docs/resources/object_bucket_acl.md
  scaleway/resource_object_bucket_acl.go
  scaleway/resource_object_bucket_acl_test.go
  scaleway/testdata/object-bucket-acl-basic.cassette.yaml
  scaleway/testdata/object-bucket-acl-grantee-with-owner.cassette.yaml
  scaleway/testdata/object-bucket-acl-grantee.cassette.yaml
  scaleway/testdata/object-bucket-acl-with-bucket-name.cassette.yaml
Labels: enhancement, object

#2279 fix(k8s): check status before returning error
  scaleway/helpers_k8s.go
Labels: bug, k8s, tests

#2283 docs(webhosting): fix subcategory name
  docs/resources/webhosting.md
Labels: documentation, webhosting

#2297 fix(k8s): pool: read empty values in import generation
  scaleway/resource_k8s_pool.go
  scaleway/testdata/data-source-k8s-cluster-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-auto-upgrade.cassette.yaml
  scaleway/testdata/k8s-cluster-autoscaling.cassette.yaml
  scaleway/testdata/k8s-cluster-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-multicloud.cassette.yaml
  scaleway/testdata/k8s-cluster-oidc.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-kubelet-args.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-placement-group.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-public-ip-disabled.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-size.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-upgrade-policy.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-wait.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-zone.cassette.yaml
  scaleway/testdata/k8s-cluster-private-network.cassette.yaml
  scaleway/testdata/k8s-cluster-type-change.cassette.yaml
Labels: k8s

#2301 fix(k8s): fix precondition failed in nightly tests
  scaleway/resource_k8s_cluster.go
  scaleway/testdata/data-source-k8s-cluster-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-auto-upgrade.cassette.yaml
  scaleway/testdata/k8s-cluster-autoscaling.cassette.yaml
  scaleway/testdata/k8s-cluster-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-multicloud.cassette.yaml
  scaleway/testdata/k8s-cluster-oidc.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-kubelet-args.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-placement-group.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-public-ip-disabled.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-size.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-upgrade-policy.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-wait.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-zone.cassette.yaml
  scaleway/testdata/k8s-cluster-private-network.cassette.yaml
  scaleway/testdata/k8s-cluster-type-change.cassette.yaml
Labels: k8s, priority:highest

#2278 chore(object): finalize object storage resources refactoring
  scaleway/data_source_object_bucket_policy_test.go
  scaleway/data_source_object_bucket_test.go
  scaleway/helpers_object.go
  scaleway/resource_iot_routes_test.go
  scaleway/resource_object_bucket.go
  scaleway/resource_object_bucket_acl_test.go
  scaleway/resource_object_bucket_lock_configuration_test.go
  scaleway/resource_object_bucket_policy_test.go
  scaleway/resource_object_bucket_test.go
  scaleway/resource_object_bucket_website_configuration_test.go
  scaleway/resource_object_test.go
  scaleway/sweeper_test.go
  scaleway/testdata/iot-route-s3.cassette.yaml
  scaleway/testdata/object-basic.cassette.yaml
  scaleway/testdata/object-bucket-acl-basic.cassette.yaml
  scaleway/testdata/object-bucket-acl-grantee-with-owner.cassette.yaml
  scaleway/testdata/object-bucket-acl-grantee.cassette.yaml
  scaleway/testdata/object-bucket-acl-with-bucket-name.cassette.yaml
  scaleway/testdata/object-bucket-basic.cassette.yaml
  scaleway/testdata/object-bucket-cors-delete.cassette.yaml
  scaleway/testdata/object-bucket-cors-update.cassette.yaml
  scaleway/testdata/object-bucket-destroy-force.cassette.yaml
  scaleway/testdata/object-bucket-lifecycle.cassette.yaml
  scaleway/testdata/object-bucket-lock-configuration-basic.cassette.yaml
  scaleway/testdata/object-bucket-lock-configuration-update.cassette.yaml
  scaleway/testdata/object-bucket-lock-configuration-with-bucket-name.cassette.yaml
  scaleway/testdata/object-bucket-object-lock.cassette.yaml
  scaleway/testdata/object-bucket-policy-basic.cassette.yaml
  scaleway/testdata/object-bucket-policy-other-region-with-bucket-id.cassette.yaml
  scaleway/testdata/object-bucket-policy-other-region-with-bucket-name.cassette.yaml
  scaleway/testdata/object-bucket-website-configuration-basic.cassette.yaml
  scaleway/testdata/object-bucket-website-configuration-update.cassette.yaml
  scaleway/testdata/object-bucket-website-configuration-with-bucket-name.cassette.yaml
  scaleway/testdata/object-bucket-website-configuration-with-policy.cassette.yaml
  scaleway/testdata/object-by-content-base64.cassette.yaml
  scaleway/testdata/object-by-content.cassette.yaml
  scaleway/testdata/object-hash.cassette.yaml
  scaleway/testdata/object-metadata.cassette.yaml
  scaleway/testdata/object-move.cassette.yaml
  scaleway/testdata/object-state.cassette.yaml
  scaleway/testdata/object-storage-class.cassette.yaml
  scaleway/testdata/object-tags.cassette.yaml
  scaleway/testdata/object-visibility.cassette.yaml
  scaleway/testdata/object-with-bucket-name.cassette.yaml
Labels: object, priority:highest

#2302 fix(object): getting a 403 when reading bucket should not exit the provider
  scaleway/helpers_object.go
  scaleway/resource_object_bucket.go
Labels: enhancement, object, priority:highest

#2306 tests(domain_record): record test cassette
  scaleway/testdata/domain-record-basic2.cassette.yaml
Labels: domain, tests

#2280 docs(object): bucket policy: update examples
  docs/resources/object_bucket_policy.md
Labels: documentation, object, priority:highest

#2307 fix(rdb): fill empty values in import generation
  scaleway/resource_rdb_instance.go
  scaleway/testdata/data-source-rdb-acl-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-database-backup-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-database-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-instance-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-privilege-basic.cassette.yaml
  scaleway/testdata/rdb-acl-basic.cassette.yaml
  scaleway/testdata/rdb-database-backup-basic.cassette.yaml
  scaleway/testdata/rdb-database-basic.cassette.yaml
  scaleway/testdata/rdb-privilege-basic.cassette.yaml
  scaleway/testdata/rdb-user-basic.cassette.yaml
Labels: bug, rdb, priority:highest

#2311 fix(rdb): database: fill empty values in import generation
  scaleway/resource_rdb_database.go
  scaleway/testdata/data-source-rdb-database-backup-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-database-basic.cassette.yaml
  scaleway/testdata/rdb-database-backup-basic.cassette.yaml
  scaleway/testdata/rdb-database-basic.cassette.yaml
  scaleway/testdata/rdb-database-manual-delete.cassette.yaml
Labels: rdb, priority:highest

#2312 fix(rdb): acl: fill empty values in import generation
  scaleway/data_source_rdb_acl_test.go
  scaleway/resource_rdb_acl.go
  scaleway/testdata/data-source-rdb-acl-basic.cassette.yaml
  scaleway/testdata/rdb-acl-basic.cassette.yaml
Labels: bug, rdb, priority:highest

#2308 fix(rdb): update endpoints handling
  docs/resources/rdb_instance.md
  scaleway/data_source_ipam_ip_test.go
  scaleway/helpers_rdb.go
  scaleway/resource_rdb_instance.go
  scaleway/resource_rdb_instance_test.go
  scaleway/testdata/data-source-ipamiprdb.cassette.yaml
  scaleway/testdata/data-source-rdb-acl-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-database-backup-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-database-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-instance-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-privilege-basic.cassette.yaml
  scaleway/testdata/iot-route-rdb.cassette.yaml
  scaleway/testdata/rdb-acl-basic.cassette.yaml
  scaleway/testdata/rdb-database-backup-basic.cassette.yaml
  scaleway/testdata/rdb-database-basic.cassette.yaml
  scaleway/testdata/rdb-database-manual-delete.cassette.yaml
  scaleway/testdata/rdb-instance-backup-schedule.cassette.yaml
  scaleway/testdata/rdb-instance-basic.cassette.yaml
  scaleway/testdata/rdb-instance-capitalize.cassette.yaml
  scaleway/testdata/rdb-instance-endpoints.cassette.yaml
  scaleway/testdata/rdb-instance-init-settings.cassette.yaml
  scaleway/testdata/rdb-instance-private-network-dhcp.cassette.yaml
  scaleway/testdata/rdb-instance-private-network-update.cassette.yaml
  scaleway/testdata/rdb-instance-private-network.cassette.yaml
  scaleway/testdata/rdb-instance-settings.cassette.yaml
  scaleway/testdata/rdb-instance-volume.cassette.yaml
  scaleway/testdata/rdb-instance-with-cluster.cassette.yaml
  scaleway/testdata/rdb-privilege-basic.cassette.yaml
  scaleway/testdata/rdb-read-replica-basic.cassette.yaml
  scaleway/testdata/rdb-read-replica-different-zone.cassette.yaml
  scaleway/testdata/rdb-read-replica-multiple-endpoints.cassette.yaml
  scaleway/testdata/rdb-read-replica-private-network.cassette.yaml
  scaleway/testdata/rdb-read-replica-update.cassette.yaml
  scaleway/testdata/rdb-user-basic.cassette.yaml
Labels: bug, enhancement, rdb, priority:highest

#2315 fix(lb): resolve unnecessary plan changes for LB private network
  scaleway/helpers_lb.go
  scaleway/resource_lb_test.go
  scaleway/testdata/lblb-without-pn-config.cassette.yaml
Labels: bug, load-balancer

#2316 feat(rdb_instance): add project_id filter to datasource
  docs/data-sources/rdb_instance.md
  scaleway/data_source_rdb_instance.go
Labels: enhancement, rdb

#2313 fix(rdb): read replica: fix default value in doc
  docs/resources/rdb_read_replica.md
  scaleway/resource_rdb_read_replica_test.go
  scaleway/testdata/rdb-read-replica-different-zone.cassette.yaml
Labels: bug, documentation, rdb, priority:highest

#2274 feat(mnq): add sns
  docs/resources/mnq_sns.md
  docs/resources/mnq_sns_credentials.md
  docs/resources/mnq_sns_topic.md
  docs/resources/mnq_sns_topic_subscription.md
  docs/resources/mnq_sqs.md
  docs/resources/mnq_sqs_queue.md
  scaleway/helpers_mnq.go
  scaleway/helpers_mnq_queue.go
  scaleway/helpers_mnq_sns.go
  scaleway/helpers_mnq_state.go
  scaleway/provider.go
  scaleway/resource_mnq_sns.go
  scaleway/resource_mnq_sns_credentials.go
  scaleway/resource_mnq_sns_credentials_test.go
  scaleway/resource_mnq_sns_test.go
  scaleway/resource_mnq_sns_topic.go
  scaleway/resource_mnq_sns_topic_subscription.go
  scaleway/resource_mnq_sns_topic_subscription_test.go
  scaleway/resource_mnq_sns_topic_test.go
  scaleway/resource_mnq_sqs_queue.go
  scaleway/resource_mnq_sqs_queue_test.go
  scaleway/testdata/mnqsns-basic.cassette.yaml
  scaleway/testdata/mnqsns-credentials-basic.cassette.yaml
  scaleway/testdata/mnqsns-topic-basic.cassette.yaml
  scaleway/testdata/mnqsns-topic-subscription-basic.cassette.yaml
  scaleway/validate_cassettes_test.go
Labels: mnq

#2319 feat(registry_image): add updated_at attribute to datasource
  docs/data-sources/registry_image.md
  scaleway/data_source_registry_image.go
Labels: enhancement, registry

#2320 docs(container): add registry_sha256
  docs/resources/container.md
Labels: documentation, container

#2321 fix(nats_credentials): read account-id and supress locality diff
  scaleway/resource_mnq_nats_credentials.go
Labels: bug, mnq

#2322 tests(lb): reorder configuration to fix resource dependency timing
  scaleway/resource_lb_backend_test.go
  scaleway/testdata/lb-backend-with-failover-host.cassette.yaml
Labels: load-balancer, tests

#2328 doc(k8s): delete_additional_resources deletes empty private networks
  docs/resources/k8s_cluster.md
  scaleway/resource_k8s_cluster.go
Labels: documentation, k8s, priority:highest

#2323 fix(k8s): fix waitK8SClusterDeleted function
  scaleway/helpers_k8s.go
  scaleway/testdata/data-source-k8s-cluster-basic.cassette.yaml
  scaleway/testdata/data-source-k8s-pool-basic.cassette.yaml
  scaleway/testdata/data-source-k8s-version-basic.cassette.yaml
  scaleway/testdata/data-source-k8s-version-latest.cassette.yaml
  scaleway/testdata/k8s-cluster-auto-upgrade.cassette.yaml
  scaleway/testdata/k8s-cluster-autoscaling.cassette.yaml
  scaleway/testdata/k8s-cluster-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-multicloud.cassette.yaml
  scaleway/testdata/k8s-cluster-oidc.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-kubelet-args.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-placement-group.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-public-ip-disabled.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-size.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-upgrade-policy.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-wait.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-zone.cassette.yaml
  scaleway/testdata/k8s-cluster-private-network.cassette.yaml
  scaleway/testdata/k8s-cluster-type-change.cassette.yaml
Labels: k8s

#2330 feat(instance_placement_group): add datasource
  docs/data-sources/instance_placement_group.md
  scaleway/data_source_instance_placement_group.go
  scaleway/data_source_instance_placement_group_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-instance-placement-group-basic.cassette.yaml
Labels: enhancement, instance

#2332 docs(iam_policy): add example of rule for all projects
  docs/resources/iam_policy.md
Labels: documentation, iam

#2333 docs(account_project): add example with provider configuration
  docs/resources/account_project.md
Labels: documentation, account

#2329 fix(k8s): empty string is a valid cluster type
  scaleway/resource_k8s_cluster.go
Labels: k8s

#2325 docs(mnq_sqs_queue): remove import
  docs/resources/mnq_sqs_queue.md
Labels: documentation, mnq

#2337 fix(k8s): avoid concurrency when creating pools
  scaleway/helpers_k8s.go
  scaleway/resource_k8s_cluster.go
  scaleway/resource_k8s_pool.go
  scaleway/testdata/data-source-k8s-cluster-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-auto-upgrade.cassette.yaml
  scaleway/testdata/k8s-cluster-autoscaling.cassette.yaml
  scaleway/testdata/k8s-cluster-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-multicloud.cassette.yaml
  scaleway/testdata/k8s-cluster-oidc.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-kubelet-args.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-placement-group.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-public-ip-disabled.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-size.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-upgrade-policy.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-wait.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-zone.cassette.yaml
  scaleway/testdata/k8s-cluster-private-network.cassette.yaml
  scaleway/testdata/k8s-cluster-type-change.cassette.yaml
Labels: bug, k8s, priority:highest

#2339 docs: fix nats guide and webhosting wrong subcategories
  docs/guides/mnq_with_nats_terraform_provider.md
  docs/resources/mnq_nats_account.md
  docs/resources/webhosting.md
Labels: documentation, mnq, webhosting

#2338 doc(object): document project ID for bucket child resources
  docs/data-sources/object_bucket_policy.md
  docs/index.md
  docs/resources/object.md
  docs/resources/object_bucket_acl.md
  docs/resources/object_bucket_lock_configuration.md
  docs/resources/object_bucket_policy.md
  docs/resources/object_bucket_website_configuration.md
Labels: documentation, object, priority:high

#2340 feat: add support for project_id filtering in data sources
  docs/data-sources/baremetal_server.md
  docs/data-sources/container.md
  docs/data-sources/documentdb_instance.md
  docs/data-sources/instance_security_group.md
  docs/data-sources/instance_server.md
  docs/data-sources/instance_volume.md
  docs/data-sources/iot_hub.md
  docs/data-sources/k8s_cluster.md
  docs/data-sources/lb.md
  docs/data-sources/lb_ip.md
  docs/data-sources/rdb_database_backup.md
  docs/data-sources/redis_cluster.md
  docs/data-sources/secret_version.md
  docs/data-sources/vpc_private_network.md
  docs/data-sources/vpc_public_gateway.md
  scaleway/data_source_baremetal_server.go
  scaleway/data_source_block_snapshot.go
  scaleway/data_source_block_volume.go
  scaleway/data_source_container.go
  scaleway/data_source_container_namespace.go
  scaleway/data_source_document_db_instance.go
  scaleway/data_source_domain_record.go
  scaleway/data_source_function.go
  scaleway/data_source_function_namespace.go
  scaleway/data_source_iam_ssh_key.go
  scaleway/data_source_instance_security_group.go
  scaleway/data_source_instance_server.go
  scaleway/data_source_instance_snapshot.go
  scaleway/data_source_instance_volume.go
  scaleway/data_source_iot_hub.go
  scaleway/data_source_k8s_cluster.go
  scaleway/data_source_lb.go
  scaleway/data_source_lb_ip.go
  scaleway/data_source_rdb_database_backup.go
  scaleway/data_source_rdb_instance.go
  scaleway/data_source_redis_cluster.go
  scaleway/data_source_registry_image.go
  scaleway/data_source_registry_namespace.go
  scaleway/data_source_secret.go
  scaleway/data_source_secret_version.go
  scaleway/data_source_tem_domain.go
  scaleway/data_source_vpc.go
  scaleway/data_source_vpc_private_network.go
  scaleway/data_source_vpc_public_gateway.go
Labels: enhancement

#2341 docs: add missing datasources
  docs/data-sources/bloc_snapshot.md
  docs/data-sources/block_volume.md
  docs/data-sources/documentdb_load_balancer_endpoint.md
  docs/data-sources/function.md
  scaleway/data_source_function.go
Labels: documentation

#2342 tests(mnq): set names to test projects
  scaleway/data_source_mnq_sqs_test.go
  scaleway/resource_mnq_sns_credentials_test.go
  scaleway/resource_mnq_sns_test.go
  scaleway/resource_mnq_sns_topic_subscription_test.go
  scaleway/resource_mnq_sns_topic_test.go
  scaleway/resource_mnq_sqs_credentials_test.go
  scaleway/resource_mnq_sqs_queue_test.go
  scaleway/resource_mnq_sqs_test.go
  scaleway/testdata/data-source-mnqsqs-basic.cassette.yaml
  scaleway/testdata/mnqsns-basic.cassette.yaml
  scaleway/testdata/mnqsns-credentials-basic.cassette.yaml
  scaleway/testdata/mnqsns-topic-basic.cassette.yaml
  scaleway/testdata/mnqsns-topic-subscription-basic.cassette.yaml
  scaleway/testdata/mnqsqs-already-activated.cassette.yaml
  scaleway/testdata/mnqsqs-basic.cassette.yaml
  scaleway/testdata/mnqsqs-credentials-basic.cassette.yaml
  scaleway/testdata/mnqsqs-queue-basic.cassette.yaml
Labels: tests, mnq

#2344 docs(vpcgw): fix argument reference and examples
  docs/data-sources/vpc_public_gateway_dhcp_reservation.md
Labels: documentation

#2346 docs(vpcgw): improve pat rule example
  docs/data-sources/vpc_public_gateway_pat_rule.md
  docs/resources/vpc_public_gateway_pat_rule.md
Labels: documentation, vpc
