Repository scaleway/terraform-provider-scaleway, pull requests merged in 2023-11, with the labels that each got.

#2198 feat(tem): add MX blackhole field
  docs/data-sources/tem_domain.md
  docs/resources/tem_domain.md
  scaleway/resource_tem_domain.go
Labels: enhancement, tem

#2205 tests(mnq_sqs): change expected error to 404
  scaleway/resource_mnq_sqs_test.go
  scaleway/testdata/data-source-mnqsqs-basic.cassette.yaml
  scaleway/testdata/mnqsqs-already-activated.cassette.yaml
  scaleway/testdata/mnqsqs-basic.cassette.yaml
  scaleway/testdata/mnqsqs-credentials-basic.cassette.yaml
  scaleway/testdata/mnqsqs-queue-basic.cassette.yaml
  scaleway/testdata/mnqsqs-queue-default-project.cassette.yaml
Labels: bug, tests, mnq

#2206 fix(instance_server): change from private image failed with marketplace
  scaleway/resource_instance_server.go
Labels: bug, instance

#2207 docs(issue_template): update bug template debug doc link to provider doc
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: documentation

#2210 tests(instance_server): add names to servers
  scaleway/resource_instance_server_test.go
  scaleway/testdata/instance-server-ip-removed.cassette.yaml
  scaleway/testdata/instance-server-ips-removed.cassette.yaml
  scaleway/testdata/instance-server-ips.cassette.yaml
  scaleway/testdata/instance-server-routed-ip-enable-with-ip.cassette.yaml
  scaleway/testdata/instance-server-routed-ip-enable.cassette.yaml
Labels: instance, tests

#2188 feat(ipam): add ipam ip resource
  .github/workflows/nightly.yml
  docs/data-sources/ipam_ip.md
  docs/resources/ipam_ip.md
  scaleway/helpers.go
  scaleway/helpers_instance.go
  scaleway/helpers_ipam.go
  scaleway/helpers_vpc.go
  scaleway/provider.go
  scaleway/resource_ipam_ip.go
  scaleway/resource_ipam_ip_test.go
  scaleway/resource_k8s_cluster_test.go
  scaleway/resource_k8s_pool_test.go
  scaleway/resource_vpc_private_network_test.go
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-basic.cassette.yaml
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-static.cassette.yaml
  scaleway/testdata/instance-server-private-network.cassette.yaml
  scaleway/testdata/ipamip-basic.cassette.yaml
  scaleway/testdata/ipamip-with-cidr-address.cassette.yaml
  scaleway/testdata/ipamip-with-standalone-address.cassette.yaml
  scaleway/testdata/ipamip-with-tags.cassette.yaml
  scaleway/testdata/lblb-with-private-networks-on-dhcp-config.cassette.yaml
  scaleway/testdata/vpc-public-gateway-dhcp-entry-basic.cassette.yaml
  scaleway/testdata/vpc-public-gateway-pat-rule-with-instance.cassette.yaml
Labels: enhancement, vpc, priority:high

#2215 tests(vpc): add a retry to give attached resources some time to delete
  scaleway/helpers_vpc.go
  scaleway/resource_vpc_private_network.go
  scaleway/testdata/vpc-public-gateway-dhcp-entry-basic.cassette.yaml
Labels: tests, vpc

#2219 feat(vpcgw): set type & status fields
  docs/resources/vpc_public_gateway.md
  scaleway/resource_vpc_public_gateway.go
  scaleway/resource_vpc_public_gateway_test.go
  scaleway/testdata/vpc-public-gateway-basic.cassette.yaml
Labels: enhancement, vpc

#2222 feat(cockpit): add traces
  docs/resources/cockpit.md
  docs/resources/cockpit_token.md
  docs/resources/object_bucket_policy.md
  scaleway/helpers_cockpit.go
  scaleway/resource_cockpit.go
  scaleway/resource_cockpit_test.go
  scaleway/resource_cockpit_token.go
  scaleway/resource_cockpit_token_test.go
  scaleway/testdata/cockpit-basic.cassette.yaml
  scaleway/testdata/cockpit-grafana-user-basic.cassette.yaml
  scaleway/testdata/cockpit-grafana-user-update.cassette.yaml
  scaleway/testdata/cockpit-token-basic.cassette.yaml
  scaleway/testdata/cockpit-token-no-scopes.cassette.yaml
  scaleway/testdata/cockpit-token-update.cassette.yaml
Labels: enhancement, observability

#2220 feat(tem): add reputation field
  docs/resources/tem_domain.md
  scaleway/data_source_tem_domain_test.go
  scaleway/helpers_tem.go
  scaleway/resource_tem_domain.go
  scaleway/resource_tem_domain_test.go
  scaleway/testdata/data-source-tem-domain-reputation.cassette.yaml
Labels: enhancement, tem

#2226 test(object): fix nightly ACL_Grantee
  scaleway/resource_object_bucket_acl_test.go
  scaleway/testdata/object-bucket-acl-grantee.cassette.yaml
Labels: object

#2228 chore: bump scaleway sdk-go
  go.mod
  go.sum
Labels: dependencies

#2235 chore(ddb): remove deprecated packages
  go.sum
  scaleway/resource_document_db_privilege.go
  scaleway/resource_document_db_user.go
  scaleway/testdata/data-source-document-db-database-basic.cassette.yaml
  scaleway/testdata/data-source-document-db-instance-basic.cassette.yaml
  scaleway/testdata/data-source-document-db-instance-load-balancer-basic.cassette.yaml
  scaleway/testdata/document-db-database-basic.cassette.yaml
  scaleway/testdata/document-db-instance-basic.cassette.yaml
  scaleway/testdata/document-db-private-network-endpoint-basic.cassette.yaml
  scaleway/testdata/document-db-private-network-endpoint-migration.cassette.yaml
  scaleway/testdata/document-db-privilege-basic.cassette.yaml
  scaleway/testdata/document-db-read-replica-basic.cassette.yaml
  scaleway/testdata/document-db-read-replica-multiple-endpoints.cassette.yaml
  scaleway/testdata/document-db-read-replica-private-network.cassette.yaml
  scaleway/testdata/document-db-read-replica-update.cassette.yaml
  scaleway/testdata/document-db-user-basic.cassette.yaml
  scaleway/validate_cassettes_test.go
Labels: dependencies, priority:high

#2234 chore(redis): remove deprecated ioutil package
  scaleway/resource_redis_cluster.go
  scaleway/testdata/data-source-redis-cluster-basic.cassette.yaml
  scaleway/testdata/redis-cluster-acl.cassette.yaml
  scaleway/testdata/redis-cluster-basic.cassette.yaml
  scaleway/testdata/redis-cluster-certificate.cassette.yaml
  scaleway/testdata/redis-cluster-endpoints-cluster-mode.cassette.yaml
  scaleway/testdata/redis-cluster-endpoints-standalone.cassette.yaml
  scaleway/testdata/redis-cluster-migrate.cassette.yaml
  scaleway/testdata/redis-cluster-no-certificate.cassette.yaml
  scaleway/testdata/redis-cluster-settings.cassette.yaml
Labels: dependencies, redis, priority:high

#2233 chore(rdb): remove deprecated packages
  scaleway/resource_rdb_database.go
  scaleway/resource_rdb_instance.go
  scaleway/resource_rdb_privilege.go
  scaleway/resource_rdb_user.go
  scaleway/testdata/data-source-rdb-acl-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-database-backup-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-database-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-instance-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-privilege-basic.cassette.yaml
  scaleway/testdata/rdb-acl-basic.cassette.yaml
  scaleway/testdata/rdb-database-backup-basic.cassette.yaml
  scaleway/testdata/rdb-database-basic.cassette.yaml
  scaleway/testdata/rdb-database-manual-delete.cassette.yaml
  scaleway/testdata/rdb-instance-backup-schedule.cassette.yaml
  scaleway/testdata/rdb-instance-basic.cassette.yaml
  scaleway/testdata/rdb-instance-capitalize.cassette.yaml
  scaleway/testdata/rdb-instance-init-settings.cassette.yaml
  scaleway/testdata/rdb-instance-private-network-dhcp.cassette.yaml
  scaleway/testdata/rdb-instance-private-network-update.cassette.yaml
  scaleway/testdata/rdb-instance-private-network.cassette.yaml
  scaleway/testdata/rdb-instance-settings.cassette.yaml
  scaleway/testdata/rdb-instance-volume.cassette.yaml
  scaleway/testdata/rdb-instance-with-cluster.cassette.yaml
  scaleway/testdata/rdb-privilege-basic.cassette.yaml
  scaleway/testdata/rdb-read-replica-basic.cassette.yaml
  scaleway/testdata/rdb-read-replica-different-zone.cassette.yaml
  scaleway/testdata/rdb-read-replica-multiple-endpoints.cassette.yaml
  scaleway/testdata/rdb-read-replica-private-network.cassette.yaml
  scaleway/testdata/rdb-read-replica-update.cassette.yaml
  scaleway/testdata/rdb-user-basic.cassette.yaml
Labels: dependencies, rdb, priority:high

#2240 feat(vpcgw): add support for ip id on ipam config
  docs/resources/vpc_gateway_network.md
  scaleway/helpers_vpcgw.go
  scaleway/resource_ipam_ip.go
  scaleway/resource_vpc_gateway_network.go
  scaleway/resource_vpc_gateway_network_test.go
  scaleway/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
Labels: enhancement, vpc

#2242 fix(mnq): remove end of life v1alpha1
  docs/resources/mnq_credential.md
  docs/resources/mnq_namespace.md
  docs/resources/mnq_queue.md
  scaleway/helpers_mnq.go
  scaleway/helpers_mnq_queue.go
  scaleway/provider.go
  scaleway/resource_container_trigger_test.go
  scaleway/resource_function_trigger_test.go
  scaleway/resource_mnq_credential.go
  scaleway/resource_mnq_credential_test.go
  scaleway/resource_mnq_namespace.go
  scaleway/resource_mnq_namespace_test.go
  scaleway/resource_mnq_queue.go
  scaleway/resource_mnq_queue_test.go
  scaleway/resource_mnq_sqs_queue.go
  scaleway/testdata/container-trigger-sqs.cassette.yaml
  scaleway/testdata/container-trigger-sqsmn-qv1beta1.cassette.yaml
  scaleway/testdata/function-trigger-sqs.cassette.yaml
  scaleway/testdata/function-trigger-sqsmn-qv1beta1.cassette.yaml
  scaleway/testdata/mnq-creeds-basic.cassette.yaml
  scaleway/testdata/mnq-namespace-basic.cassette.yaml
  scaleway/testdata/mnq-queue-basic-nats.cassette.yaml
  scaleway/testdata/mnq-queue-basic-sqs.cassette.yaml
Labels: mnq

#2244 fix(cockpit): add missing hyphen in regex
  scaleway/resource_cockpit_grafana_user.go
Labels: bug, observability

#2243 feat: add strict search on datasources' name queries
  scaleway/data_source_account_project.go
  scaleway/data_source_baremetal_server.go
  scaleway/data_source_container.go
  scaleway/data_source_container_namespace.go
  scaleway/data_source_document_db_instance.go
  scaleway/data_source_document_db_load_balancer_endpoint.go
  scaleway/data_source_function.go
  scaleway/data_source_function_namespace.go
  scaleway/data_source_iam_application.go
  scaleway/data_source_iam_group.go
  scaleway/data_source_iam_ssh_key.go
  scaleway/data_source_instance_security_group.go
  scaleway/data_source_instance_server.go
  scaleway/data_source_instance_snapshot.go
  scaleway/data_source_instance_volume.go
  scaleway/data_source_iot_device.go
  scaleway/data_source_iot_hub.go
  scaleway/data_source_k8s_cluster.go
  scaleway/data_source_k8s_pool.go
  scaleway/data_source_lb.go
  scaleway/data_source_lb_backend.go
  scaleway/data_source_lb_certificate.go
  scaleway/data_source_lb_frontend.go
  scaleway/data_source_rdb_database_backup.go
  scaleway/data_source_rdb_instance.go
  scaleway/data_source_redis_cluster.go
  scaleway/data_source_registry_image.go
  scaleway/data_source_registry_namespace.go
  scaleway/data_source_secret.go
  scaleway/data_source_vpc.go
  scaleway/data_source_vpc_private_network.go
  scaleway/data_source_vpc_public_gateway.go
  scaleway/data_source_webhosting.go
  scaleway/helpers.go
Labels: enhancement

#2245 doc(k8s): private network required
  docs/resources/k8s_cluster.md
Labels: documentation, k8s

#2247 fix(vpcgw): add computed to ipam config attribute
  scaleway/resource_vpc_gateway_network.go
  scaleway/testdata/vpc-gateway-network-without-dhcp.cassette.yaml
Labels: bug, vpc

#2246 fix(instance): remove eol argument to create volume from volume
  docs/resources/instance_volume.md
  scaleway/resource_instance_volume.go
  scaleway/resource_instance_volume_test.go
  scaleway/testdata/instance-volume-from-volume.cassette.yaml
Labels: instance

#2249 fix(cockpit): check 404 responses
  scaleway/resource_cockpit.go
Labels: bug, observability

#1998 feat(block): add block volumes and snapshots
  .github/workflows/acceptance-tests.yaml
  docs/resources/block_snapshot.md
  docs/resources/block_volume.md
  docs/resources/instance_volume.md
  scaleway/data_source_block_snapshot.go
  scaleway/data_source_block_snapshot_test.go
  scaleway/data_source_block_volume.go
  scaleway/data_source_block_volume_test.go
  scaleway/helpers.go
  scaleway/helpers_block.go
  scaleway/helpers_instance.go
  scaleway/helpers_instance_block.go
  scaleway/provider.go
  scaleway/resource_block_snapshot.go
  scaleway/resource_block_snapshot_test.go
  scaleway/resource_block_volume.go
  scaleway/resource_block_volume_test.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  scaleway/testdata/block-snapshot-basic.cassette.yaml
  scaleway/testdata/block-volume-basic.cassette.yaml
  scaleway/testdata/block-volume-from-snapshot.cassette.yaml
  scaleway/testdata/data-source-block-snapshot-basic.cassette.yaml
  scaleway/testdata/data-source-block-volume-basic.cassette.yaml
  scaleway/testdata/instance-server-block-external.cassette.yaml
  scaleway/validate_cassettes_test.go
Labels: enhancement, sbs, priority:high

#2250 ci(block): enable nightly tests
  .github/workflows/nightly.yml
Labels: sbs

#2251 fix: set force_new on nested attributes
  scaleway/resource_container_trigger.go
  scaleway/resource_function_trigger.go
  scaleway/resource_instance_snapshot.go
  scaleway/resource_lb_certificate.go
Labels: bug

#2259 feat(iam): add tags field
  docs/resources/iam_application.md
  docs/resources/iam_group.md
  docs/resources/iam_policy.md
  scaleway/resource_iam_application.go
  scaleway/resource_iam_application_test.go
  scaleway/resource_iam_group.go
  scaleway/resource_iam_group_test.go
  scaleway/resource_iam_policy.go
  scaleway/resource_iam_policy_test.go
  scaleway/testdata/iam-application-basic.cassette.yaml
  scaleway/testdata/iam-group-basic.cassette.yaml
  scaleway/testdata/iam-policy-basic.cassette.yaml
Labels: iam
