Repository scaleway/terraform-provider-scaleway, pull requests merged in 2023-04, with the labels that each got.

#1878 docs(marketplace): fix subcategory
  docs/data-sources/marketplace_image.md
Labels: documentation

#1881 docs(flexible-ip): fix subcategory
  docs/data-sources/flexible_ip.md
  docs/resources/flexible_ip.md
Labels: documentation

#1883 feat(domain): handles `@` records
  scaleway/resource_domain_record.go
  scaleway/resource_domain_record_test.go
  scaleway/testdata/domain-record-arobase.cassette.yaml
Labels: enhancement, domain

#1886 feat(account): extract project id if not given
  scaleway/data_source_account_project.go
  scaleway/data_source_account_project_test.go
  scaleway/testdata/data-source-account-project-extract.cassette.yaml
Labels: account

#1888 fix(function_token): set token only on create
  scaleway/resource_function_token.go
Labels: bug, function

#1890 feat(object): force project id in access key even if it's the default
  scaleway/helpers_object.go
Labels: object

#1895 fix(instance_security_group_rules): delete resource on 404 in read
  scaleway/resource_instance_security_group_rules.go
Labels: bug, instance

#1897 test(data_source_iam_group): test without explicit organization id
  scaleway/data_source_iam_group_test.go
  scaleway/testdata/data-source-iam-group-basic.cassette.yaml
Labels: tests, iam

#1904 docs(function): remove function cron dead link
  docs/resources/function_cron.md
Labels: documentation, function

#1905 feat(cockpit): don't require token scopes
  scaleway/resource_cockpit_token.go
  scaleway/resource_cockpit_token_test.go
  scaleway/testdata/cockpit-token-basic.cassette.yaml
  scaleway/testdata/cockpit-token-no-scopes.cassette.yaml
  scaleway/testdata/cockpit-token-update.cassette.yaml
Labels: enhancement, observability

#1914 fix(instance_ip_reverse_dns): retry update instead of resolving dns
  scaleway/helpers_instance.go
  scaleway/resource_instance_ip_reverse_dns.go
  scaleway/testdata/instance-ip-reverse-dns-basic.cassette.yaml
Labels: bug, instance
