Repository scaleway/terraform-provider-scaleway, pull requests merged in 2023-01, with the labels that each got.

#1674 feat(provider): add helper to validate locality IDs with resource ID
  scaleway/helpers.go
  scaleway/resource_lb.go
  scaleway/resource_lb_test.go
  scaleway/testdata/lblb-different-locality-ipid.cassette.yaml
Labels: enhancement, provider

#1678 feat(serverless): add http_option attribute
  scaleway/helpers_container.go
  scaleway/resource_container.go
  scaleway/resource_container_test.go
  scaleway/resource_container_token_test.go
  scaleway/resource_function.go
  scaleway/resource_function_test.go
  scaleway/resource_function_token_test.go
  scaleway/testdata/container-basic.cassette.yaml
  scaleway/testdata/container-cron-basic.cassette.yaml
  scaleway/testdata/container-cron-with-multi-args.cassette.yaml
  scaleway/testdata/container-domain-basic.cassette.yaml
  scaleway/testdata/container-env.cassette.yaml
  scaleway/testdata/container-http-option.cassette.yaml
  scaleway/testdata/container-token-basic.cassette.yaml
  scaleway/testdata/container-with-img.cassette.yaml
  scaleway/testdata/data-source-container-basic.cassette.yaml
  scaleway/testdata/data-source-function-basic.cassette.yaml
  scaleway/testdata/function-basic.cassette.yaml
  scaleway/testdata/function-cron-basic.cassette.yaml
  scaleway/testdata/function-cron-with-args.cassette.yaml
  scaleway/testdata/function-deploy.cassette.yaml
  scaleway/testdata/function-domain-basic.cassette.yaml
  scaleway/testdata/function-environment-variables.cassette.yaml
  scaleway/testdata/function-http-option.cassette.yaml
  scaleway/testdata/function-no-name.cassette.yaml
  scaleway/testdata/function-timeout.cassette.yaml
  scaleway/testdata/function-token-basic.cassette.yaml
  scaleway/testdata/function-upload.cassette.yaml
Labels: enhancement, container, function

#1683 fix(rdb): 404 check on read resources
  scaleway/resource_rdb_database.go
  scaleway/resource_rdb_privilege.go
  scaleway/resource_rdb_user.go
Labels: bug, rdb

#1685 doc(lb): update static_config doc
  docs/resources/lb.md
  scaleway/resource_lb.go
  scaleway/resource_lb_test.go
  scaleway/testdata/lblb-with-ip.cassette.yaml
Labels: documentation, load-balancer

#1680 feat(mnq): resource credential
  docs/resources/mnq_credential.md
  scaleway/helpers_mnq.go
  scaleway/provider.go
  scaleway/resource_mnq_credential.go
  scaleway/resource_mnq_credential_test.go
  scaleway/testdata/mnq-creeds-basic.cassette.yaml
Labels: enhancement, mnq

#1702 doc(lb): update static_config code description
  scaleway/resource_lb.go
Labels: documentation, load-balancer

#1696 docs(mnq): Guide to set up Messaging configuration and Terraform NATS
  docs/guides/mnq_with_nats_terraform_provider.md
Labels: mnq

#1710 tests: change region in tests that require registry ns deletion
  scaleway/data_source_registry_namespace_test.go
  scaleway/resource_container_namespace_test.go
  scaleway/resource_registry_namespace_test.go
  scaleway/testdata/container-namespace-destroy-registry.cassette.yaml
  scaleway/testdata/data-source-registry-namespace-basic.cassette.yaml
  scaleway/testdata/registry-namespace-basic.cassette.yaml
Labels: registry, container, tests

#1697 chore: bump marketplace api to v2
  go.mod
  go.sum
  scaleway/data_source_marketplace_image.go
  scaleway/helpers_instance.go
  scaleway/helpers_marketplace.go
  scaleway/resource_instance_server.go
  scaleway/testdata/data-source-instance-server-basic.cassette.yaml
  scaleway/testdata/data-source-instance-servers-basic.cassette.yaml
  scaleway/testdata/data-source-marketplace-image-basic.cassette.yaml
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-basic.cassette.yaml
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-static.cassette.yaml
  scaleway/testdata/instance-image-server-with-block-volume.cassette.yaml
  scaleway/testdata/instance-image-server-with-local-volume.cassette.yaml
  scaleway/testdata/instance-image-server.cassette.yaml
  scaleway/testdata/instance-placement-group-rename.cassette.yaml
  scaleway/testdata/instance-private-nic-basic.cassette.yaml
  scaleway/testdata/instance-server-additional-volumes-detach.cassette.yaml
  scaleway/testdata/instance-server-additional-volumes.cassette.yaml
  scaleway/testdata/instance-server-alter-tags.cassette.yaml
  scaleway/testdata/instance-server-basic.cassette.yaml
  scaleway/testdata/instance-server-basic2.cassette.yaml
  scaleway/testdata/instance-server-bootscript.cassette.yaml
  scaleway/testdata/instance-server-enterprise.cassette.yaml
  scaleway/testdata/instance-server-ipv6.cassette.yaml
  scaleway/testdata/instance-server-minimal1.cassette.yaml
  scaleway/testdata/instance-server-minimal2.cassette.yaml
  scaleway/testdata/instance-server-private-network.cassette.yaml
  scaleway/testdata/instance-server-root-volume-boot.cassette.yaml
  scaleway/testdata/instance-server-root-volume-id.cassette.yaml
  scaleway/testdata/instance-server-root-volume1.cassette.yaml
  scaleway/testdata/instance-server-server-with-block-non-default-zone.cassette.yaml
  scaleway/testdata/instance-server-state1.cassette.yaml
  scaleway/testdata/instance-server-state2.cassette.yaml
  scaleway/testdata/instance-server-user-data-basic.cassette.yaml
  scaleway/testdata/instance-server-user-data-with-cloud-init-at-start.cassette.yaml
  scaleway/testdata/instance-server-user-data-without-cloud-init-at-start.cassette.yaml
  scaleway/testdata/instance-server-with-default-root-volume-and-additional-volume.cassette.yaml
  scaleway/testdata/instance-server-with-placement-group.cassette.yaml
  scaleway/testdata/instance-server-with-reserved-ip.cassette.yaml
  scaleway/testdata/instance-snapshot-server-with-block-volume.cassette.yaml
  scaleway/testdata/instance-snapshot-server.cassette.yaml
  scaleway/testdata/instance-snapshot-unified.cassette.yaml
  scaleway/testdata/lblb-with-private-networks-on-dhcp-config.cassette.yaml
  scaleway/testdata/vpc-public-gateway-dhcp-entry-basic.cassette.yaml
  scaleway/testdata/vpc-public-gateway-pat-rule-with-instance.cassette.yaml
Labels: instance

#1719 doc(vpc): remove unsupported project-id argument
  docs/resources/vpc_gateway_network.md
Labels: documentation, vpc

#1712 fix(iam): datasource iam_user and test
  docs/data-sources/iam_user.md
  scaleway/data_source_iam_group_test.go
  scaleway/data_source_iam_user.go
  scaleway/data_source_iam_user_test.go
  scaleway/resource_iam_api_key_test.go
  scaleway/resource_iam_group_test.go
  scaleway/testdata/data-source-iam-group-basic.cassette.yaml
  scaleway/testdata/data-source-iam-group-users-and-applications.cassette.yaml
  scaleway/testdata/data-source-iam-user-basic.cassette.yaml
  scaleway/testdata/iam-api-key-with-user.cassette.yaml
  scaleway/testdata/iam-group-applications.cassette.yaml
  scaleway/testdata/iam-group-users-and-applications.cassette.yaml
  scaleway/testdata/iam-group-users.cassette.yaml
Labels: bug, iam, priority:high

#1720 fix(rdb): check user exist
  docs/resources/rdb_user.md
  scaleway/resource_rdb_user.go
Labels: bug, rdb

#1728 fix(vpc): only one of dhcp_id and static_address should be set
  docs/resources/vpc_gateway_network.md
  scaleway/resource_vpc_gateway_network.go
Labels: bug, vpc
