Repository scaleway/terraform-provider-scaleway, pull requests merged in 2023-02, with the labels that each got.

#1749 fix(baremetal): fix ci lint
  scaleway/resource_baremetal_server.go
Labels: elastic-metal

#1713 feat(instance): add private_nic data source
  docs/data-sources/instance_private_nic.md
  scaleway/data_source_instance_private_nic.go
  scaleway/data_source_instance_private_nic_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-instance-private-nic-basic.cassette.yaml
Labels: enhancement, instance, priority:highest

#1741 doc(lb): fix 'name' & 'zone' descriptions on datasource
  docs/data-sources/lb.md
Labels: documentation, load-balancer

#1748 fix(iam): add validation on attributes that are IDs
  scaleway/resource_iam_policy.go
Labels: bug, iam

#1721 fix(rdb): import privileges and update documentation
  docs/data-sources/rdb_acl.md
  docs/data-sources/rdb_database.md
  docs/data-sources/rdb_database_backup.md
  docs/data-sources/rdb_privilege.md
  docs/resources/rdb_acl.md
  docs/resources/rdb_database.md
  docs/resources/rdb_database_backup.md
  docs/resources/rdb_privilege.md
  docs/resources/rdb_read_replica.md
  docs/resources/rdb_user.md
  scaleway/data_source_rdb_acl.go
  scaleway/data_source_rdb_database.go
  scaleway/data_source_rdb_instance.go
  scaleway/data_source_rdb_privilege.go
  scaleway/data_source_rdb_privilege_test.go
  scaleway/helpers_rdb.go
  scaleway/helpers_rdb_test.go
  scaleway/resource_rdb_acl.go
  scaleway/resource_rdb_database.go
  scaleway/resource_rdb_privilege.go
  scaleway/resource_rdb_privilege_test.go
  scaleway/resource_rdb_user.go
  scaleway/testdata/data-source-rdb-privilege-basic.cassette.yaml
  scaleway/testdata/rdb-privilege-basic.cassette.yaml
Labels: rdb, priority:high

#1708 fix(vpc): add resolver for reverse dns
  docs/resources/vpc_public_gateway_ip_reverse_dns.md
  go.mod
  go.sum
  scaleway/helpers_domain.go
  scaleway/helpers_instance.go
  scaleway/helpers_vpcgw.go
  scaleway/provider.go
  scaleway/provider_test.go
  scaleway/resource_instance_ip_reverse_dns.go
  scaleway/resource_vpc_public_gateway_ip_reverse.go
  scaleway/resource_vpc_public_gateway_ip_reverse_test.go
  scaleway/testdata/instance-ip-reverse-dns-basic.cassette.yaml
  scaleway/testdata/vpc-public-gateway-ip-reverse-dns-basic.cassette.yaml
Labels: bug, instance, vpc, priority:high

#1700 feat(lb): add support for http host_header on routes
  docs/resources/lb_route.md
  scaleway/resource_lb_route.go
  scaleway/resource_lb_route_test.go
  scaleway/testdata/lb-route-with-host-header.cassette.yaml
  scaleway/testdata/lb-route-with-sni.cassette.yaml
Labels: enhancement, load-balancer, priority:high

#1777 doc(cockpit): add documentation
  docs/data-sources/cockpit.md
  docs/resources/cockpit.md
  scaleway/resource_cockpit.go
Labels: documentation, obervability

#1694 feat(lb): add support for host_header & sni on healthchecks
  docs/resources/lb_backend.md
  scaleway/helpers_lb.go
  scaleway/resource_lb_backend.go
  scaleway/resource_lb_backend_test.go
  scaleway/testdata/lb-backend-health-check.cassette.yaml
Labels: enhancement, load-balancer, priority:high

#1780 feat(cockpit): implement token resource
  docs/resources/cockpit_token.md
  scaleway/helpers_cockpit.go
  scaleway/provider.go
  scaleway/resource_cockpit_token.go
  scaleway/resource_cockpit_token_test.go
  scaleway/testdata/cockpit-token-basic.cassette.yaml
  scaleway/testdata/cockpit-token-update.cassette.yaml
Labels: enhancement, obervability

#1785 feat(lb): add frontend datasource
  docs/data-sources/lb_frontend.md
  scaleway/data_source_lb_frontend.go
  scaleway/data_source_lb_frontend_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-lb-frontend-basic.cassette.yaml
Labels: enhancement, load-balancer

#1786 feat(lb): add route datasource
  docs/data-sources/lb_route.md
  scaleway/data_source_lb_route.go
  scaleway/data_source_lb_route_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-lb-route-basic.cassette.yaml
Labels: enhancement, load-balancer

#1784 feat(lb): add backend datasource
  docs/data-sources/lb_backend.md
  scaleway/data_source_lb_backend.go
  scaleway/data_source_lb_backend_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-lb-backend-basic.cassette.yaml
Labels: enhancement, load-balancer

#1782 feat(lb): add lbs datasource
  docs/data-sources/lbs.md
  scaleway/data_source_lbs.go
  scaleway/data_source_lbs_test.go
  scaleway/helpers_lb.go
  scaleway/provider.go
  scaleway/testdata/data-source-lbs-basic.cassette.yaml
Labels: enhancement, load-balancer

#1794 feat(cockpit): implement grafana user resource
  docs/resources/cockpit_grafana_user.md
  scaleway/helpers_cockpit.go
  scaleway/provider.go
  scaleway/resource_cockpit_grafana_user.go
  scaleway/resource_cockpit_grafana_user_test.go
  scaleway/testdata/cockpit-grafana-user-basic.cassette.yaml
  scaleway/testdata/cockpit-grafana-user-non-existent-cockpit.cassette.yaml
  scaleway/testdata/cockpit-grafana-user-update.cassette.yaml
Labels: enhancement, observability

#1795 feat(secret): add resource secret
  .github/workflows/acceptance-tests.yaml
  .github/workflows/nightly.yml
  docs/resources/secret.md
  go.mod
  go.sum
  scaleway/helpers_secret.go
  scaleway/provider.go
  scaleway/resource_secret.go
  scaleway/resource_secret_test.go
  scaleway/testdata/secret-basic.cassette.yaml
Labels: secret

#1803 chore: add cockpit in acceptance and nightly tests
  .github/workflows/acceptance-tests.yaml
  .github/workflows/nightly.yml
Labels: observability

#1797 feat(lb): add routes datasource
  docs/data-sources/lb_routes.md
  scaleway/data_source_lb_routes.go
  scaleway/data_source_lb_routes_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-lb-routes-basic.cassette.yaml
Labels: enhancement, load-balancer

#1802 feat(lb): add backends datasource
  docs/data-sources/lb_backends.md
  scaleway/data_source_lb_backends.go
  scaleway/data_source_lb_backends_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-lb-backends-basic.cassette.yaml
Labels: enhancement, load-balancer

#1814 feat(object): allow importing bucket with a specific project id
  docs/resources/object_bucket.md
  scaleway/helpers_object.go
  scaleway/testdata/bucket-policy-basic.cassette.yaml
  scaleway/testdata/data-source-object-storage-basic.cassette.yaml
  scaleway/testdata/data-source-object-storage-project-id-allowed.cassette.yaml
  scaleway/testdata/data-source-object-storage-project-id-forbidden.cassette.yaml
  scaleway/testdata/object-bucket-acl-basic.cassette.yaml
  scaleway/testdata/object-bucket-acl-grantee-with-owner.cassette.yaml
  scaleway/testdata/object-bucket-acl-grantee.cassette.yaml
  scaleway/testdata/object-bucket-basic.cassette.yaml
  scaleway/testdata/object-bucket-cors-delete.cassette.yaml
  scaleway/testdata/object-bucket-cors-update.cassette.yaml
  scaleway/testdata/object-bucket-destroy-force.cassette.yaml
  scaleway/testdata/object-bucket-lock-configuration-basic.cassette.yaml
  scaleway/testdata/object-bucket-lock-configuration-update.cassette.yaml
  scaleway/testdata/test-acc-object-bucket-website-configuration-basic.cassette.yaml
  scaleway/testdata/test-acc-object-bucket-website-configuration-update.cassette.yaml
  scaleway/testdata/test-acc-object-bucket-website-configuration-with-policy.cassette.yaml
Labels: object
