Repository scaleway/terraform-provider-scaleway, pull requests merged in 2023-10, with the labels that each got.

#2109 feat(document_db): add resources
  .github/workflows/acceptance-tests.yaml
  .github/workflows/nightly.yml
  docs/data-sources/documentdb_database.md
  docs/data-sources/documentdb_instance.md
  docs/resources/documentdb_database.md
  docs/resources/documentdb_instance.md
  docs/resources/documentdb_private_network_endpoint.md
  docs/resources/documentdb_privilege.md
  docs/resources/documentdb_read_replica.md
  docs/resources/documentdb_user.md
  scaleway/data_source_document_db_database.go
  scaleway/data_source_document_db_database_test.go
  scaleway/data_source_document_db_instance.go
  scaleway/data_source_document_db_instance_test.go
  scaleway/data_source_document_db_load_balancer_endpoint.go
  scaleway/data_source_document_db_load_balancer_endpoint_test.go
  scaleway/helpers_document_db.go
  scaleway/helpers_document_db_test.go
  scaleway/provider.go
  scaleway/resource_document_db_database.go
  scaleway/resource_document_db_database_test.go
  scaleway/resource_document_db_instance.go
  scaleway/resource_document_db_instance_test.go
  scaleway/resource_document_db_private_network_endpoint.go
  scaleway/resource_document_db_private_network_endpoint_test.go
  scaleway/resource_document_db_privilege.go
  scaleway/resource_document_db_privilege_test.go
  scaleway/resource_document_db_read_replica.go
  scaleway/resource_document_db_read_replica_test.go
  scaleway/resource_document_db_user.go
  scaleway/resource_document_db_user_test.go
  scaleway/testdata/data-source-document-db-database-basic.cassette.yaml
  scaleway/testdata/data-source-document-db-instance-basic.cassette.yaml
  scaleway/testdata/data-source-document-db-instance-load-balancer-basic.cassette.yaml
  scaleway/testdata/document-db-database-basic.cassette.yaml
  scaleway/testdata/document-db-instance-basic.cassette.yaml
  scaleway/testdata/document-db-private-network-endpoint-basic.cassette.yaml
  scaleway/testdata/document-db-private-network-endpoint-migration.cassette.yaml
  scaleway/testdata/document-db-privilege-basic.cassette.yaml
  scaleway/testdata/document-db-read-replica-basic.cassette.yaml
  scaleway/testdata/document-db-read-replica-multiple-endpoints.cassette.yaml
  scaleway/testdata/document-db-read-replica-private-network.cassette.yaml
  scaleway/testdata/document-db-read-replica-update.cassette.yaml
  scaleway/testdata/document-db-user-basic.cassette.yaml
Labels: enhancement

#2161 docs(iam): update user doc and remove deprecated field
  docs/resources/iam_user.md
  scaleway/resource_iam_user.go
Labels: documentation, iam

#2162 tests(iam): change invited user email
  scaleway/resource_iam_user_test.go
  scaleway/testdata/iam-user-basic.cassette.yaml
Labels: tests, iam

#2164 feat(lb): enhance IP validation in static_config
  scaleway/resource_lb.go
  scaleway/resource_lb_test.go
  scaleway/testdata/lblb-invalid-static-config.cassette.yaml
  scaleway/testdata/lblb-with-static-ipcidr.cassette.yaml
  scaleway/validation.go
  scaleway/validation_test.go
Labels: enhancement, load-balancer

#2166 chore: bump sdk go
  go.mod
  go.sum
  scaleway/helpers_container_triggers.go
  scaleway/helpers_function_triggers.go
Labels: dependencies

#2127 feat(mnq): add nats and sqs beta resources
  docs/data-sources/mnq_sqs.md
  docs/guides/mnq_with_nats_terraform_provider.md
  docs/resources/mnq_credential.md
  docs/resources/mnq_namespace.md
  docs/resources/mnq_nats_account.md
  docs/resources/mnq_nats_credentials.md
  docs/resources/mnq_queue.md
  docs/resources/mnq_sqs.md
  docs/resources/mnq_sqs_credentials.md
  docs/resources/mnq_sqs_queue.md
  scaleway/data_source_mnq_sqs.go
  scaleway/data_source_mnq_sqs_test.go
  scaleway/helpers_mnq.go
  scaleway/helpers_mnq_queue.go
  scaleway/provider.go
  scaleway/provider_test.go
  scaleway/resource_mnq_credential.go
  scaleway/resource_mnq_credential_test.go
  scaleway/resource_mnq_namespace.go
  scaleway/resource_mnq_namespace_test.go
  scaleway/resource_mnq_nats_account.go
  scaleway/resource_mnq_nats_account_test.go
  scaleway/resource_mnq_nats_credentials.go
  scaleway/resource_mnq_nats_credentials_test.go
  scaleway/resource_mnq_queue.go
  scaleway/resource_mnq_sqs.go
  scaleway/resource_mnq_sqs_credentials.go
  scaleway/resource_mnq_sqs_credentials_test.go
  scaleway/resource_mnq_sqs_queue.go
  scaleway/resource_mnq_sqs_queue_test.go
  scaleway/resource_mnq_sqs_test.go
  scaleway/testdata/data-source-mnqsqs-basic.cassette.yaml
  scaleway/testdata/mnq-nats-account-basic.cassette.yaml
  scaleway/testdata/mnq-nats-credentials-basic.cassette.yaml
  scaleway/testdata/mnq-nats-queue-basic.cassette.yaml
  scaleway/testdata/mnqsqs-already-activated.cassette.yaml
  scaleway/testdata/mnqsqs-basic.cassette.yaml
  scaleway/testdata/mnqsqs-credentials-basic.cassette.yaml
  scaleway/testdata/mnqsqs-queue-basic.cassette.yaml
  scaleway/testdata/mnqsqs-queue-default-project.cassette.yaml
  scaleway/validate_cassettes_test.go
Labels: enhancement, mnq

#2168 tests(iam): change users used in group tests
  scaleway/resource_iam_group_test.go
  scaleway/testdata/iam-group-users-and-applications.cassette.yaml
  scaleway/testdata/iam-group-users.cassette.yaml
Labels: tests, iam

#2169 fix(instance_server): wait for pnic after delete
  scaleway/helpers_instance.go
  scaleway/testdata/instance-server-private-network.cassette.yaml
Labels: bug, instance

#2170 feat(serverless): support mnq v1beta1 in sqs triggers
  docs/resources/container_trigger.md
  docs/resources/function_trigger.md
  scaleway/helpers_container_triggers.go
  scaleway/helpers_function_triggers.go
  scaleway/resource_container_trigger.go
  scaleway/resource_container_trigger_test.go
  scaleway/resource_function_trigger.go
  scaleway/resource_function_trigger_test.go
  scaleway/testdata/container-trigger-sqsmn-qv1beta1.cassette.yaml
  scaleway/testdata/function-trigger-sqsmn-qv1beta1.cassette.yaml
Labels: enhancement, container, function

#2171 feat(billing): add invoices datasource
  .github/workflows/acceptance-tests.yaml
  .github/workflows/nightly.yml
  docs/data-sources/billing_invoices.md
  go.mod
  go.sum
  scaleway/data_source_billing_invoices.go
  scaleway/data_source_billing_invoices_test.go
  scaleway/helpers_billing.go
  scaleway/provider.go
  scaleway/testdata/data-source-billing-invoices-basic.cassette.yaml
Labels: enhancement, billing

#2173 tests(iam_group): change user ids in datasource test
  scaleway/data_source_iam_group_test.go
  scaleway/testdata/data-source-iam-group-users-and-applications.cassette.yaml
Labels: tests, iam

#2176 feat(billing): add consumption list datasource
  docs/data-sources/billing_consumption.md
  scaleway/data_source_billing_consumption.go
  scaleway/data_source_billing_consumption_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-billing-consumption-basic.cassette.yaml
Labels: enhancement, billing

#2174 feat(serverless): support nats triggers
  docs/resources/container_trigger.md
  docs/resources/function_trigger.md
  scaleway/helpers_container_triggers.go
  scaleway/helpers_function_triggers.go
  scaleway/resource_container_trigger.go
  scaleway/resource_container_trigger_test.go
  scaleway/resource_function_trigger.go
  scaleway/resource_function_trigger_test.go
  scaleway/testdata/container-trigger-nats.cassette.yaml
  scaleway/testdata/function-trigger-nats.cassette.yaml
Labels: enhancement, container, function

#2179 fix(instance_server): detach pn on server deletion
  scaleway/resource_instance_server.go
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-basic.cassette.yaml
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-static.cassette.yaml
  scaleway/testdata/instance-server-private-network.cassette.yaml
  scaleway/testdata/lblb-different-locality-ipid.cassette.yaml
  scaleway/testdata/lblb-invalid-static-config.cassette.yaml
  scaleway/testdata/lblb-with-private-networks-on-dhcp-config.cassette.yaml
  scaleway/testdata/vpc-public-gateway-dhcp-entry-basic.cassette.yaml
  scaleway/testdata/vpc-public-gateway-pat-rule-with-instance.cassette.yaml
Labels: bug, instance

#2183 fix(instance_server): improve error message when type is not found
  scaleway/resource_instance_server.go
Labels: documentation, instance

#2185 feat(instance): do not detach ip when changing from ip_id to ip_ids
  docs/resources/instance_server.md
  scaleway/helpers_instance.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  scaleway/testdata/instance-server-ip-migrate.cassette.yaml
Labels: enhancement, instance

#2189 feat(object): add SCW_S3_ENDPOINT for custom s3 endpoint
  scaleway/helpers_object.go
  scaleway/resource_object_bucket.go
Labels: object

#2180 test(rdb): dynamically fetch engine latest version
  scaleway/data_source_rdb_acl_test.go
  scaleway/data_source_rdb_database_backup_test.go
  scaleway/data_source_rdb_database_test.go
  scaleway/data_source_rdb_instance_test.go
  scaleway/data_source_rdb_privilege_test.go
  scaleway/resource_iot_routes_test.go
  scaleway/resource_rdb_acl_test.go
  scaleway/resource_rdb_database_backup_test.go
  scaleway/resource_rdb_database_test.go
  scaleway/resource_rdb_instance_test.go
  scaleway/resource_rdb_privilege_test.go
  scaleway/resource_rdb_read_replica_test.go
  scaleway/resource_rdb_user_test.go
  scaleway/testdata/data-source-rdb-acl-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-database-backup-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-database-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-instance-basic.cassette.yaml
  scaleway/testdata/data-source-rdb-privilege-basic.cassette.yaml
  scaleway/testdata/iot-route-rdb.cassette.yaml
  scaleway/testdata/rdb-acl-basic.cassette.yaml
  scaleway/testdata/rdb-database-backup-basic.cassette.yaml
  scaleway/testdata/rdb-database-basic.cassette.yaml
  scaleway/testdata/rdb-database-manual-delete.cassette.yaml
  scaleway/testdata/rdb-instance-backup-schedule.cassette.yaml
  scaleway/testdata/rdb-instance-basic.cassette.yaml
  scaleway/testdata/rdb-instance-capitalize.cassette.yaml
  scaleway/testdata/rdb-instance-init-settings.cassette.yaml
  scaleway/testdata/rdb-instance-private-network-dhcp.cassette.yaml
  scaleway/testdata/rdb-instance-private-network-update.cassette.yaml
  scaleway/testdata/rdb-instance-private-network.cassette.yaml
  scaleway/testdata/rdb-instance-settings.cassette.yaml
  scaleway/testdata/rdb-instance-volume.cassette.yaml
  scaleway/testdata/rdb-instance-with-cluster.cassette.yaml
  scaleway/testdata/rdb-privilege-basic.cassette.yaml
  scaleway/testdata/rdb-read-replica-basic.cassette.yaml
  scaleway/testdata/rdb-read-replica-multiple-endpoints.cassette.yaml
  scaleway/testdata/rdb-read-replica-private-network.cassette.yaml
  scaleway/testdata/rdb-read-replica-update.cassette.yaml
  scaleway/testdata/rdb-user-basic.cassette.yaml
Labels: rdb, priority:highest

#2193 fix(vpcgw): force recreation when gateway `type` changes
  scaleway/resource_vpc_public_gateway.go
Labels: bug, vpc

#2196 feat(object): add api_endpoint field
  scaleway/helpers_object.go
  scaleway/resource_object_bucket.go
  scaleway/resource_object_bucket_test.go
  scaleway/testdata/object-bucket-basic.cassette.yaml
Labels: object
