Repository scaleway/terraform-provider-scaleway, pull requests merged in 2023-03, with the labels that each got.

#1810 feat(lb): add acls datasource
  docs/data-sources/lb_acls.md
  scaleway/data_source_lb_acls.go
  scaleway/data_source_lb_acls_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-lb-acls-basic.cassette.yaml
Labels: enhancement, load-balancer

#1816 test(cockpit): add sweepers
  scaleway/resource_cockpit_grafana_user_test.go
  scaleway/resource_cockpit_test.go
  scaleway/resource_cockpit_token_test.go
Labels: tests, observability

#1817 fix(object): force use of default project id for s3 client
  scaleway/helpers_object.go
Labels: bug, object

#1824 fix(redis): check acl and private network attributes on plan and bump the documentation
  docs/resources/redis_cluster.md
  scaleway/resource_redis_cluster.go
Labels: redis

#1823 fix(lb): decouple lbs datasource test
  scaleway/data_source_lbs_test.go
  scaleway/testdata/data-source-lbs-basic.cassette.yaml
Labels: bug, load-balancer

#1791 feat(lb): add ips datasource
  docs/data-sources/lb_ips.md
  scaleway/data_source_lb_ips.go
  scaleway/data_source_lb_ips_test.go
  scaleway/helpers_lb.go
  scaleway/provider.go
  scaleway/testdata/data-source-lb-ips-basic.cassette.yaml
Labels: enhancement, load-balancer

#1826 fix(baremetal): fix updating of name and description
  scaleway/resource_baremetal_server.go
Labels: bug, elastic-metal, priority:highest

#1827 docs: update index.md with new links for credentials and project ID
  docs/index.md
Labels: documentation

#1756 fix(baremetal): import missing os and offer names
  docs/resources/baremetal_server.md
  scaleway/data_source_baremetal_server_test.go
  scaleway/resource_baremetal_server.go
  scaleway/resource_baremetal_server_test.go
  scaleway/resource_flexible_ip_test.go
  scaleway/testdata/baremetal-server-add-another-private-network.cassette.yaml
  scaleway/testdata/baremetal-server-add-option.cassette.yaml
  scaleway/testdata/baremetal-server-add-private-network.cassette.yaml
  scaleway/testdata/baremetal-server-add-two-options-then-delete-one.cassette.yaml
  scaleway/testdata/baremetal-server-create-server-with-option.cassette.yaml
  scaleway/testdata/baremetal-server-create-server-with-private-network.cassette.yaml
  scaleway/testdata/data-source-baremetal-server-basic.cassette.yaml
  scaleway/testdata/flexible-ip-attach-and-detach-from-baremetal-server.cassette.yaml
  scaleway/testdata/flexible-ip-create-and-attach-to-baremetal-server.cassette.yaml
Labels: bug, elastic-metal, priority:high

#1783 tests: fix body matcher fields comparison
  scaleway/provider_test.go
  scaleway/provider_test_helpers.go
  scaleway/resource_container_token_test.go
  scaleway/resource_function_token_test.go
  scaleway/testdata/data-source-lb-basic.cassette.yaml
  scaleway/testdata/data-source-lb-certificate-basic.cassette.yaml
  scaleway/testdata/function-namespace-no-name.cassette.yaml
  scaleway/testdata/iam-group-basic.cassette.yaml
  scaleway/testdata/lb-certificate-basic.cassette.yaml
  scaleway/testdata/lb-frontend-certificate.cassette.yaml
  scaleway/testdata/lbacl-basic.cassette.yaml
  scaleway/testdata/lbip-basic.cassette.yaml
Labels: bug, provider, priority:highest

#1815 feat(secret-version): resource secret version
  docs/resources/secret_version.md
  scaleway/helpers_secret.go
  scaleway/provider.go
  scaleway/resource_secret_version.go
  scaleway/resource_secret_version_test.go
  scaleway/testdata/secret-version-basic.cassette.yaml
Labels: secret

#1830 feat(private_nic): add tags
  docs/data-sources/instance_private_nic.md
  docs/resources/instance_private_nic.md
  scaleway/data_source_instance_private_nic.go
  scaleway/data_source_instance_private_nic_test.go
  scaleway/resource_instance_private_nic.go
  scaleway/resource_instance_private_nic_test.go
  scaleway/testdata/data-source-instance-private-nic-basic.cassette.yaml
  scaleway/testdata/instance-private-nic-tags.cassette.yaml
Labels: enhancement, instance

#1831 fix(baremetal): fix import server without an installed os
  scaleway/resource_baremetal_server.go
Labels: bug, elastic-metal

#1834 fix(container): wait for cname before creating container_domain
  docs/resources/container_domain.md
  scaleway/helpers_container.go
  scaleway/helpers_domain.go
  scaleway/provider_test.go
  scaleway/resource_container_domain.go
  scaleway/testdata/container-domain-basic.cassette.yaml
Labels: bug, container

#1838 fix(instance): handling optional localities
  go.mod
  go.sum
  scaleway/resource_instance_security_group.go
Labels: instance

#1842 fix(rdb): add example and more details on datasource documentation
  docs/data-sources/rdb_instance.md
Labels: rdb

#1843 feat(tem): add mandatory TOS
  go.mod
  go.sum
  scaleway/data_source_tem_domain_test.go
  scaleway/resource_tem_domain.go
  scaleway/resource_tem_domain_test.go
  scaleway/testdata/data-source-tem-domain-basic.cassette.yaml
  scaleway/testdata/tem-domain-basic.cassette.yaml
Labels: enhancement, tem

#1837 feat(secret): data source secret
  docs/data-sources/secret.md
  scaleway/data_source_secret.go
  scaleway/data_source_secret_test.go
  scaleway/helpers_secret.go
  scaleway/provider.go
  scaleway/testdata/data-source-secret-basic.cassette.yaml
Labels: secret

#1841 fix(rdb): read replica set
  docs/resources/rdb_read_replica.md
  scaleway/resource_rdb_read_replica_test.go
Labels: rdb

#1847 fix: empty strings in list being nil
  scaleway/helpers.go
Labels: bug

#1855 docs: update terraform provider main example
  docs/index.md
Labels: documentation

#1854 doc(tem): Add informations regarding the new accept_tos attribute.
  docs/resources/tem_domain.md
Labels: documentation, tem

#1857 feat(function_domain): resolve domain before creating it
  scaleway/helpers_container.go
  scaleway/helpers_function.go
  scaleway/resource_container_domain.go
  scaleway/resource_function_domain.go
  scaleway/testdata/function-domain-basic.cassette.yaml
Labels: enhancement, function

#1860 fix(container_namespace): deprecate destroy_registry option
  docs/resources/container_namespace.md
  scaleway/resource_container_namespace.go
Labels: bug, container

#1862 Fix scaleway_rdb_instance using name as a pattern instead of an exact match
  scaleway/data_source_rdb_instance.go
Labels: rdb
