Repository scaleway/terraform-provider-scaleway, pull requests merged in 2023-05, with the labels that each got.

#1913 feat(rdb): enable IPAM on instance and replica
  docs/resources/rdb_instance.md
  docs/resources/rdb_read_replica.md
  go.mod
  go.sum
  scaleway/helpers_rdb.go
  scaleway/resource_rdb_instance.go
  scaleway/resource_rdb_read_replica.go
Labels: rdb

#1915 fix(account): project data source project not found
  scaleway/data_source_account_project.go
Labels: bug, account

#1919 docs(tem): add dns records example
  docs/resources/tem_domain.md
Labels: documentation, tem

#1926 feat(object): add bucket policy datasource
  docs/data-sources/object_bucket_policy.md
  scaleway/data_source_object_bucket_policy.go
  scaleway/data_source_object_bucket_policy_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-object-bucket-policy-basic.cassette.yaml
Labels: enhancement, object

#1925 feat(redis): enable ipam on private network
  docs/resources/redis_cluster.md
  scaleway/helpers_redis.go
  scaleway/resource_redis_cluster.go
Labels: redis

#1903 feat(mnq): queue resource
  docs/resources/mnq_queue.md
  go.mod
  go.sum
  scaleway/errors_object.go
  scaleway/helpers.go
  scaleway/helpers_mnq_queue.go
  scaleway/helpers_object.go
  scaleway/provider.go
  scaleway/provider_test.go
  scaleway/resource_mnq_queue.go
  scaleway/resource_mnq_queue_test.go
  scaleway/resource_object_bucket.go
  scaleway/resource_object_bucket_acl.go
  scaleway/resource_object_bucket_lock_configuration.go
  scaleway/resource_object_bucket_test.go
  scaleway/resource_object_bucket_website_configuration.go
  scaleway/testdata/mnq-queue-basic-nats.cassette.yaml
  scaleway/testdata/mnq-queue-basic-sqs.cassette.yaml
Labels: enhancement, mnq, priority:highest

#1928 fix: set different record names on instance & vpcgw ip reverse tests
  scaleway/resource_instance_ip_reverse_dns_test.go
  scaleway/resource_vpc_public_gateway_ip_reverse_test.go
  scaleway/testdata/instance-ip-reverse-dns-basic.cassette.yaml
  scaleway/testdata/vpc-public-gateway-ip-reverse-dns-basic.cassette.yaml
Labels: bug, instance, vpc

#1932 fix(serverless): retry domain creation instead of resolving
  scaleway/helpers_container.go
  scaleway/helpers_domain.go
  scaleway/helpers_function.go
  scaleway/provider_test.go
  scaleway/resource_container_domain.go
  scaleway/resource_function_domain.go
  scaleway/testdata/container-domain-basic.cassette.yaml
  scaleway/testdata/function-domain-basic.cassette.yaml
Labels: bug, container, function

#1935 docs(k8s): remove non-existent attribute in examples
  docs/resources/k8s_cluster.md
Labels: documentation, k8s

#1939 feat(cockpit): add plan datasource
  scaleway/data_source_cockpit_plan.go
  scaleway/data_source_cockpit_plan_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-cockpit-plan-basic.cassette.yaml
Labels: new-data-source, observability

#1942 docs(lb): fix dead links
  docs/data-sources/lb_backend.md
  docs/data-sources/lb_certificate.md
  docs/data-sources/lb_frontend.md
  docs/data-sources/lb_route.md
  docs/resources/lb.md
  docs/resources/lb_backend.md
  docs/resources/lb_certificate.md
  docs/resources/lb_frontend.md
  docs/resources/lb_ip.md
  docs/resources/lb_route.md
Labels: documentation, load-balancer

#1938 docs(lb): sticky session description
  docs/resources/lb_backend.md
  scaleway/resource_lb_backend.go
Labels: load-balancer

#1940 docs(cockpit): document `scaleway_cockpit_plan`
  docs/data-sources/cockpit_plan.md
Labels: documentation, observability

#1952 fix(container): use cpu_limit
  scaleway/helpers_container.go
  scaleway/resource_container.go
  scaleway/resource_container_test.go
  scaleway/testdata/container-basic.cassette.yaml
Labels: bug, container

#1955 feat(cockpit_user): wait for cockpit transient state before deleting it
  scaleway/resource_cockpit_grafana_user.go
  scaleway/testdata/cockpit-grafana-user-basic.cassette.yaml
  scaleway/testdata/cockpit-grafana-user-non-existent-cockpit.cassette.yaml
  scaleway/testdata/cockpit-grafana-user-update.cassette.yaml
Labels: documentation, observability

#1924 fix(lb): resolve private_network plan inconsistencies
  scaleway/helpers_lb.go
  scaleway/resource_lb.go
  scaleway/resource_lb_test.go
  scaleway/testdata/lblb-with-ip.cassette.yaml
  scaleway/testdata/lblb-with-private-networks-on-dhcp-config.cassette.yaml
Labels: bug, load-balancer

#1912 feat(function): add function triggers
  docs/resources/function_trigger.md
  scaleway/helpers_function.go
  scaleway/helpers_function_triggers.go
  scaleway/provider.go
  scaleway/resource_function.go
  scaleway/resource_function_trigger.go
  scaleway/resource_function_trigger_test.go
  scaleway/testdata/function-trigger-sqs.cassette.yaml
Labels: enhancement, function, priority:highest

#1948 feat(lb): add lb acl
  docs/resources/lb_acl.md
  docs/resources/lb_frontend.md
  scaleway/helpers_lb.go
  scaleway/provider.go
  scaleway/resource_lb_acl.go
  scaleway/resource_lb_acl_test.go
  scaleway/resource_lb_frontend.go
  scaleway/resource_lb_frontend_test.go
  scaleway/testdata/data-source-lb-acls-basic.cassette.yaml
  scaleway/testdata/data-source-lb-frontend-basic.cassette.yaml
  scaleway/testdata/data-source-lb-frontends-basic.cassette.yaml
  scaleway/testdata/data-source-lb-route-basic.cassette.yaml
  scaleway/testdata/data-source-lb-routes-basic.cassette.yaml
  scaleway/testdata/lb-frontend-acl-basic.cassette.yaml
  scaleway/testdata/lb-frontend-acl-redirect-action.cassette.yaml
  scaleway/testdata/lb-frontend-basic.cassette.yaml
  scaleway/testdata/lb-frontend-certificate.cassette.yaml
  scaleway/testdata/lb-route-with-host-header.cassette.yaml
  scaleway/testdata/lb-route-with-sni.cassette.yaml
  scaleway/testdata/lbacl-basic.cassette.yaml
  scaleway/testdata/lbacl-redirect-action.cassette.yaml
Labels: enhancement, load-balancer

#1959 fix(instance): get server-type instead of listing
  scaleway/helpers_instance.go
  scaleway/testdata/data-source-instance-private-nic-basic.cassette.yaml
  scaleway/testdata/data-source-instance-server-basic.cassette.yaml
  scaleway/testdata/data-source-instance-servers-basic.cassette.yaml
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-basic.cassette.yaml
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-static.cassette.yaml
  scaleway/testdata/instance-image-server-with-block-volume.cassette.yaml
  scaleway/testdata/instance-image-server-with-local-volume.cassette.yaml
  scaleway/testdata/instance-image-server.cassette.yaml
  scaleway/testdata/instance-placement-group-rename.cassette.yaml
  scaleway/testdata/instance-private-nic-basic.cassette.yaml
  scaleway/testdata/instance-private-nic-tags.cassette.yaml
  scaleway/testdata/instance-server-additional-volumes-detach.cassette.yaml
  scaleway/testdata/instance-server-additional-volumes.cassette.yaml
  scaleway/testdata/instance-server-alter-tags.cassette.yaml
  scaleway/testdata/instance-server-basic.cassette.yaml
  scaleway/testdata/instance-server-basic2.cassette.yaml
  scaleway/testdata/instance-server-bootscript.cassette.yaml
  scaleway/testdata/instance-server-enterprise.cassette.yaml
  scaleway/testdata/instance-server-ipv6.cassette.yaml
  scaleway/testdata/instance-server-minimal1.cassette.yaml
  scaleway/testdata/instance-server-minimal2.cassette.yaml
  scaleway/testdata/instance-server-private-network.cassette.yaml
  scaleway/testdata/instance-server-root-volume-boot.cassette.yaml
  scaleway/testdata/instance-server-root-volume-id.cassette.yaml
  scaleway/testdata/instance-server-root-volume1.cassette.yaml
  scaleway/testdata/instance-server-server-with-block-non-default-zone.cassette.yaml
  scaleway/testdata/instance-server-state1.cassette.yaml
  scaleway/testdata/instance-server-state2.cassette.yaml
  scaleway/testdata/instance-server-user-data-basic.cassette.yaml
  scaleway/testdata/instance-server-user-data-with-cloud-init-at-start.cassette.yaml
  scaleway/testdata/instance-server-user-data-without-cloud-init-at-start.cassette.yaml
  scaleway/testdata/instance-server-with-default-root-volume-and-additional-volume.cassette.yaml
  scaleway/testdata/instance-server-with-placement-group.cassette.yaml
  scaleway/testdata/instance-server-with-reserved-ip.cassette.yaml
  scaleway/testdata/instance-snapshot-server-with-block-volume.cassette.yaml
  scaleway/testdata/instance-snapshot-server.cassette.yaml
  scaleway/testdata/instance-snapshot-unified.cassette.yaml
  scaleway/testdata/lblb-with-private-networks-on-dhcp-config.cassette.yaml
  scaleway/testdata/vpc-public-gateway-dhcp-entry-basic.cassette.yaml
  scaleway/testdata/vpc-public-gateway-pat-rule-with-instance.cassette.yaml
Labels: bug, instance
