Repository scaleway/terraform-provider-scaleway, pull requests merged in 2023-08, with the labels that each got.

#2080 fix(instance_ip_reverse_dns): increase timeout
  scaleway/helpers_instance.go
  scaleway/resource_instance_ip_reverse_dns.go
Labels: bug, instance

#2087 fix(container): set region to optional
  scaleway/resource_container.go
  scaleway/resource_container_cron.go
Labels: bug, container

#2091 fix(vpcgw): increase reverse dns timeout
  scaleway/helpers_vpcgw.go
  scaleway/resource_vpc_public_gateway_ip_reverse.go
Labels: bug, vpc

#2090 feat(instance_private_nic): add ip ids attribute
  scaleway/resource_instance_private_nic.go
Labels: rdb, instance

#2093 feat(flexibleip): add mac address resource
  docs/resources/flexible_ip_mac_address.md
  scaleway/helpers.go
  scaleway/helpers_webhosting.go
  scaleway/provider.go
  scaleway/resource_flexible_ip.go
  scaleway/resource_flexible_ip_mac_address.go
  scaleway/resource_flexible_ip_mac_address_test.go
  scaleway/resource_webhosting.go
  scaleway/testdata/flexible-ipmac-address-basic.cassette.yaml
  scaleway/testdata/flexible-ipmac-address-duplicate-on-other-flexible-ips.cassette.yaml
  scaleway/testdata/flexible-ipmac-address-move-to-another-flexible-ip.cassette.yaml
Labels: enhancement, flexible-ip

#2095 feat(ipam): add ipam ip data source
  docs/data-sources/ipam_ip.md
  scaleway/data_source_ipam_ip.go
  scaleway/data_source_ipam_ip_test.go
  scaleway/helpers_ipam.go
  scaleway/provider.go
  scaleway/testdata/data-source-ipamip-instance-lb.cassette.yaml
  scaleway/testdata/data-source-ipamip-instance.cassette.yaml
Labels: instance, vpc

#2099 test(vpc): change subnet to avoid overlaps
  scaleway/resource_vpc_private_network_test.go
  scaleway/testdata/vpc-private-network-one-subnet.cassette.yaml
Labels: tests, vpc

#2100 feat(ipam): add resource type attribute
  .github/workflows/acceptance-tests.yaml
  docs/data-sources/ipam_ip.md
  scaleway/data_source_ipam_ip.go
  scaleway/data_source_ipam_ip_test.go
  scaleway/helpers_ipam.go
  scaleway/testdata/data-source-ipamip-instance.cassette.yaml
Labels: instance, vpc

#2103 feat(ipam_ip): move resource attribute to a block
  docs/data-sources/ipam_ip.md
  scaleway/data_source_ipam_ip.go
  scaleway/data_source_ipam_ip_test.go
Labels: instance, vpc

#2107 Set ForceNew on vpc_id argument of scaleway_vpc ressource
  scaleway/resource_vpc_private_network.go
Labels: enhancement, vpc

#2112 docs(object): fix bucket policies example
  docs/resources/object_bucket_policy.md
Labels: documentation
