Repository scaleway/terraform-provider-scaleway, pull requests merged in 2023-09, with the labels that each got.

#2113 tests(mnq): namespaces are now unique
  scaleway/resource_mnq_credential_test.go
  scaleway/resource_mnq_namespace_test.go
  scaleway/resource_mnq_queue_test.go
  scaleway/testdata/mnq-creeds-basic.cassette.yaml
  scaleway/testdata/mnq-namespace-basic.cassette.yaml
  scaleway/testdata/mnq-queue-basic-nats.cassette.yaml
  scaleway/testdata/mnq-queue-basic-sqs.cassette.yaml
Labels: tests, mnq

#2120 tests(mnq): update to one namespace limit
  scaleway/resource_container_trigger_test.go
  scaleway/resource_function_trigger_test.go
  scaleway/resource_mnq_credential_test.go
  scaleway/resource_mnq_namespace_test.go
  scaleway/resource_mnq_queue_test.go
  scaleway/testdata/container-trigger-sqs.cassette.yaml
  scaleway/testdata/function-trigger-sqs.cassette.yaml
  scaleway/testdata/mnq-creeds-basic.cassette.yaml
  scaleway/testdata/mnq-namespace-basic.cassette.yaml
  scaleway/testdata/mnq-queue-basic-nats.cassette.yaml
  scaleway/testdata/mnq-queue-basic-sqs.cassette.yaml
Labels: tests, mnq

#2086 feat(instance): support ip mobility
  docs/data-sources/instance_ip.md
  docs/data-sources/instance_server.md
  docs/data-sources/instance_servers.md
  docs/resources/instance_ip.md
  docs/resources/instance_server.md
  scaleway/data_source_instance_servers.go
  scaleway/helpers_instance.go
  scaleway/helpers_k8s.go
  scaleway/resource_instance_ip.go
  scaleway/resource_instance_ip_test.go
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  scaleway/testdata/instance-ip-routed-downgrade.cassette.yaml
  scaleway/testdata/instance-ip-routed-ipv6.cassette.yaml
  scaleway/testdata/instance-ip-routed-migrate.cassette.yaml
  scaleway/testdata/instance-server-ip-removed.cassette.yaml
  scaleway/testdata/instance-server-ips-removed.cassette.yaml
  scaleway/testdata/instance-server-ips.cassette.yaml
  scaleway/testdata/instance-server-routed-ip-enable-with-ip.cassette.yaml
  scaleway/testdata/instance-server-routed-ip-enable.cassette.yaml
Labels: enhancement, instance

#2124 docs(object): use an IAM application resource in bucket policy example
  docs/resources/object_bucket_policy.md
Labels: documentation, object, iam

#2126 Remove resource vpc_private_network only on 404
  scaleway/resource_vpc_private_network.go
Labels: enhancement, vpc

#2129 feat(lb): add support for private LB
  docs/resources/lb.md
  scaleway/resource_lb.go
  scaleway/resource_lb_test.go
  scaleway/testdata/lblb-migrate.cassette.yaml
  scaleway/testdata/lblb-private.cassette.yaml
  scaleway/testdata/lblb-with-ip.cassette.yaml
Labels: enhancement, load-balancer

#2138 feat(vpcgw): add ipam config
  docs/resources/vpc_gateway_network.md
  scaleway/helpers_vpcgw.go
  scaleway/resource_vpc_gateway_network.go
  scaleway/resource_vpc_gateway_network_test.go
  scaleway/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
Labels: enhancement, vpc

#2135 fix(lb): update health_check_port when not set by user
  scaleway/resource_lb_backend.go
  scaleway/resource_lb_backend_test.go
  scaleway/testdata/lb-backend-health-check-port.cassette.yaml
Labels: bug, load-balancer
