Repository scaleway/terraform-provider-scaleway, pull requests merged in 2023-07, with the labels that each got.

#2034 feat(lb): add support for configuring fast health check
  docs/resources/lb_backend.md
  scaleway/resource_lb_backend.go
  scaleway/resource_lb_backend_test.go
  scaleway/testdata/data-source-lb-acls-basic.cassette.yaml
  scaleway/testdata/data-source-lb-backend-basic.cassette.yaml
  scaleway/testdata/data-source-lb-backends-basic.cassette.yaml
  scaleway/testdata/data-source-lb-frontend-basic.cassette.yaml
  scaleway/testdata/data-source-lb-frontends-basic.cassette.yaml
  scaleway/testdata/data-source-lb-route-basic.cassette.yaml
  scaleway/testdata/data-source-lb-routes-basic.cassette.yaml
  scaleway/testdata/lb-backend-basic.cassette.yaml
  scaleway/testdata/lb-backend-health-check.cassette.yaml
  scaleway/testdata/lb-backend-with-failover-host.cassette.yaml
  scaleway/testdata/lb-frontend-acl-basic.cassette.yaml
  scaleway/testdata/lb-frontend-acl-redirect-action.cassette.yaml
  scaleway/testdata/lb-frontend-basic.cassette.yaml
  scaleway/testdata/lb-frontend-certificate.cassette.yaml
  scaleway/testdata/lb-route-with-host-header.cassette.yaml
  scaleway/testdata/lb-route-with-sni.cassette.yaml
  scaleway/testdata/lbacl-basic.cassette.yaml
Labels: enhancement, load-balancer

#2036 feat(container): add trigger resource
  docs/resources/container_trigger.md
  scaleway/helpers_container_triggers.go
  scaleway/provider.go
  scaleway/resource_container_trigger.go
  scaleway/resource_container_trigger_test.go
  scaleway/testdata/container-trigger-sqs.cassette.yaml
Labels: enhancement, container

#2037 fix(redis): prevent cluster recreation on private network changes
  docs/resources/redis_cluster.md
  scaleway/helpers.go
  scaleway/resource_redis_cluster.go
  scaleway/testdata/redis-cluster-endpoints-cluster-mode.cassette.yaml
  scaleway/testdata/redis-cluster-endpoints-standalone.cassette.yaml
Labels: bug, redis

#2045 feat(vpc): migrate from zonal to regional
  docs/resources/vpc_private_network.md
  scaleway/data_source_vpc_private_network.go
  scaleway/helpers_baremetal.go
  scaleway/helpers_lb.go
  scaleway/helpers_rdb.go
  scaleway/helpers_redis.go
  scaleway/helpers_test.go
  scaleway/helpers_vpc.go
  scaleway/resource_baremetal_server.go
  scaleway/resource_baremetal_server_test.go
  scaleway/resource_instance_private_nic.go
  scaleway/resource_instance_server_test.go
  scaleway/resource_lb_test.go
  scaleway/resource_rdb_instance_test.go
  scaleway/resource_redis_cluster_test.go
  scaleway/resource_vpc_gateway_network.go
  scaleway/resource_vpc_gateway_network_test.go
  scaleway/resource_vpc_private_network.go
  scaleway/resource_vpc_private_network_test.go
  scaleway/testdata/baremetal-server-add-another-private-network.cassette.yaml
  scaleway/testdata/baremetal-server-add-private-network.cassette.yaml
  scaleway/testdata/baremetal-server-create-server-with-private-network.cassette.yaml
  scaleway/testdata/data-source-instance-private-nic-basic.cassette.yaml
  scaleway/testdata/data-source-vpc-gateway-network-basic.cassette.yaml
  scaleway/testdata/data-source-vpc-private-network-basic.cassette.yaml
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-basic.cassette.yaml
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-static.cassette.yaml
  scaleway/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  scaleway/testdata/instance-private-nic-basic.cassette.yaml
  scaleway/testdata/instance-private-nic-tags.cassette.yaml
  scaleway/testdata/instance-server-private-network.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-private-network.cassette.yaml
  scaleway/testdata/k8s-cluster-private-network.cassette.yaml
  scaleway/testdata/lblb-with-ip.cassette.yaml
  scaleway/testdata/lblb-with-private-networks-on-dhcp-config.cassette.yaml
  scaleway/testdata/rdb-instance-private-network-dhcp.cassette.yaml
  scaleway/testdata/rdb-instance-private-network.cassette.yaml
  scaleway/testdata/rdb-read-replica-multiple-endpoints.cassette.yaml
  scaleway/testdata/rdb-read-replica-private-network.cassette.yaml
  scaleway/testdata/rdb-read-replica-update.cassette.yaml
  scaleway/testdata/redis-cluster-endpoints-cluster-mode.cassette.yaml
  scaleway/testdata/redis-cluster-endpoints-standalone.cassette.yaml
  scaleway/testdata/vpc-gateway-network-basic.cassette.yaml
  scaleway/testdata/vpc-gateway-network-without-dhcp.cassette.yaml
  scaleway/testdata/vpc-private-network-basic.cassette.yaml
  scaleway/testdata/vpc-private-network-default-name.cassette.yaml
  scaleway/testdata/vpc-private-network-one-subnet.cassette.yaml
  scaleway/testdata/vpc-private-network-subnets.cassette.yaml
  scaleway/testdata/vpc-private-network-with-two-ipv6-subnets.cassette.yaml
  scaleway/testdata/vpc-public-gateway-dhcp-entry-basic.cassette.yaml
  scaleway/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
  scaleway/testdata/vpc-public-gateway-pat-rule-with-instance.cassette.yaml
Labels: enhancement, vpc

#2055 feat(vpc): add vpcs datasource
  docs/data-sources/vpcs.md
  scaleway/data_source_vpcs.go
  scaleway/data_source_vpcs_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-vp-cs-basic.cassette.yaml
Labels: enhancement, vpc

#2043 feat(webhosting): add webhosting resource
  docs/resources/webhosting.md
  scaleway/helpers_webhosting.go
  scaleway/provider.go
  scaleway/resource_webhosting.go
  scaleway/resource_webhosting_test.go
  scaleway/testdata/webhosting-basic.cassette.yaml
Labels: enhancement, webhosting

#2044 feat(instance): migrate server when changing type
  docs/resources/instance_server.md
  go.mod
  go.sum
  scaleway/resource_instance_server.go
  scaleway/resource_instance_server_test.go
  scaleway/testdata/instance-server-migrate-invalid-local-volume-size.cassette.yaml
  scaleway/testdata/instance-server-migrate.cassette.yaml
Labels: enhancement, instance

#2059 fix(domain): set retry interval to 5 seconds
  scaleway/helpers_domain.go
Labels: bug, domain

#2060 feat(webhosting): add datasource
  docs/data-sources/webhosting.md
  docs/resources/webhosting.md
  scaleway/data_source_webhosting.go
  scaleway/data_source_webhosting_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-webhosting-basic.cassette.yaml
Labels: enhancement, webhosting

#2063 fix(lb): throw a warning when certificate is in error state
  scaleway/resource_lb_certificate.go
  scaleway/testdata/lb-certificate-basic.cassette.yaml
Labels: bug, load-balancer

#2065 feat(baremetal): support deploying server without install config
  docs/resources/baremetal_server.md
  scaleway/resource_baremetal_server.go
  scaleway/resource_baremetal_server_test.go
  scaleway/testdata/baremetal-server-without-install-config.cassette.yaml
Labels: enhancement, elastic-metal

#2070 feat(lb): add support for enabling proxy protocol on health check
  docs/resources/lb_backend.md
  scaleway/resource_lb_backend.go
  scaleway/resource_lb_backend_test.go
  scaleway/testdata/lb-backend-basic.cassette.yaml
Labels: enhancement, load-balancer

#2074 fix(redis): add computed to private network attribute
  scaleway/resource_redis_cluster.go
Labels: bug, redis

#2076 fix(baremetal): fix changes in plan for offer field
  scaleway/resource_baremetal_server.go
Labels: bug, elastic-metal

#2073 fix(domain): replace waiting zone on dns record
  go.mod
  go.sum
  scaleway/helpers_domain.go
  scaleway/resource_domain_record.go
  scaleway/resource_domain_zone.go
  scaleway/resource_instance_ip_reverse_dns_test.go
  scaleway/resource_vpc_public_gateway_ip_reverse_test.go
  scaleway/testdata/container-domain-basic.cassette.yaml
  scaleway/testdata/data-source-domain-record-basic.cassette.yaml
  scaleway/testdata/data-source-domain-zone-basic.cassette.yaml
  scaleway/testdata/domain-record-arobase.cassette.yaml
  scaleway/testdata/domain-record-basic.cassette.yaml
  scaleway/testdata/domain-record-basic2.cassette.yaml
  scaleway/testdata/domain-record-cname.cassette.yaml
  scaleway/testdata/domain-record-geo-ip.cassette.yaml
  scaleway/testdata/domain-record-http-service.cassette.yaml
  scaleway/testdata/domain-record-srv-zone.cassette.yaml
  scaleway/testdata/domain-record-view.cassette.yaml
  scaleway/testdata/domain-record-weighted.cassette.yaml
  scaleway/testdata/domain-zone-basic.cassette.yaml
  scaleway/testdata/function-domain-basic.cassette.yaml
  scaleway/testdata/instance-ip-reverse-dns-basic.cassette.yaml
  scaleway/testdata/vpc-public-gateway-ip-reverse-dns-basic.cassette.yaml
Labels: domain

#2067 feat(iam): add iam_group_membership resource
  docs/resources/iam_group.md
  docs/resources/iam_group_membership.md
  scaleway/provider.go
  scaleway/resource_iam_group.go
  scaleway/resource_iam_group_membership.go
  scaleway/resource_iam_group_membership_test.go
  scaleway/testdata/iam-group-membership-basic.cassette.yaml
  scaleway/testdata/iam-group-membership-user.cassette.yaml
Labels: enhancement, iam
