Repository scaleway/terraform-provider-scaleway, pull requests merged in 2023-06, with the labels that each got.

#1963 feat(vpc): add vpc datasource
  docs/data-sources/vpc.md
  scaleway/data_source_vpc.go
  scaleway/data_source_vpc_test.go
  scaleway/helpers_vpc.go
  scaleway/provider.go
  scaleway/testdata/data-source-vpc-basic.cassette.yaml
  scaleway/testdata/data-source-vpc-default.cassette.yaml
Labels: enhancement, vpc

#1971 docs(container): update default resource values
  docs/resources/container.md
Labels: documentation, container

#1972 doc(lb): update SNI/HTTP host header constraints on Routes
  docs/resources/lb_route.md
Labels: documentation

#1979 fix(baremetal): set offer argument in read
  scaleway/resource_baremetal_server.go
Labels: bug, elastic-metal

#1984 docs(backend): fix s3 backend bucket name
  docs/index.md
Labels: documentation

#1993 fix(vpc): support regional pn import
  scaleway/resource_vpc_private_network.go
Labels: bug, vpc

#1990 fix(mnq): fix nats credentials parsing
  go.mod
  go.sum
  scaleway/helpers_mnq_queue.go
  scaleway/testdata/mnq-queue-basic-nats.cassette.yaml
  scaleway/testdata/mnq-queue-basic-sqs.cassette.yaml
  scaleway/validate_cassettes_test.go
Labels: enhancement, mnq

#2001 fix(lb): make send_proxy_v2 field computed
  scaleway/data_source_lb_routes_test.go
  scaleway/resource_lb_backend.go
  scaleway/testdata/data-source-lb-acls-basic.cassette.yaml
  scaleway/testdata/data-source-lb-backend-basic.cassette.yaml
  scaleway/testdata/data-source-lb-backends-basic.cassette.yaml
  scaleway/testdata/data-source-lb-frontend-basic.cassette.yaml
  scaleway/testdata/data-source-lb-frontends-basic.cassette.yaml
  scaleway/testdata/data-source-lb-route-basic.cassette.yaml
  scaleway/testdata/data-source-lb-routes-basic.cassette.yaml
  scaleway/testdata/lb-backend-basic.cassette.yaml
  scaleway/testdata/lb-backend-health-check.cassette.yaml
  scaleway/testdata/lb-backend-with-failover-host.cassette.yaml
  scaleway/testdata/lb-frontend-acl-basic.cassette.yaml
  scaleway/testdata/lb-frontend-acl-redirect-action.cassette.yaml
  scaleway/testdata/lb-frontend-basic.cassette.yaml
  scaleway/testdata/lb-frontend-certificate.cassette.yaml
  scaleway/testdata/lb-route-with-host-header.cassette.yaml
  scaleway/testdata/lb-route-with-sni.cassette.yaml
  scaleway/testdata/lbacl-basic.cassette.yaml
Labels: bug, load-balancer

#2003 feat(baremetal): add ipv4 & ipv6 fields
  docs/resources/baremetal_server.md
  scaleway/helpers_baremetal.go
  scaleway/resource_baremetal_server.go
  scaleway/resource_baremetal_server_test.go
  scaleway/testdata/baremetal-server-add-another-private-network.cassette.yaml
  scaleway/testdata/baremetal-server-add-option.cassette.yaml
  scaleway/testdata/baremetal-server-add-private-network.cassette.yaml
  scaleway/testdata/baremetal-server-add-two-options-then-delete-one.cassette.yaml
  scaleway/testdata/baremetal-server-create-server-with-option.cassette.yaml
  scaleway/testdata/baremetal-server-create-server-with-private-network.cassette.yaml
  scaleway/testdata/baremetal-server-required-install-config.cassette.yaml
  scaleway/testdata/data-source-baremetal-offer-basic.cassette.yaml
  scaleway/testdata/data-source-baremetal-offer-subscription-period-hourly.cassette.yaml
  scaleway/testdata/data-source-baremetal-offer-subscription-period-monthly.cassette.yaml
  scaleway/testdata/data-source-baremetal-option-basic.cassette.yaml
  scaleway/testdata/data-source-baremetal-os-basic.cassette.yaml
  scaleway/testdata/data-source-baremetal-server-basic.cassette.yaml
  scaleway/testdata/flexible-ip-attach-and-detach-from-baremetal-server.cassette.yaml
  scaleway/testdata/flexible-ip-create-and-attach-to-baremetal-server.cassette.yaml
Labels: enhancement, elastic-metal

#2007 docs(object-bucket-policy): update documentation using IAM
  docs/resources/object_bucket_policy.md
Labels: documentation

#1999 chore: refactor datasource regionalID helper
  scaleway/data_source_container.go
  scaleway/data_source_container_namespace.go
  scaleway/data_source_function.go
  scaleway/data_source_function_namespace.go
  scaleway/data_source_helpers.go
  scaleway/data_source_iot_device.go
  scaleway/data_source_iot_hub.go
  scaleway/data_source_k8s_cluster.go
  scaleway/data_source_k8s_pool.go
  scaleway/data_source_rdb_acl.go
  scaleway/data_source_rdb_database.go
  scaleway/data_source_rdb_database_backup.go
  scaleway/data_source_rdb_instance.go
  scaleway/data_source_registry_image.go
  scaleway/data_source_registry_namespace.go
  scaleway/data_source_secret.go
  scaleway/data_source_tem_domain.go
  scaleway/data_source_vpc.go
  scaleway/data_source_webhosting_offer.go
Labels: refactor

#2012 fix(secret): add sensitive flag to data
  scaleway/data_source_secret_version.go
Labels: secret

#2009 tests: enable account and iam sweepers
  scaleway/data_source_account_project_test.go
  scaleway/data_source_iam_application_test.go
  scaleway/data_source_iam_group_test.go
  scaleway/data_source_iam_ssh_key_test.go
  scaleway/resource_account_project_test.go
  scaleway/resource_iam_api_key_test.go
  scaleway/resource_iam_application_test.go
  scaleway/resource_iam_group_test.go
  scaleway/resource_iam_policy_test.go
  scaleway/resource_iam_ssh_key_test.go
  scaleway/sweeper_test.go
  scaleway/testdata/data-source-account-project-basic.cassette.yaml
  scaleway/testdata/data-source-account-project-extract.cassette.yaml
  scaleway/testdata/data-source-iam-application-basic.cassette.yaml
  scaleway/testdata/data-source-iam-group-basic.cassette.yaml
  scaleway/testdata/data-source-iam-group-users-and-applications.cassette.yaml
  scaleway/testdata/data-source-iam-ssh-key-basic.cassette.yaml
  scaleway/testdata/iam-api-key-expires.cassette.yaml
  scaleway/testdata/iam-api-key-no-update.cassette.yaml
  scaleway/testdata/iam-api-key-with-application.cassette.yaml
  scaleway/testdata/iam-group-applications.cassette.yaml
  scaleway/testdata/iam-group-basic.cassette.yaml
  scaleway/testdata/iam-group-users-and-applications.cassette.yaml
  scaleway/testdata/iam-group-users.cassette.yaml
  scaleway/testdata/iam-policy-change-linked-entity.cassette.yaml
  scaleway/testdata/iam-ssh-key-change-resource-name.cassette.yaml
Labels: tests

#2016 tests(iam): get organization id from client in sweepers
  scaleway/resource_iam_api_key_test.go
  scaleway/resource_iam_application_test.go
  scaleway/resource_iam_group_test.go
  scaleway/resource_iam_policy_test.go
Labels: tests, iam

#2013 feat(vpc): add subnets documentation
  docs/data-sources/vpc_private_network.md
  docs/resources/vpc_private_network.md
Labels: enhancement, documentation, vpc

#2026 feat(vpc): add computed address, mask and prefix fields
  docs/resources/vpc_private_network.md
  scaleway/helpers_vpc.go
  scaleway/resource_vpc_private_network.go
  scaleway/resource_vpc_private_network_test.go
  scaleway/testdata/vpc-private-network-subnets.cassette.yaml
Labels: enhancement, vpc

#2024 feat(lb): add support for configuring backend servers max connections
  docs/resources/lb_backend.md
  go.mod
  go.sum
  scaleway/resource_lb_backend.go
  scaleway/resource_lb_backend_test.go
  scaleway/testdata/lb-backend-basic.cassette.yaml
Labels: enhancement, load-balancer

#2028 fix(cockpit): ignore 404 not found during grafana user deletion
  scaleway/resource_cockpit_grafana_user.go
Labels: bug

#2019 feat: support integration of regional private networks in lb, rdb, redis and vpc gateway networks
  scaleway/helpers_baremetal.go
  scaleway/helpers_lb.go
  scaleway/helpers_rdb.go
  scaleway/helpers_redis.go
  scaleway/helpers_test.go
  scaleway/resource_baremetal_server.go
  scaleway/resource_baremetal_server_test.go
  scaleway/resource_instance_private_nic.go
  scaleway/resource_instance_server.go
  scaleway/resource_lb.go
  scaleway/resource_lb_test.go
  scaleway/resource_rdb_instance.go
  scaleway/resource_rdb_read_replica.go
  scaleway/resource_redis_cluster.go
  scaleway/resource_redis_cluster_test.go
  scaleway/resource_vpc_gateway_network.go
  scaleway/resource_vpc_gateway_network_test.go
Labels: bug, vpc
