Repository scaleway/terraform-provider-scaleway, pull requests merged in 2024-02, with the labels that each got.

#2391 feat(rdb): add support for sbs_5k volume type
  docs/resources/rdb_instance.md
  scaleway/resource_rdb_instance.go
  scaleway/resource_rdb_instance_test.go
  scaleway/testdata/rdb-instance-change-volume-type.cassette.yaml
  scaleway/testdata/rdb-instance-sbs-volume.cassette.yaml
Labels: enhancement, rdb

#2393 fix(ipam): add validator on address
  docs/resources/ipam_ip.md
  docs/resources/vpc_gateway_network.md
  scaleway/data_source_ipam_ip_test.go
  scaleway/resource_ipam_ip.go
  scaleway/resource_ipam_ip_test.go
  scaleway/resource_vpc_gateway_network_test.go
  scaleway/testdata/data-source-ipamipid.cassette.yaml
  scaleway/testdata/ipamip-with-cidr-address.cassette.yaml
  scaleway/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
Labels: vpc

#2397 tests(iot_device): change datasource hub name
  scaleway/data_source_iot_device_test.go
  scaleway/testdata/data-source-iot-device-basic.cassette.yaml
Labels: bug, iot

#2401 chore(secret): bump to secret api v1beta1
  go.mod
  go.sum
  scaleway/data_source_secret.go
  scaleway/data_source_secret_version.go
  scaleway/helpers_secret.go
  scaleway/resource_secret.go
  scaleway/resource_secret_test.go
  scaleway/resource_secret_version.go
  scaleway/resource_secret_version_test.go
  scaleway/testdata/data-source-secret-basic.cassette.yaml
  scaleway/testdata/data-source-secret-version-basic.cassette.yaml
  scaleway/testdata/data-source-secret-version-by-name-secret.cassette.yaml
  scaleway/testdata/secret-basic.cassette.yaml
  scaleway/testdata/secret-version-basic.cassette.yaml
Labels: secret

#2409 feat(k8s): minor version error messages are more precise
  scaleway/resource_k8s_cluster.go
Labels: enhancement, k8s

#2410 fix(instance_server): default routed_ip_enabled to nil
  scaleway/resource_instance_server.go
  scaleway/testdata/data-source-ipamip-instance-lb.cassette.yaml
  scaleway/testdata/data-source-ipamip-instance.cassette.yaml
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-basic.cassette.yaml
  scaleway/testdata/data-source-vpc-public-gateway-dhcp-reservation-static.cassette.yaml
  scaleway/testdata/instance-image-server-with-block-volume.cassette.yaml
  scaleway/testdata/instance-image-server-with-local-volume.cassette.yaml
  scaleway/testdata/instance-image-server.cassette.yaml
  scaleway/testdata/instance-server-block-external.cassette.yaml
  scaleway/testdata/instance-server-ip-migrate.cassette.yaml
  scaleway/testdata/instance-server-ip-removed.cassette.yaml
  scaleway/testdata/instance-server-private-network.cassette.yaml
  scaleway/testdata/instance-server-routed-ip-enable-with-ip.cassette.yaml
  scaleway/testdata/instance-server-routed-ip-enable.cassette.yaml
  scaleway/testdata/instance-server-with-reserved-ip.cassette.yaml
  scaleway/testdata/instance-snapshot-server-with-block-volume.cassette.yaml
  scaleway/testdata/instance-snapshot-server.cassette.yaml
  scaleway/testdata/lblb-with-private-networks-on-dhcp-config.cassette.yaml
  scaleway/testdata/vpc-public-gateway-dhcp-entry-basic.cassette.yaml
  scaleway/testdata/vpc-public-gateway-pat-rule-with-instance.cassette.yaml
  scaleway/validate_cassettes_test.go
Labels: bug, instance

#2408 fix(object): read `project_id` only when authorized
  scaleway/resource_object_bucket.go
  scaleway/resource_object_bucket_policy.go
Labels: bug, object, priority:highest

#2413 feat(ipam): add retry on empty IP list
  scaleway/data_source_ipam_ip.go
  scaleway/helpers_ipam.go
Labels: enhancement, vpc

#2414 docs(rdb_privilege): improve example
  docs/resources/rdb_privilege.md
Labels: documentation, rdb

#2411 fix(redis): migrate cluster size
  docs/resources/redis_cluster.md
  scaleway/resource_redis_cluster.go
  scaleway/resource_redis_cluster_test.go
  scaleway/testdata/redis-cluster-migrate-cluster-size-with-ipam-endpoint.cassette.yaml
  scaleway/testdata/redis-cluster-migrate-cluster-size-with-static-endpoint.cassette.yaml
Labels: bug, redis, priority:highest

#2422 feat: add support for custom user-agent
  docs/index.md
  scaleway/provider.go
Labels: enhancement

#2400 fix(rdb): explicit choice for endpoint IP configuration in Read Replica and Instance
  docs/resources/rdb_instance.md
  docs/resources/rdb_read_replica.md
  scaleway/data_source_ipam_ip_test.go
  scaleway/helpers_rdb.go
  scaleway/resource_rdb_instance.go
  scaleway/resource_rdb_instance_test.go
  scaleway/resource_rdb_read_replica.go
  scaleway/resource_rdb_read_replica_test.go
  scaleway/testdata/data-source-ipamiprdb.cassette.yaml
  scaleway/testdata/rdb-instance-endpoints.cassette.yaml
  scaleway/testdata/rdb-instance-private-network-dhcp.cassette.yaml
  scaleway/testdata/rdb-instance-private-network-update.cassette.yaml
  scaleway/testdata/rdb-instance-private-network.cassette.yaml
  scaleway/testdata/rdb-read-replica-basic.cassette.yaml
  scaleway/testdata/rdb-read-replica-different-zone.cassette.yaml
  scaleway/testdata/rdb-read-replica-multiple-endpoints.cassette.yaml
  scaleway/testdata/rdb-read-replica-private-network.cassette.yaml
  scaleway/testdata/rdb-read-replica-update.cassette.yaml
  scaleway/testdata/rdb-read-replica-with-instance-also-in-private-network.cassette.yaml
Labels: bug, rdb, priority:highest

#2427 fix(k8s): wait for pool ready when upgrading cluster
  go.mod
  go.sum
  scaleway/resource_k8s_cluster.go
  scaleway/testdata/data-source-k8s-cluster-basic.cassette.yaml
  scaleway/testdata/data-source-k8s-pool-basic.cassette.yaml
  scaleway/testdata/data-source-k8s-version-basic.cassette.yaml
  scaleway/testdata/data-source-k8s-version-latest.cassette.yaml
  scaleway/testdata/k8s-cluster-auto-upgrade.cassette.yaml
  scaleway/testdata/k8s-cluster-autoscaling.cassette.yaml
  scaleway/testdata/k8s-cluster-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-multicloud.cassette.yaml
  scaleway/testdata/k8s-cluster-oidc.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-basic.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-kubelet-args.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-placement-group.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-public-ip-disabled.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-size.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-upgrade-policy.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-wait.cassette.yaml
  scaleway/testdata/k8s-cluster-pool-zone.cassette.yaml
  scaleway/testdata/k8s-cluster-private-network.cassette.yaml
  scaleway/testdata/k8s-cluster-type-change.cassette.yaml
Labels: bug, k8s
