Repository scaleway/terraform-provider-scaleway, pull requests merged in 2024-03, with the labels that each got.

#2435 fix(lb): crash on migration fail
  scaleway/resource_lb.go
Labels: bug, load-balancer

#2437 doc(rdb): fix double occurrence of enable_ipam
  docs/resources/rdb_instance.md
Labels: documentation, rdb

#2438 test(redis): remove subnet from vpc to avoid `subnet overlap in vpc`
  scaleway/resource_redis_cluster_test.go
  scaleway/testdata/redis-cluster-migrate-cluster-size-with-static-endpoint.cassette.yaml
Labels: bug, tests, redis

#2440 fix(lb): properly handle error in LB migration to avoid panic
  scaleway/resource_lb.go
Labels: bug, load-balancer

#2439 fix(lb): ignore order changes on certificate ids
  scaleway/helpers.go
  scaleway/resource_lb_frontend.go
Labels: bug, load-balancer

#2425 feat(sem): add secret path in terraform
  docs/data-sources/secret.md
  docs/resources/secret.md
  scaleway/data_source_secret.go
  scaleway/data_source_secret_test.go
  scaleway/resource_secret.go
  scaleway/resource_secret_test.go
  scaleway/testdata/data-source-secret-path.cassette.yaml
  scaleway/testdata/secret-path.cassette.yaml
Labels: secret

#2442 fix(lb): ignore changes on /32 subnets on ACLs
  scaleway/helpers.go
  scaleway/helpers_lb.go
  scaleway/resource_lb_acl.go
  scaleway/resource_lb_frontend.go
Labels: bug, load-balancer

#2443 docs: fix create-ssh-key guide link
  docs/guides/multicloud_cluster_with_baremetal_servers.md
Labels: documentation

#2454 fix(object_bucket_lock_configuration): crash on empty configuration
  scaleway/resource_object_bucket_lock_configuration.go
Labels: bug, object

#2455 fix(object): lifecycle rules: fix parsing error when prefix+1tag set
  scaleway/resource_object_bucket.go
  scaleway/resource_object_bucket_test.go
  scaleway/testdata/object-bucket-lifecycle.cassette.yaml
Labels: bug, object, priority:highest

#2463 fix(object): lifecycle: fix case with no tags and no prefix
  scaleway/resource_object_bucket.go
  scaleway/resource_object_bucket_test.go
  scaleway/testdata/object-bucket-lifecycle.cassette.yaml
Labels: bug, object, priority:highest

#2464 docs(job_defintion): add cron
  docs/resources/job_definition.md
Labels: documentation

#2419 feat(core): get raw config for key
  scaleway/helpers.go
  scaleway/helpers_rdb.go
  scaleway/helpers_test.go
  scaleway/resource_lb_backend.go
  scaleway/testdata/rdb-instance-volume.cassette.yaml
  scaleway/testdata/test-acc-get-raw-config-for-key.cassette.yaml
Labels: enhancement

#2472 fix(instance_snapshot): ignore region in bucket field
  scaleway/resource_instance_snapshot.go
  scaleway/resource_instance_snapshot_test.go
  scaleway/testdata/instance-snapshot-from-object.cassette.yaml
  scaleway/testfixture/empty.qcow2
Labels: bug, instance

#2476 fix(vpcgw): force recreation when ip id changes
  scaleway/resource_vpc_public_gateway.go
Labels: bug, vpc

#2474 chore(serverless): bump sdk go + deprecate MnqNamespaceID on trigger sqs
  docs/data-sources/documentdb_database.md
  docs/data-sources/documentdb_instance.md
  docs/resources/container_trigger.md
  docs/resources/documentdb_database.md
  docs/resources/documentdb_instance.md
  docs/resources/documentdb_private_network_endpoint.md
  docs/resources/documentdb_privilege.md
  docs/resources/documentdb_read_replica.md
  docs/resources/documentdb_user.md
  docs/resources/function_trigger.md
  go.mod
  go.sum
  scaleway/helpers_container_triggers.go
  scaleway/helpers_function_triggers.go
  scaleway/resource_container_trigger.go
  scaleway/resource_function_trigger.go
  scaleway/testdata/data-source-secret-basic.cassette.yaml
  scaleway/testdata/data-source-secret-path.cassette.yaml
  scaleway/testdata/data-source-secret-version-by-name-secret.cassette.yaml
Labels: container, function

#2479 tests(cockpit_grafana_user): handle 403 in CheckDestroy
  scaleway/resource_cockpit_grafana_user_test.go
Labels: bug, tests, observability

#2485 tests(account_project): do not delete default project
  scaleway/resource_account_project_test.go
Labels: account
