Repository scaleway/terraform-provider-scaleway, pull requests merged in 2024-10, with the labels that each got.

#2753 docs(cockpit): update contact_points in alert_manager
  docs/resources/cockpit_alert_manager.md
Labels: instance

#2745 feat(instance_server): allow root_volume size update
  internal/services/instance/helpers_instance_block.go
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
  internal/services/instance/testdata/server-block-external-root-volume.cassette.yaml
  internal/services/instance/testdata/server-root-volume1.cassette.yaml
Labels: enhancement, instance

#2739 tests: rename test resources to expected test name
  internal/services/iot/routes_test.go
  internal/services/object/bucket_acl_test.go
  internal/services/object/bucket_policy_test.go
  internal/services/object/bucket_test.go
  internal/services/object/data_source_object_bucket_policy_test.go
  internal/services/object/data_source_object_bucket_test.go
  internal/services/object/testdata/data-source-object-bucket-basic.cassette.yaml
  internal/services/object/testdata/data-source-object-bucket-policy-basic.cassette.yaml
  internal/services/object/testdata/data-source-object-bucket-project-id-allowed.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-grantee-with-owner.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-grantee.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-remove.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-cors-delete.cassette.yaml
  internal/services/object/testdata/object-bucket-cors-update.cassette.yaml
  internal/services/object/testdata/object-bucket-destroy-force.cassette.yaml
  internal/services/object/testdata/object-bucket-lifecycle.cassette.yaml
  internal/services/object/testdata/object-bucket-object-lock.cassette.yaml
  internal/services/object/testdata/object-bucket-policy-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-policy-other-region-with-bucket-id.cassette.yaml
  internal/services/object/testdata/object-bucket-policy-other-region-with-bucket-name.cassette.yaml
  internal/services/object/testfuncs/sweep.go
Labels: object, tests, iot

#2763 feat(instance_server): prevent usage of routed_ip_enabled as false
  internal/services/instance/ip.go
  internal/services/instance/ip_test.go
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/testdata/ip-routed-downgrade.cassette.yaml
  internal/services/instance/testdata/ip-routed-migrate.cassette.yaml
  internal/services/instance/testdata/server-ip-migrate.cassette.yaml
  internal/services/instance/testdata/server-ipv6.cassette.yaml
  internal/services/instance/testdata/server-routed-ip-enable-with-ip.cassette.yaml
  internal/services/instance/testdata/server-routed-ip-enable.cassette.yaml
Labels: enhancement, instance

#2771 fix(lb): mark certificate chain as sensitive
  internal/services/lb/certificate.go
Labels: bug, load-balancer

#2776 fix(iot): add region to network
  internal/services/iot/network.go
Labels: iot

#2774 chore: bump sdk go
  docs/data-sources/instance_servers.md
  docs/resources/instance_server.md
  go.mod
  go.sum
  internal/services/iam/user.go
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/servers_data_source.go
  internal/services/instance/testdata/server-ips-removed.cassette.yaml
  internal/services/instance/testdata/server-ips.cassette.yaml
  internal/services/instance/testdata/server-ipv6.cassette.yaml
  internal/services/instance/testdata/server-root-volume-default-type-sbs.cassette.yaml
  internal/services/ipam/testdata/ipamip-reverse-dns-basic.cassette.yaml
Labels: instance, iam

#2768 tests(instance_server): use sbs and b_ssd together
  internal/services/instance/server_test.go
  internal/services/instance/testdata/server-block-external.cassette.yaml
Labels: instance, tests

#2769 feat(baremetal): add support for ipam ips
  docs/resources/baremetal_server.md
  internal/locality/regional/ids.go
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/data-source-server-basic.cassette.yaml
  internal/services/baremetal/testdata/server-add-another-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-add-option.cassette.yaml
  internal/services/baremetal/testdata/server-add-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-add-two-options-then-delete-one.cassette.yaml
  internal/services/baremetal/testdata/server-basic.cassette.yaml
  internal/services/baremetal/testdata/server-create-server-with-option.cassette.yaml
  internal/services/baremetal/testdata/server-create-server-with-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-required-install-config.cassette.yaml
  internal/services/baremetal/testdata/server-with-ipam-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-without-install-config.cassette.yaml
  internal/services/baremetal/types.go
  internal/services/baremetal/waiters.go
  internal/services/flexibleip/testdata/data-source-flexible-ips-with-baremetal-ids.cassette.yaml
  internal/services/flexibleip/testdata/flexible-ip-attach-and-detach-from-baremetal-server.cassette.yaml
  internal/services/flexibleip/testdata/flexible-ip-create-and-attach-to-baremetal-server.cassette.yaml
  internal/services/flexibleip/testdata/flexible-ipmac-address-duplicate-on-other-flexible-ips.cassette.yaml
  internal/services/lb/types.go
Labels: load-balancer, instance, vpc, flexible-ip, iam, baremetal

#2778 chore: bump sdk-go
  go.mod
  go.sum
  internal/services/instance/server.go
Labels: instance

#2780 tests(rdb): fix gateway network to use ipam mode
  internal/services/rdb/instance_test.go
  internal/services/rdb/testdata/instance-private-network-dhcp.cassette.yaml
Labels: rdb

#2782 fix(instance_server): use server volume to fetch volumes
  internal/services/instance/server.go
Labels: instance

#2790 fix(mnq): mark field 'file' as sensitive
  internal/services/mnq/nats_credentials.go
Labels: mnq
