Repository scaleway/terraform-provider-scaleway, pull requests merged in 2024-12, with the labels that each got.

#2831 fix(container): golangci-lint
  internal/services/container/container.go
  internal/services/container/helpers_container.go
  internal/services/mnq/helpers_mnq_queue.go
Labels: container, mnq

#2829 feat(rdb): add update encryption at rest
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/testdata/instance-update-encryption-at-rest.cassette.yaml
Labels: rdb

#2823 feat(instance_image): support block snapshots
  go.mod
  go.sum
  internal/services/block/snapshot.go
  internal/services/block/waiters.go
  internal/services/instance/helpers_instance.go
  internal/services/instance/helpers_instance_block.go
  internal/services/instance/image.go
  internal/services/instance/image_test.go
  internal/services/instance/server.go
  internal/services/instance/testdata/image-external-block-volume.cassette.yaml
  internal/services/instance/types.go
Labels: enhancement, instance

#2834 chore: remove enterprise offer testing
  internal/services/instance/server_test.go
  internal/services/instance/testdata/server-enterprise.cassette.yaml
Labels: instance

#2842 fix(instance_server): allow updating root_volume size for non l_ssd
  docs/resources/instance_server.md
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/testdata/server-block-external-root-volume.cassette.yaml
  internal/services/instance/testdata/server-root-volume1.cassette.yaml
Labels: bug, instance

#2847 fix(object): remove dependance awserr
  internal/services/object/bucket_website_configuration.go
  internal/services/object/testdata/object-bucket-website-configuration-with-bucket-name.cassette.yaml
Labels: object

#2833 feat(redis): authorize HA mode
  docs/resources/redis_cluster.md
  internal/services/redis/cluster.go
  internal/services/redis/cluster_test.go
  internal/services/redis/testdata/cluster-migrate-to-ha-mode.cassette.yaml
Labels: redis

#2843 chore(mnq): migrate to github.com/aws/aws-sdk-go-v2
  go.mod
  go.sum
  internal/acctest/validate_cassettes_test.go
  internal/services/mnq/helpers_mnq.go
  internal/services/mnq/helpers_mnq_queue.go
  internal/services/mnq/helpers_mnq_sns.go
  internal/services/mnq/sns_topic.go
  internal/services/mnq/sns_topic_subscription.go
  internal/services/mnq/sns_topic_subscription_test.go
  internal/services/mnq/sns_topic_test.go
  internal/services/mnq/sqs_queue.go
  internal/services/mnq/sqs_queue_test.go
  internal/services/mnq/testdata/data-source-sns-basic.cassette.yaml
  internal/services/mnq/testdata/data-source-sqs-basic.cassette.yaml
  internal/services/mnq/testdata/nats-account-basic.cassette.yaml
  internal/services/mnq/testdata/nats-credentials-basic.cassette.yaml
  internal/services/mnq/testdata/nats-credentials-update-name.cassette.yaml
  internal/services/mnq/testdata/sns-basic.cassette.yaml
  internal/services/mnq/testdata/sns-credentials-basic.cassette.yaml
  internal/services/mnq/testdata/sns-topic-basic.cassette.yaml
  internal/services/mnq/testdata/sns-topic-subscription-basic.cassette.yaml
  internal/services/mnq/testdata/sqs-already-activated.cassette.yaml
  internal/services/mnq/testdata/sqs-basic.cassette.yaml
  internal/services/mnq/testdata/sqs-credentials-basic.cassette.yaml
  internal/services/mnq/testdata/sqs-queue-basic.cassette.yaml
  internal/services/mnq/testdata/sqs-queue-default-project.cassette.yaml
  internal/transport/retry_aws.go
Labels: mnq

#2852 doc(instance_server): mark private_ip as deprecated
  docs/resources/instance_server.md
  internal/services/instance/server.go
Labels: documentation, instance

#2855 test(redis): remove flaky tests from redis test suite
  internal/services/redis/cluster_test.go
  internal/services/redis/testdata/cluster-migrate-cluster-size-with-static-endpoint.cassette.yaml
Labels: redis

#2854 fix(instance_server): delete_after_termination for sbs volumes
  internal/services/block/volume.go
  internal/services/instance/helpers_instance_block.go
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/testdata/data-source-private-nic-basic.cassette.yaml
  internal/services/instance/testdata/data-source-server-basic.cassette.yaml
  internal/services/instance/testdata/data-source-servers-basic.cassette.yaml
  internal/services/instance/testdata/image-server-with-block-volume.cassette.yaml
  internal/services/instance/testdata/image-server-with-local-volume.cassette.yaml
  internal/services/instance/testdata/image-server.cassette.yaml
  internal/services/instance/testdata/ip-reverse-dns-basic.cassette.yaml
  internal/services/instance/testdata/placement-group-rename.cassette.yaml
  internal/services/instance/testdata/private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-tags.cassette.yaml
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
  internal/services/instance/testdata/server-additional-volumes-detach.cassette.yaml
  internal/services/instance/testdata/server-additional-volumes.cassette.yaml
  internal/services/instance/testdata/server-alter-tags.cassette.yaml
  internal/services/instance/testdata/server-basic.cassette.yaml
  internal/services/instance/testdata/server-basic2.cassette.yaml
  internal/services/instance/testdata/server-block-external-root-volume-update.cassette.yaml
  internal/services/instance/testdata/server-block-external-root-volume.cassette.yaml
  internal/services/instance/testdata/server-block-external.cassette.yaml
  internal/services/instance/testdata/server-custom-diff-image.cassette.yaml
  internal/services/instance/testdata/server-ip-removed.cassette.yaml
  internal/services/instance/testdata/server-ips-removed.cassette.yaml
  internal/services/instance/testdata/server-ips.cassette.yaml
  internal/services/instance/testdata/server-ipv6.cassette.yaml
  internal/services/instance/testdata/server-migrate-invalid-local-volume-size.cassette.yaml
  internal/services/instance/testdata/server-migrate.cassette.yaml
  internal/services/instance/testdata/server-minimal1.cassette.yaml
  internal/services/instance/testdata/server-minimal2.cassette.yaml
  internal/services/instance/testdata/server-private-network-missing-pnic.cassette.yaml
  internal/services/instance/testdata/server-private-network.cassette.yaml
  internal/services/instance/testdata/server-root-volume-boot.cassette.yaml
  internal/services/instance/testdata/server-root-volume-from-external-snapshot.cassette.yaml
  internal/services/instance/testdata/server-root-volume1.cassette.yaml
  internal/services/instance/testdata/server-server-with-block-non-default-zone.cassette.yaml
  internal/services/instance/testdata/server-state1.cassette.yaml
  internal/services/instance/testdata/server-state2.cassette.yaml
  internal/services/instance/testdata/server-user-data-basic.cassette.yaml
  internal/services/instance/testdata/server-user-data-with-cloud-init-at-start.cassette.yaml
  internal/services/instance/testdata/server-user-data-without-cloud-init-at-start.cassette.yaml
  internal/services/instance/testdata/server-with-placement-group.cassette.yaml
  internal/services/instance/testdata/server-with-reserved-ip.cassette.yaml
  internal/services/instance/testdata/snapshot-server-with-block-volume.cassette.yaml
  internal/services/instance/testdata/snapshot-server.cassette.yaml
  internal/services/instance/testdata/snapshot-unified.cassette.yaml
  internal/services/instance/testfuncs/checks.go
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance.cassette.yaml
  internal/services/ipam/testdata/ipamip-reverse-dns-basic.cassette.yaml
  internal/services/lb/testdata/lb-with-private-networks-on-dhcp-config.cassette.yaml
  internal/services/vpc/testdata/vpc-route-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-dhcp-reservation-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-dhcp-reservation-static.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-dhcp-entry-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-with-instance.cassette.yaml
Labels: bug, load-balancer, instance, vpc, sbs, vpcgw

#2859 fix: ensure that a GetNamespace is used to ensure that a namespace is…
  internal/services/registry/namespace_test.go
  internal/services/registry/testdata/data-source-image-tag-basic.cassette.yaml
  internal/services/registry/testdata/data-source-namespace-basic.cassette.yaml
  internal/services/registry/testdata/namespace-basic.cassette.yaml
Labels: registry, container
