Repository scaleway/terraform-provider-scaleway, pull requests merged in 2024-11, with the labels that each got.

#2803 fix(scaleway_lb_ip): add support to precise the zone in which the ip was reserved
  internal/services/lb/data_source_lb_ip.go
  internal/services/lb/data_source_lb_ip_test.go
  internal/services/lb/testdata/data-source-ip-basic.cassette.yaml
Labels: load-balancer

#2804 feat(instance_server): use sbs api per default for block volumes
  internal/services/instance/helpers_instance.go
  internal/services/instance/helpers_instance_block.go
  internal/services/instance/server.go
  internal/services/instance/testdata/ip-reverse-dns-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-tags.cassette.yaml
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
  internal/services/instance/testdata/server-block-external-root-volume-update.cassette.yaml
  internal/services/instance/testdata/server-block-external-root-volume.cassette.yaml
  internal/services/instance/testdata/server-block-external.cassette.yaml
  internal/services/instance/testdata/server-enterprise.cassette.yaml
  internal/services/instance/testdata/server-ip-removed.cassette.yaml
  internal/services/instance/testdata/server-ips-removed.cassette.yaml
  internal/services/instance/testdata/server-ips.cassette.yaml
  internal/services/instance/testdata/server-ipv6.cassette.yaml
  internal/services/instance/testdata/server-migrate-invalid-local-volume-size.cassette.yaml
  internal/services/instance/testdata/server-migrate.cassette.yaml
  internal/services/instance/testdata/server-private-network-missing-pnic.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance.cassette.yaml
  internal/services/ipam/testdata/ipamip-reverse-dns-basic.cassette.yaml
  internal/services/vpc/testdata/vpc-route-basic.cassette.yaml
Labels: enhancement, instance, vpc

#2810 fix(instance_server): ignore diff for user_data.ssh-host-fingerprints
  internal/services/instance/server.go
Labels: bug, instance

#2807 feat(serverless): add support for tags on functions/containers namespaces
  go.mod
  go.sum
  internal/services/container/namespace.go
  internal/services/container/namespace_test.go
  internal/services/container/testdata/namespace-basic.cassette.yaml
  internal/services/function/namespace.go
  internal/services/function/namespace_test.go
  internal/services/function/testdata/function-namespace-basic.cassette.yaml
Labels: container, function

#2814 docs(lb): clean up doc
  docs/resources/container_namespace.md
  docs/resources/function_namespace.md
  docs/resources/lb.md
Labels: documentation, load-balancer

#2770 feat(iam): add user tags option
  docs/data-sources/iam_user.md
  docs/resources/iam_user.md
  internal/services/iam/testdata/user-basic.cassette.yaml
  internal/services/iam/user.go
  internal/services/iam/user_data_source.go
  internal/services/iam/user_test.go
Labels: iam
