Repository scaleway/terraform-provider-scaleway, pull requests merged in 2024-04, with the labels that each got.

#2487 doc(rdb): one of enable_ipam or static ip must be defined
  docs/resources/rdb_instance.md
  docs/resources/rdb_read_replica.md
Labels: documentation, rdb

#2507 feat(lb): add support for ipv6
  docs/resources/lb.md
  docs/resources/lb_ip.md
  internal/services/lb/helpers_lb.go
  internal/services/lb/ip.go
  internal/services/lb/ip_test.go
  internal/services/lb/lb.go
  internal/services/lb/lb_test.go
  internal/services/lb/testdata/ip-ipv6.cassette.yaml
  internal/services/lb/testdata/lb-assigned-ips.cassette.yaml
  internal/services/lb/testdata/lb-update-to-ipv6.cassette.yaml
  internal/services/lb/testdata/lb-with-ipv6.cassette.yaml
  internal/services/lb/types.go
  internal/types/string.go
Labels: enhancement, load-balancer

#2510 test(k8s): add cni=none to expected in version data source test
  internal/services/k8s/k8s_version_data_source_test.go
  internal/services/k8s/testdata/data-source-version-basic.cassette.yaml
Labels: k8s, tests

#2423 feat(tem) : add ressource for validate tem domain
  docs/resources/tem_domain_validation.md
  internal/provider/provider.go
  internal/services/tem/domain_validation.go
  internal/services/tem/domain_validation_test.go
  internal/services/tem/helpers.go
  internal/services/tem/testdata/data-source-domain-basic.cassette.yaml
  internal/services/tem/testdata/data-source-domain-reputation.cassette.yaml
  internal/services/tem/testdata/domain-basic.cassette.yaml
  internal/services/tem/testdata/domain-tos.cassette.yaml
  internal/services/tem/testdata/domain-validation-no-validation.cassette.yaml
  internal/services/tem/testdata/domain-validation-validation.cassette.yaml
Labels: enhancement, tem, priority:high

#2530 tests(instance): set explicit nat and routed_ip disabled
  internal/services/instance/ip_test.go
  internal/services/instance/server_test.go
Labels: instance, tests

#2471 doc(rdb):update version redis with a version in prod
  docs/resources/redis_cluster.md
Labels: documentation, redis, priority:lowest

#2533 fix(instance_server): ignore enable_ipv6 with routed_ip disabled
  docs/resources/instance_server.md
  internal/services/instance/server.go
  internal/services/instance/server_test.go
Labels: bug, instance

#2531 fix(lb): unnecessary reattach of private networks
  internal/services/lb/helpers_lb.go
  internal/services/lb/helpers_lb_test.go
  internal/services/lb/lb.go
  internal/services/lb/testdata/lb-with-ip.cassette.yaml
Labels: bug, load-balancer

#2513 fix(object): acl: revert bucket acl to private on resource deletion
  go.mod
  go.sum
  internal/services/object/bucket.go
  internal/services/object/bucket_acl.go
  internal/services/object/bucket_acl_test.go
  internal/services/object/bucket_lock_configuration.go
  internal/services/object/bucket_policy.go
  internal/services/object/bucket_website_configuration.go
  internal/services/object/data_source_object_bucket.go
  internal/services/object/data_source_object_bucket_policy.go
  internal/services/object/helpers_object.go
  internal/services/object/testdata/object-bucket-acl-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-grantee-with-owner.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-grantee.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-remove.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-with-bucket-name.cassette.yaml
  internal/services/object/testdata/object-bucket-lock-configuration-basic.cassette.yaml
  internal/services/object/testdata/object-bucket-lock-configuration-update.cassette.yaml
  internal/services/object/testdata/object-bucket-lock-configuration-with-bucket-name.cassette.yaml
Labels: bug, object, priority:high

#2537 tests(instance): disable bootscript test
  internal/services/instance/server_test.go
  internal/services/instance/testdata/server-bootscript.cassette.yaml
Labels: instance, tests

#2539 fix(logger): set provider logger as sdk-go logger
  internal/logging/logger.go
Labels: bug

#2541 test(k8s): switch to block
  internal/services/k8s/pool_test.go
  internal/services/k8s/testdata/data-source-pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-kubelet-args.cassette.yaml
  internal/services/k8s/testdata/pool-placement-group.cassette.yaml
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/k8s/testdata/pool-size.cassette.yaml
  internal/services/k8s/testdata/pool-upgrade-policy.cassette.yaml
  internal/services/k8s/testdata/pool-wait.cassette.yaml
  internal/services/k8s/testdata/pool-zone.cassette.yaml
Labels: k8s, tests

#2542 test(k8s): switch to block in cluster data source test
  internal/services/k8s/cluster_data_source_test.go
  internal/services/k8s/testdata/data-source-cluster-basic.cassette.yaml
Labels: k8s, tests

#2548 feat(cockpit): migrate grafana user to v1
  docs/resources/cockpit_grafana_user.md
  internal/services/cockpit/grafana_user.go
  internal/services/cockpit/grafana_user_test.go
  internal/services/cockpit/helpers_cockpit.go
  internal/services/cockpit/testdata/grafana-user-basic.cassette.yaml
  internal/services/cockpit/testdata/grafana-user-non-existent-cockpit.cassette.yaml
  internal/services/cockpit/testdata/grafana-user-update.cassette.yaml
  internal/services/cockpit/testfuncs/sweep.go
Labels: enhancement, observability

#2550 fix(vpc): add optional region field on datasource
  internal/services/vpc/private_network_data_source.go
Labels: bug, vpc

#2549 feat(cockpit): migrate tokens to regional v1
  docs/resources/cockpit_token.md
  internal/services/cockpit/helpers_cockpit.go
  internal/services/cockpit/testdata/token-basic.cassette.yaml
  internal/services/cockpit/testdata/token-no-scopes.cassette.yaml
  internal/services/cockpit/testdata/token-update.cassette.yaml
  internal/services/cockpit/token.go
  internal/services/cockpit/token_test.go
  internal/services/cockpit/types.go
Labels: enhancement, observability

#2551 docs(cockpit): add regionalization update note to cockpit documentation
  docs/data-sources/cockpit.md
  docs/resources/cockpit.md
Labels: documentation, observability

#2552 fix(instance): server private_network with deleted pnic
  internal/services/instance/helpers_instance.go
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/testdata/server-private-network-missing-pnic.cassette.yaml
Labels: bug, instance
