Repository scaleway/terraform-provider-scaleway, pull requests merged in 2024-06, with the labels that each got.

#2599 fix(rdb): support sbs_15k on update
  docs/resources/rdb_instance.md
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/testdata/instance-sbs-volume.cassette.yaml
Labels: bug, rdb

#2590 feat(core): data source config reader
  .github/workflows/acceptance-tests.yaml
  internal/meta/meta.go
  internal/provider/provider.go
  internal/services/object/testdata/object-sse-customer.cassette.yaml
  internal/services/scwconfig/scw_config_data_source.go
  internal/services/scwconfig/scw_config_data_source_test.go
  internal/services/scwconfig/testdata/data-source-config-active-profile.cassette.yaml
  internal/services/scwconfig/testdata/data-source-config-basic.cassette.yaml
  internal/services/scwconfig/testdata/data-source-config-mixed-profile.cassette.yaml
  internal/services/scwconfig/testdata/data-source-config-other-profile.cassette.yaml
  internal/services/scwconfig/testdata/data-source-config-provider-profile.cassette.yaml
  internal/services/scwconfig/testfixture/test_config.yaml
Labels: priority:high

#2600 feat: add enum validation
  go.mod
  go.sum
  internal/services/baremetal/offer_data_source.go
  internal/services/cockpit/grafana_user.go
  internal/services/cockpit/source.go
  internal/services/container/container.go
  internal/services/documentdb/instance.go
  internal/services/documentdb/privilege.go
  internal/services/domain/record.go
  internal/services/flexibleip/mac_address.go
  internal/services/function/function.go
  internal/services/instance/image.go
  internal/services/instance/placement_group.go
  internal/services/instance/security_group.go
  internal/services/instance/server.go
  internal/services/instance/snapshot.go
  internal/services/instance/volume.go
  internal/services/iot/device.go
  internal/services/iot/hub.go
  internal/services/iot/network.go
  internal/services/iot/routes.go
  internal/services/k8s/cluster.go
  internal/services/k8s/helpers_k8s.go
  internal/services/k8s/pool.go
  internal/services/lb/acl.go
  internal/services/lb/backend.go
  internal/services/lb/frontend.go
  internal/services/lb/lb.go
  internal/services/rdb/instance.go
  internal/services/rdb/privilege.go
  internal/services/vpcgw/pat_rule.go
  internal/verify/enum.go
Labels: enhancement, priority:high

#2607 fix(mnq): doc review of terraform mnq doc
  docs/resources/mnq_nats_account.md
  docs/resources/mnq_nats_credentials.md
  docs/resources/mnq_sns.md
  docs/resources/mnq_sns_credentials.md
  docs/resources/mnq_sns_topic.md
  docs/resources/mnq_sns_topic_subscription.md
  docs/resources/mnq_sqs.md
  docs/resources/mnq_sqs_credentials.md
  docs/resources/mnq_sqs_queue.md
Labels: mnq

#2604 fix(iam_api_key): add diff suppress for expires_at
  internal/services/iam/api_key.go
  internal/services/iam/api_key_test.go
  internal/services/iam/testdata/api-key-expires.cassette.yaml
Labels: bug, iam

#2610 docs: add more references in examples
  docs/resources/baremetal_server.md
  docs/resources/block_snapshot.md
  docs/resources/block_volume.md
  docs/resources/documentdb_database.md
  docs/resources/documentdb_private_network_endpoint.md
  docs/resources/documentdb_privilege.md
  docs/resources/documentdb_read_replica.md
  docs/resources/documentdb_user.md
  docs/resources/flexible_ip_mac_address.md
  docs/resources/function.md
  docs/resources/function_trigger.md
  docs/resources/iam_api_key.md
  docs/resources/rdb_acl.md
  docs/resources/rdb_database.md
  docs/resources/rdb_database_backup.md
  docs/resources/rdb_user.md
  docs/resources/tem_domain_validation.md
Labels: documentation

#2612 doc(lb): remove usage example of deprecated static pn attachment
  docs/resources/lb.md
  internal/services/lb/lb.go
Labels: documentation, load-balancer

#2617 fix(docs): fix straggling docs
  docs/data-sources/ipam_ip.md
  docs/data-sources/mnq_sqs.md
  docs/data-sources/vpc_gateway_network.md
  docs/data-sources/vpc_public_gateway_ip.md
Labels: documentation, priority:low

#2615 docs(k8s_cluster): bump k8s version
  docs/guides/multicloud_cluster_with_baremetal_servers.md
  docs/resources/k8s_cluster.md
Labels: documentation, k8s

#2616 docs(lb): review lb doc
  docs/data-sources/lb.md
  docs/data-sources/lb_acls.md
  docs/data-sources/lb_backend.md
  docs/data-sources/lb_backends.md
  docs/data-sources/lb_certificate.md
  docs/data-sources/lb_frontend.md
  docs/data-sources/lb_frontends.md
  docs/data-sources/lb_ip.md
  docs/data-sources/lb_ips.md
  docs/data-sources/lb_route.md
  docs/data-sources/lb_routes.md
  docs/data-sources/lbs.md
  docs/resources/lb.md
  docs/resources/lb_acl.md
  docs/resources/lb_backend.md
  docs/resources/lb_certificate.md
  docs/resources/lb_frontend.md
  docs/resources/lb_ip.md
  docs/resources/lb_route.md
Labels: documentation, load-balancer, priority:low

#2630 fix(instance_server): check empty bootscript
  internal/services/instance/server.go
Labels: bug, instance

#2621 feat(vpc): add routes datasource
  docs/data-sources/marketplace_image.md
  docs/data-sources/vpc_routes.md
  docs/resources/instance_server.md
  internal/provider/provider.go
  internal/services/vpc/helpers.go
  internal/services/vpc/routes_data_source.go
  internal/services/vpc/routes_data_source_test.go
  internal/services/vpc/testdata/data-source-routes-basic.cassette.yaml
Labels: enhancement, vpc

#2636 refactor(instance_server): use instance_block helpers
  internal/services/instance/helpers_instance.go
  internal/services/instance/helpers_instance_block.go
  internal/services/instance/server.go
  internal/types/map.go
Labels: instance

#2640 fix(instance_server): volume template creation
  internal/services/instance/helpers_instance_block.go
  internal/services/instance/helpers_instance_block_test.go
Labels: bug, instance
