Repository scaleway/terraform-provider-scaleway, pull requests merged in 2024-07, with the labels that each got.

#2650 feat(lb): add ipam ids config on private network
  docs/resources/lb.md
  go.mod
  go.sum
  internal/locality/ids.go
  internal/services/flexibleip/data_source_flexible_ips.go
  internal/services/flexibleip/types.go
  internal/services/lb/lb.go
  internal/services/lb/lb_test.go
  internal/services/lb/testdata/lb-with-private-networks-ipam-ids.cassette.yaml
  internal/services/lb/types.go
Labels: enhancement, load-balancer

#2647 feat(iam_api_key): add data source
  docs/data-sources/iam_api_key.md
  internal/provider/provider.go
  internal/services/iam/api_key_data_source.go
  internal/services/iam/api_key_data_source_test.go
  internal/services/iam/testdata/data-source-api-key-basic.cassette.yaml
Labels: enhancement, iam

#2657 feat(serverless): add sandbox field
  docs/data-sources/container.md
  docs/resources/container.md
  docs/resources/function.md
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-sandbox.cassette.yaml
  internal/services/function/function.go
  internal/services/function/function_test.go
  internal/services/function/testdata/function-sandbox.cassette.yaml
Labels: enhancement, container, function

#2658 tests(lb): fix unexpected ip count
  internal/services/lb/ips_data_source_test.go
  internal/services/lb/testdata/data-source-ips-with-type.cassette.yaml
Labels: load-balancer, tests

#2661 fix(vpcgw): set force new to pgw and pn ids
  internal/services/vpcgw/network.go
Labels: bug, vpc

#2662 ci: fix goreleaser action version
  .github/workflows/release.yml
Labels: bug

#2666 feat(vpcgw): add support for type upgrade
  internal/services/vpcgw/public_gateway.go
  internal/services/vpcgw/public_gateway_test.go
  internal/services/vpcgw/testdata/vpc-public-gateway-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-bastion.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-upgrade.cassette.yaml
Labels: enhancement, vpc
