Repository scaleway/terraform-provider-scaleway, pull requests merged in 2024-01, with the labels that each got.

#2354 feat(ipam): add ips datasource
  docs/data-sources/ipam_ips.md
  scaleway/data_source_ipam_ips.go
  scaleway/data_source_ipam_ips_test.go
  scaleway/provider.go
  scaleway/testdata/data-source-ipam-ips-basic.cassette.yaml
  scaleway/testdata/data-source-ipam-ips-redis-cluster.cassette.yaml
Labels: enhancement, vpc

#2356 fix(ipam): support missing 'attached' and 'private_network_id' fields
  scaleway/data_source_ipam_ip.go
Labels: bug, vpc

#2345 fix(k8s): remove step on ClusterTypeChange to avoid out of stock
  scaleway/resource_k8s_cluster_test.go
  scaleway/testdata/k8s-cluster-type-change.cassette.yaml
Labels: bug, k8s, tests

#2355 feat(rdb): read replica: fill empty values in import generation
  go.mod
  go.sum
  scaleway/resource_rdb_read_replica.go
  scaleway/testdata/data-source-lb-ips-basic.cassette.yaml
  scaleway/testdata/data-source-lbip-basic.cassette.yaml
  scaleway/testdata/rdb-read-replica-basic.cassette.yaml
  scaleway/testdata/rdb-read-replica-different-zone.cassette.yaml
  scaleway/testdata/rdb-read-replica-multiple-endpoints.cassette.yaml
  scaleway/testdata/rdb-read-replica-private-network.cassette.yaml
  scaleway/testdata/rdb-read-replica-update.cassette.yaml
Labels: enhancement, rdb, priority:high

#2360 tests(vpc): add test and doc for filtering by vpc_id in datasource
  docs/data-sources/vpc_private_network.md
  scaleway/data_source_vpc_private_network.go
  scaleway/data_source_vpc_private_network_test.go
  scaleway/testdata/data-source-vpc-private-network-vpc-id.cassette.yaml
Labels: documentation, tests, vpc

#2361 tests(vpc): change vpcs & pns names in datasource test
  scaleway/data_source_vpc_private_network_test.go
  scaleway/testdata/data-source-vpc-private-network-vpc-id.cassette.yaml
Labels: tests, vpc

#2272 feat(sdb): add serverless sql database
  .github/workflows/acceptance-tests.yaml
  .github/workflows/nightly.yml
  docs/resources/sdb_sql_database.md
  scaleway/helpers_sdb_sql.go
  scaleway/provider.go
  scaleway/resource_sdb_sql_database.go
  scaleway/resource_sdb_sql_database_test.go
  scaleway/testdata/serverless-sqldb-database-basic.cassette.yaml
Labels: enhancement, priority:high

#2362 feat(ipam): filter by id & add address with cidr
  docs/data-sources/ipam_ip.md
  scaleway/data_source_ipam_ip.go
  scaleway/data_source_ipam_ip_test.go
  scaleway/testdata/data-source-ipamipid.cassette.yaml
Labels: enhancement, vpc

#2370 docs: update packer link
  docs/guides/migration_guide_v2.md
Labels: documentation

#2371 fix(rdb): read replica: endpoints management
  scaleway/helpers_rdb.go
  scaleway/resource_rdb_read_replica.go
  scaleway/resource_rdb_read_replica_test.go
  scaleway/testdata/rdb-read-replica-basic.cassette.yaml
  scaleway/testdata/rdb-read-replica-different-zone.cassette.yaml
  scaleway/testdata/rdb-read-replica-multiple-endpoints.cassette.yaml
  scaleway/testdata/rdb-read-replica-private-network.cassette.yaml
  scaleway/testdata/rdb-read-replica-update.cassette.yaml
Labels: bug, rdb, priority:highest

#2377 feat(ipam): add support for ip reverse dns
  docs/resources/ipam_ip.md
  docs/resources/ipam_ip_reverse_dns.md
  docs/resources/vpc_public_gateway_ip_reverse_dns.md
  go.mod
  go.sum
  scaleway/helpers_ipam.go
  scaleway/helpers_vpcgw.go
  scaleway/provider.go
  scaleway/resource_ipam_ip.go
  scaleway/resource_ipam_ip_reverse_dns.go
  scaleway/resource_ipam_ip_reverse_dns_test.go
  scaleway/testdata/ipamip-reverse-dns-basic.cassette.yaml
Labels: enhancement, vpc

#2375 doc(k8s): kubeconfig: add IAM authentication method
  docs/resources/k8s_cluster.md
Labels: documentation, k8s, priority:highest

#2378 feat(billing): bump to v2beta1 api
  docs/data-sources/billing_consumption.md
  docs/data-sources/billing_invoices.md
  scaleway/data_source_billing_consumption.go
  scaleway/data_source_billing_consumption_test.go
  scaleway/data_source_billing_invoices.go
  scaleway/data_source_billing_invoices_test.go
  scaleway/helpers_billing.go
  scaleway/testdata/data-source-billing-consumption-basic.cassette.yaml
  scaleway/testdata/data-source-billing-invoices-basic.cassette.yaml
Labels: enhancement, billing

#2384 docs(sdb_sql): fix IAM example
  docs/resources/sdb_sql_database.md
Labels: documentation
