Repository scaleway/terraform-provider-scaleway, pull requests merged in 2024-09, with the labels that each got.

#2725 fix(rbd): fix diff case for engine
  internal/services/rdb/instance.go
Labels: rdb

#2728 fix(rdb): migrate endpoint to endpoints
  internal/services/rdb/instance.go
Labels: rdb

#2730 fix(tem): add sub domain in DMARC in test
  internal/services/tem/domain_test.go
  internal/services/tem/testdata/domain-basic.cassette.yaml
Labels: tem

#2732 fix(mnq): add project for handle conflict
  internal/services/mnq/nats_account_test.go
  internal/services/mnq/nats_credentials_test.go
  internal/services/mnq/testdata/nats-account-basic.cassette.yaml
  internal/services/mnq/testdata/nats-credentials-basic.cassette.yaml
  internal/services/mnq/testdata/nats-credentials-update-name.cassette.yaml
Labels: mnq

#2738 fix(secret): set project_id as optional in datasources
  internal/services/secret/helpers.go
  internal/services/secret/secret_data_source.go
  internal/services/secret/testdata/data-source-secret-version-basic.cassette.yaml
  internal/services/secret/version_data_source.go
  internal/services/secret/version_data_source_test.go
Labels: bug, secret

#2634 docs: fix wording
  docs/data-sources/account_project.md
  docs/data-sources/account_ssh_key.md
  docs/data-sources/availability_zones.md
  docs/data-sources/container.md
  docs/data-sources/container_namespace.md
  docs/data-sources/function.md
  docs/data-sources/function_namespace.md
  docs/data-sources/object_bucket.md
  docs/data-sources/object_bucket_policy.md
  docs/guides/backend_guide.md
  docs/resources/account_project.md
  docs/resources/account_ssh_key.md
  docs/resources/container.md
  docs/resources/container_cron.md
  docs/resources/container_domain.md
  docs/resources/container_namespace.md
  docs/resources/container_token.md
  docs/resources/container_trigger.md
  docs/resources/function.md
  docs/resources/function_cron.md
  docs/resources/function_domain.md
  docs/resources/function_namespace.md
  docs/resources/function_token.md
  docs/resources/function_trigger.md
  docs/resources/object.md
  docs/resources/object_bucket.md
  docs/resources/object_bucket_acl.md
  docs/resources/object_bucket_lock_configuration.md
  docs/resources/object_bucket_policy.md
  docs/resources/object_bucket_website_configuration.md
  docs/resources/sdb_sql_database.md
  internal/services/container/container.go
Labels: documentation, account, container, function

#2726 feat(tem): add support for autoconfig
  docs/resources/tem_domain.md
  internal/services/tem/domain.go
  internal/services/tem/domain_test.go
  internal/services/tem/domain_validation_test.go
  internal/services/tem/testdata/domain-autoconfig-update.cassette.yaml
  internal/services/tem/testdata/domain-autoconfig.cassette.yaml
  internal/services/tem/testdata/domain-validation-validation.cassette.yaml
Labels: tem

#2742 fix(account_project): retry delete when project is not usable
  internal/services/account/helpers.go
  internal/services/account/project.go
Labels: bug, account

#2744 fix(object): remove skip tests
  internal/services/object/object_test.go
Labels: object

#2706 tests(redis): remove cluster size changes
  internal/services/redis/cluster_test.go
  internal/services/redis/testdata/cluster-acl.cassette.yaml
  internal/services/redis/testdata/cluster-basic.cassette.yaml
  internal/services/redis/testdata/cluster-certificate.cassette.yaml
  internal/services/redis/testdata/cluster-endpoints-cluster-mode.cassette.yaml
  internal/services/redis/testdata/cluster-migrate-cluster-size-with-ipam-endpoint.cassette.yaml
  internal/services/redis/testdata/cluster-migrate-cluster-size-with-static-endpoint.cassette.yaml
  internal/services/redis/testdata/cluster-migrate.cassette.yaml
  internal/services/redis/testdata/cluster-no-certificate.cassette.yaml
  internal/services/redis/testdata/cluster-settings.cassette.yaml
Labels: tests, redis

#2747 fix(tem) add specific domain for webhook test
  internal/services/tem/domain_test.go
  internal/services/tem/domain_validation_test.go
  internal/services/tem/testdata/data-source-domain-basic.cassette.yaml
  internal/services/tem/testdata/data-source-domain-reputation.cassette.yaml
  internal/services/tem/testdata/domain-autoconfig-update.cassette.yaml
  internal/services/tem/testdata/domain-autoconfig.cassette.yaml
  internal/services/tem/testdata/domain-basic.cassette.yaml
  internal/services/tem/testdata/domain-validation-no-validation.cassette.yaml
  internal/services/tem/testdata/domain-validation-validation.cassette.yaml
  internal/services/tem/testdata/webhook-basic-and-update.cassette.yaml
  internal/services/tem/testdata/webhook-basic.cassette.yaml
  internal/services/tem/testdata/webhook-update.cassette.yaml
  internal/services/tem/webhook_test.go
Labels: tem

#2748 fix(tem): add new status autoconfig
  internal/services/tem/domain_validation.go
  internal/services/tem/testdata/domain-validation-validation.cassette.yaml
Labels: tem

#2660 feat(instance): support ipam ips on pnic creation
  docs/resources/instance_private_nic.md
  internal/services/instance/private_nic.go
  internal/services/instance/private_nic_test.go
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
Labels: enhancement, instance

#2754 fix(instance): update cassette private nic
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
Labels: instance
