Repository scaleway/terraform-provider-scaleway, pull requests merged in 2024-05, with the labels that each got.

#2570 tests(webhosting): replace performance offer with professional
  internal/services/webhosting/offer_data_source_test.go
  internal/services/webhosting/testdata/data-source-offer-basic.cassette.yaml
Labels: tests, webhosting

#2571 fix(webhosting): read empty tags
  internal/services/webhosting/webhosting.go
Labels: bug, webhosting

#2572 fix(rdb): integrate PN provisioning_mode to remove dependency with IPAM
  go.mod
  go.sum
  internal/services/ipam/testdata/data-source-ipamiprdb.cassette.yaml
  internal/services/rdb/helpers.go
  internal/services/rdb/instance.go
  internal/services/rdb/read_replica.go
  internal/services/rdb/testdata/acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-database-backup-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-database-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-instance-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-privilege-basic.cassette.yaml
  internal/services/rdb/testdata/database-backup-basic.cassette.yaml
  internal/services/rdb/testdata/database-basic.cassette.yaml
  internal/services/rdb/testdata/database-manual-delete.cassette.yaml
  internal/services/rdb/testdata/instance-backup-schedule.cassette.yaml
  internal/services/rdb/testdata/instance-basic.cassette.yaml
  internal/services/rdb/testdata/instance-capitalize.cassette.yaml
  internal/services/rdb/testdata/instance-change-node-type.cassette.yaml
  internal/services/rdb/testdata/instance-change-volume-type.cassette.yaml
  internal/services/rdb/testdata/instance-endpoints.cassette.yaml
  internal/services/rdb/testdata/instance-init-settings.cassette.yaml
  internal/services/rdb/testdata/instance-logs-policy.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-dhcp.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/rdb/testdata/instance-sbs-volume.cassette.yaml
  internal/services/rdb/testdata/instance-settings.cassette.yaml
  internal/services/rdb/testdata/instance-volume.cassette.yaml
  internal/services/rdb/testdata/instance-with-cluster.cassette.yaml
  internal/services/rdb/testdata/privilege-basic.cassette.yaml
  internal/services/rdb/testdata/read-replica-basic.cassette.yaml
  internal/services/rdb/testdata/read-replica-different-zone.cassette.yaml
  internal/services/rdb/testdata/read-replica-multiple-endpoints.cassette.yaml
  internal/services/rdb/testdata/read-replica-private-network.cassette.yaml
  internal/services/rdb/testdata/read-replica-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-with-instance-also-in-private-network.cassette.yaml
  internal/services/rdb/testdata/user-basic.cassette.yaml
  internal/services/rdb/types.go
Labels: rdb, priority:highest

#2567 feat(vpcgw): add support for triggering ssh keys refresh
  docs/resources/vpc_public_gateway.md
  internal/services/vpcgw/public_gateway.go
  internal/services/vpcgw/testdata/vpc-public-gateway-attach-to-ip.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-bastion.cassette.yaml
Labels: enhancement, vpc

#2574 fix(instance_server): attach external block volume on update
  internal/services/instance/helpers_instance_block.go
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/testdata/server-additional-volumes.cassette.yaml
  internal/services/instance/testdata/server-block-external.cassette.yaml
Labels: bug, instance, priority:highest

#2575 docs: add instance example
  .gitignore
  examples/instance-servers/README.md
  examples/instance-servers/main.tf
  examples/instance-servers/outputs.tf
  examples/instance-servers/variables.tf
Labels: documentation, instance

#2556 fix(lb): avoid recreation of old lb ips
  internal/services/lb/ip.go
  internal/services/lb/ip_test.go
  internal/services/lb/testdata/ip-basic.cassette.yaml
  internal/services/lb/testdata/ip-ipv6.cassette.yaml
  internal/services/lb/testdata/lb-with-ipv6.cassette.yaml
Labels: bug, load-balancer

#2562 feat(cockpit): add support for alert manager
  docs/resources/cockpit_alert_manager.md
  internal/provider/provider.go
  internal/services/cockpit/alert_manager.go
  internal/services/cockpit/alert_manager_test.go
  internal/services/cockpit/testdata/cockpit-alert-manager-basic.cassette.yaml
  internal/services/cockpit/testdata/cockpit-alert-manager-create-with-multiple-contacts.cassette.yaml
  internal/services/cockpit/testdata/cockpit-alert-manager-create-with-single-contact.cassette.yaml
  internal/services/cockpit/testdata/cockpit-alert-manager-enable-disable.cassette.yaml
  internal/services/cockpit/testdata/cockpit-alert-manager-update-single-contact.cassette.yaml
  internal/services/cockpit/testdata/cockpit-contact-point-basic.cassette.yaml
  internal/verify/email.go
  internal/verify/email_test.go
Labels: enhancement, observability, priority:high

#2580 tests(lb): decouple lb ips
  internal/services/lb/lb_test.go
  internal/services/lb/testdata/lb-with-ipv6.cassette.yaml
Labels: load-balancer, tests

#2576 chore(all): fixed boken links
  docs/resources/apple_silicon.md
  docs/resources/baremetal_server.md
  docs/resources/instance_image.md
  docs/resources/instance_ip.md
  docs/resources/instance_ip_reverse_dns.md
  docs/resources/instance_placement_group.md
  docs/resources/instance_private_nic.md
  docs/resources/instance_security_group.md
  docs/resources/instance_security_group_rules.md
  docs/resources/instance_server.md
  docs/resources/instance_snapshot.md
  docs/resources/instance_user_data.md
  docs/resources/instance_volume.md
  docs/resources/k8s_cluster.md
  docs/resources/k8s_pool.md
Labels: documentation

#2578 chore(k8s_pool): increase timeout to 30 minutes
  internal/services/k8s/helpers_k8s.go
Labels: k8s

#2579 chore(rdb_instance): increase timeout to 30 minutes
  internal/services/rdb/helpers.go
Labels: rdb

#2589 tests(baremetal): update server offer
  internal/services/baremetal/offer_data_source_test.go
  internal/services/baremetal/server_data_source_test.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/data-source-offer-basic.cassette.yaml
  internal/services/baremetal/testdata/data-source-offer-subscription-period-hourly.cassette.yaml
  internal/services/baremetal/testdata/data-source-offer-subscription-period-monthly.cassette.yaml
  internal/services/baremetal/testdata/data-source-option-basic.cassette.yaml
  internal/services/baremetal/testdata/data-source-os-basic.cassette.yaml
  internal/services/baremetal/testdata/data-source-server-basic.cassette.yaml
  internal/services/baremetal/testdata/server-add-another-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-add-option.cassette.yaml
  internal/services/baremetal/testdata/server-add-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-add-two-options-then-delete-one.cassette.yaml
  internal/services/baremetal/testdata/server-basic.cassette.yaml
  internal/services/baremetal/testdata/server-create-server-with-option.cassette.yaml
  internal/services/baremetal/testdata/server-create-server-with-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-required-install-config.cassette.yaml
  internal/services/baremetal/testdata/server-without-install-config.cassette.yaml
  internal/services/flexibleip/data_source_flexible_ips_test.go
  internal/services/flexibleip/ip_test.go
  internal/services/flexibleip/mac_address_test.go
  internal/services/flexibleip/testdata/data-source-flexible-ips-with-baremetal-ids.cassette.yaml
  internal/services/flexibleip/testdata/flexible-ip-attach-and-detach-from-baremetal-server.cassette.yaml
  internal/services/flexibleip/testdata/flexible-ip-create-and-attach-to-baremetal-server.cassette.yaml
  internal/services/flexibleip/testdata/flexible-ipmac-address-duplicate-on-other-flexible-ips.cassette.yaml
  internal/services/flexibleip/testdata/flexible-ipmac-address-move-to-another-flexible-ip.cassette.yaml
Labels: elastic-metal, tests, flexible-ip
