Repository scaleway/terraform-provider-scaleway, pull requests merged in 2024-08, with the labels that each got.

#2689 fix(secret_version): return error when secret name is invalid
  internal/services/secret/version_data_source.go
Labels: bug, secret

#2692 tests(vpc): remove two ipv6 subnets case
  internal/services/vpc/private_network_test.go
  internal/services/vpc/testdata/vpc-private-network-with-two-ipv6-subnets.cassette.yaml
Labels: tests, vpc

#2694 tests(secret_version): datasource using latest revision
  docs/data-sources/secret_version.md
  internal/services/secret/testdata/data-source-secret-version-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
  internal/services/secret/version_data_source_test.go
Labels: documentation, tests, secret

#2693 feat(secret): add protected field
  docs/resources/secret.md
  internal/acctest/validate_cassettes_test.go
  internal/services/secret/helpers.go
  internal/services/secret/secret.go
  internal/services/secret/secret_test.go
  internal/services/secret/testdata/secret-protected.cassette.yaml
Labels: enhancement, priority:high, secret

#2691 feat(secret): add ephemeral policy configuration
  docs/resources/secret.md
  internal/services/secret/helpers.go
  internal/services/secret/secret.go
  internal/services/secret/secret_test.go
  internal/services/secret/testdata/secret-ephemeral-policy.cassette.yaml
Labels: enhancement, priority:high, secret

#2703 fix(all): linter error
  internal/services/domain/types.go
  internal/services/instance/helpers_instance.go
  internal/services/k8s/pool_test.go
Labels: k8s, instance, domain

#2673 feat(tem): add support for webhook
  docs/resources/tem_webhook.md
  internal/provider/provider.go
  internal/services/tem/testdata/webhook-basic.cassette.yaml
  internal/services/tem/testdata/webhook-update.cassette.yaml
  internal/services/tem/types.go
  internal/services/tem/webhook.go
  internal/services/tem/webhook_test.go
Labels: tem

#2704 fix(apple-silicon): increase timeout for server creation
  internal/services/applesilicon/waiters.go
Labels: apple-silicon

#2705 tests(secret): fix datasource test config
  internal/services/secret/testdata/data-source-secret-version-basic.cassette.yaml
  internal/services/secret/version_data_source_test.go
Labels: tests, secret

#2708 chore: add support for usestdlibvars
  .golangci.yml
  internal/services/iot/helpers_iot.go
Labels: iot

#2709 chore: add support for copyloopvar linter
  .golangci.yml
  internal/services/object/helpers_object.go
Labels: object

#2716 chore: add support for unused
  .golangci.yml
  internal/services/iam/ssh_key.go
  internal/services/instance/helpers_instance_block_test.go
  internal/services/tem/helpers.go
Labels: instance, iam, tem

#2718 feat(mnq): add datasource for sns
  docs/data-sources/mnq_sns.md
  internal/provider/provider.go
  internal/services/mnq/sns_data_source.go
  internal/services/mnq/sns_data_source_test.go
  internal/services/mnq/testdata/data-source-sns-basic.cassette.yaml
Labels: mnq

#2620 docs(review): review of documentation pages
  docs/data-sources/bloc_snapshot.md
  docs/data-sources/block_volume.md
  docs/data-sources/cockpit.md
  docs/data-sources/cockpit_plan.md
  docs/data-sources/domain_record.md
  docs/data-sources/domain_zone.md
  docs/data-sources/secret.md
  docs/data-sources/secret_version.md
  docs/resources/block_snapshot.md
  docs/resources/block_volume.md
  docs/resources/cockpit.md
  docs/resources/cockpit_alert_manager.md
  docs/resources/cockpit_grafana_user.md
  docs/resources/cockpit_source.md
  docs/resources/cockpit_token.md
  docs/resources/domain_record.md
  docs/resources/domain_zone.md
  docs/resources/secret.md
  docs/resources/secret_version.md
Labels: documentation, sbs, secret

#2719 fix(tem): replace resource by datasource for sns
  internal/services/tem/testdata/webhook-basic.cassette.yaml
  internal/services/tem/testdata/webhook-update.cassette.yaml
  internal/services/tem/webhook_test.go
Labels: tem
