Repository scaleway/terraform-provider-scaleway, pull requests merged in 2025-04, with the labels that each got.

#3011 fix(functions): update function when runtime has changed and redeploy
  internal/services/function/function.go
Labels: function

#3025 fix(announce): update output syntax in slack announcement workflow
  .github/workflows/announce.yaml
Labels: bug

#3024 chore(instance): remove routed_ip_enabled references
  docs/data-sources/instance_server.md
  docs/data-sources/instance_servers.md
  docs/resources/instance_server.md
  internal/services/instance/server.go
  internal/services/instance/servers_data_source.go
Labels: instance

#3027 chore: enable govet fieldalignment
  .golangci.yml
  internal/datasource/search.go
  internal/meta/meta.go
  internal/services/baremetal/server.go
  internal/services/domain/helpers_test.go
  internal/services/instance/instancehelpers/block.go
  internal/services/instance/instancehelpers/waiters_test.go
  internal/services/lb/helpers_lb_test.go
  internal/transport/retry_aws.go
Labels: load-balancer, instance, domain, baremetal

#3035 feat(edge-services): support route and waf references on cache & tls stages
  docs/resources/edge_services_cache_stage.md
  docs/resources/edge_services_dns_stage.md
  docs/resources/edge_services_pipeline.md
  docs/resources/edge_services_tls_stage.md
  internal/services/container/container_test.go
  internal/services/container/namespace_test.go
  internal/services/edgeservices/cache_stage.go
  internal/services/edgeservices/dns_stage.go
  internal/services/edgeservices/tls_stage.go
Labels: enhancement, container, edge-services

#3010 feat(baremetal): support easy partitioning
  docs/data-sources/baremetal_easy_partitioning.md
  internal/provider/provider.go
  internal/services/baremetal/easy_partitioning_data_source.go
  internal/services/baremetal/easy_partitioning_source_test.go
  internal/services/baremetal/helpers.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/data-source-easy-paritioning-basic.cassette.yaml
  internal/services/baremetal/testdata/data-source-easy-paritioning-not-compatible-os.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-basic.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-incompatible-offer.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-incompatible-os.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-with-alternate-offer.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-extra-part.cassette.yaml
  internal/services/baremetal/testdata/easy-partitioning-data-source-without-swap-and-extra-part.cassette.yaml
  internal/services/baremetal/testdata/server-basic-simple.cassette.yaml
Labels: baremetal

#3043 fix(baremetal): add function tests IPAM
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/server-with-ipam-private-network.cassette.yaml
Labels: baremetal

#3033 feat(k8s): add cluster ACLs
  docs/resources/k8s_acl.md
  internal/provider/provider.go
  internal/services/k8s/acl.go
  internal/services/k8s/acl_test.go
  internal/services/k8s/testdata/acl-basic.cassette.yaml
Labels: k8s

#3050 fix(container/function): improve `secret_environment_variables` states management
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/helpers_container_internal_test.go
  internal/services/container/namespace.go
  internal/services/container/namespace_test.go
  internal/services/container/testdata/data-source-namespace-basic.cassette.yaml
  internal/services/container/testdata/namespace-basic.cassette.yaml
  internal/services/container/testdata/namespace-destroy-registry.cassette.yaml
  internal/services/container/testdata/namespace-secret-management.cassette.yaml
  internal/services/function/function.go
  internal/services/function/function_test.go
  internal/services/function/helpers_function.go
  internal/services/function/helpers_function_internal_test.go
  internal/services/function/namespace.go
  internal/services/function/namespace_test.go
  internal/services/function/testdata/data-source-function-namespace-basic.cassette.yaml
  internal/services/function/testdata/function-environment-variables.cassette.yaml
  internal/services/function/testdata/function-namespace-basic.cassette.yaml
  internal/services/function/testdata/function-namespace-environment-variables.cassette.yaml
  internal/services/function/testdata/function-namespace-no-name.cassette.yaml
Labels: container, function

#3051 chore(instance): remove redundant error check
  internal/services/instance/server.go
Labels: instance

#3049 feat(instance): add warning for deprecated instance types
  .golangci.yml
  go.mod
  go.sum
  internal/services/instance/server.go
  internal/services/mnq/helpers_mnq_queue.go
Labels: instance, mnq
