Repository scaleway/terraform-provider-scaleway, pull requests merged in 2025-06, with the labels that each got.

#3117 feat(serverless): add tags to container and function resources
  docs/resources/container.md
  docs/resources/container_namespace.md
  docs/resources/function.md
  docs/resources/function_namespace.md
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-basic.cassette.yaml
  internal/services/function/function.go
  internal/services/function/function_test.go
  internal/services/function/testdata/function-basic.cassette.yaml
Labels: enhancement, container, function, priority:high

#3136 chore: add support for vcr compression and trim k8s cassettes
  TESTING.md
  cmd/vcr-compressor/main.go
  cmd/vcr-viewer/main.go
  internal/services/k8s/testdata/cluster-multicloud.cassette.yaml
  internal/services/k8s/testdata/cluster-pool-private-network.cassette.yaml
  internal/services/k8s/testdata/cluster-type-change.cassette.yaml
  internal/services/k8s/testdata/data-source-cluster-basic.cassette.yaml
  internal/services/k8s/testdata/data-source-pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-kubelet-args.cassette.yaml
  internal/services/k8s/testdata/pool-placement-group.cassette.yaml
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/k8s/testdata/pool-size.cassette.yaml
  internal/services/k8s/testdata/pool-upgrade-policy.cassette.yaml
  internal/services/k8s/testdata/pool-wait.cassette.yaml
  internal/services/k8s/testdata/pool-zone.cassette.yaml
Labels: k8s

#3140 fix(baremetal): remove non-idempotent condition
  internal/services/baremetal/offer_data_source_test.go
  internal/services/baremetal/testdata/data-source-offer-basic.cassette.yaml
  internal/services/baremetal/testdata/data-source-offer-subscription-period-hourly.cassette.yaml
Labels: baremetal

#3137 chore: compress rdb cassettes
  cmd/vcr-compressor/main.go
  internal/services/rdb/testdata/acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-database-backup-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-database-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-instance-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-privilege-basic.cassette.yaml
  internal/services/rdb/testdata/database-backup-basic.cassette.yaml
  internal/services/rdb/testdata/database-basic.cassette.yaml
  internal/services/rdb/testdata/database-manual-delete.cassette.yaml
  internal/services/rdb/testdata/instance-backup-schedule.cassette.yaml
  internal/services/rdb/testdata/instance-basic.cassette.yaml
  internal/services/rdb/testdata/instance-capitalize.cassette.yaml
  internal/services/rdb/testdata/instance-change-node-type.cassette.yaml
  internal/services/rdb/testdata/instance-change-volume-type.cassette.yaml
  internal/services/rdb/testdata/instance-complete-workflow.cassette.yaml
  internal/services/rdb/testdata/instance-encryption-at-rest-false.cassette.yaml
  internal/services/rdb/testdata/instance-encryption-at-rest.cassette.yaml
  internal/services/rdb/testdata/instance-endpoints.cassette.yaml
  internal/services/rdb/testdata/instance-init-settings.cassette.yaml
  internal/services/rdb/testdata/instance-logs-policy.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/rdb/testdata/instance-sbs-volume.cassette.yaml
  internal/services/rdb/testdata/instance-settings.cassette.yaml
  internal/services/rdb/testdata/instance-update-encryption-at-rest.cassette.yaml
  internal/services/rdb/testdata/instance-volume.cassette.yaml
  internal/services/rdb/testdata/instance-with-cluster.cassette.yaml
  internal/services/rdb/testdata/privilege-basic.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-basic.cassette.yaml
  internal/services/rdb/testdata/rdb-snapshot-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-basic.cassette.yaml
  internal/services/rdb/testdata/read-replica-different-zone.cassette.yaml
  internal/services/rdb/testdata/read-replica-multiple-endpoints.cassette.yaml
  internal/services/rdb/testdata/read-replica-private-network.cassette.yaml
  internal/services/rdb/testdata/read-replica-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-with-instance-also-in-private-network.cassette.yaml
  internal/services/rdb/testdata/user-basic.cassette.yaml
Labels: rdb, k8s

#3147 fix(instance): warn on deprecated volume_types values
  internal/services/instance/snapshot.go
  internal/services/instance/snapshot_test.go
  internal/services/instance/testdata/snapshot-server.cassette.yaml
Labels: instance

#3154 chore(iam): remove guest user support
  docs/resources/iam_user.md
  internal/services/iam/testdata/data-source-user-basic.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user.go
  internal/services/iam/user_data_source_test.go
  internal/services/iam/user_test.go
Labels: iam

#3138 feat(object): add content_type attribute
  docs/resources/object.md
  docs/resources/object_bucket_website_configuration.md
  internal/services/block/testdata/snapshot-from-s3.cassette.yaml
  internal/services/object/object.go
  internal/services/object/object_test.go
  internal/services/object/testdata/object-content-type.cassette.yaml
  internal/services/object/testfixture/index.html
Labels: enhancement, object

#3156 chore: add support for funcorder
  .golangci.yml
  internal/locality/regional/ids.go
  internal/locality/zonal/ids.go
  internal/meta/meta.go
  internal/services/instance/instancehelpers/block.go
  internal/workerpool/workerpool.go
Labels: instance

#3161 fix(edge-services): fetch zone from provider config when field is missing
  internal/services/edgeservices/backend_stage.go
  internal/services/edgeservices/backend_stage_test.go
  internal/services/edgeservices/helpers.go
  internal/services/edgeservices/testdata/edge-services-backend-lb.cassette.yaml
  internal/services/edgeservices/types.go
Labels: bug, edge-services

#3166 feat(instance): fetch date from PCU in EoS warning
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/testdata/test-get-end-of-service-date.cassette.yaml
Labels: enhancement, instance

#3135 fix(acctest): compare in depth request body with cassette body
  internal/acctest/acctest.go
  internal/acctest/acctest_test.go
  internal/acctest/compare.go
  internal/acctest/vcr.go
Labels: instance, tests

#3170 feat(block): support iops update
  internal/services/block/testdata/volume-update-iops.cassette.yaml
  internal/services/block/volume.go
  internal/services/block/volume_test.go
Labels: sbs

#3158 feat(container): vpc integration
  docs/resources/container.md
  docs/resources/container_namespace.md
  internal/acctest/validate_cassettes_test.go
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/namespace.go
  internal/services/container/namespace_test.go
  internal/services/container/testdata/container-private-network.cassette.yaml
  internal/services/container/testdata/namespace-vpc-integration.cassette.yaml
Labels: enhancement, container, priority:high

#3177 fix(baremetal): support install service_password and service_user
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/server-create-server-with-service-password.cassette.yaml
Labels: baremetal

#3184 feat(edge-services): add support for include_cookies on cache stage
  docs/resources/edge_services_cache_stage.md
  go.mod
  go.sum
  internal/services/edgeservices/cache_stage.go
  internal/services/edgeservices/cache_stage_test.go
  internal/services/edgeservices/testdata/edge-services-cache-basic.cassette.yaml
  internal/services/instance/server.go
  internal/services/instance/testdata/test-get-end-of-service-date.cassette.yaml
Labels: enhancement, instance, edge-services

#3185 feat(object): support the group bucket ACL
  docs/resources/object_bucket_acl.md
  internal/services/object/bucket_acl.go
  internal/services/object/bucket_acl_test.go
  internal/services/object/object.go
  internal/services/object/testdata/object-bucket-acl-grantee-with-owner.cassette.yaml
  internal/services/object/testdata/object-bucket-acl-grantee.cassette.yaml
Labels: object
