Repository scaleway/terraform-provider-scaleway, pull requests merged in 2025-03, with the labels that each got.

#2952 fix(k8s): remove warnings for missing pn
  internal/services/k8s/cluster.go
Labels: enhancement, k8s

#2960 fix(tem): protect read dmarc
  internal/services/tem/domain.go
Labels: tem

#2962 feat(webhosting): add dns records and name servers
  internal/services/webhosting/helpers.go
  internal/services/webhosting/testdata/data-source-offer-basic.cassette.yaml
  internal/services/webhosting/testdata/data-source-webhosting-basic.cassette.yaml
  internal/services/webhosting/testdata/webhosting-basic.cassette.yaml
  internal/services/webhosting/webhosting.go
  internal/services/webhosting/webhosting_test.go
Labels: webhosting

#2964 chore: bump sdk go
  go.mod
  go.sum
  internal/services/secret/testdata/data-source-secret-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
Labels: secret

#2969 feat(container): add support for local_storage_limit
  docs/resources/container.md
  internal/services/container/container.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-basic.cassette.yaml
Labels: container

#2970 fix(container): add support for putting region in the state after import
  internal/services/container/cron.go
  internal/services/container/cron_test.go
Labels: container

#2971 fix(apple-silicon): add username and password
  internal/services/applesilicon/server.go
Labels: apple-silicon

#2637 feat(edge_services): add resources
  .github/workflows/nightly.yml
  docs/resources/edge_services_backend_stage.md
  docs/resources/edge_services_cache_stage.md
  docs/resources/edge_services_dns_stage.md
  docs/resources/edge_services_head_stage.md
  docs/resources/edge_services_pipeline.md
  docs/resources/edge_services_plan.md
  docs/resources/edge_services_tls_stage.md
  internal/provider/provider.go
  internal/services/edgeservices/backend_stage.go
  internal/services/edgeservices/backend_stage_test.go
  internal/services/edgeservices/cache_stage.go
  internal/services/edgeservices/cache_stage_test.go
  internal/services/edgeservices/dns_stage.go
  internal/services/edgeservices/dns_stage_test.go
  internal/services/edgeservices/head_stage.go
  internal/services/edgeservices/helpers.go
  internal/services/edgeservices/pipeline.go
  internal/services/edgeservices/pipeline_test.go
  internal/services/edgeservices/plan.go
  internal/services/edgeservices/plan_test.go
  internal/services/edgeservices/sweep_test.go
  internal/services/edgeservices/testdata/edge-services-backend-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-cache-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-dns-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-pipeline-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-plan-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-tls-basic.cassette.yaml
  internal/services/edgeservices/testfuncs/checks.go
  internal/services/edgeservices/testfuncs/sweep.go
  internal/services/edgeservices/tls_stage.go
  internal/services/edgeservices/tls_stage_test.go
  internal/services/edgeservices/types.go
  internal/services/edgeservices/waiters.go
Labels: enhancement, priority:high, edge-services

#2972 fix(domain): ensure scaleway_domain_record updates on apply
  internal/services/domain/record.go
  internal/services/domain/record_test.go
  internal/services/domain/testdata/data-source-domain-record-basic.cassette.yaml
  internal/services/domain/testdata/data-source-domain-zone-basic.cassette.yaml
  internal/services/domain/testdata/domain-record-arobase.cassette.yaml
  internal/services/domain/testdata/domain-record-basic.cassette.yaml
  internal/services/domain/testdata/domain-record-basic2.cassette.yaml
  internal/services/domain/testdata/domain-record-cname.cassette.yaml
  internal/services/domain/testdata/domain-record-geo-ip.cassette.yaml
  internal/services/domain/testdata/domain-record-http-service.cassette.yaml
  internal/services/domain/testdata/domain-record-srv-zone.cassette.yaml
  internal/services/domain/testdata/domain-record-view.cassette.yaml
  internal/services/domain/testdata/domain-record-weighted.cassette.yaml
  internal/services/domain/testdata/domain-zone-basic.cassette.yaml
Labels: domain

#2981 docs: set TF_LOG=DEBUG in deployment debugging
  docs/index.md
Labels: documentation

#2977 feat(apple-silicon): support monthly commitment
  docs/resources/apple_silicon_server.md
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
Labels: apple-silicon

#2979 feat(secret_manager): add list of secret versions in secret datasource
  internal/services/secret/secret.go
  internal/services/secret/testdata/data-source-secret-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-path.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-basic.cassette.yaml
  internal/services/secret/testdata/data-source-secret-version-by-name-secret.cassette.yaml
  internal/services/secret/testdata/secret-basic.cassette.yaml
  internal/services/secret/testdata/secret-ephemeral-policy.cassette.yaml
  internal/services/secret/testdata/secret-path.cassette.yaml
  internal/services/secret/testdata/secret-protected.cassette.yaml
  internal/services/secret/testdata/secret-version-basic.cassette.yaml
  internal/services/secret/testdata/secret-version-type.cassette.yaml
Labels: secret

#2986 feat(lb): add match_subdomains & connection_rate_limit
  docs/data-sources/lb_routes.md
  docs/resources/lb_frontend.md
  docs/resources/lb_route.md
  internal/services/lb/frontend.go
  internal/services/lb/frontend_test.go
  internal/services/lb/route.go
  internal/services/lb/route_test.go
  internal/services/lb/routes_data_source.go
  internal/services/lb/testdata/frontend-basic.cassette.yaml
  internal/services/lb/testdata/route-with-sni.cassette.yaml
Labels: load-balancer

#2992 fix(container): fix secret management container
  internal/services/container/helpers_container.go
  internal/services/container/namespace.go
  internal/services/container/namespace_test.go
  internal/services/container/testdata/namespace-basic.cassette.yaml
  internal/services/container/testdata/namespace-secret-management.cassette.yaml
Labels: container

#2996 chore: bump sdk go
  go.mod
  go.sum
  internal/services/iam/testdata/data-source-user-basic.cassette.yaml
  internal/services/iam/user_data_source_test.go
  internal/services/tem/domain.go
Labels: iam, tem

#2991 docs(vpcgw): add v2 migration guide
  docs/guides/migration_guide_vpcgw_v2.md
Labels: documentation, vpcgw

#2990 feat(vpcgw): migrate to v2
  docs/data-sources/vpc_gateway_network.md
  docs/data-sources/vpc_public_gateway_dhcp.md
  docs/data-sources/vpc_public_gateway_dhcp_reservation.md
  docs/resources/vpc_gateway_network.md
  docs/resources/vpc_public_gateway.md
  docs/resources/vpc_public_gateway_dhcp.md
  docs/resources/vpc_public_gateway_dhcp_reservation.md
  internal/services/k8s/pool_test.go
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/lb/lb_test.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/vpc/testdata/data-source-routes-basic.cassette.yaml
  internal/services/vpcgw/dhcp.go
  internal/services/vpcgw/dhcp_data_source_test.go
  internal/services/vpcgw/dhcp_reservation.go
  internal/services/vpcgw/dhcp_reservation_data_source_test.go
  internal/services/vpcgw/dhcp_reservation_test.go
  internal/services/vpcgw/dhcp_test.go
  internal/services/vpcgw/helpers.go
  internal/services/vpcgw/ip.go
  internal/services/vpcgw/ip_reverse.go
  internal/services/vpcgw/ip_reverse_test.go
  internal/services/vpcgw/ip_test.go
  internal/services/vpcgw/network.go
  internal/services/vpcgw/network_data_source.go
  internal/services/vpcgw/network_data_source_test.go
  internal/services/vpcgw/network_test.go
  internal/services/vpcgw/pat_rule.go
  internal/services/vpcgw/pat_rule_data_source.go
  internal/services/vpcgw/pat_rule_data_source_test.go
  internal/services/vpcgw/pat_rule_test.go
  internal/services/vpcgw/public_gateway.go
  internal/services/vpcgw/public_gateway_data_source.go
  internal/services/vpcgw/public_gateway_test.go
  internal/services/vpcgw/testdata/data-source-vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-ip-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-attach-to-ip.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-bastion.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-ip-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-ip-reverse-dns-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-ip-with-tags.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-ip-with-zone.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-with-instance.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-upgrade.cassette.yaml
  internal/services/vpcgw/testfuncs/checks.go
  internal/services/vpcgw/testfuncs/sweep.go
  internal/services/vpcgw/waiters.go
Labels: enhancement, rdb, load-balancer, k8s, vpc, tem, vpcgw

#2995 feat(vpc): add ACLs
  docs/resources/vpc_acl.md
  internal/provider/provider.go
  internal/services/vpc/acl.go
  internal/services/vpc/acl_test.go
  internal/services/vpc/testdata/acl-basic.cassette.yaml
  internal/services/vpc/types.go
Labels: enhancement, vpc, tem

#2998 fix(tem): properly fail scaleway_tem_domain_validation on timeout
  internal/services/tem/domain_validation.go
  internal/services/tem/domain_validation_test.go
  internal/services/tem/testdata/domain-validation-timeout-error.cassette.yaml
  internal/services/tem/testdata/domain-validation-validation.cassette.yaml
  internal/services/tem/testdata/webhook-basic-and-update.cassette.yaml
Labels: tem

#2984 feat(tem): add data_source for offer subscription
  docs/data-sources/tem_offer_subscription.md
  internal/provider/provider.go
  internal/services/tem/helpers.go
  internal/services/tem/offer_subscription_data_source.go
  internal/services/tem/offer_subscription_data_source_test.go
  internal/services/tem/testdata/data-source-domain-basic.cassette.yaml
  internal/services/tem/testdata/data-source-offer-subscription-basic.cassette.yaml
Labels: tem

#2999 feat(edge_services): add waf and route stages
  docs/resources/edge_services_route_stage.md
  docs/resources/edge_services_waf_stage.md
  internal/provider/provider.go
  internal/services/edgeservices/route_stage.go
  internal/services/edgeservices/route_stage_test.go
  internal/services/edgeservices/testdata/edge-services-route-basic.cassette.yaml
  internal/services/edgeservices/testdata/edge-services-waf-basic.cassette.yaml
  internal/services/edgeservices/testfuncs/checks.go
  internal/services/edgeservices/testfuncs/sweep.go
  internal/services/edgeservices/types.go
  internal/services/edgeservices/waf_stage.go
  internal/services/edgeservices/waf_stage_test.go
  internal/types/number.go
Labels: enhancement, edge-services

#3001 chore: migrate to golangci-lint v2
  .github/workflows/golangci-lint.yml
  .golangci.yml
  internal/datasource/search.go
  internal/services/container/testfuncs/checks.go
  internal/services/domain/registration.go
  internal/services/function/helpers.go
  internal/services/instance/instancehelpers/block.go
  internal/services/instance/testfuncs/sweep.go
  internal/services/iot/helpers_iot.go
  internal/services/k8s/cluster.go
  internal/services/registry/testfuncs/checks.go
  internal/services/vpc/types.go
  internal/transport/retry.go
Labels: k8s, instance, domain, registry, container, vpc, iot, function

#3002 fix(baremetal): add warning offer
  internal/services/baremetal/server.go
  internal/verify/uuid.go
Labels: k8s, instance, domain, registry, container, vpc, iot, function, baremetal

#3005 fix(tem): test offer essential
  internal/services/tem/offer_subscription_data_source_test.go
  internal/services/tem/testdata/data-source-offer-subscription-basic.cassette.yaml
Labels: tem

#3009 fix(baremetal): clean tests
  internal/services/baremetal/offer_data_source_test.go
  internal/services/baremetal/server_data_source_test.go
  internal/services/baremetal/server_test.go
Labels: baremetal
