Repository scaleway/terraform-provider-scaleway, pull requests merged in 2025-02, with the labels that each got.

#2910 feat(instance_server): deprecated placement_group_policy_respected
  docs/resources/instance_server.md
  internal/services/instance/server_test.go
  internal/services/instance/testdata/server-with-placement-group.cassette.yaml
Labels: instance

#2913 chore(flexibleip): use wait in ip destroy check
  internal/services/flexibleip/ip_test.go
Labels: flexible-ip

#2915 ci(k8s): change name to ensure unique name for each test
  internal/services/k8s/cluster_data_source_test.go
  internal/services/k8s/cluster_test.go
  internal/services/k8s/pool_test.go
  internal/services/k8s/testdata/data-source-cluster-basic.cassette.yaml
Labels: k8s

#2875 feat(apple-silicon): add support vpc
  docs/resources/apple_silicon.md
  go.mod
  go.sum
  internal/services/applesilicon/clients.go
  internal/services/applesilicon/helpers.go
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-basic.cassette.yaml
  internal/services/applesilicon/testdata/server-enable-disabled-vpc.cassette.yaml
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
  internal/services/applesilicon/types.go
  internal/services/applesilicon/waiters.go
Labels: apple-silicon, mnq

#2878 feat(container): add health_check block
  docs/data-sources/container.md
  docs/resources/container.md
  internal/services/container/container.go
  internal/services/container/container_data_source_test.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-health-check.cassette.yaml
  internal/services/container/testdata/data-source-container-health-check.cassette.yaml
Labels: container

#2876 feat(containers): add scaling_option block
  docs/data-sources/container.md
  docs/resources/container.md
  internal/services/container/container.go
  internal/services/container/container_data_source_test.go
  internal/services/container/container_test.go
  internal/services/container/helpers_container.go
  internal/services/container/testdata/container-scaling-option.cassette.yaml
  internal/services/container/testdata/data-source-container-scaling-option.cassette.yaml
Labels: container

#2918 lint: add support for errcheck
  .golangci.yml
  internal/acctest/checks.go
  internal/datasource/search.go
  internal/meta/meta.go
  internal/services/applesilicon/testfuncs/sweep.go
  internal/services/baremetal/testfuncs/sweep.go
  internal/services/block/testfuncs/sweep.go
  internal/services/container/testfuncs/checks.go
  internal/services/container/testfuncs/sweep.go
  internal/services/flexibleip/testfuncs/sweep.go
  internal/services/function/testfuncs/sweep.go
  internal/services/iam/testfuncs/sweep.go
  internal/services/inference/testfuncs/sweep.go
  internal/services/instance/image.go
  internal/services/instance/server.go
  internal/services/instance/snapshot.go
  internal/services/instance/testfuncs/sweep.go
  internal/services/instance/volume.go
  internal/services/iot/testfuncs/sweep.go
  internal/services/ipam/ip.go
  internal/services/ipam/testfuncs/sweep.go
  internal/services/jobs/testfuncs/sweep.go
  internal/services/k8s/testfuncs/sweep.go
  internal/services/lb/frontend_test.go
  internal/services/lb/testfuncs/sweep.go
  internal/services/mnq/sqs_queue_test.go
  internal/services/mnq/testfuncs/sweep.go
  internal/services/object/bucket.go
  internal/services/object/bucket_acl.go
  internal/services/object/bucket_acl_test.go
  internal/services/object/bucket_lock_configuration.go
  internal/services/object/bucket_policy.go
  internal/services/object/bucket_policy_test.go
  internal/services/object/bucket_test.go
  internal/services/object/bucket_website_configuration.go
  internal/services/object/data_source_object_bucket.go
  internal/services/object/data_source_object_bucket_policy.go
  internal/services/object/data_source_object_bucket_policy_test.go
  internal/services/object/helpers_object.go
  internal/services/object/testfuncs/checks.go
  internal/services/object/testfuncs/sweep.go
  internal/services/rdb/database_backup_test.go
  internal/services/rdb/testfuncs/sweep.go
  internal/services/rdb/types.go
  internal/services/registry/testfuncs/checks.go
  internal/services/registry/testfuncs/sweep.go
  internal/services/sdb/testfuncs/sweep.go
  internal/services/secret/helpers.go
  internal/services/secret/testfuncs/sweep.go
  internal/services/tem/testfuncs/sweep.go
  internal/services/vpc/testfuncs/sweep.go
  internal/services/vpcgw/testfuncs/sweep.go
  internal/services/webhosting/testfuncs/sweep.go
  internal/types/ip.go
Labels: rdb, load-balancer, k8s, instance, object, registry, container, vpc, apple-silicon, flexible-ip, iot, function, iam, tem, mnq, webhosting, secret, baremetal, vpcgw, sdb

#2933 fix(apple-silicon): fix return code delete
  internal/services/applesilicon/server.go
Labels: apple-silicon

#2941 chore: migrate to go1.24
  .github/workflows/acceptance-tests.yaml
  .github/workflows/documentation.yml
  .github/workflows/nightly.yml
  .github/workflows/purge.yml
  .github/workflows/release.yml
  .github/workflows/tfproviderlint.yml
  .github/workflows/unit-tests.yaml
  GNUmakefile
  go.mod
  go.sum
  internal/acctest/acctest.go
  internal/provider/provider_test.go
  internal/services/iam/policy_test.go
  internal/services/lb/lb_test.go
  internal/services/mnq/sns_topic_subscription_test.go
  internal/services/mnq/sns_topic_test.go
  internal/services/mnq/sqs_queue_test.go
  internal/services/object/bucket_test.go
  internal/services/object/data_source_object_bucket_test.go
  internal/services/rdb/helpers_test.go
  internal/services/scwconfig/scw_config_data_source_test.go
  internal/services/secret/secret_data_source_test.go
  internal/tools/tools.go
Labels: rdb, load-balancer, instance, object, container, iam, mnq, secret

#2939 chore: migrate webhosting to v1
  docs/data-sources/webhosting_offer.md
  docs/resources/webhosting.md
  go.mod
  go.sum
  internal/services/webhosting/helpers.go
  internal/services/webhosting/offer_data_source.go
  internal/services/webhosting/offer_data_source_test.go
  internal/services/webhosting/testdata/data-source-offer-basic.cassette.yaml
  internal/services/webhosting/testdata/data-source-webhosting-basic.cassette.yaml
  internal/services/webhosting/testdata/webhosting-basic.cassette.yaml
  internal/services/webhosting/testfuncs/sweep.go
  internal/services/webhosting/types.go
  internal/services/webhosting/webhosting.go
  internal/services/webhosting/webhosting_data_source.go
  internal/services/webhosting/webhosting_data_source_test.go
  internal/services/webhosting/webhosting_test.go
Labels: webhosting

#2943 feat(marketplace_image): add image_type filter
  docs/data-sources/marketplace_image.md
  internal/services/marketplace/image_data_source.go
  internal/services/marketplace/image_data_source_test.go
  internal/services/marketplace/testdata/data-source-marketplace-image-basic.cassette.yaml
  internal/services/marketplace/testdata/data-source-marketplace-image-sbs.cassette.yaml
Labels: enhancement, instance

#2945 docs(iam_policy): move condition to rule block
  docs/resources/iam_policy.md
Labels: documentation, iam

#2946 docs(function): add http_option field
  docs/resources/function.md
Labels: documentation, function

#2951 feat(instance): prevent explicit b_ssd usage for server root_volume
  internal/services/instance/server.go
Labels: enhancement, instance
