Repository scaleway/terraform-provider-scaleway, pull requests merged in 2025-07, with the labels that each got.

#3180 feat(vpc): add support for routes propagation
  docs/data-sources/vpcs.md
  docs/resources/vpc.md
  docs/resources/vpc_private_network.md
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
  internal/services/ipam/testdata/data-source-ipam-ips-basic.cassette.yaml
  internal/services/ipam/testdata/data-source-ipam-ips-redis-cluster.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamipid.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamiprdb.cassette.yaml
  internal/services/ipam/testdata/ipamip-basic.cassette.yaml
  internal/services/ipam/testdata/ipamip-with-custom-resource.cassette.yaml
  internal/services/ipam/testdata/ipamip-with-standalone-address.cassette.yaml
  internal/services/ipam/testdata/ipamip-with-tags.cassette.yaml
  internal/services/lb/testdata/lb-with-private-networks-ipam-ids.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/vpc/private_network.go
  internal/services/vpc/private_network_test.go
  internal/services/vpc/testdata/acl-basic.cassette.yaml
  internal/services/vpc/testdata/data-source-routes-basic.cassette.yaml
  internal/services/vpc/testdata/data-source-vp-cs-basic.cassette.yaml
  internal/services/vpc/testdata/data-source-vpc-basic.cassette.yaml
  internal/services/vpc/testdata/data-source-vpc-default.cassette.yaml
  internal/services/vpc/testdata/data-source-vpc-private-network-basic.cassette.yaml
  internal/services/vpc/testdata/data-source-vpc-private-network-vpc-id.cassette.yaml
  internal/services/vpc/testdata/vpc-basic.cassette.yaml
  internal/services/vpc/testdata/vpc-disable-routing.cassette.yaml
  internal/services/vpc/testdata/vpc-private-network-basic.cassette.yaml
  internal/services/vpc/testdata/vpc-private-network-default-name.cassette.yaml
  internal/services/vpc/testdata/vpc-private-network-one-subnet.cassette.yaml
  internal/services/vpc/testdata/vpc-private-network-subnets.cassette.yaml
  internal/services/vpc/testdata/vpc-route-basic.cassette.yaml
  internal/services/vpc/testdata/vpc-with-region.cassette.yaml
  internal/services/vpc/testdata/vpc-with-tags.cassette.yaml
  internal/services/vpc/vpc.go
  internal/services/vpc/vpc_test.go
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
Labels: enhancement, rdb, load-balancer, instance, object, vpc, apple-silicon, baremetal, vpcgw

#3201 feat(block): support export to s3
  docs/resources/block_snapshot.md
  internal/services/block/snapshot.go
  internal/services/block/snapshot_test.go
  internal/services/block/testdata/snapshot-to-s3.cassette.yaml
  internal/services/object/object_test.go
  internal/services/object/testfuncs/checks.go
Labels: object

#3207 fix(rdb): add pagination support for ACL rules
  internal/services/rdb/acl.go
  internal/services/rdb/testdata/acl-basic.cassette.yaml
  internal/services/rdb/testdata/data-source-acl-basic.cassette.yaml
Labels: rdb

#3203 fix(instance): EoS warning: filter product list by offer_id
  internal/services/baremetal/testdata/server-with-ipam-private-network.cassette.yaml
  internal/services/instance/server.go
  internal/services/instance/testdata/test-get-end-of-service-date.cassette.yaml
Labels: instance, baremetal

#3234 fix(domain): correct zone deletion behavior to keep empty zones by default
  internal/services/domain/record.go
  internal/services/domain/record_test.go
  internal/services/domain/testdata/domain-record-basic.cassette.yaml
Labels: domain

#3236 fix(domain): update cassette record test basic
  internal/services/domain/testdata/domain-record-basic2.cassette.yaml
Labels: domain

#3237 fix: add support for locality parsing in security group id
  internal/services/k8s/pool.go
Labels: k8s

#3239 fix(rdb): enable private_network when restoring from snapshot
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/testdata/acl-pagination.cassette.yaml
  internal/services/rdb/testdata/instance-from-snapshot-with-private-network.cassette.yaml
Labels: rdb
