Repository scaleway/terraform-provider-scaleway, pull requests merged in 2025-10, with the labels that each got.

#3376 fix(lb): set resource id on ipam ip get call
  internal/services/lb/lb.go
  internal/services/lb/testdata/lb-with-private-networks-ipam-ids.cassette.yaml
  internal/services/lb/testdata/lb-without-pn-config.cassette.yaml
Labels: load-balancer

#3384 chore: sdk bump and compilation fixes
  go.mod
  go.sum
  internal/services/container/namespace.go
  internal/services/function/namespace.go
  internal/services/iam/user.go
  internal/services/webhosting/webhosting.go
  internal/services/webhosting/webhosting_data_source.go
Labels: container, function, iam, webhosting

#3257 feat(instance): add data source for instance_server_type
  docs/data-sources/instance_server_type.md
  internal/provider/provider.go
  internal/services/instance/server_type_data_source.go
  internal/services/instance/server_type_data_source_test.go
  internal/services/instance/testdata/data-source-server-type-basic.cassette.yaml
  internal/services/instance/testdata/data-source-server-type-compare-with-pcu.cassette.yaml
  templates/data-sources/instance_server_type.md.tmpl
Labels: enhancement, instance, priority:high

#3322 chore: add mux to support terraform framework
  go.mod
  go.sum
  internal/acctest/acctest.go
  internal/acctest/fixtures.go
  internal/locality/dsf.go
  internal/locality/regional/schemas.go
  internal/locality/zonal/schemas.go
  internal/meta/extractors.go
  internal/provider/provider_framework.go
  internal/provider/provider_mux_test.go
  internal/provider/provider_sdkv2.go
  internal/provider/provider_sdkv2_test.go
  internal/provider/testdata/test-mux-server.cassette.yaml
  internal/services/ipam/ips_data_source.go
  internal/services/k8s/pool.go
  internal/services/mnq/sqs_queue_test.go
  internal/services/scwconfig/scw_config_data_source_test.go
  internal/services/webhosting/webhosting.go
  main.go
Labels: rdb, k8s, instance, vpc, tem, mnq, webhosting, baremetal
