Repository scaleway/terraform-provider-scaleway, pull requests merged in 2025-08, with the labels that each got.

#3246 feat(redis): add port and raw IPs to private network endpoint
  docs/data-sources/redis_cluster.md
  docs/resources/redis_cluster.md
  internal/services/redis/cluster.go
  internal/services/redis/cluster_test.go
  internal/services/redis/types.go
Labels: redis

#3251 feat(baremetal): support protected server
  docs/resources/baremetal_server.md
  internal/services/baremetal/server.go
  internal/services/baremetal/testdata/partition-schema-data-source-without-swap-and-extra-part.cassette.yaml
Labels: baremetal

#3258 fix(block): ignore inaccessible legacy snapshot in diff
  internal/services/block/helpers_block.go
  internal/services/block/testdata/snapshot-to-s3.cassette.yaml
  internal/services/block/testdata/volume-from-snapshot-with-size.cassette.yaml
  internal/services/block/testdata/volume-from-snapshot.cassette.yaml
  internal/services/block/volume.go
  internal/services/instance/testdata/server-root-volume-from-external-snapshot.cassette.yaml
Labels: instance

#3254 feat(instance): support private ips on servers datasource
  docs/data-sources/instance_servers.md
  internal/services/instance/servers_data_source.go
  internal/services/instance/servers_data_source_test.go
  internal/services/instance/testdata/data-source-servers-basic.cassette.yaml
  internal/services/instance/testdata/data-source-servers-private-ips.cassette.yaml
Labels: enhancement, instance

#3241 fix(k8s): acls as a set to prevent ordering issues
  internal/services/k8s/acl.go
  internal/services/k8s/acl_test.go
  internal/services/k8s/testdata/acl-rules-order.cassette.yaml
Labels: k8s

#3272 feat(instance): server: add more fields on public_ips
  docs/resources/instance_server.md
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/testdata/server-ips.cassette.yaml
  internal/services/instance/types.go
Labels: enhancement, instance, priority:highest

#3277 fix(rdb): return endpoint deletion errors to prevent ghost instances
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/testdata/instance-endpoint-error-handling.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-cleanup.cassette.yaml
Labels: rdb
