Repository scaleway/terraform-provider-scaleway, pull requests merged in 2025-05, with the labels that each got.

#3066 tests(edge-services): include PipelineID in all stage ListRequests
  internal/services/edgeservices/testfuncs/sweep.go
Labels: tests, edge-services

#3059 fix(instance): EoS warning should only display the 5 most relevant types
  internal/services/instance/server.go
Labels: instance

#3079 tests(ipam): replace deprecated rdb volume type
  internal/services/ipam/ip_data_source_test.go
  internal/services/ipam/testdata/data-source-ipamiprdb.cassette.yaml
Labels: tests

#3082 feat(lb) add support for path-begin route matching
  docs/data-sources/lb_routes.md
  docs/resources/lb_route.md
  go.mod
  go.sum
  internal/services/lb/route.go
  internal/services/lb/route_test.go
  internal/services/lb/testdata/route-with-path-begin.cassette.yaml
Labels: enhancement, load-balancer

#3071 feat(baremetal): read private ips
  docs/resources/baremetal_server.md
  internal/services/baremetal/server.go
  internal/services/baremetal/server_test.go
  internal/services/baremetal/testdata/server-add-another-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-add-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-create-server-with-private-network.cassette.yaml
  internal/services/baremetal/testdata/server-with-ipam-private-network.cassette.yaml
  internal/services/ipam/helpers.go
Labels: baremetal

#3075 feat(rdb): read instance private ips
  docs/resources/rdb_instance.md
  internal/services/ipam/testdata/data-source-ipamiprdb.cassette.yaml
  internal/services/rdb/instance.go
  internal/services/rdb/instance_test.go
  internal/services/rdb/testdata/instance-endpoints.cassette.yaml
  internal/services/rdb/testdata/instance-private-network-update.cassette.yaml
  internal/services/rdb/testdata/read-replica-with-instance-also-in-private-network.cassette.yaml
Labels: rdb

#3076 feat(redis): read private ips
  docs/resources/redis_cluster.md
  internal/services/ipam/testdata/data-source-ipam-ips-redis-cluster.cassette.yaml
  internal/services/redis/cluster.go
  internal/services/redis/cluster_test.go
  internal/services/redis/testdata/cluster-endpoints-cluster-mode.cassette.yaml
  internal/services/redis/testdata/cluster-migrate-cluster-size-with-ipam-endpoint.cassette.yaml
Labels: redis

#3077 feat(vpcgw): read gateway network's private ips
  docs/resources/vpc_gateway_network.md
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/vpc/testdata/data-source-routes-basic.cassette.yaml
  internal/services/vpcgw/helpers.go
  internal/services/vpcgw/network.go
  internal/services/vpcgw/network_test.go
  internal/services/vpcgw/testdata/data-source-vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
Labels: rdb, k8s, vpc, vpcgw

#3074 feat(instance): read private ips
  docs/resources/instance_private_nic.md
  docs/resources/instance_server.md
  internal/services/instance/data_source_instance_private_nic.go
  internal/services/instance/private_nic.go
  internal/services/instance/private_nic_test.go
  internal/services/instance/server.go
  internal/services/instance/server_test.go
  internal/services/instance/testdata/data-source-private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-tags.cassette.yaml
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
  internal/services/instance/testdata/server-private-network-missing-pnic.cassette.yaml
  internal/services/instance/testdata/server-private-network.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance.cassette.yaml
  internal/services/vpc/testdata/vpc-route-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
Labels: instance, vpc, vpcgw

#3072 feat(k8s): read pool's private ips
  docs/resources/k8s_pool.md
  internal/services/ipam/helpers.go
  internal/services/k8s/helpers_k8s.go
  internal/services/k8s/pool.go
  internal/services/k8s/pool_test.go
  internal/services/k8s/testdata/cluster-multicloud.cassette.yaml
  internal/services/k8s/testdata/data-source-cluster-basic.cassette.yaml
  internal/services/k8s/testdata/data-source-pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-basic.cassette.yaml
  internal/services/k8s/testdata/pool-kubelet-args.cassette.yaml
  internal/services/k8s/testdata/pool-placement-group.cassette.yaml
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/k8s/testdata/pool-size.cassette.yaml
  internal/services/k8s/testdata/pool-upgrade-policy.cassette.yaml
  internal/services/k8s/testdata/pool-wait.cassette.yaml
  internal/services/k8s/testdata/pool-zone.cassette.yaml
Labels: k8s

#3086 docs(container): fix healthcheck example
  docs/resources/container.md
Labels: documentation, container, priority:highest

#3084 feat(project): add the projects datasource
  docs/data-sources/account_projects.md
  internal/provider/provider.go
  internal/services/account/project_data_source.go
  internal/services/account/project_data_source_test.go
  internal/services/account/testdata/data-source-project-list.cassette.yaml
Labels: account

#3029 feat(iam): creation of user as Member
  docs/resources/iam_user.md
  internal/services/iam/testdata/user-guest.cassette.yaml
  internal/services/iam/testdata/user-member.cassette.yaml
  internal/services/iam/user.go
  internal/services/iam/user_test.go
Labels: iam

#3097 feat(block): import snapshot from s3
  internal/services/block/snapshot.go
  internal/services/block/snapshot_test.go
  internal/services/block/testdata/snapshot-from-s3.cassette.yaml
  internal/services/block/testfixtures/small_image.qcow2
Labels: instance, sbs, priority:highest

#3094 fix(all): private_ip(s) should only be set when no error occurred
  internal/services/baremetal/server.go
  internal/services/baremetal/testdata/server-create-server-with-private-network.cassette.yaml
  internal/services/instance/helpers_instance.go
  internal/services/instance/private_nic.go
  internal/services/instance/server.go
  internal/services/instance/testdata/data-source-private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-basic.cassette.yaml
  internal/services/instance/testdata/private-nic-tags.cassette.yaml
  internal/services/instance/testdata/private-nic-with-ipam.cassette.yaml
  internal/services/instance/testdata/server-private-network-missing-pnic.cassette.yaml
  internal/services/instance/testdata/server-private-network.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance-lb.cassette.yaml
  internal/services/ipam/testdata/data-source-ipamip-instance.cassette.yaml
  internal/services/k8s/pool.go
  internal/services/k8s/testdata/pool-public-ip-disabled.cassette.yaml
  internal/services/rdb/instance.go
  internal/services/rdb/testdata/instance-endpoints.cassette.yaml
  internal/services/rdb/testdata/instance-private-network.cassette.yaml
  internal/services/redis/cluster.go
  internal/services/redis/testdata/cluster-migrate-cluster-size-with-ipam-endpoint.cassette.yaml
  internal/services/vpc/testdata/data-source-routes-basic.cassette.yaml
  internal/services/vpc/testdata/vpc-route-basic.cassette.yaml
  internal/services/vpcgw/helpers.go
  internal/services/vpcgw/network.go
  internal/services/vpcgw/testdata/data-source-vpc-gateway-network-basic.cassette.yaml
  internal/services/vpcgw/testdata/data-source-vpc-public-gateway-pat-rule-basic.cassette.yaml
  internal/services/vpcgw/testdata/vpc-gateway-network-with-ipam-config.cassette.yaml
  internal/services/vpcgw/testdata/vpc-public-gateway-pat-rule-basic.cassette.yaml
Labels: rdb, k8s, instance, vpc, redis, priority:highest, baremetal, vpcgw

#3103 fix(domain): make project_id optional in DataSourceZone
  internal/services/domain/testdata/data-source-domain-zone-basic.cassette.yaml
  internal/services/domain/zone_data_source.go
  internal/services/domain/zone_data_source_test.go
Labels: domain

#3113 feat(apple-silicon): read server private ips
  docs/resources/apple_silicon_server.md
  internal/services/applesilicon/server.go
  internal/services/applesilicon/server_test.go
  internal/services/applesilicon/testdata/server-enable-vpc.cassette.yaml
Labels: enhancement, apple-silicon

#3123 docs(flexible-ip): fix ip id field name
  docs/data-sources/flexible_ip.md
Labels: documentation, flexible-ip
